				<div class="mobileHeader">
					<header>
						<span class="left">
							<a class="btnOrder" href="contract_order.html">오더</a>
						</span>
						<h1>컨테이너로드</h1>
						<span class="right">
							<button class="btnRing openPush">알림<span>2</span></button>
							<a class="btnGoSetting" href="setting_m.html">설정</a>
						</span>
					</header>
				</div>
				<div class="mobileNav">
					<nav>
						<ul>
							<li><a href="dispatch.html">배차관리</a></li>
							<li><a href="recommend_list.html">추천정보<span>7</span></a></li>
							<li><a href="trans_execution.html">운송실행</a></li>
							<li><a href="freight_calculate.html">운임정산</a></li>
						</ul>
					</nav>
				</div>
