						<span class="snbLogo saasCase"><h1>컨테이너로드</h1></span><!-- 2020-06-16 class 추가 -->
						<div class="snbInfo">
							<strong>
								홍길동
								<a href="setting.html" class="st">설정</a>
							</strong>
							<a href="system_notice.html" class="sn">시스템 공지</a>
						</div>
						<div class="nav">
							<nav>
								<ul>
									<li class="navList0"><a href="dispatch.html"><em>배차관리</em></a></li>
									<li class="navList1"><a href="contract_order.html"><em>계약오더</em></a></li>
									<li class="navList2"><a href="recommend_list.html"><em>추천정보</em></a></li>
									<li class="navList3"><a href="trans_execution.html"><em>운송실행</em></a></li>
									<li class="navList4"><a href="freight_calculate.html"><em>운임정산</em></a></li>
									<li class="navList5"><a href="business_contract.html"><em>영업계약관리</em></a></li>
								</ul>
							</nav>
						</div>
						<dl>
							<dt>상담센터</dt>
							<dd><span>1234-5678</span></dd>
							<dd class="small">평일 09:00~18:00<br/>Fax. 02-123-4567</dd>
						</dl>
