/* ---------------------- @File Name: common.css ---------------------- */
// 공통 전역 변수 및 @media query 셋팅
$blackColor: #333333;
$pointColor: #4B72FE;
$lightSkyColor: #E7E9F1;
$iBColor: #D8DDE5;
$whiteColor: #ffffff;
$redColor: #FF001F;
$iHeight: 50px;
$bRadius: 8px;
$vendors: webkit, moz, ms, o;
%ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}
%txtHidden {
	text-indent: -9999px;
	overflow: hidden;
	border: none;
}
%inputHidden {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	width: 100% !important;
	height: 100% !important;
	border: none;
	background-image: none !important;
	background: transparent;
}
%scroll {
    &::-webkit-scrollbar {
        width:10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #C5C8CE;
        border-radius:10px;
        background-clip:padding-box;
        border: 2px solid transparent;
    }
}
@mixin beforeItem($w, $h) {
	content: '';
	display: inline-block;
	width: $w;
	height: $h;
	vertical-align: middle;
}
@mixin beforeLine($h, $lineColor) {
    content: '';
    display: inline-block;
    width: 0;
    height: $h;
	vertical-align: middle;
    border-left: 1px solid $lineColor;
}
@mixin iconBtn($w, $h) {
	display: inline-block;
	cursor: pointer;
	border: 0;
	width: $w !important;
	height: $h !important;
	@extend %txtHidden;
}
@mixin mq($point) {
  @if $point == pc {
    @media (min-width: 1300px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == onlytablet {
    @media (min-width: 768px) and (max-width: 1300px) { @content; }
  }
  @else if $point == mobile  {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == mobilesmall  {
    @media (max-width: 440px) { @content; }
  }
  @else if $point == portrait  {
    @media screen and (orientation:portrait) { @content; }
  }
  @else if $point == landscape  {
    @media screen and (orientation:landscape) { @content; }
  }
  @else if $point == landscapeSmall {
    @media (orientation:landscape) and (max-width: 767px) { @content; }
  }
}
/* ====================== UI Reset ====================== */
/* ===== Default ===== */
body,
* {
	font-family: 'Pretendard', '맑은 고딕', sans-serif;
	font-size: 14px;
	//font-weight: 300;
	margin: 0;
	padding: 0;
	color: $blackColor;
	box-sizing: border-box;
	word-break: keep-all;
	appearance:none;
	border-radius: 0;
	@each $vendor in $vendors {
		-#{$vendor}-text-size-adjust: none;
		-#{$vendor}-appearance: none;
		-#{$vendor}-border-radius: 0;
	}

}
html,
body {
	-webkit-margin-start: 0;
	-webkit-padding-start: 0px;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
dl,
ul,
ol,
menu,
li {
	list-style: none;
}
hr,
caption {
	display: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before, 
blockquote:after, 
q:before, 
q:after {
	content: "";
	content: none;
}
a {
	text-decoration:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0.0);
}
a img {
	border:none;
}
address, 
caption, 
cite, 
code, 
dfn, 
em, 
th, 
var, 
i {
	font-style: normal;
	font-weight: normal;
}
a, 
button, 
input, 
textarea, 
select {
	-webkit-tap-highlight-color: transparent;
}
a, 
button, 
input:focus, 
select:focus, 
textarea:focus {
	outline: 0 none;
}
fieldset {
	border: 0;
}
textarea {
	resize: none;
}
.skip-navigation a {
	display: block;
	height: 0;
	width: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.skip-navigation a:hover,
.skip-navigation a:active,
.skip-navigation a:focus {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 8px 0 12px;
	font-weight: bold;
	font-size: 14px;
	color: $whiteColor;
	line-height: 1;
	text-align: center;
	background: $pointColor;
}
/* ===== Interval ===== */
.tL {
	text-align: left !important;
}
.tR {
	text-align: right !important;
}
.tC {
	text-align: center !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt50 {
	margin-top: 50px !important;
}
/* ===== Components ===== */
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]), 
textarea {
	padding: 0 18px;
	width: 100%;
	height: $iHeight;
	vertical-align: middle;
	border: 1px solid $iBColor;
	border-radius: $bRadius;
	font-size: 16px;
	line-height: 1.8;

	&:disabled {
		border-color: #D0D2DB;
		background: #D0D2DB;
	}
	&:focus {
		//border-color: $pointColor;
		border-color: $iBColor;
	}
	&:read-only:focus {
		border-color: $iBColor;
	}
	&::placeholder {
		color: #787878;
		font-weight: 300;
		opacity: 1;
	}
	@each $vendor in $vendors {
		@if $vendor == ms {
			&:-#{$vendor}-input-placeholder {
				color: #787878;
				font-weight: 300;
				opacity: 1;
			}
		} @else if $vendor == moz {
			&::-#{$vendor}-input-placeholder {
				color: #787878;
				font-weight: 300;
				opacity: 1;
			}
		}
	}
	&.error {border-color: $redColor}
}
textarea {
	padding: 20px 18px;
	min-height: 200px;
}
%setRadioCheck {
	display: inline-block;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	&:disabled {
		opacity: .5;
	}
	&[type="radio"] {
		width: 14px;
		height: 14px;
		background-image: url('../../src/assets/images/btn_radio.svg');
		&:checked {
			background-image: url('../../src/assets/images/btn_radio_on.svg');
		}
	}
	&[type="checkbox"] {
		width: 20px;
		height: 20px;
		background-image: url('../../src/assets/images/btn_chk.svg');
		&:checked {
			background-image: url('../../src/assets/images/btn_chk_on.svg');
		}
		&.likeSet {
			background-image: url('../../src/assets/images/btn_heart.svg');
			&:checked {
				background-image: url('../../src/assets/images/btn_heart_on.svg');
			}
		}
	}
}
input[type="radio"]{
	@extend %setRadioCheck;
} 
input[type="checkbox"]{
	@extend %setRadioCheck;
} 
%setRadioCheckSet {
	position: relative;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	label {
		margin-left: 8px;
		font-weight: 500;
		color: #444444;
	}
}
.radioSet {
	@extend %setRadioCheckSet;
	@extend %setRadioCheck;
}
.checkSet {
	@extend %setRadioCheckSet;
	@extend %setRadioCheck;
}
.sorting {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 10px;
	span {
		position: relative;
	}
	label {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 7px;
		height: 33px;
		padding: 0 12px;
		color: #90969E;
		border-radius: $bRadius;
		border:1px solid #D8DDE5;
		&::before {
			@include beforeItem(12px,12px);
			background-image: url('../../src/assets/images/ic_fillter.svg');
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	input {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		width: 100% !important;
		height: 100% !important;
		border: none;
		background-image: none !important;
		background: transparent;
		&:checked + label {
			color: $whiteColor;
			border: 1px solid $pointColor;
			background-color: $pointColor;
			&::before {
				background-image: url('../../src/assets/images/ic_fillter_on.svg');
			}
		}
	}
	&.sts {
		label {
			height: 40px;
			color: #6687FA;
			border: none;
			background-color: #F2F7FF;
			&::before {
				display: none;
			}
		}
	}
}
.cSelect {
	position: relative;
	display: inline-block;
	min-width: 175px;
	vertical-align: middle;
	.sValue {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 45px 0 18px;
		height: $iHeight;
		font-size: 16px;
		color: #444;
		border: 1px solid $iBColor;
		border-radius: $bRadius;
		cursor: pointer;
		&::after {
			@include beforeItem(22px,22px);
			position: absolute;
			right: 14px;
			top: 14px;
			background: url('../../src/assets/images/ic_arrow_downB.svg') no-repeat center;
			transition: all .3s ease;
		}
	}
	.cArea {
		position: absolute;
		top: $iHeight + 10px;
		display: none;
		z-index: 10;
		flex-direction: column;
		width: 100%;
		border: 1px solid $lightSkyColor;
		border-radius: $bRadius;
		background: $whiteColor;
		box-shadow: 0 5px 20px 0 rgba(208, 208, 208, 0.1);
		max-height: 182px;
		overflow: hidden;
		overflow-y: scroll;
		@extend %scroll;
		span {
			display: flex;
			flex-shrink: 0;
			align-items: center;
			height: 36px;
			padding: 0 20px;
			font-size: 12px;
			cursor: pointer;
			&.on {
				color: $pointColor;
				font-weight: 600;
				background-color: #F9FBFF;
			}
		}
	}
	&.on {
		.sValue:after {
			transform:rotate(-180deg);
		}
		.cArea {
			display: flex;
		}
	}
	&.error {
		.sValue {
			border-color: $redColor
		}
	}
}
.toggleSet {
	position:relative;display:inline-block;vertical-align:middle;
	input {
		position:relative;
		display:inline-block;
		width:55px;
		height:28px;
		vertical-align:middle;
		overflow:hidden;
		text-indent:-999px;
		font-size:0;
		border-radius:30px;
		background:#E7E9F1;
		&::after {
			position:absolute;
			right:28px;
			top:50%;
			content:"";
			display:block;
			width:24px;
			height:24px;
			margin-top:-12px;
			border-radius:50%;
			background:#fff;
			transition:all .3s ease;
		}
		&:checked {
			background: $pointColor;
			&::after {
				right:2px;
			}
			&:disabled {
				background:#848ca6;
				&::after {
					right:2px;
				}
			}
		}
		&:disabled {
			opacity:0.5;
		}
	}
}
/* ===== Btn ===== */
%txtBtn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: $iHeight + 10px;
	padding: 0 14px;
	font-size: 18px;
	color: $whiteColor;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid $pointColor  !important;
	border-radius: $bRadius;
	&:disabled {
		color: #A1A8AF;
		cursor: auto;
		border-color: #F8FAFC !important;
		background-color: #F8FAFC;
	}
	&.sm {
		font-size: 16px;
		font-weight: 500;
		height: $iHeight;
	}
	&.ss {
		font-size: 13px;
		font-weight: 600;
		height: $iHeight - 10px;
	}
}
.btnB {
	@extend %txtBtn;
	width: 100%;
	background-color: $pointColor;
}
.btnL {
	@extend %txtBtn;
	width: 100%;
	color: $pointColor;
	background-color: $whiteColor;
}
.btnW {
	@extend %txtBtn;
	width: 100%;
	color: #70737D;
	border-color: #D4D7E0  !important;
	background-color: $whiteColor;
}
.btnG {
	@extend %txtBtn;
	min-width: 69px;
	width: auto;
	height: 37px;
	font-size: 13px;
	font-weight: 600;
	color: #4D4F55;
	border-color: #F2F4F8  !important;
	background-color: #F2F4F8;
}
.listMore {
	@extend %txtBtn;
	width: 100%;
	max-width: 676px;
	height: $iHeight;
	color: #A1A8AF;
	border-color: #EFF0F5 !important;
	background-color: $whiteColor;
}
.bID {
	@include iconBtn(32px, 32px);
	background: url('../../src/assets/images/btn_itemDelete.svg') no-repeat center;
	&.ss {
		@include iconBtn(24px, 24px);
		background: url('../../src/assets/images/btn_itemDelete_s.svg') no-repeat center;
	}
}
.bFD {
	@include iconBtn(30px, 28px);
	background: url('../../src/assets/images/ic_fileDown.svg') no-repeat center;
}
.bChat {
	@include iconBtn(26px, 26px);
	position: relative;
	overflow: visible;
	background: url('../../src/assets/images/btn_comment.svg') no-repeat center;
	em {
		font-size: 0;
		display: none;
	}
	&.on {
		position: relative;
		&::after {
			content: 'NEW';
			position: absolute;
			top: -3px;
			right: -12px;
			display: inline-block;
			width: 27px;
			height: 14px;
			border-radius: 14px;
			background: $pointColor url('../../src/assets/images/ic_new.svg') no-repeat center;
		}
	}
}
.bNoty {
	@include iconBtn(26px, 26px);
	position: relative;
	overflow: visible;
	background: url('../../src/assets/images/btn_notify.svg') no-repeat center;
	em {
		font-size: 0;
		display: none;
	}
	i {
		position: absolute;
		top: -3px;
		right: -1px;
		width: 14px;
		height: 14px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: $whiteColor;
		font-size: 8px !important;
		font-weight: 400 !important;
		text-indent: 0;
		border-radius: 100%;
		background: $pointColor
	}
}
.bMypage {
	@include iconBtn(26px, 26px);
	background: url('../../src/assets/images/btn_user.svg') no-repeat center;
}
.mSnb {
	@include iconBtn(26px, 26px);
	background: url('../../src/assets/images/btn_mNav.svg') no-repeat center;
}
.bMR {
	@extend %txtBtn;
	height: 36px;
	font-size: 13px;
	font-weight: 500;
	color: #70737D;
	border-color: #DEE0E3  !important;
	border-radius: 36px;
	background-color: $whiteColor;
	&::after {
		content: '';
		@include iconBtn(20px, 20px);
		margin-left: 3px;
		background: url('../../src/assets/images/ic_arrow_right.svg') no-repeat center;
	}
}
.bCG {
	@extend %txtBtn;
	font-size: 13px;
	font-weight: 500;
	width: 190px;
	height: $iHeight;
	background-color: $pointColor;
	&::before {
		@include beforeItem(16px,16px);
		margin-right: 3px;
		background: url('../../src/assets/images/btn_comment_w.svg') no-repeat center;
	}
}
.bEV {
	@extend %txtBtn;
	font-size: 13px;
	font-weight: 500;
	width: 190px;
	height: $iHeight;
	background-color: $pointColor;
	&::before {
		@include beforeItem(16px,16px);
		margin-right: 3px;
		background: url('../../src/assets/images/ic_estimate_white.svg') no-repeat center;
	}
}
.bIT {
	@extend %txtBtn;
	font-size: 13px;
	font-weight: 500;
	width: 190px;
	height: $iHeight;
	background-color: $pointColor;
	&::before {
		@include beforeItem(16px,16px);
		margin-right: 3px;
		background: url('../../src/assets/images/ic_type.svg') no-repeat center;
	}
}
.bFl {
	@extend %txtBtn;
	width: 100%;
	height: $iHeight;
	color: $pointColor;
	background-color: $whiteColor;
	&::before {
		@include beforeItem(24px,24px);
		margin-right: 10px;
		background: url('../../src/assets/images/ic_fileFind.svg') no-repeat center;
	}
}
.bDC {
	@extend %txtBtn;
	width: 195px;
	font-size: 13px;
	font-weight: 500;
	height: $iHeight;
	color: $pointColor;
	background-color: $whiteColor;
	&::before {
		@include beforeItem(20px,20px);
		margin-right: 3px;
		background: url('../../src/assets/images/btn_chk_noline_b.svg') no-repeat center;
	}
	&:disabled {
		color: #90969E;
		border-color: #D8DDE5 !important;
		background-color: #FEFEFF;
		&::before {
			background: url('../../src/assets/images/btn_chk_noline.svg') no-repeat center;
		}
	}
} // 디자이너 선택
.bBU {
	@extend %txtBtn;
	gap: 7px;
	height: 33px;
	padding: 0 12px;
	font-size: 13px;
	color: $whiteColor;
	border:1px solid #D8DDE5;
	background: $pointColor;
	&::before {
		@include beforeItem(13px,13px);
		background: url('../../src/assets/images/ic_fillter_on.svg') no-repeat center
	}
} // 
.postsMore {
	position: relative;
	display: inline-block;
	.bDM {
		@include iconBtn(24px, 24px);
		background: url('../../src/assets/images/btn_more_v.svg') no-repeat center;
	}
	span {
		position: absolute;
		top: 27px;
		left: 15px;
		display: none;
		flex-direction: column;
		gap: 15px;
		width: 97px;
		padding: 15px;
		text-align: left;
		border-radius: $bRadius;
		background: $whiteColor;
		box-shadow: 0 2px 0 0 rgba(156, 156, 156, 0.15);
		* {
			text-align: left;
			font-size: 12px;
			font-weight: 500;
			color: #000F1E;
			border: none;
			cursor: pointer;
			background: none;
			&:last-child {
				color: #E80303;
			}
		}
	}
	&.on {
		span {
			display: inline-flex;
		}
	}
}
.bRP {
	font-size: 13px;
	font-weight: 600;
	color: #FF6969;
	text-decoration: underline;
	border:none;
	background: transparent;
}
.postEdit {
	display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
	button,
	a {
		display: inline;
		font-size: 13px;
		font-weight: 600;
		color: #70737D;
		text-decoration: underline;
		border:none;
		background: transparent;
		&.bRP {
			color: #FF6969;
		}
	}
	span {
		&::before {
			@include beforeLine(10px, #D8DDE5);
			margin: 0 12px;
		}
	}

}
/* ===== Icon & Design unit ===== */
.profileImg {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	border:1px solid #EFF0F5;
	img {
		height: 100%;
		max-height: 100%;
		width: 100%;
		max-width: 100%;
		object-fit: cover;
	}
}
.profileImgBack {
	position: relative;
	.profileUpload {
		position: absolute;
		right: -4px;
		bottom: -4px;
		display: block;
		width: 32px;
		height: 32px;
		border: 2px solid $whiteColor;
		border-radius: 100%;
		overflow: hidden;
		input {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			width: 100%;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
			-ms-filter: "alpha(opacity=0)";
			-moz-opacity: 0;
		}
		background: #D7D9E3 url('../../src/assets/images/btn_camera.svg') no-repeat center;
	}
}
.profileSet {
	display: inline-flex;
	align-items: center;
	gap: 10px;
}
sup {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 7px;
	@extend %txtHidden;
	&::after {
		@include beforeItem(7px, 7px);
		position: absolute;
		right: 0;
		top: 0;
		background: url('../../src/assets/images/ic_sub.svg') no-repeat center;
	}
}
.errorP {
	padding-top: 7px;
	text-align: left;
	color: #FF001F;
	font-size: 12px;
	font-weight: 500;
}
.notiP {
	padding-top: 7px;
	text-align: left;
	color: $pointColor;
	font-size: 12px;
	font-weight: 500;
}
.localTag {
	display: inline-flex;
	em {
		font-size: 12px;
		font-weight: 500;
		color: #8D90A2; 
		&::after {
			@include beforeItem(2px, 2px);
			margin: -3px 3px 0;
			border-radius: 100%;
			background: #8D90A2;
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
	}
	&.blue {
		em {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 22px;
			padding:0 10px;
			font-size: 13px;
			font-weight: 600;
			color: #4B72FE; 
			border-radius: 4px;
			background: #F2F7FF;
			&::after {
				display: none;
			}
		}
	}
}
.itemTag {
	display: inline-flex;
	gap: 7px;
	flex-wrap: wrap;
	em {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 26px;
		padding:0 10px;
		font-size: 12px;
		font-weight: 600;
		color: #4B72FE; 
		border-radius: 30px;
		background: #F2F7FF;
	}
	&.category {
		em {
			height: 34px;
			padding:0 12px;
			font-size: 15px;
			color: #6B727A; 
			border-radius: $bRadius;
			background: #F8FAFC;
		}
	}
	.br4 {
		em {
			border-radius: 4px;
		}
	}
}
.iSts {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	height: 26px;
	font-size: 12px;
	color: #FF8B37;
	font-weight: 700;
	border: 2px solid #FF8B37;
	border-radius: 30px;
	&.ing,
	&.complet {
		color: #4B72FE;
		border-color: #4B72FE;
	}
	&.end,
	&.cing {
		color: #333333;
		border-color: #333333;
	}
	&.select {
		color: #859CF1;
		border-color: #859CF1;
	}
	&.cancel,
	&.done,
	&.reject {
		color: #AAADBE;
		border-color: #AAADBE;
	}
}
.reQNum {
	i {
		display: inline-block;
		margin-right: 4px;
		color: #66697E;
		font-size: 13px;
		font-weight: 500;
		&::before {
			@include beforeItem(15px, 15px);
			margin: -2px 2px 0 0;
			background: url('../../src/assets/images/ic_estimate_black.svg') no-repeat center;
			background-size: 89.6% auto;
		}
	}
	strong {
		color: $pointColor;
		font-size: 13px;
	}
}
.ratingArea {
    * {
        color: revert;
    }
	.react-simple-star-rating-tooltip {
		margin: -2px 0 0 10px !important;
		color: #666666;
		font-size: 16px;
		padding: 0;
		background: none;
	}
	&.big {
		.react-simple-star-rating-tooltip {
			margin: -1px 0 0 16px !important;
			font-size: 17px;
		}
		div {
			padding:10px 0 0 0;
			font-size: 17px;
		}
	}
}
.guide {
	display: inline-flex;
	justify-content: start;
	align-items: center;
	padding: 10px 14px;
	margin: 10px 0 0;
	font-size: 12px;
	font-weight: 500;
	border-radius: $bRadius;
	background-color: rgba(248, 250, 252, 0.6);
	&::before {
		@include beforeItem(15px,15px);
		margin-right: 4px;
		background: url('../../src/assets/images/ic_info.svg') no-repeat center;
	}
	i {
		display: inline-block;
		padding:0 5px;
		font-size: 12px;
		font-weight: 400;
		color: #555;
	}
}
p.guide {
	display: flex;
	align-items: flex-start;
}
/* ===== Design Input Form ===== */
%setDesignInput {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	em {
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
		height: $iHeight;
	}
}
.unit {
	@extend %setDesignInput;
	input {
		padding-right: 52px !important;
		text-align: right;
	}
	em {
		right: 0;
		padding-right: 18px;
		font-weight: 700;
		font-size: 16px;
	}
}
.calUnit {
	@extend %setDesignInput;
	width: 195px;
	input {
		padding:0 38px 0 67px !important;
		font-size: 15px !important;
		font-weight: 500;
		background: url('../../src/assets/images/ic_calendar.svg') no-repeat calc(100% - 18px) center ;
	}
	em {
		left: 0;
		padding: 0 0 2px 20px;
		font-weight: 500;
		font-size: 13px;
		color: #9093A1;
	}
	&.time {
		width: 153px;
		margin-left: 12px;
		input {
			background: url('../../src/assets/images/ic_timeCircle.svg') no-repeat calc(100% - 18px) center ;
		}
		&.mCase {
			display: none;
		}

	}
	.pTimeChoice {
		position: absolute;
		z-index: 6;
		display: flex;
		flex-direction: column;
		gap: 27px;
		top: 62px;
		left: 0;
		width: 474px;
		padding: 18px;
		border-radius: 8px;
		box-shadow: 5px 20px rgba(208, 208, 208, 0.1);
		background: $whiteColor;
		strong,
		span {
			&::before {
				display: none;
			}
		}
		.back {
			flex: 1;
			strong {
				display: block;
				padding-bottom: 14px;
				font-size: 18px;
				font-weight: 500;
				color: #000F1E;
			}
			div {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				gap: 6px;
				span {
					position: relative;
					input {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						z-index: 2;
						width: 100% !important;
						height: 100% !important;
						padding: 0 !important;
						border: none;
						background-image: none !important;
						background: transparent;
					}
					label {
						display: inline-flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 37px;
						font-size: 15px;
						color: #8B9096;
						border-radius: 7px;
						background: #F8FAFC;
					}
				}
			}
		}
		&.term10 {
			z-index: 5;
			flex-direction: row;
			width: 942px;
		}
	}
	.mTimeChoice {
		@extend %fullLayer;
		z-index: 30000;
		background: rgba(0,0,0,.2);
		.basicPop {
			@extend %popLayer;
			max-width: 325px;
			width: 100%;
			padding: 20px;
			.btnPClose {
				right: 24px;
				top: 24px;
			}
			.pt {
				font-size: 18px !important;
			}
			.pBack {
				display: flex;
				gap: 10px;
				padding: 30px 0;
				span {
					&::before {
						display: none;
					}
				}
				.cSelect {
					min-width: auto;
				}
			}
			.pBtn {
				padding: 0;
				* {
					height: 54px !important;
				}
			}
		}
	}
	@media (max-width: 1330px) {
		.pTimeChoice {
			&.term10 {
				left: -207px;
			}
		}
	}
	@media (max-width: 1158px) {
		.pTimeChoice {
			&.term10 {
				width: calc(100vw - 240px);
			}
		}
	}
	@media (max-width: 920px) {
		.pTimeChoice {
			left: -250px;
			&.term10 {
				//width:  680px;
				left: -250px;
				width: calc(100vw - 150px);
			}
		}
	}
    @include mq(mobile){
		.pTimeChoice {
			display:none;
		}
		&.time {
			&.pCase {
				display: none;
			}
			&.mCase {
				display: inline-flex;
			}
		}
	}
}
.dUnit {
	display: inline-flex;
	align-items: center;
	gap: 11px;
	height: 44px;
	padding: 0 9px 0 14px;
	font-size: 13px;
	font-weight: 500;
	color: #9093A1;
	border: 1px solid $iBColor;
	border-radius: $bRadius;
	strong {
		font-size: 15px;
		font-weight: inherit;
		color: #333333;
	}
}
.dUnitSet {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 6px;
}
.ipBtn {
	@extend %setDesignInput;
	button {
		@extend %txtBtn;
		position: absolute;
		top: 6px;
		right: 6px;
		height: 37px;
		font-size: 13px;
		font-weight: 600;
		color: $pointColor;
		background-color: $whiteColor;
	}
}
.ipBBtn {
	display: flex;
	gap: 10px;
	button {
		@extend %txtBtn;
		width: 300px;
		height: 50px;
		color: $pointColor;
		font-size: 15px;
		font-weight: 500;
		border-color: #F2F7FF !important;
		background-color: #F2F7FF;
		&::before {
			@include beforeItem(22px,22px);
			margin-right: 7px;
			background: url('../../src/assets/images/ic_check.svg') no-repeat center;
		}
	}
}
.pwSet {
	@extend %setDesignInput;
	button,
	input[type="button"] {
		@extend %txtHidden;
		position: absolute;
		top: 1px;
		bottom: 1px;
		right: 1px;
		height: $iHeight - 2px;
		width: $iHeight - 2px;
		border: 0;
		background: url('../../src/assets/images/btn_pwHide.svg') no-repeat center ;
	}
	input[type="text"],
	input[type="password"] {
		padding:0 60px 0 10px !important;
		&[type="password"]:not(:placeholder-shown) {
			padding-bottom: 4px;
			font-family: Verdana;
			font-size: 28px;
			font-weight: 700;
			letter-spacing: -4px;
		}
	}
	&.on {
		button,
		input[type="button"] {
			background: url('../../src/assets/images/btn_pwShow.svg') no-repeat center ;
		}
	}
	& ~ .pwSet {
		margin-top: 10px;
	}
}
.certifySet {
	@extend %setDesignInput;
	input {
		padding-right: 84px !important;
	}
	em {
		right: 0;
		padding-right: 18px;
		font-weight: 700;
		font-size: 16px;
		color: #E90000;
	}
}
.searchSet {
	position: relative;
	display: inline-block;
	.txt {
		padding-right: 60px  !important;
		color: $whiteColor;
		&::placeholder {
			color: $whiteColor !important;
		}
		background-color: transparent
	}
	.icon {
		@include iconBtn(50px, 50px);
		position: absolute;
		right: 0;
		top: 0;
		border: none !important;
		background: url('../../src/assets/images/btn_search_white.svg') no-repeat center;
	}
	&.mini {
		.txt {
			border: 0 !important;
			color: #333;
			&::placeholder {
				color: #C2C7CD !important;
			}
			background: #F8F9FB;
		}
		.icon {
			background: url('../../src/assets/images/btn_search.svg') no-repeat center;
		}
	}
}
.fileFind {
	position: relative;
	display: block;
	input {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		width: 100%;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-filter: "alpha(opacity=0)";
		-moz-opacity: 0;
	}
	label {
		@extend %txtBtn;
		display: flex;
		height: $iHeight;
		color: $pointColor;
		background-color: $whiteColor;
		&::before {
			@include beforeItem(24px,24px);
			margin-right: 10px;
			background: url('../../src/assets/images/ic_fileFind.svg') no-repeat center;
		}
		&.inq {
			font-weight: 500;
			font-size: 14px;
			strong {
				font-size: 16px;
				font-weight: 600;
				color: $pointColor;
				margin-right: 5px;
			}
		}
 	}
	&.icon {
		height: 30px;
		width: 50px;
		overflow: hidden;
		input {
			height: 100%  !important;
		}
		label {
			position: relative;
			height: 30px;
			width: 50px;
			overflow: hidden;
			text-indent: -999px;
			border: 0 !important;
			background-color: transparent;
			&::before {
				position: absolute;
				left: 13px;
				top: 0;
				margin-right: 0;
			}
		}
	}
}
.fileLoad {
	position: relative;
	@extend %txtBtn;
	display: flex;
	justify-content: start;
	color: $pointColor;
	padding: 0 60px 0 17px;
	margin: 17px 0 0;
	gap: 12px;
	cursor: auto;
	background-color: $whiteColor;
	&::before {
		@include beforeItem(34px,34px);
		flex-shrink: 0;
		border-radius: 100%;
		background: #F2F7FF url('../../src/assets/images/ic_fileFolder.svg') no-repeat center;
	}
	span {
		font-size: 13px;
		font-weight: 600;
		color: #444;
		white-space: break-spaces;
    	word-break: break-all;
		em {
			display: block;
			padding-top: 3px;
			font-size: 11px;
			color: #A1A8AF;
		}
	}
	& button {
		position: absolute;
		right: 14px;
		top: 50%;
		transform: translateY(-50%);
	}
	&.notMust {
		border-color: #D8DDE5 !important;
	}
	&.disabled {
		background: #D0D2DB;
	}
}
.fileSet {
	ul {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
		margin-top: 17px;
		li {
			flex: 1 1 40%;
			text-align: left;
			.fileLoad {
				margin: 0;
			}
		}
		&.mt0 {
			margin-top: 0;
		}
	}
	.allDownload {
		text-align: center;
		margin: 30px 0 0;
		.btnG {
			margin: 0 auto;
		}
	}
}
/* ===== Tab ===== */
.tabNav {
	line-height: 0;
	border-bottom: 1px solid #EFF0F5;
	nav {
		@extend %maxWidth;
	}
	ul {
		display: flex;
		justify-content: start;
		margin: 0 0 -1px;
		li {
			width: 50%;
			max-width: 262px;
			& * {
				height: 56px;
				width: 100%;
				font-size: 17px;
				font-weight: 700;
				color: $pointColor;
				border: none;
				border-radius: 10px 10px 0 0;
				background: #F9FBFF;
			}
			&.on * {
				color: $whiteColor;
				background: $pointColor;
			}
			@include mq(mobile){
				width: auto;
				flex: 1;
				& * {
					height: 35px;
					font-size: 15px;
				}
			}
		}
	}
	&.popCase {
		gap: 20px;
		li {
			& * {
				width: 120px;
				font-weight: 600;
				color: #C2C6DD;
				border-bottom: 3px solid transparent;
				border-radius: 0;
				background: transparent;
			}
			&.on * {
				color: $pointColor;
				font-weight: 700;
				border-bottom-color: $pointColor;
				background: transparent;
			}
		}
	}
	&.mypage {
		border-bottom: 0;
		background: #F8FAFC;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: auto;
		ul {
			margin: 0;
			padding: 14px;
			gap: 10px;
			justify-content: space-between;
			li {
				flex-grow: 1;
				width: auto;
				max-width: none;
				& * {
					height: 43px;
					width: 100%;
					font-size: 15px;
					font-weight: 500;
					color: #333333;
					border-radius: 8px;
					background: #FFFFFF;
				}
				&.on * {
					font-weight: 600;
					color: $whiteColor;
					background: $pointColor;
				}
			}
		}
	}
	&.mypageSub {
		ul {
			padding: 10px 262px 0;
			gap: 20px;
			li {
				width: auto;
				max-width: none;
				& * {
					width: auto;
					padding: 0 14px;
					font-weight: 600;
					color: #C2C6DD;
					border-bottom: 3px solid transparent;
					border-radius: 0;
					background: transparent;
				}
				&.on * {
					color: $pointColor;
					font-weight: 700;
					border-bottom-color: $pointColor;
					background: transparent;
				}
			}
			@include mq(mobile){
				padding: 10px 10px 0;
			}
		}
	}
}
/* ===== paginate ===== */
.paginate {
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		display:inline-flex;
		gap: 5px;
	}
	a,
	strong {
		display: inline-block;
		width: 40px;
		height: 40px;
		color: #9A9A9A;
		font-size: 16px;
		line-height: 2.5;
		text-align: center;
		@include mq(mobile){
			& {
				width: 30px;
				height: 30px;
			}
		}
	}
	strong {
		color: $pointColor;
		text-decoration: underline;
	}
	a {
		cursor: pointer;
		&.first,
		&.prev,
		&.next,
		&.last {
			@extend %txtHidden;
			background: url('../../src/assets/images/ic_pagenation_first.svg') no-repeat center;
		}
		&.prev {
			background-image: url('../../src/assets/images/ic_pagenation_prev.svg');
		}
		&.next {
			background-image: url('../../src/assets/images/ic_pagenation_next.svg');
		}
		&.last {
			background-image: url('../../src/assets/images/ic_pagenation_finally.svg');
		}
	}
}
/* ===== Loading ===== */
%fullLayer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spinner {
	to {
		-webkit-transform: rotate(360deg);
	}
}
.pageLoading {
	@extend %fullLayer;
	z-index: 30000;
	background: rgba(0,0,0,.2);
	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80px;
		height: 80px;
		min-width: 80px;
		min-height: 80px;
		margin:-40px 0 0 -40px;
		&:before {
			content: 'Loading…';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80px;
			height: 80px;
			margin-top: -40px;
			margin-left: -40px;
		}
		&:not(:required):before {
			content: '';
			border-radius: 50%;
			border: 3px solid #fff;
			border-top-color: $pointColor;
			animation: spinner .6s linear infinite;
			-webkit-animation: spinner .6s linear infinite;
		}
	}
}
/* ====================== Error Layout ====================== */
#errorWrap {
	@extend %fullLayer;
	strong {
		font-size: 120px;
		color: $pointColor;
		opacity: .2;
	}
	p {
		padding: 56px 0 100px;
		font-size: 24px;
		color: #898989;
		line-height: 1.6;
	}
	.btnL {
		width: 155px;
		height: 56px;
		font-size: 20px
	}
}
/* ====================== Data Layout ====================== */
/* ====================== Pop Layout ====================== */
[class*=Pop] {
	transition: transform 0.3s;
	&.active {
		display: inline-block;
	}
	.pBtn {
		display: flex;
		gap: 10px;
		* {
			flex: 1 1 40%;
		}
	}
	.btnPClose {
		position: absolute;
		right: 45px;
		top: 45px;
		z-index: 10;
		@include iconBtn(14px, 14px);
		background: url('../../src/assets/images/btn_close.svg') no-repeat center;
	}
}
%popDimLayer {
	@extend %fullLayer;
	background: rgba(0,0,0,.8);
	z-index: 300;
}
%popLayer {
	position:relative;
	border-radius: 10px;
	box-shadow:0 0 10px rgba(0,0,0,.5);
	background:#fff;
	.pt {
		font-weight:700;
		font-size:24px;
	}

}
/* ===== alert 팝업 ===== */
.alertDim {
	@extend %popDimLayer;
	.alertPop {
		@extend %popLayer;
		padding: 36px 40px 40px;
		display: none;
		width: 400px;
	}
	.alertPop .pBack {
		padding: 30px 0;
		font-size: 15px;
		line-height: 1.6;
		color: #3E4149;
		&.alertPop {
			padding-top: 0;
		}
	}
}
/* ===== Dim이 포함된 기본 팝업  ===== */
.popDim {
	@extend %popDimLayer;
	.basicPop {
		@extend %popLayer;
		display: none;
		min-width: 550px;
		.pt {
			padding: 36px 40px 26px;
			border-bottom: 1px solid #EFF0F5;
		}
		overflow: hidden;
	}
	.basicPop .pBack {
		padding: 30px 40px;
		font-size: 15px;
		color: #3E4149;
	}
	.basicPop .pBtn {
		padding: 0 40px 40px;
	}
	@include mq(mobile){
		padding: 20px;
		.basicPop {
			min-width: 100%;
		}
	}
}
/* ====================== 컴포넌트 page ====================== */
.componentLayout {padding: 10px 10px 10px;}
.componentLayout table {width:100%;border-collapse: collapse;}
.componentLayout table th {border:1px solid #dddddd;padding:0.5rem;text-align:center;font-weight:bold;color:#111;}
.componentLayout table td {border:1px solid #dddddd;padding:0.5rem;}
.componentLayout table td > strong {display:inline-block;width:100%;margin:0 0 5px;}
.componentLayout table td > strong.iSts {display:inline-flex;width: auto;}
.componentLayout table td button {vertical-align: top;}
.componentLayout .cBasicInput input:not([type="radio"]):not([type="checkbox"]) ~ input:not([type="radio"]):not([type="checkbox"]) {margin-top:5px;}
.componentLayout .radioSet ~ .radioSet,
.componentLayout .checkSet ~ .checkSet {margin-left:40px;}
.worklistLayout {padding: 10px 10px 0;}
.worklistLayout table {border-collapse:collapse;table-layout:fixed;border-spacing:0;width:100%;border-top:2px solid #aabdd0;margin-bottom:10px;}
.worklistLayout th {padding:6px 3px 5px;color:#5a7c9e;border:1px solid #aabdd0;background:#d1dde9;box-sizing:border-box;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.worklistLayout tbody th {text-align:left;color:#666;background:#f5f6f6;}
.worklistLayout tbody th.title {background:#d8f1d4;}
.worklistLayout td {padding:2px 3px 0 10px;line-height:18px;text-align:left;border:1px solid #aabdd0;background:#ffffff;box-sizing:border-box;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.worklistLayout td.first {text-align:center;}
.worklistLayout td em {font:normal 100%/normal Dotum;}
.worklistLayout td .line {text-decoration:line-through;}
.worklistLayout tr.dim td {color:#aabdd0;background:#ececec}
.worklistLayout td strong {display:inline-block;margin-left:5px;vertical-align:middle;font-size:11px;font-family:arial;}
.worklistLayout td strong.new {color:#ff0083;font-size:11px;}
.worklistLayout td strong.pink {color:#ffc0c0;font-weight:normal;}
.worklistLayout td strong.gray {color:#999396;font-weight:normal;}
.worklistLayout td strong.red {color:red;}
.worklistLayout td strong.draft {color:#65b300;font-weight:normal;}
.worklistLayout a:link {color:blue;}
.worklistLayout a:visited {color:#9b2489;}
