<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
			$(document).ready(function(){
				$('.listArea .listScroll tbody tr').click(function(){
					$('.listArea .listScroll tbody tr').removeClass('on');
					$(this).addClass('on');
				});
			});
		</script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- Sub Menu -->
			<div id="snb">
				<aside>
					<div class="back">
						<div data-include="include/snb.html"></div>
					</div>
				</aside>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- header -->
			<div id="header">
				<header>
					 <h2>화주 회원관리</h2>
					 <div class="layoutSet">
						 <button class="btnLayoutR">오른쪽 레이아웃 펼치기</button>
						 <button class="btnLayoutL">왼쪽 레이아웃 펼치기</button>
						 <button class="btnLayoutP">레이아웃 합치기</button>
					 </div>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="searchArea">
					<fieldset>
						<dl class="inputBox">
							<dt>활동여부</dt>
							<dd>
								<span class="selectSet">
									<select>
										<option>전체</option><!-- 2020-07-13 option 추가 -->
										<option selected>활동 중</option>
										<option>휴먼처리</option>
									</select>
								</span>
							</dd>
						</dl>
						<span class="calendarSet">
							<span class="calDupSet">
								<span class="calSet"><label for="searchDate">가입일자</label><input type="tel" name="searchDate" placeholder="2020-01-21" /><button>달력열기</button></span>
								<em>~</em>
								<span class="calSet"><input type="tel" placeholder="2020-01-21" /><button>달력열기</button></span>
							</span>
							<span class="radioChoose">
								<label for="lb1"><input type="radio" id="lb1" name="radio1" value="오늘" checked/><span>오늘</span></label>
								<label for="lb2"><input type="radio" id="lb2" name="radio1" value="7일" /><span>7일</span></label>
								<label for="lb3"><input type="radio" id="lb3" name="radio1" value="1개월" /><span>1개월</span></label>
								<label for="lb4"><input type="radio" id="lb4" name="radio1" value="3개월" /><span>3개월</span></label>
							</span>
						</span>
						<span class="searchSet">
							<input type="text" placeholder="키워드로 검색">
							<input type="submit" value="조회">
						</span>
					</fieldset>
				</div>
				<div class="content">
					<div class="contentScroll">
						<div class="listArea">
						<article>
							<!-- Page Layout -->
							<div class="">
								<div class="listTop">
									<div class="tls">
										<table>
											<colgroup>
												<col width="45" />
												<col width="50" />
												<col width="35" />
												<col width="80" />
												<col width="45" />
											</colgroup>
											<thead>
												<tr>
													<th>가입일자</th>
													<th>아이디</th>
													<th>성명</th>
													<th>회사명</th>
													<th>최근로그인일자</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
								<div class="listScroll">
									<div class="tls">
										<table>
											<colgroup>
												<col width="45" />
												<col width="50" />
												<col width="35" />
												<col width="80" />
												<col width="45" />
											</colgroup>
											<tbody>
												<!--Loop-->
												<tr class="on">
													<td>2019-12-03</td>
													<td>01012341234</td>
													<td>홍길동</td>
													<td>주식회사 활빈당</td>
													<td>2020-02-25</td>
												</tr>
												<!--//Loop-->
												<tr>
													<td>2019-12-02</td>
													<td>01012341234</td>
													<td>홍길동</td>
													<td>주식회사 활빈당</td>
													<td>2020-02-25</td>
												</tr>
												<tr>
													<td>2019-12-02</td>
													<td>01012341234</td>
													<td>홍길동</td>
													<td>주식회사 활빈당</td>
													<td>2020-02-25</td>
												</tr>
												<tr>
													<td>2019-12-01</td>
													<td>01012341234</td>
													<td>홍길동</td>
													<td>주식회사 활빈당</td>
													<td>2020-02-25</td>
												</tr>
												<tr>
													<td>2019-12-01</td>
													<td>01012341234</td>
													<td>홍길동</td>
													<td>주식회사 활빈당</td>
													<td>2020-02-25</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="listBottom">
								<!-- btn Area & paginate Set -->
								<div class="bpSet">
									<div class="btnArea">
										<!-- 2020-07-13 선택 삭제 영역 삭제 -->
										<span class="right">
											<button class="btnS green">엑셀 다운로드</button>
										</span>
									</div>
									<div class="paginate">
										<span>
											<a class="first">처음</a>
											<a class="prev">이전</a>
											<a class="on">1</a>
											<a>2</a>
											<a>3</a>
											<a>4</a>
											<a>5</a>
											<a>6</a>
											<a>7</a>
											<a>8</a>
											<a>9</a>
											<a class="next">다음</a>
											<a class="last">마지막</a>
										</span>
										<span class="selectSet">
											<select>
												<option selected>20</option>
												<option>50</option>
												<option>100</option>
											</select>
										</span>
									</div>
								</div>
							</div>
							<!-- //page Layout -->
						</article>
						</div>
						<div class="detailArea">
						<article>
							<!-- Page Layout -->
							<div>
								<div data-include="	cargo_owner_detail.html"></div>
							</div>
							<!-- //page Layout -->
						</article>
						</div>
					</div>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
