<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
			$(document).ready(function(){
				$('.listArea .listScroll tbody tr').click(function(){
					$('.listArea .listScroll tbody tr').removeClass('on');
					$(this).addClass('on');
				});
				$('.btnNewMemship').click(function(){
					$('.popDim').show();
					$('.newMemshipPop').show();
				}); //2020-07-14 멤버십 신규등록 관련
			});
		</script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- Sub Menu -->
			<div id="snb">
				<aside>
					<div class="back">
						<div data-include="include/snb.html"></div>
					</div>
				</aside>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- header -->
			<div id="header">
				<header>
					 <h2>운송사 회원관리</h2>
					 <div class="layoutSet">
						 <button class="btnLayoutR">오른쪽 레이아웃 펼치기</button>
						 <button class="btnLayoutL">왼쪽 레이아웃 펼치기</button>
						 <button class="btnLayoutP">레이아웃 합치기</button>
					 </div>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="searchArea">
					<fieldset>
						<!-- 2020-07-13 멤버십 여부, 운송사레벨 추가 -->
						<dl class="inputBox">
							<dt>멤버십 여부</dt>
							<dd>
								<span class="selectSet">
									<select>
										<option>전체</option>
										<option>O</option>
										<option>X</option>
									</select>
								</span>
							</dd>
						</dl>
						<dl class="inputBox">
							<dt>운송사 레벨</dt>
							<dd>
								<span class="selectSet">
									<select>
										<option>전체</option>
										<option>LVL0</option>
										<option>LVL1</option>
										<option>LVL2</option>
										<option>LVL3</option>
										<option>LVL4</option>
										<option>LVL5</option>
										<option>LVL6</option>
										<option>LVL7</option>
										<option>LVL8</option>
										<option>LVL9</option>
									</select>
								</span>
							</dd>
						</dl>
						<!-- //2020-07-13 멤버십 여부, 운송사레벨 추가 -->
						<span class="calendarSet">
							<span class="calDupSet">
								<span class="calSet"><label for="searchDate">가입기간</label><input type="tel" name="searchDate" placeholder="2020-01-21" /><button>달력열기</button></span>
								<em>~</em><!-- 2020-07-13 label 텍스트 수정 -->
								<span class="calSet"><input type="tel" placeholder="2020-01-21" /><button>달력열기</button></span>
							</span>
							<span class="radioChoose">
								<label for="lb1"><input type="radio" id="lb1" name="radio1" value="오늘" checked/><span>오늘</span></label>
								<label for="lb2"><input type="radio" id="lb2" name="radio1" value="7일" /><span>7일</span></label>
								<label for="lb3"><input type="radio" id="lb3" name="radio1" value="1개월" /><span>1개월</span></label>
								<label for="lb4"><input type="radio" id="lb4" name="radio1" value="3개월" /><span>3개월</span></label>
							</span>
						</span>
						<span class="searchSet">
							<input type="text" placeholder="키워드로 검색">
							<input type="submit" value="조회">
						</span>
						<button class="btnM red btnNewMemship">신규등록</button><!-- 2020-07-13 신규등록 버튼 추가 -->
					</fieldset>
				</div>
				<div class="content">
					<div class="contentScroll">
						<div class="listArea">
						<article>
							<!-- Page Layout -->
							<div class="">
								<div class="listTop">
									<div class="tls">
										<table>
											<!-- 2020-07-13 col width 전체 수정 -->
											<colgroup>
												<col width="70" /><!-- 2020-07-14 구분 추가 -->
												<col width="140" />
												<col width="140" />
												<col width="60" />
												<col width="70" />
												<col width="70" />
											</colgroup>
											<!-- //2020-07-13 col width 전체 수정 -->
											<thead>
												<tr>
													<th>구분</th><!-- 2020-07-14 구분 추가 -->
													<th>가입기간</th>
													<th>아이디</th><!-- 2020-07-14 텍스트 수정 -->
													<th>성명</th><!-- 2020-07-14 텍스트 수정 -->
													<th>회사명</th>
													<th>운송사레벨</th><!-- 2020-07-14 텍스트 수정 -->
												</tr>
											</thead>
										</table>
									</div>
								</div>
								<div class="listScroll">
									<div class="tls">
										<table>
											<!-- 2020-07-13 col width 전체 수정 -->
											<colgroup>
												<col width="70" /><!-- 2020-07-14 구분 추가 -->
												<col width="20" />
												<col width="120" />
												<col width="140" />
												<col width="60" />
												<col width="70" />
												<col width="70" />
											</colgroup>
											<!-- //2020-07-13 col width 전체 수정 -->
											<tbody>
												<!--Loop-->
												<tr class="on">
													<td>SaaS</td><!-- 2020-07-14 구분 추가 -->
													<td class="ftGreen">O</td>
													<td>2020-11-30 ~ 2019-12-01</td>
													<td>hongildong1234</td>
													<td>홍길동</td>
													<td>더존운수</td>
													<td>LVL1</td>
												</tr>
												<!--//Loop-->
												<tr>
													<td>플랫폼</td><!-- 2020-07-14 구분 추가 -->
													<td class="ftRed">X</td>
													<td>2020-11-30 ~ 2019-12-01</td>
													<td>hongildong1234@naver.com</td>
													<td>홍길동</td>
													<td>더존운수</td>
													<td>LVL2</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="listBottom">
								<!-- btn Area & paginate Set -->
								<div class="bpSet">
									<div class="btnArea">
										<!-- 2020-07-13 선택삭제 버튼 삭제 -->
										<span class="right">
											<button class="btnS green">엑셀 다운로드</button>
										</span>
									</div>
									<div class="paginate">
										<span>
											<a class="first">처음</a>
											<a class="prev">이전</a>
											<a class="on">1</a>
											<a>2</a>
											<a>3</a>
											<a>4</a>
											<a>5</a>
											<a>6</a>
											<a>7</a>
											<a>8</a>
											<a>9</a>
											<a class="next">다음</a>
											<a class="last">마지막</a>
										</span>
										<span class="selectSet">
											<select>
												<option selected>20</option>
												<option>50</option>
												<option>100</option>
											</select>
										</span>
									</div>
								</div>
							</div>
							<!-- //page Layout -->
						</article>
						</div>
						<div class="detailArea">
						<article>
							<!-- Page Layout -->
							<div>
								<div data-include="	carrier_detail.html"></div>
							</div>
							<!-- //page Layout -->
						</article>
						</div>
					</div>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
