<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
			$(document).ready(function(){
				$('.btnPassNumGo').click(function(){
					$(this).hide();
					$('.btnPassNumGo2').show();
					$('.back.noTt').show();
					$('.back.noTt button').click(function(){
						$('.step1Data .btnSet').hide();
						$('.step1Data').hide();
						$('.step2Data').show();
						$('.stepBack h3').text('비밀번호 재설정');//2020-07-08 비밀번호로 텍스트 변경
						$('.stepBack .step').hide();
						$('.stepBack .step.case2').show();
					});
				}); //2020-07-08 휴대전화 인증 + step2로 넘어가기
				$('.step2Data .orange').click(function(){
					$('.step1Data').show();
					$('.step2Data').hide();
					$('.step12Data').hide();
					$('.step3Data').show();
					$('.stepBack h3').text('비밀번호 재설정 완료');//2020-07-08 비밀번호로 텍스트 변경
					$('.stepBack .step').hide();
					$('.stepBack .step.case3').show();
				}); //2020-07-08 step3으로 넘어가기

			});
		</script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap" class="joinCase">
			<!-- header -->
			<div id="header">
				<header>
					 <span class="left">
						<h1>씽크트리<!-- 2020-10-29 텍스트 변경 --></h1>
					 </span>
					 <h2>비밀번호 찾기</h2><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="joinLayout findPwLayout">
						<div class="stepBack">
							<h3>휴대전화 인증</h3>
							<div class="step step3 case1">
								<span class="now"><em>step1</em></span>
								<span><em>step2</em></span>
								<span><em>step3</em></span>
							</div>
							<div class="step step3 case2" style="display:none;">
								<span class="fin"><em>step1</em></span>
								<span class="now"><em>step2</em></span>
								<span><em>step3</em></span>
							</div>
							<div class="step step3 case3" style="display:none;">
								<span class="fin"><em>step1</em></span>
								<span class="fin"><em>step2</em></span>
								<span class="now"><em>step3</em></span>
							</div>
						</div>
						<div class="whiteBox">
							<!-- step 1~2 -->
							<div class="step12Data">
								<div class="step1Data">
									<div class="joinDetail phonePass">
										<div class="back">
											<dl class="inputBox">
												<dt>휴대전화</dt>
												<dd><input type="tel" placeholder="‘ - ’ 없이 숫자로 입력"/></dd>
											</dl>
											<button class="btnM green btnPassNumGo">인증번호발송</button>
											<button class="btnM gray btnPassNumGo2" style="display:none;">재발송</button>
										</div>
										<div class="back noTt" style="display:none;">
											<dl class="inputBox">
												<dt>인증번호</dt>
												<dd><input type="tel" placeholder="6자리"/></dd>
												<dd>2:59</dd>
											</dl>
											<button class="btnM green">확인</button>
										</div>
										<p class="errorMsg">휴대전화번호가 올바르지 않습니다. 다시 한번 확인해 주세요.</p>
										<!-- btn Area -->
										<div class="btnSet tC">
											<button class="btnM black" onclick="location.href='login.html'">취소</button>
										</div>
									</div>
								</div>
								<!---->
								<div class="step2Data" style="display:none;">
									<div class="joinDetail infoWrite">
										<p class="ptb1">휴대전화 인증이 완료되었습니다.<br/>신규 비밀번호를 설정해 주세요.</p><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
										<ul class="infoArea">
											<li>
												<dl class="inputBox">
													<dt>신규 비밀번호</dt><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
													<dd><input type="password" placeholder="영,숫자 포함하여 8자리 이상"/></dd>
												</dl>
											</li>
											<li>
												<dl class="inputBox">
													<dt>신규 비밀번호(확인)</dt><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
													<dd><input type="password" placeholder="영,숫자 포함하여 8자리 이상"/></dd>
												</dl>
											</li>
										</ul>
										<!-- btn Area -->
										<div class="btnSet">
											<button class="btnL whiteOrange">취소</button>
											<button class="btnL orange">확인</button>
										</div>
									</div>
								</div>
							</div>
							<!-- //step 1~2 -->
							<!-- step 3 -->
							<div class="step3Data" style="display:none;">
								<div class="joinDetail">
									<div class="joinEnd">
										<p>
											<strong>[홍길동/ 010-9999-9999]</strong>
											비밀번호가 변경되었습니다.
										</p>
									</div>
									<!-- btn Area -->
									<div class="btnSet tC">
										<a href="login.html" class="btnL whiteBlack">로그인 화면으로 이동</a>
									</div>
								</div>
							</div>
							<!-- //step 3 -->
						</div>
					</div>
					<!-- //page Layout -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
