<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>

		<div class="pageLoading"><div class="spinner"></div></div> <!-- 페이지로딩 -->

		<!-- Wrap -->
		<div id="wrap">
			<!-- Sub Menu -->
			<div id="snb">
				<aside>
					<div class="back">
						<span class="snbLogo"><h1>씽크트리<!-- 2020-10-29 텍스트 변경 --></h1></span>
						<div class="snbInfo">
							<strong>홍길동</strong>
							<a href="mypage.html" class="pCase">마이페이지</a>
						</div>
						<div class="nav">
							<nav>
								<ul>
									<li class="navList0"><a href="dispatch_list.html"><em>배차관리</em></a></li>
									<li class="navList1"><a href="calculation_list.html"><em>매칭 수수료</em></a></li>
									<li class="navList2"><a href="cargo_owner_list.html"><em>화주 회원</em></a></li>
									<li class="navList3"><a href="carrier_list.html"><em>운송사 회원</em></a></li>
									<li class="navList4"><a href="car_owner_list.html"><em>차주 회원</em></a></li>
									<li class="navList5"><a href="graph_management.html"><em>통계 관리</em></a></li>
									<li class="navList9"><a href="notice_list.html"><em>공지사항</em></a></li>
									<li class="navList10"><a href="operator_list.html"><em>운영자 관리</em></a></li>
									<li class="navList7"><a href="service.html"><em>푸시 서비스</em></a></li>
									<li class="navList6"><a href="code_list.html"><em>코드 관리</em></a></li>
								</ul>
							</nav>
						</div>
						<strong class="copy">@ 씽크트리<!-- 2020-10-29 텍스트 변경 --></strong>
					</div>
				</aside>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- header -->
			<div id="header">
				<header>
					 <h2>배차관리</h2>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="searchArea">
					<fieldset>검색 검색 검색</fieldset>
				</div>
				<div class="content">
					<div class="listArea">
					<article>
						<!-- Page Layout -->
						<div class="">
							<div class="listTop">왼쪽상단</div>
							<div class="listScroll">스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/>스크롤영역<br/></div>
						</div>
						<div class="listBottom">왼쪽하단</div>
						<!-- //page Layout -->
					</article>
					</div>
					<div class="detailArea">
					<article>
						<!-- Page Layout -->
						<div class="">
							오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>오른쪽<br/>
						</div>
						<!-- //page Layout -->
					</article>
					</div>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
