<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>AndU</title><!-- 2021-02-09 텍스트 변경 -->
		<link rel="stylesheet" type="text/css" href="../css/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
		$(document).ready(function(){
			$('.btnLogin').click(function(){
				$('.alertDim').show();
				$('.alertPop').show();
			});
			$('.pBtn button').click(function(){
				$('.popDim, .alertDim').hide();
				$('.alertPop, .basicPop').hide();
				$(location).attr('href','pwChange.html');
			});
			/*$(document).bind("contextmenu", function(e){
				alert("오른쪽 마우스 금지");
				return false;
			});

			$('img').bind("contextmenu",function(e){
				alert("그림에서 오른쪽 마우스 금지");
				return false;
			});

			$('img').bind("selectstart",function(e){
				alert("그림에서 오른쪽 마우스 금지");
				return false;
			});*/
		});
		/*document.oncontextmenu=function(){return false;} // 우클릭 방지
		document.onselectstart=function(){return false;} // 드래그 방지
		document.ondragstart=function(){return false;} // 선택 방지
		document.onmousedown=function(){return false;}*/
		</script>
	</head>
	<body>
		<!-- Login Wrap -->
		<div id="loginWrap">
			<div class="loginTit">
				<!--2021-02-02 문구 변경 -->
				<div>
					<span><img src="../images/i_logoting.svg" alt="" /></span>
					<h1><img src="../images/img_logoTit.png" alt="ANDU:OFFICE LIF" /></h1><!--2021-02-10 네임 변경-->
					<p><em>비대면 업무협업 서비스</em></p>
				</div>
				<!--2021-02-02 문구 변경 -->
			</div>
			<div class="loginForm">
				<div class="formBack">
					<form id="" action="" method="post">
						<div class="inputBox">
							<input type="text" id="" name="" placeholder="사원번호"/><!-- 2020-04-08 placeholder 수정 -->
						</div>
						<div class="inputBox pwCase pwSet"><!-- 2020-05-29 pwSet class 추가 -->
							<input type="password" id="" name="" placeholder="영문, 숫자, 특수기호 8~20자 이내" /><!-- 2020-04-08 placeholder 수정 -->
							<i class="off"></i><!-- 2020-05-29 i 추가 (클릭 토클 class off) -->
						</div>
                        <span class="checkSet">
                            <input type="checkbox" id="chk1" />
                            <label for="chk1"><i></i>아이디 저장</label>
                        </span>
						<button type="button" class="btnLogin">Login</button>
					</form>
					<div class="goPwFind">
						<a href="pwFind.html">비밀번호 찾기</a>
					</div>
				</div>
			</div>
		</div>
		<!-- //Login Wrap -->
		<!-- Popup -->
		<div class="alertDim" style="display:none;">
			<div class="alertPop" style="display:none;">
				<div class="pBack">
					<!---->
					<p>사원번호(ID)나 패스워드가 바르지 않습니다. 다시 한번 확인해 주세요.</p>
					<!--//-->
				</div>
				<div class="pBtn tC">
					<button class="btnM blue">확인</button>
				</div>
			</div>
		</div>
		<!-- //Popup -->
    </body>
</html>
