<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta name="theme-color" content="#212121">
		<meta name="apple-mobile-web-app-status-bar-style" content="#212121">
		<title>ThinkTree Visitor</title>
		<link rel="shortcut icon" href="../images/i_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
		$(document).ready(function(){
			/**/
			$('.entypo-popup').click(function(){
				$('.mainGo').toggle();
			});
			$('.btnAddReq').click(function(){
				$('.popDim').show();
				$('.miniPop').show();
			});
			$('.miniPop button, .basicPop button').click(function(){
				$('.popDim, .alertDim').hide();
				$('.alertPop, .basicPop').hide();
			});
			/**/
			$(".repeatSet").on("change", function(){
				if($(this).find("option:selected").val() == 0){
					$(".endDate").hide();
				}else{
					$(".endDate").show();
				}
			}); //2020-08-14
			/**/

            $("[id='chk1']").click(function(){
                if($(this).prop("checked")){
					//$(".attendCompany .attendSet").hide();
					$(".attendCompany .btnAddReq").hide();
					$(".attendCompany .btnAdd").hide();
					$(".attendCompany .attendList").hide();
					$(".attendData").hide();
					$("#insideOk").show();
					$("#outsideOk").hide();
                }else{
					//$(".attendCompany .attendSet").show();
					$(".attendCompany .btnAddReq").show();
					$(".attendCompany .btnAdd").show();
					$(".attendCompany .attendList").show();
					$(".attendData").show();
					$("#insideOk").hide();
					$("#outsideOk").show();
                }
            });
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap" class="headFix visitorCase">
			<!-- header -->
			<div id="header" class="subCase">
				<header>
					<button class="btnPrev" onclick="history.back()">이전</button>
					<h1>회의실 예약</h1>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- snb 생략 -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<div class="conferenceLayout">
                        <div class="dlstyle writeCase">
							<div class="gridSet grid2">
								<div class="gridItem">
									<dl>
										<dt>회의실</dt>
										<dd>
											<span class="selectSet">
												<select>
													<option selected>선택하세요</option>
													<option>4층</option>
												</select>
											</span>
										</dd>
									</dl>
								</div>
								<div class="gridItem">
									<dl>
										<dt>씽크트리 담당자</dt>
										<dd>
											<span class="selectSet">
												<select>
													<option selected>오유진</option>
												</select>
											</span>
										</dd>
									</dl>
								</div>
							</div>
							<!-- 2020-08-14 클래스 추가
                            <dl>
                                <dt>일정</dt>
                                <dd>
                                    <span class="dateSet">
										<span class="calSet"><input type="tel" placeholder="2020-01-21" /><button>달력열기</button></span>
	                                    <span class="selectSet repeatSet">
	    									<select>
	    										<option value="0" selected>반복 안함</option>
	    										<option>주중반복</option>
	    										<option>매주화요일</option>
	    									</select>
	    								</span>
                                    </span>
                                    <span class="endDate" style="display:none;">종료일 : <span class="calSet"><input type="tel" placeholder="2020-01-21" /><button>달력열기</button></span></span>
                                    <span class="selectDubSet">
										<span class="selectSet">
	    									<select>
	    										<option selected>15:30</option>
	    										<option>16:30</option>
	    									</select>
	    								</span>
										<em>~</em>
	                                    <span class="selectSet">
	    									<select>
	    										<option selected>15:30</option>
	    										<option>16:30</option>
	    									</select>
	    								</span>
                                    </span>
                                </dd>
                            </dl>-->
							<!-- 2020-08-14 -->
                            <dl>
                                <dt>일정</dt>
                                <dd>
                                    <span class="dateSet">
										<span class="calSet"><input type="tel" placeholder="2020-01-21" /><button>달력열기</button></span>
										<span class="selectDubSet">
											<span class="selectSet">
												<select>
													<option selected>15:30</option>
													<option>16:30</option>
												</select>
											</span>
											<em>~</em>
											<span class="selectSet">
												<select>
													<option selected>15:30</option>
													<option>16:30</option>
												</select>
											</span>
										</span>
                                    </span>
									<span class="selectSet repeatSet">
										<select>
											<option value="0" selected>반복 안함</option>
											<option>주중반복</option>
											<option>매주화요일</option>
										</select>
									</span>
									<span class="endDate" style="display:none;">종료일 : <span class="calSet"><input type="tel" placeholder="2020-01-21" /><button>달력열기</button></span></span>
                                </dd>
                            </dl>
							<!-- 2020-08-14 -->
                            <dl>
                                <dt>일정 제목</dt>
                                <dd>
                                    <div class="radioSet">
                                        <label for="lb1"><input type="radio" id="lb1" name="radio1" value="회의" /><span>업무미팅</span></label>
                                        <label for="lb2"><input type="radio" id="lb2" name="radio1" value="면접" /><span>영업미팅</span></label>
                                        <label for="lb3"><input type="radio" id="lb3" name="radio1" value="기타" /><span>기타</span></label>
                                    </div>
                                    <input type="text" placeholder="일정 제목을 입력해 주세요 (최대 50글자)" />
                                </dd>
                            </dl>
                            <dl>
                                <dt>참여자</dt>
                                <dd>
                                    <input type="text" placeholder="자동완성" />
									<div class="workerWrap mt5px">
										<span class="worker"><strong>[999999999] 홍길동</strong><button class="btnDel">삭제</button></span>
									</div>
                                </dd>
                            </dl>
                            <dl class="attendCompany">
                                <dt>참여 업체</dt>
                                <dd>
									<div class="attendSet">
										<span class="checkSet">
											<input type="checkbox" id="chk1" checked />
											<label for="chk1"><i></i>업체 제외</label>
										</span>
										<button class="btnAdd" style="display:none;">업체추가</button>
									</div>
									<div class="attendList" style="display:none;">
										<ul>
	                                    	<li>
												<span><input type="text" placeholder="자동완성 입력입니다"/></span>
			                                    <button class="btnCancel">업체취소</button>
	                                    	</li>
											<li>
												<span><input type="text" placeholder="자동완성 입력입니다"/></span>
			                                    <button class="btnCancel">업체취소</button>
											</li>
	                                    </ul>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>설명</dt>
                                <dd>
                                    <textarea placeholder="일정의 상세내용을 기입하세요"></textarea>
                                </dd>
                            </dl>
                        </div>
						<div class="btnArea tC">
							<button class="btnM white" onClick="location.href='conference.html'">취소</button>
							<button class="btnM blue" onClick="location.href='conference_view.html'">확인</button>
						</div>
					</div>
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
			<div class="pageTop"><button>TOP</button></div>
		</div>
		<!-- //Wrap -->
		<!-- Popup -->
		<div class="popDim" style="display:none;">
			<div class="alertPop pageOutPop" style="display:none;">
				<div class="pBack">
					<p class="tC">입력한 정보가 삭제됩니다.<br/>삭제하시겠습니까?</p>
				</div>
				<div class="pBtn">
					<button class="btnM white">취소</button>
					<button class="btnM blue">확인</button>
				</div>
			</div>
			<div class="miniPop AddReqPop" style="display:none;">
				<div class="tt">
					<h1>VISITOR 참여 업체 추가요청</h1>
				</div>
				<div class="pBack">
					<div class="dlstyle deviceSame">
						<dl>
							<dt>업체명</dt>
							<dd><input type="text"/></dd>
						</dl>
					</div>
					<p>※ 긴급하게 추가해야 할 경우 요청발송 후 경영지원팀에 문의해주시기 바랍니다.</p>
				</div>
				<div class="pBtn">
					<button class="btnM white">취소</button>
					<button class="btnM blue">요청</button>
				</div>
			</div>
		</div>
		<!-- //Popup -->
	</body>
</html>
