<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>ANDU : OFFICE LIFE</title><!--2021-02-10 로고변경-->
		<link rel="shortcut icon" href="../images/i_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../css/lightgallery.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/lightgallery-all.min.js"></script>
		<script type="text/javascript" src="../js/swiper.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
		$(document).ready(function(){
			/**/
			$('.tvsFile button').click(function(){
				$('.popDim').show();
				$('.reviewPop').show();
			});
			$('.reviewPop .pclose').click(function(){
				$('.popDim').hide();
				$('.reviewPop').hide();
			});
			/**/
			$('.signWhether button').click(function(){
				$('.popDim').show();
				$('.signPop').show();
			});
			$('.signPop .pclose').click(function(){
				$('.popDim').hide();
				$('.signPop').hide();
			});
			$('.signPop .blue').click(function(){
				$('.popDim').hide();
				$('.signPop').hide();
				$('.signWhether button').hide();
				$('.signWhether span').show();
				$('.eduOk').hide();
			});
			/**/
			$('#lightgallery').lightGallery(function(){
				controls: false;
			});
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header>
					<button class="btnPrev" onclick="history.back()">이전</button>
					<h1>사내교육</h1>
					<!-- <button class="btnNav">햄버거</button> -->
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu : 서브일 경우 삭제 -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="noticeLayout">
						<!---->
                        <div class="tvs">
                            <div class="tvsHead">
								<span class="kind">[신규사원 OJT]</span>
								<span class="new">신규</span><strong>우리 씽크트리의 PM은?</strong>
							</div>
                            <div class="tvsInfo">
                                <dl>
                                    <dt>교육일자 :</dt>
                                    <dd class="pr1">2020-01-01 00:00</dd>
                                </dl>
                            </div>
                            <div class="tvsContents"><p>글 내용이 나온다면 이 부분에서 표기됩니다. 글 내용이 나온다면 이 부분에서 표기됩니다. 글 내용이 나온다면 이 부분에서 표기됩니다. 글 내용이 나온다면 이 부분에서 표기됩니다. 글 내용이 나온다면 이 부분에서 표기됩니다. 글 내용이 나온다면 이 부분에서 표기됩니다. 글 내용이 나온다면 이 부분에서 표기됩니다.</p></div>
							<!-- 미리보기 형식 변경 -->
							<div class="tvsPDF">
								<div class="all"><span>첨부파일 미리보기 : 00개</span></div>
								<ul>
									<li><em>filename.pdf</em><button>미리보기</button></li>
									<li><em>filename.pdf</em><button>미리보기</button></li>
									<li><em>example_of_a_long_filename.pdf</em><button class="off">미리보기</button></li>
								</ul>
							</div>
							<!-- //미리보기 형식 변경 -->
                            <div class="gSummeryList">
								<div>
									<ul id="lightgallery">
										<li data-responsive="../images/img_design_scanit01.png 375" data-src="../images/img_design_scanit01.png"><span><img src="../images/img_design_scanit01.png"/></span></li>
										<li data-responsive="../images/img_design_scanit02.png 375" data-src="../images/img_design_scanit02.png"><span><img src="../images/img_design_scanit02.png"/></span></li>
										<li data-responsive="../images/img_design_scanit03.png 375" data-src="../images/img_design_scanit03.png"><span><img src="../images/img_design_scanit03.png"/></span></li>
										<li data-responsive="../images/img_design_scanit04.png 375" data-src="../images/img_design_scanit04.png"><span><img src="../images/img_design_scanit04.png"/></span></li>
									</ul>
								</div>
							</div>
                        </div>
						<!---->
						<p class="eduOk">
							<span class="checkSet">
								<input type="checkbox" id="chk1">
								<label for="chk1"><i></i><strong>상위 교육내용을 모두 확인하였으며, 서명하기에 동의 합니다.</strong></label>
							</span>
						</p>
						<!---->
						<div class="signWhether">
							<button class="btnL orange">서명하기</button>
							<span class="btnL" style="display:none;">교육내용 확인 서명을 완료하였습니다</span>
						</div>
						<!---->
						<div class="pnvBtn">
							<a href="" class="btnM white">이전글</a>
							<a href="" class="btnM white right">다음글</a>
						</div>
						<!--//-->
					</div>
					<!--//-->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
			<div class="pageTop"><button>상단으로</button></div>
		</div>
		<!-- //Wrap -->
		<!-- Popup -->
		<div class="popDim" style="display:none;">
			<div class="signPop" style="display:none;">
				<button class="pclose">닫기</button>
				<p>※ 크게 서명해주세요.</p>
				<div class="signSet">
					<div class="signArea">
						<strong>서명</strong>
						<div class="cvsArea">
							<canvas></canvas>
						</div>
					</div>
					<div class="btnArea">
                        <button class="btnM white">초기화</button>
						<button class="btnM white">이전 휙</button>
						<button class="btnM blue">확인</button>
					</div>
				</div>
			</div>
			<div class="basicPop reviewPop" style="display:none;">
				<div class="tt">
					<h1>첨부파일 미리보기</h1>
					<button class="pclose">닫기</button>
				</div>
				<div class="pBack">
					<!---->
					<iframe frameborder="1" scrolling="yes" align="left"></iframe>
					<!--//-->
				</div>
			</div>
		</div>
		<!-- //Popup -->
	</body>
</html>
