<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>ANDU : OFFICE LIFE</title><!--2021-02-10 로고변경-->
		<link rel="shortcut icon" href="../images/i_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../css/lightgallery.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/lightgallery-all.min.js"></script>
		<script type="text/javascript" src="../js/swiper.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
		$(document).ready(function(){
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header>
					<h1>사내교육</h1>
					<button class="btnNav">햄버거</button>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->

			<div id="snb">
				<section>
					<div class="c-menu c-menu--slide-left"><!-- 우측 Slide 일 경우 -->
						<div data-include="include/snb.html"></div>
					</div>
					<div class="c-mask"></div><!-- /c-mask -->
				</section>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="pageTit">
					<span class="sortSet">
						<span>
							<input type="checkbox" id="chk000" checked />
							<label for="chk000">업무지침서</label>
						</span>
						<span>
							<input type="checkbox" id="chk001" />
							<label for="chk001">직급/역할 별 정의</label>
						</span>
						<span>
							<input type="checkbox" id="chk002" />
							<label for="chk002">신규사원 OJT</label>
						</span>
					</span>
					<span class="right">00개</span>
				</div>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="eduLayout">
						<div class="mobileList">
							<ul>
								<!--Loop-->
								<li>
									<a href="education_view2.html">
										<span class="kind">신규사원 OJT</span>
										<div class="tL"><span class="new">신규</span>명함 교환 예절</div>
										<span class="date">2020-01-01 00:00</span>
										<span class="signStatus"><em>미확인</em></span>
									</a>
								</li>
								<!--//Loop-->
								<li>
									<a href="education_view.html">
										<span class="kind">직급/역할 별 정의</span>
										<div class="tL"><span class="new">신규</span>우리 씽크트리의 PM은?</div>
										<span class="date">2020-01-01 00:00</span>
										<span class="signStatus"><em>미확인</em></span>
									</a>
								</li>
								<li>
									<a href="education_view.html">
										<span class="kind">업무지침서</span>
										<div class="tL"><span class="new">신규</span>소프트웨어 비즈니스란?</div>
										<span class="date">2020-01-01 00:00</span>
										<span class="signStatus"><em class="on">서명완료</em></span>
									</a>
								</li>
								<li>
									<a href="education_view.html">
										<span class="kind">업무지침서</span>
										<div class="tL">업무지침서_기획파트<span class="file">첨부파일</span></div>
										<span class="date">2020-01-01 00:00</span>
										<span class="signStatus"><em class="on">서명완료</em></span>
									</a>
								</li>
								<li>
									<a href="education_view.html">
										<span class="kind">업무지침서</span>
										<div class="tL">업무지침서_디자인파트</div>
										<span class="date">2020-01-01 00:00</span>
										<span class="signStatus"><em>미확인</em></span>
									</a>
								</li>
								<li>
									<a href="education_view.html">
										<span class="kind">업무지침서</span>
										<div class="tL">업무지침서_퍼블리싱파트<span class="file">첨부파일</span></div>
										<span>2020-01-01 00:00</span>
										<span class="signStatus"><em>미확인</em></span>
									</a>
								</li>
								<li>
									<a href="education_view.html">
										<span class="kind">업무지침서</span>
										<div class="tL">업무지침서_개발파트</div>
										<span>2020-01-01 00:00</span>
										<span class="signStatus"><em class="on">서명완료</em></span>
									</a>
								</li>
								<li>
									<a href="education_view.html">
										<span class="kind">업무지침서</span>
										<div class="tL">업무지침서_개발파트</div>
										<span>2020-01-01 00:00</span>
										<span class="signStatus"><em class="on">서명완료</em></span>
									</a>
								</li>
								<li>
									<a href="education_view.html">
										<span class="kind">업무지침서</span>
										<div class="tL">업무지침서_개발파트</div>
										<span>2020-01-01 00:00</span>
										<span class="signStatus"><em class="on">서명완료</em></span>
									</a>
								</li>
								<li class="notList">
									<div>
										등록된 게시글이 없습니다
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!--//-->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
			<div class="pageTop"><button>상단으로</button></div>
		</div>
		<!-- //Wrap -->
	</body>
</html>
