 <!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>ANDU : OFFICE LIFE</title><!--2021-02-10 로고변경-->
		<link rel="shortcut icon" href="../images/i_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../css/lightgallery.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/lightgallery-all.min.js"></script>
		<script type="text/javascript" src="../js/swiper.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
		$(document).ready(function(){
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header>
					<button class="btnPrev" onClick="location.href='inout.html'">이전</button>
					<h1>반출입 현황</h1>
					<!-- <button class="btnNav">햄버거</button> -->
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu : 서브일 경우 삭제 -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="assetsLayout">
						<div class="ing">승인진행 중입니다</div>
						<div class="dlstyle">
							<div class="gridSet grid2">
								<div class="gridItem">
									<dl>
										<dt>종류</dt>
										<dd>노트북</dd>
									</dl>
								</div>
								<div class="gridItem">
									<dl>
										<dt>고유번호</dt>
										<dd>NT1-001</dd>
									</dl>
								</div>
							</div>
    						<dl>
    							<dt>브랜드 / 기기명</dt>
    							<dd>apple / aa-aaaa</dd>
    						</dl>
                            <!---->
                            <div class="time">
                                <div class="gridSet grid2">
                                    <div class="gridItem">
                                        <dl>
                                            <dt>반출일</dt>
                                            <dd>2020-06-09</dd>
                                        </dl>
                                    </div>
                                    <div class="gridItem">
                                        <dl>
                                            <dt>반입예정일</dt>
                                            <dd>2020-06-12</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <!---->
    						<dl>
    							<dt>반출사유</dt>
    							<dd>현장외근 스케줄로 인한 반출</dd>
    						</dl>
                        </div>
						<div class="btnArea tC">
							<button class="btnM">신청 취소</button>
						</div>
					</div>
					<!--//-->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
			<div class="pageTop"><button>상단으로</button></div>
		</div>
		<!-- //Wrap -->
		<!-- fullPop -->
		<div class="fullPop memoAddPop" style="display:none;">
			<div class="tt">
				<button class="pclose">닫기</button>
				<h1>메모추가하기</h1>
				<button class="btnS white">저장</button>
			</div>
			<div class="pBack">
				<textarea></textarea>
			</div>
		</div>
		<div class="fullPop shareAddPop" style="display:none;">
			<div class="tt">
				<button class="pclose">닫기</button>
				<h1>공유자 선택하기</h1>
				<button class="btnS white">저장</button>
			</div>
			<div class="pBack">
			</div>
		</div>
		<!-- //fullPop -->
	</body>
</html>
