<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>ANDU : OFFICE LIFE</title><!--2021-02-10 로고변경-->
		<link rel="shortcut icon" href="../images/i_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>

		<link href='../js/lib/style.css' rel='stylesheet' />
		<link href='../js/lib/core/main.min.css' rel='stylesheet' />
		<link href='../js/lib/timegrid/main.min.css' rel='stylesheet' />
		<link href='../js/lib/daygrid/main.min.css' rel='stylesheet' />
		<!-- <link href='./style.css' rel='stylesheet' /> -->
		<script src='../js/lib/core/main.min.js'></script>
		<script src='../js/lib/interaction/main.min.js'></script>
		<script src='../js/lib/daygrid/main.min.js'></script>
		<script src='../js/lib/timegrid/main.min.js'></script>
		<script src='../js/lib/swipeCalendar.min.js'></script>
		<script>
		$(document).ready(function(){
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" class="mainCase" style="width:85px;"><!-- 2020-08-04 style width 수정 -->
				<header>
					<!-- <h1 class="hiden">ThinkTree Ting</h1> main일 때 삭제 -->
					<button class="btnNav">햄버거</button>
					<button class="btnRefresh">새로고침</button><!-- 2020-08-04 새로고침 버튼 -->
					<button class="btnMainMore" style="position:fixed;right:0;top:0;">더보기</button>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb">
				<section>
					<div class="c-menu c-menu--slide-left"><!-- 좌측 Slide 일 경우 -->
						<div data-include="include/snb.html"></div>
					</div>
					<div class="c-menu c-menu--slide-right"><!-- 우측 Slide 일 경우 -->
						<div class="mainNav">
							<h2>Ting 캘린더
								<!-- 2020-08-04 새로고침 영역 삭제 -->
							</h2>
							<div>
								<ul>
									<li><button class="mothView mnavClose">월단위</button></li>
									<li><button class="weekView mnavClose">주단위</button></li>
									<li><button class="dayView mnavClose">일단위</button></li>
								</ul>
								<ol>
									<li>
										<span class="checkSet">
											<input type="checkbox" id="chk000" checked />
											<label for="chk000"><i style="background-color:#eb6565;border-color:#eb6565;"></i>휴일 일정</label>
										</span>
									</li>
									<li>
										<span class="checkSet">
											<input type="checkbox" id="chk001" checked />
											<label for="chk001"><i style="background-color:#f8923f;border-color:#f8923f;"></i>직원생일 일정</label>
										</span>
									</li>
									<li>
										<span class="checkSet">
											<input type="checkbox" id="chk002" checked />
											<label for="chk002"><i style="background-color:#fbc33d;border-color:#fbc33d;"></i>직원휴가 일정</label>
										</span>
									</li>
									<li>
										<span class="checkSet">
											<input type="checkbox" id="chk003" checked />
											<label for="chk003"><i style="background-color:#74d3d4;border-color:#74d3d4;"></i>고객미팅</label>
										</span>
									</li>
									<li>
										<span class="checkSet">
											<input type="checkbox" id="chk004" checked />
											<label for="chk004"><i style="background-color:#50c785;border-color:#50c785;"></i>사내미팅</label>
										</span>
									</li>
									<li>
										<span class="checkSet">
											<input type="checkbox" id="chk005" checked />
											<label for="chk005"><i style="background-color:#3c99e9;border-color:#3c99e9;"></i>스크럼미팅</label>
										</span>
									</li>
									<li>
										<span class="checkSet">
											<input type="checkbox" id="chk006" checked/>
											<label for="chk006"><i style="background-color:#e09fb9;border-color:#f3c2cc;"></i>외근 일정</label>
										</span>
									</li>
									<li>
										<span class="checkSet">
											<input type="checkbox" id="chk007" checked/>
											<label for="chk007"><i style="background-color:#d6b2d6;border-color:#d6b2d6;"></i>현장근무 일정</label>
										</span>
									</li>
								</ol>
							</div>
						</div>
					</div>
					<div class="c-mask"></div><!-- /c-mask -->
				</section>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<script>
				var calendar;
				var calendarEventModal;

				document.addEventListener('DOMContentLoaded', function() {
					calendarEventModal = document.getElementById('calendarModal');

					var calendarEl = document.getElementById('calendar');
					calendar = new SwipeCalendar(calendarEl, {
						plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
						swipeEffect: 'slide',
						swipeSpeed: 250,
						swipeTitlePosition: 'center',
						header: {
							//left: 'dayGridMonth,timeGridWeek,timeGridDay',
							left: '',
							center: 'title, today',
							//right: 'today'
							right: ''
						},
						height: 'parent',
						expandRows: true,
						slotMinTime: '08:00',
						slotMaxTime: '20:00',
						buttonText: {
							prev: "이전달",
							next: "다음달",
							today: "오늘",
							month: "월",
							week: "주",
							day: "일",
							list: "일정목록"
						},
						columnHeaderText: function(date) {
							let weekList = ["일", "월", "화", "수", "목", "금", "토"];
							return weekList[date.getDay()];
						},
						initialView: 'dayGridMonth',
						initialDate: '2020-06-12',
						navLinks: false, // can click day/week names to navigate views
						nowIndicator: true,
						eventLimit: 4, // allow "more" link when too many events
						//locale: 'ko',
						//editable: true,
						//selectable: true,
						//dayClick: false,
						//dayClick: function (date, jsEvent, view) {},
						/*navLinkDayClick: function(date, jsEvent) {
							console.log('day', date.toISOString());
							console.log('coords', jsEvent.pageX, jsEvent.pageY);
						},*/
						navLinkDayClick: function(eventClickInfo) {
							calendarEventModal.style.display = "block";
						},
						dateClick: function (eventClickInfo) {
							calendarEventModal.style.display = "block";
						},
						eventClick: function (eventClickInfo) {
							calendarEventModal.style.display = "block";
						},
						eventLimitClick: function (eventClickInfo) {
							calendarEventModal.style.display = "block";
						},
						events: [
							{title: '현충일',start: '2020-08-01', classNames:'naHoliday'},
							{title: '추석', start:'2020-08-07', end: '2020-08-10', classNames:'naHoliday'},
							{title: '홍길동', start: '2020-08-09T10:00:00', classNames:'psHoliday'},
							{title: '나생일', start: '2020-08-24T10:00:00', classNames:'birthday'},
							{title: '김우주', start: '2020-08-12T10:30:00', end: '2020-08-14T12:30:00', classNames:'psHoliday'},
							{title: '공민선', start: '2020-08-15T00:00:00', classNames:'psHoliday'},
							{title: '홍장만', start: '2020-08-22T00:00:00', classNames:'psHoliday'},
							{title: '이민용', start: '2020-08-28T00:00:00', classNames:'psHoliday'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-02T12:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-12T12:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-13T12:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-13T13:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-15T13:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-23T13:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-01T11:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-21T11:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화 시스템 미팅', start: '2020-08-22T11:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-17T13:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-30T11:00:00', classNames:'ctMeeting'},
							{title: '쌍용 비대면 영업강화를 위한 미팅', start: '2020-08-02T13:00:00', classNames:'ctMeeting'},
							{title: '안드로이드 네이티브 스킬업 미팅', start: '2020-08-13T14:30:00', classNames:'itMeeting'},
							{title: 'tCommon/Ting 결제프로세스 프로세스 및 기획 미팅', start: '2020-08-02T14:30:00', classNames:'itMeeting'},
							{title: '계정관리대장 상세 기능 개발 미팅', start: '2020-08-03T10:30:00', classNames:'itMeeting'},
							{title: '계정관리대장 상세 기능 개발 미팅', start: '2020-08-07T17:30:00', classNames:'itMeeting'},
							{title: '결제프로세스 프로세스 및 기획 미팅', start: '2020-08-06T17:30:00', classNames:'itMeeting'},
							{title: '결제프로세스 프로세스 및 기획 미팅', start: '2020-08-15T14:30:00', classNames:'itMeeting'},
							{title: '안드로이드 네이티브 스킬업 미팅', start: '2020-08-12T14:30:00', classNames:'itMeeting'},
							{title: '일일보고서 메일발송 기능 개발 미팅', start: '2020-08-10T14:30:00', classNames:'itMeeting'},
							{title: '홈페이지 관리자 및 프론트 재구축 미팅', start: '2020-08-27T15:30:00', classNames:'itMeeting'},
							{title: '더컨테이너 알림기능 개발 미팅', start: '2020-08-27T15:30:00', classNames:'itMeeting'},
							{title: '안드로이드 네이티브 스킬업 미팅', start: '2020-08-27T15:30:00', classNames:'itMeeting'},
							{title: '서울시 테스트베드 과제 컨셉 정리 미팅', start: '2020-08-27T16:30:00', classNames:'itMeeting'},
							{title: 'tCommon 장애 알림 UI 설계 미팅', start: '2020-08-27T12:30:00', classNames:'itMeeting'},
							{title: '안드로이드 네이티브 스킬업 미팅', start: '2020-08-17T13:30:00', classNames:'itMeeting'},
							{title: 'tCommon 장애 알림 UI 설계 미팅', start: '2020-08-26T14:30:00', classNames:'itMeeting'},
							{title: '서울시 테스트베드 과제 컨셉 정리 미팅', start: '2020-08-28T12:30:00', classNames:'itMeeting'},
							{title: '홈페이지 관리자 및 프론트 재구축 미팅', start: '2020-08-28T16:30:00', classNames:'itMeeting'},
							{title: '사업진행 공유 스크럼', start: '2020-08-01T12:30:00', classNames:'scMeeting'},
							{title: '안드로이드 네이티브 스킬업 미팅', start: '2020-08-03T12:30:00', classNames:'scMeeting'},
							{title: '안드로이드 네이티브 스킬업 미팅', start: '2020-08-07T11:30:00', classNames:'scMeeting'},
							{title: '더컨테이너 스크럼', start: '2020-08-08T10:30:00', classNames:'scMeeting'},
							{title: '사업진행 공유 스크럼 스크럼', start: '2020-08-23T12:30:00', classNames:'scMeeting'},
							{title: '더컨테이너 스크럼', start: '2020-08-24T13:30:00', classNames:'scMeeting'},
							{title: '더컨테이너 스크럼', start: '2020-08-26T10:30:00', classNames:'scMeeting'},
							{title: '더컨테이너 스크럼', start: '2020-08-21T10:30:00', classNames:'scMeeting'},
							{title: '더컨테이너 스크럼', start: '2020-08-15T10:30:00', classNames:'scMeeting'},
							{title: '더컨테이너 스크럼', start: '2020-08-13T10:30:00', classNames:'scMeeting'},
							{title: '더컨테이너 스크럼', start: '2020-08-27T10:30:00', classNames:'scMeeting'},
							{title: '사업진행 공유 스크럼', start: '2020-08-28T11:30:00', classNames:'scMeeting'},
							{title: '사업진행 공유 스크럼', start: '2020-08-28T13:00:00', classNames:'scMeeting'},
							{title: 'SWORK 스크럼', start: '2020-08-28T11:30:00', classNames:'scMeeting'},
							{title: 'SWORK 스크럼', start: '2020-08-29T10:30:00', classNames:'scMeeting'},
							{title: 'RCI 외근', start: '2020-08-13T07:00:00', end: '2020-08-14T12:30:00', classNames:'outWork'},
							{title: 'LGOSC 외근', start: '2020-08-26T07:00:00', end: '2020-08-31T12:30:00', classNames:'outWork'},
							{title: 'RCI 현장근무', start: '2020-08-06T20:00:00', classNames:'fieldWork'},
							{title: 'RSM 현장근무', start: '2020-08-15T20:00:00', classNames:'fieldWork'}
						]
					});
					$(".mothView").click(function () {
						calendar.changeView('dayGridMonth');
					});
					$(".weekView").click(function () {
						calendar.changeView('timeGridWeek');
					});
					$(".dayView").click(function () {
						calendar.changeView('timeGridDay');
					});
				});

				function closeModal() {
					calendarEventModal.style.display = "none";
				}
				window.onclick = function(event) {
					if (event.target == calendarEventModal) {
						calendarEventModal.style.display = "none";
					}
				}
			</script>
			<style>
				#container {padding:0;}
				.fc-unthemed td {border-left:0;}
				.swiper-slide .fc-toolbar {display:none;}
				.fc-button {padding:0;}
				.content, .mainLayout {width:100%;height:100vh;}
				/* #calendar {height:100%;width:100%;} */
				html, body, #wrap {height:100%;width:100%;}
				.fc .fc-head {background-color:#f5f5f5;}
				.fc .fc-toolbar.fc-header-toolbar {position:relative;text-align:center;}
				.fc .fc-toolbar .fc-center {margin:0 auto;}
				.fc-more-cell * {font-size:12px;}
				.fc-event-container * {font-size:11px;}
				.fc-button-group button {display:none;}
				.fc-day-grid-event .fc-time {display:none;}
				.fc-event-container .fc-title {display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
				.fc-event-container .fc-content,
				.fc-event-container .fc-title {color:inherit;}
				.fc-event {border:none;}
				.fc-event-container .naHoliday {color:#eb6565;background:#fff;border:1px solid #eb6565;}
				.fc-event-container .birthday {color:#f8923f;background:#fff;border:1px solid #f8923f;}
				.fc-event-container .psHoliday {color:#ff9a03;background:#fff;border:1px solid #fbc33d;}
				.fc-event-container .ctMeeting {color:#fff;background:#74d3d4;}
				.fc-event-container .itMeeting {color:#fff;background:#50c785;}
				.fc-event-container .scMeeting {color:#fff;background:#3c99e9;}
				.fc-event-container .outWork {color:#e9899c;background:#fff;border:1px solid #f3c2cc;}
				.fc-event-container .fieldWork {color:#b957b9;background:#fff;border:1px solid #d6b2d6;}
			</style>
			<div id='calendar'></div>
			<div id="container" style="display:none;">
			<section>
				<div class="content">
				<article>
					<div class="mainLayout">
					</div>
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
			<div class="pageTop"><button>상단으로</button></div>
		</div>
		<!-- //Wrap -->

		<!-- Calendar Event Modal -->
		<div id="calendarModal" class="mainModal">
			<div class="mainModalDialogBack">
				<div class="mainModalDialog">
					<div class="mainModalContent">
						<div>
							<strong>7월 12일 (일)</strong>
							<ul>
								<li>
									<span class="mCIcon" style="background:#1c9749;">휴일</span>
									[공식휴일] 현충일
								</li>
								<li>
									<span class="mCIcon" style="background:#3788d8;">휴가</span>
									[년차] 조명진 <br/>
									[월차] 김시은, 이용민, 이재원
								</li>
								<li>
									<span class="mCIcon" style="background:#cecda7;">생일</span>
									[생일] 홍길동
								</li>
								<li>
									<span class="mCIcon" style="background:#c33a95;">회의</span>
									Meeting1 00:00<br/>
									Meeting2 00:00<br/>
									Meeting3 00:00<br/>
									Dinner Meeting 00:00<br/>
								</li>
								<li>
									<span class="mCIcon" style="background:#48e6c9;">외근</span>
									[외근] 홍길동 00:00 ~ 00:00<br/>
									     김철수 00:00 ~ 00:00
								</li>
								<li>
									<span class="mCIcon" style="background:#ff8217;">현장근무</span>
									[현장근무] 홍길동 (거래처명)
								</li>
							</ul>
						</div>
						<button type="button" class="pclose" onclick="closeModal();">Close</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
