<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>ANDU : OFFICE LIFE</title><!--2021-02-10 로고변경-->
		<link rel="shortcut icon" href="../images/i_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../css/lightgallery.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/lightgallery-all.min.js"></script>
		<script type="text/javascript" src="../js/swiper.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
		$(document).ready(function(){
			$('.pushList .btnDetail').click(function(){
				location.href="push_view.html";
			});
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header>
					<h1>알림</h1>
					<button class="btnNav">햄버거</button>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb">
				<section>
					<div class="c-menu c-menu--slide-left"><!-- 우측 Slide 일 경우 -->
						<div data-include="include/snb.html"></div>
					</div>
					<div class="c-mask"></div><!-- /c-mask -->
				</section>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="pageTit">
					<div class="basicCase">
						<span class="selectSet">
							<select>
								<option>전체</option>
								<option>급여명세서</option>
								<option>증빙서류</option>
								<option>외근관리</option>
								<option>현장근무</option>
								<option>전자결제</option>
								<option>자산현황</option>
								<option>공지사항</option>
								<option>갤러리</option>
								<option>사내 교육</option>
								<option>회람</option>
								<option>명함관리</option>
								<option>승인이력</option>
								<option>사내도서 대여</option>
								<option>휴가관리</option>
								<option>관리자 알림</option>
								<option>장애알림</option>
							</select>
						</span>
						<span class="right">
							<span class="sortSet">
								<span>
									<input type="radio" id="chk000" name="period" checked/>
									<label for="chk000">3개월</label>
								</span>
								<span>
									<input type="radio" id="chk001" name="period" />
									<label for="chk001">6개월</label>
								</span>
								<span>
									<input type="radio" id="chk002" name="period" />
									<label for="chk002">12개월</label>
								</span>
							</span>
						</span>
					</div>
				</div>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="pushLayout">
						<!-- 2020-09-04 체크박스 삭제 -->
						<div class="pushList">
							<ul>
								<li>
									<dl>
										<dt>
											<em>[공지사항]</em>
											<strong>타이틀이 노출될 영역입니다.</strong>
										</dt>
										<dd>
											<img src="../images/img_square.png" alt="" class="imgRight" />
											Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.
											<img src="../images/img_wide2.png" alt="" class="imgBottom" />
											<span class="date">2020-04-13 00:00:00</span>
										</dd>
									</dl>
								</li>
								<li class="detailCase"><!-- 2020-08-14 -->
									<dl>
										<dt>
											<em>[알림]</em>
											<strong>타이틀이 노출될 영역입니다.</strong>
										</dt>
										<dd>
											Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.
											<span class="date">2020-04-13 00:00:00</span>
										</dd>
									</dl>
									<button class="btnDetail">상세보기</button><!-- 2020-08-14 -->
								</li>
								<li class="detailCase"><!-- 2020-08-14 -->
									<dl>
										<dt>
											<em>[광고]</em>
											<strong>타이틀이 노출될 영역입니다.</strong>
										</dt>
										<dd>
											Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.
											<span class="date">2020-04-13 00:00:00</span>
										</dd>
									</dl>
									<button class="btnDetail">상세보기</button><!-- 2020-08-14 -->
								</li>
								<li>
									<dl>
										<dt>
											<em>[광고]</em>
											<strong>타이틀이 노출될 영역입니다.</strong>
										</dt>
										<dd>
											Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.
											<span class="date">2020-04-13 00:00:00</span>
										</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>
											<em>[광고]</em>
											<strong>타이틀이 노출될 영역입니다.</strong>
										</dt>
										<dd>
											Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.
											<span class="date">2020-04-13 00:00:00</span>
										</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>
											<em>[광고]</em>
											<strong>타이틀이 노출될 영역입니다.</strong>
										</dt>
										<dd>
											Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.Push Message 내용입니다.
											<span class="date">2020-04-13 00:00:00</span>
										</dd>
									</dl>
								</li>
							</ul>
						</div>
						<!-- 2020-09-04 체크박스 삭제 -->
					</div>
					<!--//-->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
			<div class="pageTop"><button>상단으로</button></div>
		</div>
		<!-- //Wrap -->
	</body>
</html>
