<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>ANDU : OFFICE LIFE</title><!--2021-02-10 로고변경-->
		<link rel="shortcut icon" href="../images/i_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav_default.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../css/lightgallery.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/lightgallery-all.min.js"></script>
		<script type="text/javascript" src="../js/swiper.min.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<div id="loginWrap">
			<div class="back">
				<div class="loginTit">
					<!--2021-02-02 문구 변경 -->
					<div>
						<span><img src="../images/i_logoting.svg" alt="" /></span>
						<h1><img src="../images/img_logoTit.png" alt="Ting:OFFICE LIF" /></h1>
					</div>
					<!--2021-02-02 문구 변경 -->
				</div>
				<div class="loginForm">
					<div class="formBack pwFind">
						<p>
							<strong>패스워드찾기</strong>
							이메일(아이디)로 인증하여 패스워드 초기화를 진행해 주시기 바랍니다.
						</p>
						<form id="" action="" method="post">
							<div class="inputBox">
								<input type="text" id="" name="" placeholder="이메일(아이디)" />
								<button class="btnL blue">인증번호 발송</button>
								<button class="btnL" style="display:none;">재발송</button>
							</div>
							<div class="inputBox numberCase">
								<input type="text" id="" name="" placeholder="인증번호" />
								<span>3:00</span>
								<button class="btnL green">확인</button>
							</div>
							<em>이메일(아이디)가 바르지 않습니다. 다시 한번 확인해 주세요.</em>
							<em>인증번호가 맞지 않습니다. 재입력을 혹은 인증번호 재발송하여 다시 입력해 주시기 바랍니다</em>
							<div class="btnArea">
								<a href="login.html" class="btnM white">취소</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
