<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>ThinkTree Visitor</title>
		<link rel="shortcut icon" href="../images/i_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
		$(document).ready(function(){
			$('.btnArea .white').click(function(){
				$('.popDim').show();
				$('.notSavePop').show();
			});
			$('.btnArea .blue').click(function(){
				$('.popDim').show();
				$('.visitorSavePop').show();
				setTimeout(function(){
					location.href='visitor_view2.html';
				}, 2000);
			});
			$('.alertPop button, .basicPop button').click(function(){
				$('.popDim, .alertDim').hide();
				$('.alertPop, .basicPop').hide();
			});
			$('.sign').click(function(){
				$('.popDim, .popDim .signPop').show();
			});
			$('.signPop button').click(function(){
				$('.popDim').hide();
				$('.sign img').show();
			});
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header>
					<button class="btnPrev" onclick="history.back()">이전</button>
					<h1>방문객 등록</h1>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- snb 생략 -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<div class="visitorLayout">
                        <div class="dlstyle writeCase">
                            <dl>
                                <dt>방문일정 <sup>필수항목</sup></dt>
                                <dd>
                                    <span class="dateSet">
										<span class="calSet"><input type="tel" value="2020-01-21" /><button>달력열기</button></span>
                                    </span>
                                    <span class="selectDubSet">
										<span class="selectSet">
	    									<select>
	    										<option selected>15:30</option>
	    										<option>16:30</option>
	    									</select>
	    								</span>
										<em>~</em>
	                                    <span class="selectSet">
	    									<select>
	    										<option selected>15:30</option>
	    										<option>16:30</option>
	    									</select>
	    								</span>
                                    </span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>방문목적 <sup>필수항목</sup></dt>
                                <dd>
									<div class="reasonSet">
										<span class="selectSet">
											<select>
												<option>선택하세요</option>
												<option selected>업무미팅</option>
												<option>영업미팅</option>
												<option>기타</option>
											</select>
										</span>
										<input type="text" placeholder="상세내용을 입력해주세요 (최대 20글자)"/>
									</div>
                                </dd>
                            </dl>
                            <dl class="attendCompany">
                                <dt>업체명</dt>
                                <dd><input type="text" placeholder="자동완성 입력입니다" value="㈜ 테스트회사"/></dd>
                            </dl>
                        </div>
						<div class="attendData">
							<h3>방문자 정보</h3>
							<ul class="dlstyle writeCase">
								<li class="gridSet grid4">
									<div class="gridItem">
										<dl>
											<dt>이름 <sup>필수항목</sup></dt>
											<dd><input type="text" class="wHalf" value="홍길동"/></dd>
										</dl>
									</div>
									<div class="gridItem">
										<dl>
											<dt>휴대번호 <sup>필수항목</sup></dt>
											<dd>
												<div class="phoneNum">
												    <span class="selectSet">
												        <select>
												            <option selected>010</option>
												            <option>011</option>
												            <option>017</option>
												            <option>018</option>
												            <option>019</option>
												        </select>
												    </span>
												    <span class="txt">-</span>
												    <input type="tel" id="middleNum" value="0000"/>
												    <span class="txt">-</span>
												    <input type="tel" id="lastNum" value="0000"/>
												</div>
											</dd>
										</dl>
									</div>
								</li>
							</ul>
							<span class="checkSet">
								<input type="checkbox" id="chk1">
								<label for="chk1"><i></i>개인정보제공 동의 및 서명 사전진행</label>
							</span>
                        </div>
						<div class="btnArea tC">
							<button class="btnM white">수정 취소</button>
							<button class="btnM blue">저장</button>
						</div>
					</div>
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
			<div class="pageTop"><button>TOP</button></div>
		</div>
		<!-- //Wrap -->
		<!-- Popup -->
		<div class="popDim" style="display:none;">
			<div class="alertPop notSavePop" style="display:none;">
				<div class="pBack">
					<p class="tC">수정 입력된 정보가 저장되지 않습니다.<br/>수정 취소 하시겠습니까?</p>
				</div>
				<div class="pBtn">
					<button class="btnM white">취소</button>
					<button class="btnM blue" onclick="history.back()">확인</button>
				</div>
			</div>
			<div class="alertPop visitorSavePop" style="display:none;">
				<div class="pBack">
					<p class="tC">방문객 정보 수정이 완료되었습니다. <br/>상세화면으로 이동합니다.</p>
				</div>
			</div>
			<div class="signPop" style="display:none;">
				<button class="pclose">닫기</button>
				<p>※ 크게 서명해주세요.</p>
				<div class="signSet">
					<div class="signArea">
						<strong>서명</strong>
						<div class="cvsArea">
							<canvas></canvas>
						</div>
					</div>
					<div class="btnArea">
                        <button class="btnM white">초기화</button>
						<button class="btnM white">이전 휙</button>
						<button class="btnM blue">확인</button>
					</div>
				</div>
			</div>
		</div>
		<!-- //Popup -->
	</body>
</html>
