<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>FREEMOA</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/freemoa.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header data-include="include/header.html"></header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Mobile GNB Menu -->
			<div id="mobileGnb">
				<section data-include="include/mobileGnb.html"></section>
			</div>
			<!-- //Mobile GNB Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<!--------------------------------------------------------------------------------------------------->
			<!--------------------------------------------------------------------------------------------------->
			<style>
			input[type="text"],
			input[type="password"]  {padding:10px 10px;border:1px solid #E1E2E5;color:#090A0B;border-radius:6px;}
			.settingCheck {display:inline-block;padding-right:15px;-ms-user-select: none;-moz-user-select:-moz-none;-webkit-user-select:none;-khtml-user-select:none;user-select:none;}
			.settingCheck>input[type="checkbox"] {display:inline-block;width:16px;height:16px;margin:-2px 0 0 0;vertical-align:middle;overflow:hidden;border-radius:2px;border:1px solid #C4C6CD;background:#fff;}
			.settingCheck>input[type="checkbox"]:checked {border-color:#263A92;background: url('../images/ic_check_on.svg') no-repeat center;background-size:16px;}
			.settingCheck>input[type="checkbox"]:focus {outline:none;}
			.settingCheck>span {font-size:14px;color:#090A0B;margin-left:10px;}
			.settingCheck>label {font-size:14px;color:#090A0B;margin-left:10px;}
			.newRegProject {border-radius:16px;padding:12px 0 32px;width:738px;margin:0 auto;box-shadow:5px 9px 20px rgba(16, 24, 40, 0.08);background:#fff;}
			#container .newRegProject .subTit {margin:0;border:none;}
			#container .newRegProject .subTit h2 {font-size:16px}
			.newRegProject .content {padding:20px 48px;border-bottom:1px solid #F5F6F7;}
			.newRegProject .kindChoice {display:flex;}
			.newRegProject .kindChoice span {position:relative;display:inline-block;width:calc((100% - 20px)/2);}
			.newRegProject .kindChoice span + span {margin-left:20px;}
			.newRegProject .kindChoice span input {position:absolute;opacity:0;left:0;top:0;width:100%;height:100%;border:none;background:transparent;z-index:10;}
			.newRegProject .kindChoice span label {position:relative;display:inline-block;width:100%;text-align:center;border:1px solid #E1E2E5;padding:24px 0;border-radius:8px;background-color:#fff;}
			.newRegProject .kindChoice span label::before {content:'';display:inline-block;width:98px;height:98px;margin-bottom:16px;border-radius:100%;background:#fff url('../images/ic_newReProject_selection1.svg') no-repeat center;background-size:72px;}
			.newRegProject .kindChoice span + span label::before {background-image:url('../images/ic_newReProject_selection2.svg');}
			.newRegProject .kindChoice span label::after {content:'';position:absolute;top:16px;right:16px;display:inline-block;width:12px;height:12px;border-radius:100%;border:4px solid #fff;box-shadow:0 0 0 1px #C4C6CD;}
			.newRegProject .kindChoice span label em {display:block;color:#263A92;font-size:16px;font-weight:bold}
			.newRegProject .kindChoice span label i {display:block;}
			.newRegProject .kindChoice span input:checked + label {border-color:#263A92;background-color:#F4F5FA;}
			.newRegProject .kindChoice span input:checked + label::after {box-shadow:0 0 0 1px #263A92;background:#263A92;}
			.newRegProject .inputArea strong {display:block;padding:20px 0 8px;font-size:16px;}
			.newRegProject .inputArea dl {display:flex;width:100%;align-items:flex-start;padding:8px 0;}
			.newRegProject .inputArea dl dt {flex-shrink:0;width:192px;min-height:24px;font-size:16px;color:#090A0B;font-weight:500;}
			.newRegProject .inputArea dl dd {flex-grow:1;}
			.newRegProject .inputArea dl dd input[type="text"],
			.newRegProject .inputArea dl dd input[type="password"],
			.newRegProject .inputArea dl dd textarea,
			.newRegProject .inputArea dl dd select {width:100%;}
			.newRegProject .inputArea dl + strong {margin-top:21px;border-top:1px solid #f1f2f3;}
			.newRegProject .btn {padding:16px 0 0;text-align:center;}
			.newRegProject .btn * {width:340px;height:44px;color:#fff;padding:0 12px;font-weight:bold;border:none;border-radius:4px;background:#263A92;}
			.notMemPop {position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;background:rgba(0,0,0,.5)}
			.notMemPop .back {position:absolute;left:50%;top:50%;display:inline-block;width:544px;margin:-372px 0 0 -272px;padding:48px 72px;border-radius:12px;background:#fff;}
			.notMemPop .btnClosePop {position:absolute;right:32px;top:24px;display:inline-block;width:32px;height:32px;text-indent:-9999px;overflow:hidden;border:none;background:url('../images/btn_close.svg') no-repeat center;background-size:19px;}
			.notMemPop .back p {padding:88px 0 0 0;text-align:center;font-size:24px;font-weight:bold;background: url('../images/ic_newReProject_notMem.svg') no-repeat center top;background-size:72px;}
			.notMemPop .back p span {display:block;padding:12px 69px 0;font-weight:normal;}
			.notMemPop .back>div {display:inline-block;width:100%;padding:16px 0 0;}
			.notMemPop .back>div input {width:100%;margin-top:16px;}
			.notMemPop .back div + div {text-align:left;}
			.notMemPop .back .settingCheck {padding:16px 0 0;}
			.notMemPop .back .btn {display:flex;padding-top:32px;flex-direction:row-reverse;}
			.notMemPop .back .btn button {width:calc((100% - 10px)/2);height:44px;color:#fff;padding:0 12px;border:none;border-radius:4px;background:#263A92;}
			.notMemPop .back .btn button + button {margin-right:10px;color:#263A92;background:#F4F5FA;}
			.newRegEndPop {position:fixed;top:0;right:0;bottom:0;left:0;z-index:100;background:rgba(0,0,0,.5)}
			.newRegEndPop .back {position:absolute;left:50%;top:50%;display:inline-block;width:480px;margin:-128px 0 0 -240px;padding:32px;border-radius:12px;background:#fff;}
			.newRegEndPop .back p {padding:60px 0 20px;text-align:center;font-size:18px;color:#0A0A0A;background: url('../images/ic_newReProject_info.svg') no-repeat center top;background-size:48px;}
			.newRegEndPop .back button {width:100%;height:44px;color:#fff;padding:0 12px;border:none;border-radius:4px;background:#263A92;}
			</style>
			<section>
				<!-- page layout -->
				<div class="newRegProject">
					<form>
						<div class="content kind">
							<div class="subTit">
								<h2>의뢰할 프로젝트의 종류를 선택하세요.</h2>
							</div>
							<div class="kindChoice">
								<span>
									<input type="radio"/>
									<label><em>프로젝트 단위계약<i>(도급: 외주)</i></em></label>
								</span>
								<span>
									<input type="radio"/>
									<label><em>개인 인력의 기간/ 시간제 계약<i>(상주: 지정된 장소)</i></em></label>
								</span>
							</div>
						</div>
						<div class="content inputArea">
							<div class="subTit">
								<h2>프로젝트 소개 및 작업 내용을 입력해 주세요. (필수)</h2>
							</div>
							<!-- 도급일 경우 -->
							<div>
								<strong>프로젝트의 현재 상황</strong>
								<dl>
									<dt>프로젝트 소개</dt>
									<dd><textarea placeholder="서비스의 카테고리와 목적, PC/mobile 등 서비스 하고자 하는 플랫폼 등"></textarea></dd>
								</dl>
								<dl>
									<dt>기획 및 준비사항</dt>
									<dd><textarea placeholder="기획서 작성 여부, 참여 PM 또는 내부 개발인력 존재 유무 등"></textarea></dd>
								</dl>
								<strong>상세한 업무내용</strong>
								<dl>
									<dt>업무 범위</dt>
									<dd><textarea placeholder="서비스의 주요기능, 전체 페이지 수 등"></textarea></dd>
								</dl>
								<strong>참고사항</strong>
								<dl>
									<dt>참고서비스</dt>
									<dd><input type="text" placeholder="(예) 프리모아, www.freemoa.net"/></dd>
								</dl>
							</div>
							<!-- //도급일 경우 -->
							<!-- 상주일 경우 -->
							<div>
								<strong>프로젝트 진행 방식</strong>
								<dl>
									<dt>근무지</dt>
									<dd><input type="text" /></dd>
								</dl>
								<dl>
									<dt>근무시간 / 근무기간</dt>
									<dd><input type="text" /></dd>
								</dl>
								<dl>
									<dt>장비지원 여부</dt>
									<dd><input type="text" /></dd>
								</dl>
								<dl>
									<dt>필요한 인력</dt>
									<dd><input type="text" /></dd>
								</dl>
								<dl>
									<dt>월 급여범위</dt>
									<dd><input type="text" /></dd>
								</dl>
								<strong>프로젝트의 현재 상황</strong>
								<dl>
									<dt>프로젝트 소개</dt>
									<dd><textarea placeholder="서비스의 카테고리와 목적, PC/mobile 등 서비스 하고자 하는 플랫폼 등"></textarea></dd>
								</dl>
								<dl>
									<dt>기획 및 준비사항</dt>
									<dd><textarea placeholder="기획서 작성 여부, 참여 PM 또는 내부 개발인력 존재 유무 등"></textarea></dd>
								</dl>
								<strong>상세한 업무내용</strong>
								<dl>
									<dt>업무 범위</dt>
									<dd><textarea placeholder="서비스의 주요기능, 전체 페이지 수 등"></textarea></dd>
								</dl>
								<strong>참고사항</strong>
								<dl>
									<dt>참고서비스</dt>
									<dd><input type="text" placeholder="(예) 프리모아, www.freemoa.net"/></dd>
								</dl>
							</div>
							<!-- //상주일 경우 -->
							<article>
							</article>
						</div>
						<div class="content file">
							<div class="subTit">
								<h2>참고할 파일을 첨부해주세요.</h2>
							</div>
							<article>
							</article>
						</div>
					</form>
					<div class="btn"><button>프로젝트 등록</button></div>
				</div>
				<!-- //page layout -->
				<!--비회원일 경우 -->
				<div class="notMemPop" style="display:none;">
				    <div class="back">
				        <p>
				            이름과 연락처를 남겨주세요. <br/> 빠르게 연락 드릴께요!
				            <span>견적은 보다 정확한 안내를 드리기 위해  추가 상담 후 안내드리고 있습니다. <br/>업무시간 : 월~금, 10:00~ 19:00(공휴일 제외)</span>
				        </p>
				        <div>
				            <input type="text" placeholder="이름 (필수)" />
				            <input type="text" placeholder="연락처(필수)" />
				            <em>형식에 맞지 않은 번호입니다.</em>
				            <input type="text" placeholder="이메일(필수)" />
				            <em>이메일 주소 형식이 유효하지 않습니다.</em>
				        </div>
				        <!-- 오류체크는 회원가입 참조 (webs\www\public\js\m0\s00.js)-->
				        <div>프리모아는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.</div>
				        <span class="settingCheck">
				            <input type="checkbox"/>
				            <label>개인 정보 제공에 동의합니다.</label>
				        </span>
				        <div class="btn">
				            <button>견적문의하기</button>
				            <button>뒤로가기</button>
				        </div>
				        <button class="btnClosePop">팝업닫기</button>
				    </div>
				</div>
				<!--//비회원일 경우 -->
				<!--등록 완료된 후 (기존의 완료페이지 이동이 아닌 본 팝업이 노출 > 확인 클릭 시 본 화면 리셋되는 것으로 완료) -->
				<div class="newRegEndPop" style="display:none;">
				    <div class="back">
				        <p>
				            견적문의가 등록되었습니다.<br/>컨설팅 매니저 배치 후 즉시 연락 드리겠습니다.
				        </p>
				        <button>확인</button>
				    </div>
				</div>
				<!--//등록 완료된 후 -->
			</section>
			<!--------------------------------------------------------------------------------------------------->
			<!--------------------------------------------------------------------------------------------------->
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<footer data-include="include/footer.html"></footer>
			</div>
			<!-- //footer -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
