<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>FREEMOA</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/freemoa.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header data-include="include/header.html"></header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Mobile GNB Menu -->
			<div id="mobileGnb">
				<section data-include="include/mobileGnb.html"></section>
			</div>
			<!-- //Mobile GNB Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<!--------------------------------------------------------------------------------------------------->
			<!--------------------------------------------------------------------------------------------------->
			<section>
				<div class="mathigBanner" data-include="include/mathigBanner.html"></div>
				<div class="subTit">
					<h2>파트너</h2>
					<div class="mathigBanner mCase" data-include="include/mathigBanner.html"></div>
					<div class="right"><input type="text" placeholder="원하는 기술 및 주요 키워드로 검색 해보세요." class="listSearch" /></div>
				</div>
				<div class="content">
					<article>
						<!-- page layout -->
						<div class="thumList">
							<ul>
								<!-- Loop -->
								<li>
									<a href="30201.html">
										<span class="thumImg">
											<span class="tech">
												<i>메타버스</i><i>게임 개발</i>
											</span>
											<em><img src="../images/sample2.png" alt=""/></em>
										</span>
										<strong>HITECH Solutions</strong>
										<em>
											법인사업자<br/>
											프리모아 활동기간: 3년<br/>
											프리모아 진행 프로젝트 수: 10개<br/>
											고객 평점: 4.5 / 5.0
										</em>
										<span class="skill">
											<i>JAVA</i><i>JavaScript</i><i>C++</i>
										</span>
									</a>
								</li>
								<!-- end Loop -->
								<li>
									<a href="30201.html"><span class="thumImg"><span class="tech"><i>메타버스</i><i>게임 개발</i></span><em><img src="../images/sample2.png" alt=""/></em></span><strong>HITECH Solutions</strong><em>법인사업자<br/>프리모아 활동기간: 3년<br/>프리모아 진행 프로젝트 수: 10개<br/>고객 평점: 4.5 / 5.0</em><span class="skill"><i>JAVA</i><i>JavaScript</i><i>C++</i></span></a>
								</li>
								<li>
									<a href="30201.html"><span class="thumImg"><span class="tech"><i>메타버스</i><i>게임 개발</i></span><em><img src="../images/sample2.png" alt=""/></em></span><strong>HITECH Solutions</strong><em>법인사업자<br/>프리모아 활동기간: 3년<br/>프리모아 진행 프로젝트 수: 10개<br/>고객 평점: 4.5 / 5.0</em><span class="skill"><i>JAVA</i><i>JavaScript</i><i>C++</i></span></a>
								</li>
								<li>
									<a href="30201.html"><span class="thumImg"><span class="tech"><i>메타버스</i><i>게임 개발</i></span><em><img src="../images/sample2.png" alt=""/></em></span><strong>HITECH Solutions</strong><em>법인사업자<br/>프리모아 활동기간: 3년<br/>프리모아 진행 프로젝트 수: 10개<br/>고객 평점: 4.5 / 5.0</em><span class="skill"><i>JAVA</i><i>JavaScript</i><i>C++</i></span></a>
								</li>
								<li class="nodate">
									<div class="no-data-wrap">
										<div class="ico"><span><img src="/public/images/new2023/ic_not_myproject.svg" /></span></div>
										<p class="msg">등록한 프로젝트가 없습니다. </p>
										<div class="desc">소중한 당신의 IT프로젝트에유사한 개발 경험이 있는
											<br />다양한 프리랜서 및 기업들의 비교견적을 받아보세요.
										</div>
										<a href="/m4/simpleRegNew">프로젝트 등록하고 상담받기</a>
									</div>
								</li>
							</ul>
						</div>

            <div class="partnersConMsg" style="text-align: center;padding: 200px 0px;">
							<div class="no-data-wrap">
								<div class="ico"><span><img src="../images/ic_not_search.svg"></span></div>
	              <p class="msg">리스트에서 관심 프로젝트를 등록해보세요.<br/>마이페이지에서 손쉽게 관리할 수 있습니다.</p>
							</div>
							<div class="no-data-wrap">
								<div class="ico"><span><img src="../images/ic_not_search.svg"></span></div>
								<strong class="keyNo"><strong>“'+$("#projectSearchStringInput").val()+'”</strong> 검색 결과가 없습니다</strong>
								<p class="keyInfo">
									<strong>검색하신 키워드로 매칭되는 파트너가 없습니다.</strong>
									* 검색어의 단어 수를 줄이거나, 보다 일반적인 단어로 다시 검색해주세요.<br/>
									* 두 단어 이상의 검색어인 경우 띄어쓰기를 확인해주세요.
								</p>
							</div>
            </div>
						<div class="paginate" data-include="include/paginate.html"></div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			<!--------------------------------------------------------------------------------------------------->
			<!--------------------------------------------------------------------------------------------------->
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<footer data-include="include/footer.html"></footer>
			</div>
			<!-- //footer -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
