

											<div class="prtBox">
												<h3><strong>포트폴리오</strong><button data-name="1">더보기</button></h3>
												<div class="thumList prjCase">
													<ul>
														<li>
															<a href="">
																<span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span>
																<strong>중고차 역경매 플랫폼 (iOS / Android)</strong>
																<span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span>
															</a>
														</li>
														<li>
															<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
														</li>
														<li>
															<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
														</li>
														<li>
															<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
														</li>
														<li>
															<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
														</li>
														<li>
															<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
														</li>
														<li>
															<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
														</li>
														<li>
															<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
														</li>
													</ul>
													<div class="listMore"><button>더보기</button></div>
												</div>
											</div>
