
										<div class="prtBox">
											<h3><strong>프리모아 진행 프로젝트</strong></h3>
											<div class="prtHistoryList">
												<ul>
													<!-- Loop -->
													<li>
														<div>
															<strong>책다방 iOS/Android 소개팅 채팅 인앱결제</strong>
															<span class="prjInfo">
																<em>기획,디자인,개발</em>
																<span>80,000,000원</span>
																<span>2022-03-09~2022-03-09</span>
															</span>
															<span class="tag">
																<i>#iOS/Android</i><i>#React/NodeJS</i><i>#모바일</i><i>#소개팅</i>
															</span>
														</div>
														<a href="" class="likeThis">프로젝트 내용 보기</a>
													</li>
													<!-- //Loop -->
													<li>
														<div>
															<strong>책다방 iOS/Android 소개팅 채팅 인앱결제</strong>
															<span class="prjInfo"><em>기획,디자인,개발</em><span>80,000,000원</span><span>2022-03-09~2022-03-09</span></span>
															<span class="tag"><i>#iOS/Android</i><i>#React/NodeJS</i><i>#모바일</i><i>#소개팅</i></span>
														</div>
														<a href="" class="likeThis">프로젝트 내용 보기</a>
													</li>
													<li>
														<div>
															<strong>책다방 iOS/Android 소개팅 채팅 인앱결제</strong>
															<span class="prjInfo"><em>기획,디자인,개발</em><span>80,000,000원</span><span>2022-03-09~2022-03-09</span></span>
															<span class="tag"><i>#iOS/Android</i><i>#React/NodeJS</i><i>#모바일</i><i>#소개팅</i></span>
														</div>
														<a href="" class="likeThis">프로젝트 내용 보기</a>
													</li>
													<li>
														<div>
															<strong>책다방 iOS/Android 소개팅 채팅 인앱결제</strong>
															<span class="prjInfo"><em>기획,디자인,개발</em><span>80,000,000원</span><span>2022-03-09~2022-03-09</span></span>
															<span class="tag"><i>#iOS/Android</i><i>#React/NodeJS</i><i>#모바일</i><i>#소개팅</i></span>
														</div>
														<a href="" class="likeThis">프로젝트 내용 보기</a>
													</li>
													<li>
														<div>
															<strong>책다방 iOS/Android 소개팅 채팅 인앱결제</strong>
															<span class="prjInfo"><em>기획,디자인,개발</em><span>80,000,000원</span><span>2022-03-09~2022-03-09</span></span>
															<span class="tag"><i>#iOS/Android</i><i>#React/NodeJS</i><i>#모바일</i><i>#소개팅</i></span>
														</div>
														<a href="" class="likeThis">프로젝트 내용 보기</a>
													</li>
												</ul>
												<div class="listMore"><button>더보기</button></div>
											</div>
										</div>
