<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>FREEMOA</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/freemoa.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header data-include="include/header.html"></header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Mobile GNB Menu -->
			<div id="mobileGnb">
				<section data-include="include/mobileGnb.html"></section>
			</div>
			<!-- //Mobile GNB Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<!--------------------------------------------------------------------------------------------------->
			<!--------------------------------------------------------------------------------------------------->
			<section>
				<div class="mathigBanner" data-include="include/mathigBanner.html"></div>
				<div class="subTit">
					<h2>포트폴리오 페이지</h2>
					<div class="mathigBanner mCase" data-include="include/mathigBanner.html"></div>
					<div class="right"><input type="text" placeholder="원하는 포트폴리오 유형, 기술을 검색 해보세요." class="listSearch" /></div>
				</div>
				<div class="content prfCase">
					<side>
						<div calss="prfFilter">필터영역</div>
					</side>
					<article>
						<!-- page layout -->
						<div class="thumList">
							<ul>
								<!-- Loop -->
								<li>
									<a href="">
										<span class="thumImg">
											<em><img src="../images/sample3.png" alt=""/></em>
										</span>
										<strong>중고차 역경매 플랫폼 (iOS / Android)</strong>
										<span class="tag">
											<i>#개발자</i><i>#프론트엔드</i><i>#서울</i>
										</span>
									</a>
								</li>
								<!-- end Loop -->
								<li>
									<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
								</li>
								<li>
									<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
								</li>
								<li>
									<a href=""><span class="thumImg"><em><img src="../images/sample3.png" alt=""/></em></span><strong>중고차 역경매 플랫폼 (iOS / Android)</strong><span class="tag"><i>#개발자</i><i>#프론트엔드</i><i>#서울</i></span></a>
								</li>
							</ul>
						</div>
						<div class="paginate" data-include="include/paginate.html"></div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			<!--------------------------------------------------------------------------------------------------->
			<!--------------------------------------------------------------------------------------------------->
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<footer data-include="include/footer.html"></footer>
			</div>
			<!-- //footer -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
