<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>FREEMOA</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/freemoa.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header data-include="include/header.html"></header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- Mobile GNB Menu -->
			<div id="mobileGnb">
				<section data-include="include/mobileGnb.html"></section>
			</div>
			<!-- //Mobile GNB Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<!--------------------------------------------------------------------------------------------------->
			<!--------------------------------------------------------------------------------------------------->
			<section>
				<!-- <div class="mathigBanner" data-include="include/mathigBanner.html"></div> -->
				<div class="subTit">
					<h2>프로젝트</h2>
					<div class="mathigBanner mCase" data-include="include/mathigBanner.html"></div>
					<div class="right widthFilter">
						<div class="searchViewSet">
							<div><span>원하는 포트폴리오 유형, 기술을 검색해보세요.</span></div>
						</div>
						<button class="btnFilter">필터</button>
					</div>
				</div>
				<div class="content prjDetail">
					<side>
						<div class="prjFilter">
							<span class="filterSave">
								<span>
									<input type="checkbox" id="filtersave" class="filtersave">
									<label for="filtersave" id="filtersave_label2" class="on">체크된 필터 항상 적용</label>
								</span>
							</span>
							<dl>
								<dt>프로젝트 형태</dt>
								<dd>
									<ul>
										<li class="stayAll half"> <!-- 둘중 하나만 선택했을 때엔 "stayAll half" 로 clss 변경 필요 -->
											<input type="checkbox" data-stay-value="stayAll" class="stayRadio on" name="radio-type" id="radio-type01">
											<label for="radio-type01">전체</label>
										</li>
										<li>
											<input type="checkbox" data-stay-value="stayExcept" class="stayRadio" name="radio-type" id="radio-type02">
											<label for="radio-type02">도급(원격)</label>
										</li>
										<li>
											<input type="checkbox" data-stay-value="stayView" class="stayRadio" name="radio-type" id="radio-type03">
											<label for="radio-type03">상주</label>
											<!-- <ul>
												<li>
													<input type="checkbox" class="workType2" id="range-chk01" value="1" checked="">
													<label for="range-chk01">기간제</label>
												</li>
												<li>
													<input type="checkbox" class="workType2" id="range-chk02" value="2" checked="">
													<label for="range-chk02">시간제</label>
												</li>
											</ul> -->
										</li>
									</ul>
								</dd>
							</dl>
							<dl>
								<dt>참여파트 분류</dt>
								<dd>
									<ul>
										<li><input type="checkbox" data-value="3" class="filteringRadio" id="prj-기획"><label for="prj-기획">기획</label></li>
										<li><input type="checkbox" data-value="2" class="filteringRadio" id="prj-디자인"><label for="prj-디자인">디자인</label></li>
										<li><input type="checkbox" data-value="1" class="filteringRadio" id="prj-개발"><label for="prj-개발">개발</label>
									</li>
								</dd>
							</dl>
						</div>
					</side>
					<article>
						<!-- page layout -->
						<div class="prjList">
							<ul>
								<!-- Loop -->
								<li>
									<span class="filterData">
										<i class="type">도급</i>
										<i class="sts i">Developing</i>
									</span>
									<strong>투어 시 사용될 오디오 가이드 Hybrid App개발 ( 디자인제공 )</strong>
									<em class="price">7,000 만원</em>
									<span class="skill">
										<i>#개발자</i><i>#프론트엔드</i><i>#서울</i>
									</span>
									<span class="more">
										<span class="listCompay">
											<span class="thumRnImg">
												<em><!-- <img src="../images/sample2.png" alt=""/> --></em>
											</span>
											C*****4
										</span>
										<a href="" class="likeThis">프로젝트 내용 보기</a>
									</span>
								</li>
								<!-- end Loop -->
								<li>
									<span class="filterData">
										<i class="type in">상주</i>
										<i class="sts e">Completed</i>
									</span>
									<strong>투어 시 사용될 오디오 가이드 Hybrid App개발 ( 디자인제공 )</strong>
									<em class="price">7,000 만원</em>
									<span class="skill">
										<i>#개발자</i><i>#프론트엔드</i><i>#서울</i>
									</span>
									<span class="more">
										<span class="listCompay">
											<span class="thumRnImg">
												<em><!-- <img src="../images/sample2.png" alt=""/> --></em>
											</span>
											C*****4
										</span>
										<a href="" class="likeThis">프로젝트 내용 보기</a>
									</span>
								</li>
								<!-- <li>
									<span class="filterData">
										<i class="type">도급</i>
										<i class="sts e">completed</i>
									</span>
									<strong>투어 시 사용될 오디오 가이드 Hybrid App개발 ( 디자인제공 )</strong>
									<em class="price">11,000 ~ 7,000 만원</em>
									<span class="tag">
										<i>#개발자</i><i>#프론트엔드</i><i>#서울</i>
									</span>
									<span class="more">
										<span class="listCompay">
											<span class="thumRnImg">
												<em></em>
											</span>
											C*****4
										</span>
										<a href="" class="likeThis">프로젝트 내용 보기</a>
									</span>
								</li>
								<li>
									<span class="filterData">
										<i class="type">도급</i>
										<i class="sts c">Matching</i>
									</span>
									<strong>투어 시 사용될 오디오 가이드 Hybrid App개발 ( 디자인제공 )</strong>
									<em class="price">11,000 ~ 7,000 만원</em>
									<span class="tag">
										<i>#개발자</i><i>#프론트엔드</i><i>#서울</i>
									</span>
									<span class="more">
										<span class="listCompay">
											<span class="thumRnImg">
												<em></em>
											</span>
											C*****4
										</span>
										<a href="" class="likeThis">프로젝트 내용 보기</a>
									</span>
								</li> -->
							</ul>
						</div>
						<div class="prjList partnerCase">
							<ul>
								<!-- Loop -->
								<li>
									<span class="filterData">
										<em class="pjNew">NEW</em>
										<i class="type">도급</i>
										<i class="sts">모집중</i>
										<span class="icHeart"><input type="checkbox"/><label>관심여부</label></span>
									</span>
									<strong>투어 시 사용될 오디오 가이드 Hybrid App개발 ( 디자인제공 )</strong>
									<em class="price">예상비용  11,000 ~ 7,000 만원</em>
									<span class="skill">
										<em>개발,디자인,기획</em><i>#개발자</i><i>#프론트엔드</i><i>#서울</i>
									</span>
									<span class="prjDday">
										<em>마감일정 D-2301</em>
										<em>예상기간 30일</em>
										<em>지원자수 22명</em>
									</span>
									<span class="more">
										<span>2023-09-17</span>
										<a href="" class="likeThis">프로젝트 지원하기</a>
									</span>
								</li>
								<!-- end Loop -->
								<li>
									<span class="filterData">
										<i class="type in">상주</i>
										<i class="sts">마감임박</i>
										<span class="icHeart"><input type="checkbox"/><label>관심여부</label></span>
									</span>
									<strong>투어 시 사용될 오디오 가이드 Hybrid App개발 ( 디자인제공 )</strong>
									<em class="price">예상비용  11,000 ~ 7,000 만원</em>
									<span class="skill">
										<em>개발,디자인,기획</em><i>#개발자</i><i>#프론트엔드</i><i>#서울</i>
									</span>
									<span class="prjDday">
										<em>마감일정 D-1</em>
										<em>예상기간 30일</em>
										<em>지원자수 22명</em>
									</span>
									<span class="more">
										<span>2023-09-17</span>
										<a href="" class="likeThis">프로젝트 지원하기</a>
									</span>
								</li>
								<li>
									<span class="filterData">
										<i class="type">도급</i>
										<i class="sts close">마감</i>
										<span class="icHeart"><input type="checkbox"/><label>관심여부</label></span>
									</span>
									<strong>투어 시 사용될 오디오 가이드 Hybrid App개발 ( 디자인제공 )</strong>
									<em class="price">예상비용  11,000 ~ 7,000 만원</em>
									<span class="skill">
										<em>개발,디자인,기획</em><i>#개발자</i><i>#프론트엔드</i><i>#서울</i>
									</span>
									<span class="prjDday">
										<em>마감</em>
										<em>예상기간 30일</em>
										<em>지원자수 22명</em>
									</span>
									<span class="more">
										<span>2023-09-17</span>
										<a href="" class="likeThis">프로젝트 지원하기</a>
									</span>
								</li>
							</ul>
						</div>
						<div class="paginate" data-include="include/paginate.html"></div>
						<!-- //page layout -->
					</article>
				</div>
			</section>
			<!--------------------------------------------------------------------------------------------------->
			<!--------------------------------------------------------------------------------------------------->
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<footer data-include="include/footer.html"></footer>
			</div>
			<!-- //footer -->
		</div>
		<!-- //Wrap -->
	</body>
</html>
