<script type="text/javascript">
		function includeLayout2(){
			var includeArea = $('[data-include]');
			var self, url;
			$.each(includeArea, function() {
				self = $(this);
				url = self.data("include");
				self.load(url, function() {
					self.removeAttr("data-include");
				});
			});
		};
		$( document ).load( function() {
			includeLayout2();
		});
</script>
<div class="mPrjMgt">
	<div class="mPrjFiler">
		<div>
			<span class="on">전체<em>138</em></span>
			<span>등록<em>138</em></span>
			<span>컨설팅<em>138</em></span>
			<span>미팅<em>138</em></span>
			<span>계약<em>138</em></span>
			<span>진행중<em>138</em></span>
			<span>완료<em>138</em></span>
			<span>취소<em>138</em></span>
		</div>
	</div>
	<ul class="mPrjMgtArea">
		<li style="display:none;">
			<div class="no-data-wrap">
				<div class="ico"><img src="/public/images/common/ico-nodata20.png"></div>
				<p class="msg">진행중인 프로젝트가 없습니다. </p>
				<div class="ico type01"><img src="/public/images/emptyProjectRating.png"></div>
				<div class="desc">
					프로젝트 미팅 선정률을 높이는방법을 무엇일까요?<br>
					포트폴리오, 경력/기술 정보가 잘 작성된 경우, 평균(30%) 높은 미팅 선정률을 보이고 있습니다.<br>
					프로필 업데이트를 통해 신뢰감과 미팅선정률을 높여보세요. </div>
					<a href="/m5/s51?tab=Basic">프로필업데이트 하기 </a>
				</div>
		</li>
		<!-------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------->
		<li>
			<div class="mPrjList">
				<span>
					<i class="sts">등록</i>
				</span>
				<strong>
					기업정보 사이트 활용 크롤링 프로그램 개발
					<em>1,000,000,000원</em>
				</strong>
				<button><em>상세열기</em><i>상세닫기</i></button>
			</div>
			<div class="mPrjContents">
				<div class="mprjStep">
					<span class="on"><em>STEP 1</em>등록</span>
					<span><em>STEP 2</em>컨설팅</span>
					<span><em>STEP 3</em>미팅</span>
					<span><em>STEP 4</em>계약</span>
					<span><em>STEP 5</em>진행중</span>
					<span class="end"><em>STEP 6</em>완료</span>
					<strong class="cancel">취소</strong>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 1</em>등록</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 2</em>컨설팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 3</em>미팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 4</em>계약</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 5</em>진행중</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 6</em>완료</div>
				</div>
				<!--------------->
				<div class="viewByStep cancel">
					<div class="mMprjStep">취소</div>
				</div>
				<!--------------->
			</div>
		</li>
		<!-------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------->
		<li class="on">
			<div class="mPrjList">
				<span>
					<i class="sts">등록</i>
				</span>
				<strong>
					기업정보 사이트 활용 크롤링 프로그램 개발
					<em>1,000,000,000원</em>
				</strong>
				<button><em>상세열기</em><i>상세닫기</i></button>
			</div>
			<div class="mPrjContents">
				<div class="mprjStep">
					<span class="on"><em>STEP 1</em>등록</span>
					<span><em>STEP 2</em>컨설팅</span>
					<span><em>STEP 3</em>미팅</span>
					<span><em>STEP 4</em>계약</span>
					<span><em>STEP 5</em>진행중</span>
					<span class="end"><em>STEP 6</em>완료</span>
					<strong class="cancel">취소</strong>
				</div>
				<!--------------->
				<div class="viewByStep on">
					<div class="mMprjStep"><em>STEP 1</em>등록</div>
					<div class="tabContent">
						<!----->
						<div class="project_detail_info">
							<ul>
								<li>프리모아에서는 등록 내용에 대한 이해를 위해 초기상담 매니저가 유선으로 연락을 드립니다.</li>
								<li>검수에는 최대 24시간이 소요됩니다. (근무일 기준/ 월~금 오전 10시 ~ 오후 7시, 주말 및 공휴일은 검수 일정이 지연될 수 있습니다.)</li>
								<li>프리모아 이용약관에 위배되거나 불법적인 내용이 있는 경우, 프로젝트가 등록되지 않을 수 있습니다.</li>
							</ul>
						</div>
						<div class="projectDetail">
							<div class="info-top">
								<div class="tit">
									<strong>운영 웹서비스 UI Front end 개발(PC/Mobile)</strong>
									<a target="_blank" href="">나의 지원서</a>
								</div>
							</div>
							<div class="info-middle">
								<ul class="clientCase">
									<li>모집방식<strong>도급외주</strong></li>
									<li>예상기간<strong>30 일</strong></li>
									<li>예상비용<strong>500 ~ 1,000 만원</strong></li>
									<li>미팅 희망지역<strong>서울 영등포구</strong></li>
									<li>분야<strong>개발 &gt; 웹</strong></li>
									<li>기획 상태<strong>상세기획 보유</strong></li>
									<li>예상 킥오프<strong>9월2째주</strong></li>
								</ul>
								<ul>
									<li>모집방식<strong>도급외주</strong></li>
									<li>예상기간<strong>30 일</strong></li>
									<li>예상비용<strong>500 ~ 1,000 만원</strong></li>
									<li>지원자<strong>20명</strong></li>
									<li>분야<strong>개발 &gt; 웹</strong></li>
									<li>기획 상태<strong>상세기획 보유</strong></li>
									<li>예상 킥오프<strong>9월2째주</strong></li>
									<li>미팅 희망지역<strong>서울 영등포구</strong></li>
								</ul>
								<div class="bgGray">
									<div class="prj-need-tech">
										<div class="prj-label">필요기술</div>
										<div class="prj-content2" id="projectViewInfoLanguageWrapper">
											<span>HTML5/CSS3</span><span> PHP</span>
										</div>
									</div>
									<div class="prj-detail">
										<div class="prj-label">상세정보</div>
										<div class="prj-content">
											<pre class="text projectInfoData" data-name="txt" style="line-height:1.5em;">
※프로젝트의 진행 방식
- 최초 유무선,온라인/카톡미팅
- 필요시 미팅 진행
- 회사위치 : 서울시 영등포구
- 개인프리랜서, 팀, 기업 지원 무관합니다
- 희망 프로젝트 시작일 : 9월 2째주 ( 즉시 )
※프로젝트의 현재 상황
- 기존 서비스 리뉴얼 진행 건 입니다.
- 기획/디자인 모두 완료 되었고, PC/모바일 웹 퍼블리싱, Front end 개발만 의뢰합니다.
- 프로젝트 진행 경험이 있는 PM인력 및 서버 관련 문의에 대한 답변을 제공할 내부 개발자 있습니다.
- 클라이언트와의 의사소통이 가장 중요합니다.
- 기존서비스는 PC 웹과  Mobile 웹이 구분되어있습니다.
- 반응형웹으로 가능하게 디자인되었으나, 개발사에 따라 반응형 또는 기존과 같은 구분된 형태로 개발 가능합니다.
:: 논의 필요
※상세한 업무내용
+ 프로젝트 소개 : 중개플랫폼 UI 리뉴얼을 위한 Front end 개발
1) 중개 플랫폼으로 유저 구분이 되어있음
2) 사내 인력 업무지원 범위 :　담당 PM과 함께 기획 및 소통
+ 상세한 업무내용
- 업무범위
- 개발 언어는 PHP로 되어있음
1. 페이지 : PC/Mobile 각 50~60p, 상세페이지가 있으며 마이페이지의 경우 버튼 위치나 레이아웃이 반복됨.
- 홈
- 로그인/회원가임
- 회사소개
- 프로젝트
- 포트폴리오
- 마이페이지
※참고사항
- 우대사항 : 빠른 피드백이 가능하고, 지속적 관리가 가능한 개발사
											</pre>
											<div class="text" id="projectFiles"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!----->
					</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 2</em>컨설팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 3</em>미팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 4</em>계약</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 5</em>진행중</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 6</em>완료</div>
				</div>
				<!--------------->
				<div class="viewByStep cancel">
					<div class="mMprjStep">취소</div>
				</div>
				<!--------------->
			</div>
		</li>
		<!-------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------->
		<li class="on">
			<div class="mPrjList">
				<span>
					<i class="sts">컨설팅</i>
				</span>
				<strong>
					기업정보 사이트 활용 크롤링 프로그램 개발
					<em>1,000,000,000원</em>
				</strong>
				<button><em>상세열기</em><i>상세닫기</i></button>
			</div>
			<div class="mPrjContents">
				<div class="mprjStep">
					<span><em>STEP 1</em>등록</span>
					<span class="on"><em>STEP 2</em>컨설팅</span>
					<span><em>STEP 3</em>미팅</span>
					<span><em>STEP 4</em>계약</span>
					<span><em>STEP 5</em>진행중</span>
					<span class="end"><em>STEP 6</em>완료</span>
					<strong class="cancel">취소</strong>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 1</em>등록</div>
				</div>
				<!--------------->
				<div class="viewByStep on">
					<div class="mMprjStep"><em>STEP 2</em>컨설팅</div>
					<div class="tabContent">
						<!----->
						<div class="project_detail_info">
							<ul>
								<li>초기 상담 내용을 기반으로 컨설턴트가 개발사 매칭을 진행합니다.</li>
								<li>매칭에는 최대 24시간이 소요됩니다. (근무일 기준/ 월~금 오전 10시 ~ 오후 7시, 주말 및 공휴일은 검수 일정이 지연될 수 있습니다.)</li>
								<li>프리모아 이용약관에 위배되거나 불법적인 내용이 있는 경우, 매칭이 진행되지 않을 수 있습니다.</li>
							</ul>
						</div>
						<div class="my-prj-consulting-wrap">
							<div class="managerSet">
								<span class="mngImg"><em><img src="../images/sample4.png" alt=""/></em></span>
								<span class="mngInfo">
									<strong>이인주</strong>
									<em>담당 매니저</em><a href="tel:010-0000-0000" class="call">010-0000-0000</a>
								</span>
							</div>
						</div>
						<!----->
					</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 3</em>미팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 4</em>계약</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 5</em>진행중</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 6</em>완료</div>
				</div>
				<!--------------->
				<div class="viewByStep cancel">
					<div class="mMprjStep">취소</div>
				</div>
				<!--------------->
			</div>
		</li>
		<!-------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------->
		<li class="on">
			<div class="mPrjList">
				<span>
					<i class="sts i">미팅</i>
				</span>
				<strong>
					기업정보 사이트 활용 크롤링 프로그램 개발
					<em>1,000,000,000원</em>
				</strong>
				<button><em>상세열기</em><i>상세닫기</i></button>
			</div>
			<div class="mPrjContents">
				<div class="mprjStep">
					<span><em>STEP 1</em>등록</span>
					<span><em>STEP 2</em>컨설팅</span>
					<span class="on"><em>STEP 3</em>미팅</span>
					<span><em>STEP 4</em>계약</span>
					<span><em>STEP 5</em>진행중</span>
					<span class="end"><em>STEP 6</em>완료</span>
					<strong class="cancel">취소</strong>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 1</em>등록</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 2</em>컨설팅</div>
				</div>
				<!--------------->
				<div class="viewByStep on">
					<div class="mMprjStep"><em>STEP 3</em>미팅</div>
					<div class="tabContent">
						<!---->
						<div class="project_detail_info">
							<ul>
								<li>계약서 다운로드가 되지 않을 경우, 계약서는 작성 중에 있습니다.</li>
								<li>계약서 작성이 완료되면 문자와 메일로 알려드립니다.</li>
								<li>관련 문의는 담당 매니저에 연락하여 주시기 바랍니다. <a href='tel:02-6380-7521'>김철수(0263807521)</a></li>
							</ul>
						</div>
						<div class="my-prj-meeting-wrap">
							<div class="myProjectMeetList">
								<ul>
									<li>
										<dl>
											<dt>미팅 업체</dt>
											<dd>freemoa</dd>
										</dl>
										<dl>
											<dt>예상 비용</dt>
											<dd>1,000,000원</dd>
										</dl>
										<dl>
											<dt>예상 기간</dt>
											<dd>20일</dd>
										</dl>
										<span>
											<dl>
												<dt>미팅 확정일시</dt>
												<dd>2023-05-30 , 14:00</dd>
											</dl>
											<dl>
												<dt>미팅 확정장소</dt>
												<dd>프리모아 사무실</dd>
											</dl>
											<dl>
												<dt>미팅 상태</dt>
												<dd>미팅완료</dd>
											</dl>
										</span>
									</li>
									<!-- <li>
										<dl>
											<dt>미팅 업체</dt>
											<dd>freemoa</dd>
										</dl>
										<dl>
											<dt>예상 비용</dt>
											<dd>1,000,000원</dd>
										</dl>
										<dl>
											<dt>예상 기간</dt>
											<dd>20일</dd>
										</dl>
										<span>
											<dl>
												<dt>미팅 확정일시</dt>
												<dd>2023-05-30 , 14:00</dd>
											</dl>
											<dl>
												<dt>미팅 확정장소</dt>
												<dd>프리모아 사무실</dd>
											</dl>
											<dl>
												<dt>미팅 상태</dt>
												<dd>미팅완료</dd>
											</dl>
										</span>
									</li> -->
								</ul>
							</div>
							<div class="projectMeetManager">
								<div class="managerSet">
									<span class="mngImg"><em><img src="../images/sample4.png" alt=""/></em></span>
									<span class="mngInfo">
										<strong>이인주</strong>
										<em>담당 매니저</em><a href="tel:010-0000-0000" class="call">010-0000-0000</a>
									</span>
								</div>
							</div>
						</div>
						<!---->
					</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 4</em>계약</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 5</em>진행중</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 6</em>완료</div>
				</div>
				<!--------------->
				<div class="viewByStep cancel">
					<div class="mMprjStep">취소</div>
				</div>
				<!--------------->
			</div>
		</li>
		<!-------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------->
		<li class="on">
			<div class="mPrjList">
				<span>
					<i class="sts i">계약</i>
				</span>
				<strong>
					기업정보 사이트 활용 크롤링 프로그램 개발
					<em>1,000,000,000원</em>
				</strong>
				<button><em>상세열기</em><i>상세닫기</i></button>
			</div>
			<div class="mPrjContents">
				<div class="mprjStep">
					<span><em>STEP 1</em>등록</span>
					<span><em>STEP 2</em>컨설팅</span>
					<span><em>STEP 3</em>미팅</span>
					<span class="on"><em>STEP 4</em>계약</span>
					<span><em>STEP 5</em>진행중</span>
					<span class="end"><em>STEP 6</em>완료</span>
					<strong class="cancel">취소</strong>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 1</em>등록</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 2</em>컨설팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 3</em>미팅</div>
				</div>
				<!--------------->
				<div class="viewByStep on">
					<div class="mMprjStep"><em>STEP 4</em>계약</div>
					<div class="tabContent">
						<div class="project_detail_info">
							<ul>
								<li>계약서 다운로드가 되지 않을 경우, 계약서는 작성 중에 있습니다.</li>
								<li>계약서 작성이 완료되면 문자와 메일로 알려드립니다.</li>
								<li>관련 문의는 담당 매니저에 연락하여 주시기 바랍니다. <a href='tel:02-6380-7521'>김철수(0263807521)</a></li>
							</ul>
						</div>
						<div class="my-prj-view-wrap">
							<div class="my-prj-view-content">
								<div class="my-prj-inner">
									<div class="my-prj-inner-left">
										<a href="">
											<span href="#" class="thumRnImg">
												<em><img src="https://picdev.freemoa.net/u/11490/-80-80-1" alt="r*****n"></em>
											</span>
											<strong>r*****n</strong>
										</a>
										<div>
											<a href="">계약<strong>22</strong></a>
											<a href="">포트폴리오<strong>3</strong></a>
											<span>분류<strong>개인프리랜서</strong></span>
										</div>
									</div>
									<div class="my-prj-inner-right">
										<dl>
											<dt>최종 견적가</dt><dd>1,000,000원</dd>
										</dl>
										<dl>
											<dt>작업기간</dt><dd>138건</dd>
										</dl>
										<dl>
											<dt>계약 프로젝트</dt><dd>0건</dd>
										</dl>
										<strong>프로젝트 예상 기간</strong>
										<dl>
											<dt>시작일</dt><dd>2022-03-01</dd>
										</dl>
										<dl>
											<dt>종료일</dt><dd>2022-04-31</dd>
										</dl>
									</div>
								</div>
							</div>
							<div class="my-prj-view-right">
								<button type="button" class="disabled alertTxtBtn" data-alert-txt="아직 계약서가 등록되어있지 않습니다.">계약서 작성중</button>
								<button type="button" class="disabled alertTxtBtn" data-alert-txt="설문은 작업 진행 60%일때부터 작성 가능합니다.">중간설문 대기중</button>
								<a href="javascript:void(0)" class="nor-btn projSch disabled">진행 일정 확인(대기)</a>
								<br/><!---->
								<a href="/doc/new/22588/22588.pdf" target="_blank" class="nor-btn red-btn">계약서 다운로드</a>
								<a href="http://www.freemoa.net/survey/evaluation1/a4a402bcf7c8277ea65ff69f4e6dfe97" target="_blank" class="nor-btn blue-btn">중간설문 하기</a>
								<a href="/m5/scheduleView?pno=23058" target="_blank" class="nor-btn projSch">진행 일정 확인</a>
								<button type="button" class="goApplyTabBtn" data-pno="45219">프로젝트 내용 보기</button>
								<a href="#" class="nor-btn orange-btn freemoaEvaluateBtn" data-pno="32971" data-cno="7468" data-alert-txt="평가 완료되었습니다.">프로젝트 평가</a>

								<!------------>
								<a href="#" class="nor-btn disabled alertTxtBtn" data-alert-txt="평가 완료되었습니다.">평가완료 [3.6]</a>
								<!--a href="http://pms.freemoa.net" target="_blank" class="nor-btn ">PMS란?</a-->
							</div>
						</div>
					</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 5</em>진행중</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 6</em>완료</div>
				</div>
				<!--------------->
				<div class="viewByStep cancel">
					<div class="mMprjStep">취소</div>
				</div>
				<!--------------->
			</div>
		</li>
		<!-------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------->
		<li class="on">
			<div class="mPrjList">
				<span>
					<i class="sts">등록</i>
				</span>
				<strong>
					기업정보 사이트 활용 크롤링 프로그램 개발
					<em>1,000,000,000원</em>
				</strong>
				<button><em>상세열기</em><i>상세닫기</i></button>
			</div>
			<!--------------->
			<div class="viewByStep">
				<div class="mMprjStep"><em>STEP 1</em>등록</div>
			</div>
			<!--------------->
			<div class="viewByStep">
				<div class="mMprjStep"><em>STEP 2</em>컨설팅</div>
			</div>
			<!--------------->
			<div class="viewByStep">
				<div class="mMprjStep"><em>STEP 3</em>미팅</div>
			</div>
			<!--------------->
			<div class="viewByStep">
				<div class="mMprjStep"><em>STEP 4</em>계약</div>
			</div>
			<!--------------->
			<div class="viewByStep on">
				<div class="mMprjStep"><em>STEP 5</em>진행중</div>
				<div class="mPrjContents">
					<div class="mprjStep">
						<span><em>STEP 1</em>등록</span>
						<span><em>STEP 2</em>컨설팅</span>
						<span><em>STEP 3</em>미팅</span>
						<span><em>STEP 4</em>계약</span>
						<span class="on"><em>STEP 5</em>진행중</span>
						<span class="end"><em>STEP 6</em>완료</span>
						<strong class="cancel">취소</strong>
					</div>
					<div class="tabContent">
						<div class="project_detail_info">
							<ul>
								<li>초기 상담 내용을 기반으로 컨설턴트가 개발사 매칭을 진행합니다.</li>
								<li>매칭에는 최대 24시간이 소요됩니다. (근무일 기준/ 월~금 오전 10시 ~ 오후 7시, 주말 및 공휴일은 검수 일정이 지연될 수 있습니다.)</li>
								<li>프리모아 이용약관에 위배되거나 불법적인 내용이 있는 경우, 매칭이 진행되지 않을 수 있습니다.</li>
							</ul>
						</div>
						<div class="my-prj-view-wrap">
						</div>
					</div>
				</div>
			</div>
			<!--------------->
			<div class="viewByStep">
				<div class="mMprjStep"><em>STEP 6</em>완료</div>
			</div>
			<!--------------->
			<div class="viewByStep cancel">
				<div class="mMprjStep">취소</div>
			</div>
			<!--------------->
		</li>
		<!-------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------->
		<li class="on">
			<div class="mPrjList">
				<span>
					<i class="sts">등록</i>
				</span>
				<strong>
					기업정보 사이트 활용 크롤링 프로그램 개발
					<em>1,000,000,000원</em>
				</strong>
				<button><em>상세열기</em><i>상세닫기</i></button>
			</div>
			<div class="mPrjContents">
				<div class="mprjStep">
					<span><em>STEP 1</em>등록</span>
					<span><em>STEP 2</em>컨설팅</span>
					<span><em>STEP 3</em>미팅</span>
					<span><em>STEP 4</em>계약</span>
					<span><em>STEP 5</em>진행중</span>
					<span class="end on"><em>STEP 6</em>완료</span>
					<strong class="cancel">취소</strong>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 1</em>등록</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 2</em>컨설팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 3</em>미팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 4</em>계약</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 5</em>진행중</div>
				</div>
				<!--------------->
				<div class="viewByStep on">
					<div class="mMprjStep"><em>STEP 6</em>완료</div>
					<div class="tabContent">
						<div class="project_detail_info">
							<ul>
								<li>초기 상담 내용을 기반으로 컨설턴트가 개발사 매칭을 진행합니다.</li>
								<li>매칭에는 최대 24시간이 소요됩니다. (근무일 기준/ 월~금 오전 10시 ~ 오후 7시, 주말 및 공휴일은 검수 일정이 지연될 수 있습니다.)</li>
								<li>프리모아 이용약관에 위배되거나 불법적인 내용이 있는 경우, 매칭이 진행되지 않을 수 있습니다.</li>
							</ul>
						</div>
						<div class="my-prj-view-wrap">
						</div>
					</div>
				</div>
				<!--------------->
				<div class="viewByStep cancel">
					<div class="mMprjStep">취소</div>
				</div>
				<!--------------->
			</div>
		</li>
		<!-------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------->
		<li class="on">
			<div class="mPrjList">
				<span>
					<i class="sts">등록</i>
				</span>
				<strong>
					기업정보 사이트 활용 크롤링 프로그램 개발
					<em>1,000,000,000원</em>
				</strong>
				<button><em>상세열기</em><i>상세닫기</i></button>
			</div>
			<div class="mPrjContents">
				<div class="mprjStep">
					<span><em>STEP 1</em>등록</span>
					<span><em>STEP 2</em>컨설팅</span>
					<span><em>STEP 3</em>미팅</span>
					<span><em>STEP 4</em>계약</span>
					<span><em>STEP 5</em>진행중</span>
					<span class="end"><em>STEP 6</em>완료</span>
					<strong class="cancel on">취소</strong>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 1</em>등록</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 2</em>컨설팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 3</em>미팅</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 4</em>계약</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 5</em>진행중</div>
				</div>
				<!--------------->
				<div class="viewByStep">
					<div class="mMprjStep"><em>STEP 6</em>완료</div>
				</div>
				<!--------------->
				<div class="viewByStep on">
					<div class="mMprjStep cancel">취소</div>
					<div class="tabContent">
						<div class="mPrjCancel">
							<p>
								프로젝트가 취소되었습니다.<br/>
								프로젝트를 재개 또는 재등록하시려면 <a href='tel:02-6380-7521'>02-6380-7521</a> 로 연락하시기 바랍니다.
							</p>
						</div>
					</div>
				</div>
				<!--------------->
			</div>
		</li>
		<!-------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------->
	</ul>
</div>
<div class="paginate" data-include="include/paginate.html"></div>
