<div class="renewalCon" data-tab="리뷰관리">
	<div class="mypageConFilterTop">
		<ul class="mypageFilter">
			<li class="on"><a href="">리뷰대기</a></li>
			<li><a href="">리뷰완료</a></li>
		</ul>
		<span class="selectSet">
			<select>
				<option value="">기본정렬</option>
				<option value="">최신 등록 순</option>
				<option value="">금액 높은 순</option>
				<option value="">금액 낮은 순</option>
			</select>
		</span>
	</div>
	<div class="mypageContents" data-con="리뷰대기">
		<ul class="mCReviewList">
			<li>
				<input type="hidden">
				<span class="reviewCardTop">
					<span class="completeDate">완료승인 일자<em>2021.09.07</em></span>
					<strong>
						기업정보 사이트 활용 크롤링 프로그램 개발
						<em><i>프로젝트 계약금</i> 1,000,000,000원</em>
					</strong>
				</span>
				<span class="reviewCardBottom">
					<span>
						<span class="listCompay">
							<span class="thumRnImg">
								<em><!-- <img src="../images/sample2.png" alt=""/> --></em>
							</span>
							company 36034
						</span>
						<span class="etc">
							<em class="mng">김철수</em>
						</span>
					</span>
					<span class="btn">
						<button data-modal="makeGrade">파트너 평가하기</button>
						<button data-modal="freemoaMakeGrade">프리모아 평가하기</button>
					</span>
				</span>
				<div class="prjAfterback">
					<div class="commentBack">
						<div class="comment">
							<span class="listClient">
								<span class="thumRnImg">
									<em><!-- <img src="../images/sample2.png" alt=""/> --></em>
								</span>
								Company 36034 <i class="member">Client</i>
							</span>
							<div>
								<p>
									꼼꼼한 기획,감각있는 디자인,출중한 개발실력과 철저히 약속을 지키고, 합리적인 방향 제시와 사업에 도움이 될만한 새로운 제안까지~ 완벽한 기획을 위해 직접 시장조.<br/>
									꼼꼼한 기획,감각있는 디자인,출중한 개발실력과 철저히 약속을 지키고, 합리적인 방향 제시와 사업에 도움이 될만한 새로운 제안까지~ 완벽한 기획을 위해 직접 시장조.
								</p>
								<div class="commentMore"><button>더보기</button></div>
							</div>
						</div>
					</div>
					<div class="starBack">
						<div class="gradeWrap">
							<div class="gradeStarWrap">
								<div class="starRating" data-star="1">
									<div class="starRating_new"><div class="goldStar"><img src="../images/starRatingGold.png"></div></div>
								</div>
								<div class="grade"><b>5.0</b> / 5</div>
							</div>
							<div class="gradeBarWrap">
								<div class="bar"><span>성과만족도</span><div class="barRating" data-point="5.0"><div></div></div><b>5.0</b></div>
								<div class="bar"><span>소통능력</span><div class="barRating" data-point="5.0"><div></div></div><b>5.0</b></div>
								<div class="bar"><span>일정준수</span><div class="barRating" data-point="5.0"><div></div></div><b>5.0</b></div>
								<div class="bar"><span>적극성</span><div class="barRating" data-point="5.0"><div></div></div><b>5.0</b></div>
								<div class="bar"><span>전문성</span><div class="barRating" data-point="5.0"><div></div></div><b>5.0</b></div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<input type="hidden">
				<span class="reviewCardTop">
					<span class="completeDate">완료승인 일자<em>2021.09.07</em></span>
					<strong>
						기업정보 사이트 활용 크롤링 프로그램 개발
						<em><i>프로젝트 계약금</i> 1,000,000,000원</em>
					</strong>
				</span>
				<span class="reviewCardBottom">
					<span>
						<span class="etc">
							<em class="open">공개</em>
							<em class="escrow">에스크로</em>
							<em class="period">29일</em>
						</span>
					</span>
					<span class="btn">
						<button data-modal="makeGrade" disabled>파트너 평가하기</button>
						<button data-modal="freemoaMakeGrade" disabled>프리모아 평가하기</button>
					</span>
				</span>
			</li>
		</ul>
	</div>
</div>
