<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
		<title>FREEMOA</title>
		<!-- <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" /> -->
		<link rel="stylesheet" type="text/css" href="../css/datepicker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/freemoa.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script type="text/javascript" src="../js/i18n/datepicker.kr.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<!-- <div id="wrap"> -->
			<!-- header -->
			<div id="header">
				<!-- <header data-include="include/header.html"></header> -->
				<header>
					<div class="back">
						<h1><a href="main.html">FREEMOA</a></h1>
						<div class="right">
							<div class="globalNav">
								<ul>
									<li><a href=".html">About</a></li>
									<li class="on"><a href=".html">프로젝트</a></li>
									<li><a href=".html">파트너</a></li>
									<li><a href=".html">이용후기</a></li>
									<li><a href=".html">포트폴리오</a></li>
									<li>
										<button>더보기</button>
										<span class="btnGnbMoreSet" style="display:none;">
											<a href="" class="btnGnbMore01">기능정의서 작성하기</a>
											<a href="" class="btnGnbMore02">예상견적 조회하기</a>
											<a href="" class="btnGnbMore03">프리모아 PRO</a>
											<a href="" class="btnGnbMore04">협업툴 프로젝트룸</a>
										</span>
									</li>
								</ul>
							</div>
							<span class="login">
								<a href="login.html">로그인</a>
								<a href="login.html">회원가입</a>
							</span>
							<a href="" class="goRegister">프로젝트 의뢰</a>
							<button class="mobileNav">Mobile Nav</button>
						</div>
					</div>
				</header>
				<!-- Mobile GNB Menu -->
				<div id="mobileGnb">
					<!-- <section data-include="include/mobileGnb.html"></section> -->
					<section>
						<div class="c-menu c-menu--slide-right">
							<!-- <button class="c-close gnbClose">닫기</button> -->
							<div class="back">
								<strong>홍길동 님</strong>
								<ul>
									<li><a href=".html">About</a></li>
									<li class="on"><a href=".html">프로젝트</a></li>
									<li><a href=".html">파트너</a></li>
									<li><a href=".html">이용후기</a></li>
									<li><a href=".html">포트폴리오</a></li>
								  <li><a href="">로그아웃</a></li>
								</ul>
							</div>
						</div>
						<div class="c-mask"></div><!-- /c-mask -->
					</section>
				</div>
				<!-- //Mobile GNB Menu -->
			</div>
			<!-- //header -->
			<hr/>
			<hr/>
			<!-- container -->
			<div id="container">
				<!--------------------------------------------------------------------------------------------------->
				<!--------------------------------------------------------------------------------------------------->
				<section>
					<div class="mathigBanner">
						<div>
							<span><a href="">쉽고 빠르게 <strong>매칭 상담 등록 하기</strong></a></span>
						</div>
					</div>
					<div class="subTit">
						<h2>서브 타이틀 1</h2>
						<div class="mathigBanner mCase">
							<div>
								<span><a href="">쉽고 빠르게 <strong>매칭 상담 등록 하기</strong></a></span>
							</div>
						</div>
						<div class="right"><input type="text" placeholder="검색어 영역" class="listSearch" /></div>
					</div>
					<div class="content">
						<article>
							<!-- page layout -->
							<div>
								파트너, 포트폴리오, 리뷰 Case<br/><br/><br/><br/>
							</div>
							<!-- //page layout -->
						</article>
					</div>
				</section>
				<!--------------------------------------------------------------------------------------------------->
				<!--------------------------------------------------------------------------------------------------->
				<section>
					<div class="content prtDetail">
						<article>
							<!-- page layout -->
							<div class="prtTop">
								<div class="prtLogo"><div>로고</div></div>
								<div class="prtImage"><img src="../images/sample1.png" alt="이미지 혹은 영상"/></div>
							</div>
							<div>
							    <!-- tab -->
					        <div class="tabNav">
											<ul>
													<li class="on"><button class="newTab" data-name="0">기본 정보</button></li>
													<li><button data-name="1">포트폴리오 정보</button></li>
													<li><button data-name="2">프로젝트 정보</button></li>
											</ul>
					        </div>
							    <!--// tab -->
							    <div class="tabLayout">
							        <div class="tabData tData0" style="display:block;">기본 정보</div>
							        <div class="tabData tData1">포트폴리오 정보</div>
							        <div class="tabData tData2">프로젝트 정보</div>
							    </div>
								파트너 상세 Case<br/><br/><br/><br/>
							</div>
							<!-- //page layout -->
						</article>
					</div>
				</section>
				<!--------------------------------------------------------------------------------------------------->
				<!--------------------------------------------------------------------------------------------------->
				<section>
					<div class="subTit">
						<h2>서브 타이틀 2</h2>
					</div>
					<div class="content prjDetail">
						<side>
							<div>필터영역</div>
						</side>
						<article>
							<!-- page layout -->
							<div>
								프로젝트 목록 Case<br/><br/><br/><br/>
							</div>
							<!-- //page layout -->
						</article>
					</div>
				</section>
				<!--------------------------------------------------------------------------------------------------->
				<!--------------------------------------------------------------------------------------------------->
				<section>
					<div class="subTit">
						<h2>서브 타이틀 3</h2>
					</div>
					<div class="content myPage">
						<side>
							<div>내기본정보</div>
						</side>
						<article>
							<!-- page layout -->
							<div>
							    <!-- tab -->
					        <div class="tabNav">
											<ul>
													<li class="on"><button class="newTab" data-name="3">마이홈</button></li>
													<li><button data-name="4">프로젝트 관리</button></li>
													<li><button data-name="5">리뷰관리</button></li>
													<li><button data-name="6">프로필관리</button></li>
													<li><button data-name="7">문서관리</button></li>
													<li><button data-name="8">설정</button></li>
											</ul>
					        </div>
							    <!--// tab -->
							    <div class="tabLayout">
							        <div class="tabData tData3" style="display:block;">마이홈<br/>마이페이지 Case<br/><br/><br/><br/></div>
							        <div class="tabData tData4">프로젝트 관리</div>
							        <div class="tabData tData5">리뷰관리</div>
							        <div class="tabData tData6">프로필관리</div>
							        <div class="tabData tData7">문서관리</div>
							        <div class="tabData tData8">설정</div>
							    </div>
							</div>
							<!-- //page layout -->
						</article>
					</div>
				</section>
				<!--------------------------------------------------------------------------------------------------->
				<!--------------------------------------------------------------------------------------------------->
			</div>
			<!-- //container -->
			<!-- footer -->
			<div id="footer">
				<footer>
					<!-- <div data-include="include/footer.html"></div> -->
					<div class="copyBack">
						<div>
							<span>고객센터: <em>02-6380-7521</em></span>
							<span>프리모아 대표에게 제안 : <em>paul@freemoa.net</em></span>
							<span>월-목 10:00-19:00 / 금 10:00-18:00 * 공휴일 휴무</span>
						</div>
						<p>
							<span>대표 : 한경원</span>
							<span>사업자등록번호 : 113-86-89926</span>
							<em>서울 영등포구 국제금융로 10, TWO IFC 19층</em>
						</p>
					</div>
				</footer>
			</div>
			<!-- //footer -->
		<!-- </div> -->
		<!-- //Wrap -->
	</body>
</html>
