<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-BEST</title>
		<link rel="shortcut icon" href="../../images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bbs.css" />
		<link rel="stylesheet" type="text/css" href="../../css/process.css" />
		<link rel="stylesheet" type="text/css" href="../../css/contract.css" />
		<link rel="stylesheet" type="text/css" href="../../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../../css/customer.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../js/swiper.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="../../js/menu.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>  
		$(document).ready(function(){
            // 2019-03-15 달력형식 변경, 공통으로 사용
            $('.calendarSet button').duDatepicker({
                format: 'yyyy-mm-dd', // Determines the date format
                theme: 'yellow',        // Determines the color theme of the date picker
                readOnly: true,       // Determines if input element is readonly (key input is disabled)
                clearBtn: false,      // Determines if Clear button is displayed
                cancelBtn: true,     // Determines if Cancel button is displayed
                overlayClose: true    // Determines if clicking the overlay will close the date picker
            }).on('datechanged', function(event){
                $(this).prev().val(event.date);
            });
            
            // slide
            $(".custDtlTit button").click(function(){
                var slidBtn = $(this);
                
                if(slidBtn.hasClass("active")){
                    slidBtn.parent().next().slideUp(300, function(){
                        slidBtn.removeClass("active");
                    });
                }else{
                    slidBtn.addClass("active").parent().next().slideDown(300);
                }
            });
            
            // bottom 열기
            $(".btnBottomOpen").click(function(){
                if($(this).hasClass("active")){
                    $(this).removeClass("active");
                    $(".custBottomBtn").css({
                        "transform": "translateY(" + $(".custBottomBtn").outerHeight() + "px)"   
                    });
                }else{
                    $(this).addClass("active");
                    $(".custBottomBtn").css("transform", "translateY(0)");
                }
            });
            
            // PC에서 화면 전환 시 bottom 위치 조정
            $(window).resize(function(){
                if(!$(".btnBottomOpen").hasClass("active")){
                    $(".custBottomBtn").css({
                        "transform": "translateY(" + $(".custBottomBtn").outerHeight() + "px)"   
                    });  
                }
            }).resize();
            
            // 우편번호 검색
            $(".openPop7").click(function(){
				$('.dimPop, #openPop7').show();
			});
			// 2019-04-24 주소Tab 적용
			$(".newABtn").click(function () {
				$(".newAdd").show();
				$(".oldAdd").hide();
			});
			$(".oldABtn").click(function () {
				$(".newAdd").hide();
				$(".oldAdd").show();
			});
			// end 2019-04-24 주소Tab 적용
            
            // 개인정보 수집 동의 미리보기
            $(".termsView").click(function(){
				$('.dimPop, #terms').show();
			});
		});
		</script>
	</head>
	<body class="custColor"> <!-- 법인일 경우 corp 클래스 추가 -->
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap" class="wrapper">
			<!-- GNB : 왼쪽 > 오른쪽 -->
			<button class="gnbClose">GNB 닫기</button>
			<div class="gnbArea slideDefault com-slide-left">
				<div class="gnbScroll">
				</div>
			</div>
			<div id="c-mask" class="c-mask"><!-- GNB Mask --></div>
			<!-- //GNB -->
			<!-- header -->
			<div id="header"> 
				<head>
					<div class="headTop">
						<span class="hBtnLeft">
							<!-- <button class="gnbOpen">GNB 열기</button> -->
							<button class="goPrev" onclick="history.back()">뒤로가기</button>
						</span>
						<h1><img src="../../images/img_topLogo.svg" alt="GROUPE RENAULT" /></h1>
						<span class="hBtnRight">
							<!--<a href="../main.html" class="goMain">메인으로 이동</a>-->
                            <button class="btnDelete"><span>삭제</span></button>
                            <button class="btnSave"><span>저장</span></button>
						</span>
					</div>
					<div class="headSub">
						<h2>고객 조회</h2> <!-- 2019-04-17 타이틀변경 -->
						<div class="right">
							<p class="userInfo"><strong>김르노</strong> 님</p>
							<span class="session cyanCase">
								세션만료 <strong>26분 30초<span><!-- time progress bar --></span></strong>
							</span>
						</div>
					</div>
				</head>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="content">
					<section>
						<div class="customerDetail">
                            <div class="customerDtlHead">
                                <div class="custDtlHdTop">
                                    <button class="btnBY estBtn">견적내기</button>
                                </div>
                                <ul class="cardSummary corp">
                                    <li class="name">
                                        <span>김아영 (여자)</span>
                                    </li>
                                    <li class="phone">
                                        <span>010-1548-4856</span>
                                        <div class="bottom">
                                            <button>Call</button>
                                            <button>SMS</button>
                                        </div>
                                    </li>
                                    <li class="email">
                                        <span>renaultman@naver.com</span>
                                        <div class="bottom">
                                            <button disabled>e-mail</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                                
                            <div class="customerDtlbody">
                                <!-- 법인정보 -->
                                <dl class="customerDtlBox">
                                    <dt class="custDtlTit">
                                        <button class="slideBtn active">법인정보<span class="btnSlideOpen"></span></button>
                                    </dt>
                                    <dd class="custDtlMain">
                                        <div class="gridContainer">
                                            <div class="gridSet grid2">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>사업자명<sup>필수입력</sup></dt>
                                                        <dd class="inMust"><input type="text" /></dd> <!--2019-04-18 필수class추가-->
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>대표자명<sup>필수입력</sup></dt>
                                                        <dd class="inMust"><input type="text" /></dd> <!--2019-04-18 필수class추가-->
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet grid2">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>사업자번호<sup>필수입력</sup></dt>
                                                        <dd class="inMust"><input type="tel" placeholder="_ _ _-_ _-_ _ _ _ _" /></dd> <!--2019-04-18 필수class추가-->
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>창립기념일</dt>
                                                        <dd><div class="calendarSet gray"><input type="tel" id="" name=""><button>달력열기</button></div></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet grid2">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>법인등록번호<sup>필수입력</sup></dt>
                                                        <dd class="inMust"><input type="tel" placeholder="_ _ _ _ _ _ _ - _ _ _ _ _ _ _" /></dd> <!--2019-04-18 필수class추가-->
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>고객분류</dt>
                                                        <dd>
                                                            <span class="selectSet">
                                                                <select>
                                                                    <option>선택</option>
                                                                    <option>소개</option>
                                                                    <option>개척</option>
                                                                    <option>매장활동</option>
                                                                    <option>기타</option>
                                                                </select>
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet grid2">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>업종<sup>필수입력</sup></dt>
                                                        <dd class="inMust"><input type="text" placeholder="업종을 입력해 주세요" /></dd> <!--2019-04-18 필수class추가-->
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>고객확보채널<sup>필수입력</sup></dt>
                                                        <dd class="inMust"> <!--2019-04-18 필수class추가-->
                                                            <span class="selectSet">
                                                                <select>
                                                                    <option>선택</option>
                                                                    <option>소개</option>
                                                                    <option>개척</option>
                                                                    <option>매장활동</option>
                                                                    <option>기타</option>
                                                                </select>
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet grid2">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>업태<sup>필수입력</sup></dt>
                                                        <dd class="inMust"><input type="text" placeholder="업태를 입력해 주세요" /></dd> <!--2019-04-18 필수class추가-->
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>휴대전화</dt>
                                                        <dd>
															<div class="phoneNum">
																<span class="selectSet">
																	<select>
																		<option>010</option>
																		<option>011</option>
																		<option>017</option>
																		<option>018</option>
																		<option>019</option>
																	</select>
																</span>
																<span class="txt">-</span>
																<input type="tel" id="middleNum">
																<span class="txt">-</span>
																<input type="tel" id="lastNum">
															</div>
														</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="listView nonTb">
                                                        <dt>사업장소재지<sup>필수입력</sup></dt><!-- 2019-07-15 필수로 변경 -->
                                                        <dd class="inMust"><!-- 2019-07-15 필수로 변경 -->
                                                            <div class="addrCnt">
                                                                <div class="addrTop">
                                                                    <div class="postNum">
                                                                        <input type="tel" readonly />
                                                                        <button class="btnRBG openPop7">우편번호</button>
                                                                    </div>
                                                                    <div class="addrView">
                                                                        <input type="text" readonly />
                                                                    </div>
                                                                </div>
                                                                <div class="addrDetail">
                                                                    <input type="text" placeholder="상세주소를 입력해주세요" />
                                                                    <button class="btnBG reflesh">새로고침</button>
                                                                </div>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet grid2">
                                                <div class="gridItem">
                                                    <dl class="listView nonTb">
                                                        <dt>e-Mail 1</dt> <!-- 2019-07-15 미필수로 변경 | 2019-05-10 화면상에서만 -->
														<dd> <!-- 2019-07-15 미필수로 변경 | 2019-05-10 화면상에서만 -->
                                                            <div class="emailCnt">
                                                                <input type="email" />
                                                                <span class="txt">@</span>
                                                                <input type="text" />
                                                                <span class="selectSet">
                                                                    <select>
                                                                        <option>선택</option>
                                                                        <option>naver.com</option>
                                                                        <option>gmail.com</option>
                                                                        <option>직접입력</option>
                                                                    </select>
                                                                </span>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="listView nonTb">
                                                        <dt>e-Mail 2</dt>
                                                        <dd>
                                                            <div class="emailCnt">
                                                                <input type="email" />
                                                                <span class="txt">@</span>
                                                                <input type="text" />
                                                                <span class="selectSet">
                                                                    <select>
                                                                        <option>선택</option>
                                                                        <option>naver.com</option>
                                                                        <option>gmail.com</option>
                                                                        <option>직접입력</option>
                                                                    </select>
                                                                </span>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet grid2">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>관리지점</dt>
                                                        <dd><input type="text" /></dd>
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>관리영업담당</dt>
                                                        <dd><input type="text" /></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>고객그룹</dt>
                                                        <dd>
                                                            <div class="inpInnerBtn">
                                                                <input type="text" placeholder="조회하여 선택해주세요" readonly />
                                                                <button class="btnBG">조회</button>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <!-- // 법인정보 -->
                                
                                <!-- 구매정보 -->
                                <dl class="customerDtlBox">
                                    <dt class="custDtlTit type2">
                                        <button class="slideBtn active">구매정보<span class="btnSlideOpen"></span></button>
                                    </dt>
                                    <dd class="custDtlMain">
                                        <div class="gridContainer">
                                            <div class="gridSet grid3">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>구매가능도</dt>
                                                        <dd>
                                                            <span class="selectSet">
                                                                <select>
                                                                    <option>선택해 주세요</option>
                                                                    <option>1개월</option>
                                                                    <option>3개월</option>
                                                                    <option>6개월</option>
                                                                    <option>1년 이내</option>
                                                                    <option>1년 이후</option>
                                                                    <option>접촉종료</option>
                                                                </select>
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt class="nonTxt"></dt>
                                                        <dd>
                                                            <span class="selectSet">
                                                                <select>
                                                                    <option>선택해 주세요</option>
                                                                    <option>SM3</option>
                                                                    <option>SM5</option>
                                                                    <option>SM5 Taxi</option>
                                                                    <option>SM6</option>
                                                                    <option>All New SM7</option>
                                                                    <option>SM7 Lpe</option>
                                                                    <option>QM6</option>
                                                                    <option>QM3</option>
                                                                    <option>SM3 ZW</option>
                                                                    <option>TWIZY</option>
                                                                    <option>CLIO</option>
                                                                    <option>MASTER</option>
                                                                </select>
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>구매예상일</dt>
                                                        <dd><div class="calendarSet gray"><input type="tel" id="" name=""><button>달력열기</button></div></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>접촉종료사유</dt>
                                                        <dd><input type="text" placeholder="내용을 입력해 주세요" /></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>고객특징</dt>
                                                        <dd><input type="text" placeholder="내용을 입력해주세요" /></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <!-- // 구매정보 -->
                                
                                <!-- 법인정보 -->
                                <dl class="customerDtlBox">
                                    <dt class="custDtlTit">
                                        <button class="slideBtn active">법인정보<span class="btnSlideOpen"></span></button>
                                    </dt>
                                    <dd class="custDtlMain">
                                        <div class="gridContainer">
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <div class="table">
                                                        <table class="table01">
                                                            <colgroup>
                                                                <col />
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th>구분</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>RSM<br />출고현황</th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="table02">
                                                            <colgroup>
                                                                <col />
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="4">차량</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>SM7</td>
                                                                    <td>SM5</td>
                                                                    <td>SM3</td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>-</td>
                                                                    <td>-</td>
                                                                    <td>-</td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="table03">
                                                            <colgroup>
                                                                <col />
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>합계</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>-</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <!-- // 법인정보 -->
                                
                                <!-- 관리정보 -->
                                <dl class="customerDtlBox">
                                    <dt class="custDtlTit type2">
                                        <button class="slideBtn active">관리정보<span class="btnSlideOpen"></span></button>
                                    </dt>
                                    <dd class="custDtlMain">
                                        <div class="gridContainer">
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>개인정보수집/이용</dt>
                                                        <dd>
                                                            <span class="ddTxt">
                                                                <span class="radioSet"><input type="radio" id="personalOK" name="personal" checked /><label for="personalOK"><i></i>동의</label></span>
                                                                <span class="radioSet"><input type="radio" id="personalNo" name="personal" /><label for="personalNo"><i></i>거부</label></span>
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="listView">
                                                        <dt>동의서 등록</dt>
                                                        <dd>
                                                            <div class="fileTxtBtn">
                                                                <span>개인정보수집동의서(김아영).pdf</span>
                                                                <button class="btnBG termsView">미리보기</button>
                                                            </div>
                                                            <div class="dotLineTxt">
                                                                <p>마케팅 활용 유효기간: 2020-05-01 (<strong class="txtRD">D-158</strong>)</p>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <!-- // 관리정보 -->
                            </div>
                            
                            <div class="custBottomBtn">
                                <button class="btnBottomOpen"><i></i>열기</button>
                                <ul class="buttonList corp">
                                    <li><button onclick="location.href='relationship.html'" class="relationShip">관계인</button></li>
									<!-- 2019-06-13 버튼변경 -->
                                    <li><button onclick="location.href='sales_active_sales.html'" class="activeSales">영업활동</button></li>  
                                    <li><button onclick="location.href='sales_active_memo_corp.html'" class="activeMemo">접촉이력 및 메모</button></li>
									<!-- //2019-06-13 버튼변경 -->
                                    <li><button onclick="location.href='reserved_vehicle_corp.html'" class="vehicleInfo">보유차량정보</button></li>
                                </ul>
                            </div>
                        </div>
					</section>
                    <button class="pageTop list">TOP</button>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //wrap -->
        
        <!-- DimPopUp -->
		<div class="dimPop" style="display:none">            
			<!-- 우편번호 찾기 -->
			<div class="popLGCase zipPop" id="openPop7" style="display:none">
				<button class="close">닫기</button>
				<div class="tt">
					<h1>우편번호 찾기</h1>
				</div>
				<div class="popBack">
					<div class="popScrollArea">
						<div class="popTab">
							<span class="newABtn on">도로 명</span>
							<span class="oldABtn">지번주소</span><!--2019-04-24 지번용 버튼명 변경 --><!--2019-04-24 지번용 버튼명 변경 -->
						</div>
						<div class="newAdd"><!--2019-04-24 도로명용 div 추가 -->
							<div class="inputInfo">
								<dl>
									<dt>새주소(도로명 주소) 찾기</dt>
									<dd>
										도로명과 건물번호를 입력 후 검색하세요.<br/>
										예) 찾고자 하는 주소 : 강원 강릉시 임영로 197
											<span>도로명+건물번호 → ‘임영로 197’로 검색</span>
									</dd>
								</dl>
								<p>도로명과 주소가 검색되지 않는 경우는 행정안전부 새주소 안내시스템 (http://www.juso.go.kr)에서 확인하시기 바랍니다.</p>
							</div>
							<div class="popSearch">
								<div>
									<dl>
										<dt>시 도</dt>
										<dd>
											<span class="selectSet w15">
												<select>
													<option>선택</option>
													<option>서울시</option>
												</select>
											</span> <!-- 2019-04-17 select 스크립트 삭제 -->
										</dd>
									</dl>
									<dl>
										<dt>시군구</dt>
										<dd>
											<span class="selectSet w15">
												<select>
													<option>선택</option>
													<option>마포구</option>
												</select>
											</span> <!-- 2019-04-17 select 스크립트 삭제 -->
										</dd>
									</dl>
									<span class="inputArea">
										<dl>
											<dt>도로명</dt>
											<dd><input type="text" /></dd>
										</dl>
										<dl>
											<dt>건물명</dt>
											<dd><input type="text" /></dd>
										</dl>
									</span>
									<button class="btnBY">조회</button>
								</div>
							</div>
						</div><!--//2019-04-24 도로명용 div 추가 -->
						<!--2019-04-24 지번용 추가 -->
						<div class="oldAdd" style="display:none;">
							<div class="inputInfo">
								<dl>
									<dt>지번주소로 도로명주소 찾기</dt>
									<dd>지번주소를 차례대로 고르세요<br/>지번 주소에 해당하는 도로명 주소를 표시해줍니다</dd>
								</dl>
							</div>
							<div class="popSearch">
								<div>
									<dl>
										<dt>시 도</dt>
										<dd>
											<span class="selectSet w15">
												<select>
													<option>선택</option>
													<option>서울시</option>
												</select>
											</span>
										</dd>
									</dl>
									<dl>
										<dt>시군구</dt>
										<dd>
											<span class="selectSet w15">
												<select>
													<option>선택</option>
													<option>마포구</option>
												</select>
											</span>
										</dd>
									</dl>
									<span class="inputArea">
										<dl>
											<dt>동면읍</dt>
											<dd>
												<span class="selectSet w15">
													<select>
														<option>선택</option>
														<option>마포구</option>
													</select>
												</span>
											</dd>
										</dl>
										<dl>
											<dt>번지입력</dt>
											<dd class="last">
												<input type="text" /><em>-</em>
												<input type="text" />
											</dd>
										</dl>
									</span>
									<button class="btnBY">조회</button>
								</div>
							</div>
						</div>
						<!--//2019-04-24 지번용 추가 -->
						<div class="poplist">
							<table>
								<tbody>
									<!-- Loop -->
									<tr>
										<th><strong>13480</strong></th>
										<td class="tEllipsis">
											<div><span>도로명</span><p>경기 성남시 분당구 서판교로 32</p></div><!--2019-05-06 주소영역 p 추가 -->
											<div><span>지번</span><p>경기 성남시 분당구 판교동 577-3</p></div>
										</td>
									</tr>
									<!-- //Loop -->
									<tr class="on">
										<th><strong>13480</strong></th>
										<td class="tEllipsis">
											<div><span>도로명</span><p>경기 성남시 분당구 서판교로 32</p></div><!--2019-05-06 주소영역 p 추가 -->
											<div><span>지번</span><p>경기 성남시 분당구 판교동 577-3</p></div>
										</td>
									</tr>
									<tr>
										<th><strong>13480</strong></th>
										<td class="tEllipsis">
											<div><span>도로명</span><p>경기 성남시 분당구 서판교로 32</p></div><!--2019-05-06 주소영역 p 추가 -->
											<div><span>지번</span><p>경기 성남시 분당구 판교동 577-3</p></div>
										</td>
									</tr>
									<tr>
										<th><strong>13480</strong></th>
										<td class="tEllipsis">
											<div><span>도로명</span><p>경기 성남시 분당구 서판교로 32</p></div><!--2019-05-06 주소영역 p 추가 -->
											<div><span>지번</span><p>경기 성남시 분당구 판교동 577-3</p></div>
										</td>
									</tr>
									<tr>
										<td colspan="2" class="listNone">
											<span class="sIcon">조회 결과가 존재하지 않습니다.</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- //우편번호 찾기 -->
            
            <!-- 개인정보 수집 동의 미리보기 -->
            <div class="popLGCase termsPop" id="terms" style="display:none">
				<button class="close">닫기</button>
				<div class="popBack">
					<div class="popScrollArea">
                        <img src="../../images/img_terms.jpg" alt="개인정보 수집 동의서" />
                    </div>
				</div>
			</div>
            <!-- // 개인정보 수집 동의 미리보기 -->
            
            <!-- 뒤로버튼 클릭 시 -->
            <div id="customerBack" class="popSMCase hAuto" style="display:none;">
                <div class="alertCnt">
                    <h1 class="tit">현재화면에서 나가시겠습니까?</h1>
                    <div class="cntTxt">
                        현재 화면에 입력된 정보를 저장한 후 목록으로 이동합니다.
                    </div>
                </div>
				<div class="btn mt15">
                    <button class="btnLB">아니오</button>
					<button class="btnBY">예</button>
				</div>
			</div>
            <!-- // 뒤로버튼 클릭 시 -->
            
            <!-- 삭제버튼 클릭 시 -->
            <div id="customerDel" class="popSMCase alertPop large hAuto" style="display:none;">
                <div class="alertCnt">
                    <h1 class="tit">고객정보를 삭제하시겠습니까?</h1>
                    <div class="cntTxt">
                        한번 삭제된 정보는 복구할 수 없습니다.<br />고객정보를 삭제하시겠습니까?
                    </div>
                </div>
				<div class="btn mt15">
                    <button class="btnLB">아니오</button>
					<button class="btnBY">예</button>
				</div>
			</div>
            <!-- // 삭제버튼 클릭 시 -->
            
            <!-- 저장 클릭 시 - 필수입력사항 확인 -->
            <div id="requiredPop" class="popSMCase requiredPop hAuto" style="display: none;">
                <div class="alertCnt noBtn">
                    <h1 class="requiredHead">필수입력사항 확인</h1>
                    <div class="cntTxt">
                        OOO이 입력되지 않았습니다.<br />OOO를 입력하는 화면으로 이동합니다.
                    </div>
                </div>
			</div>
            <!-- // 저장 클릭 시 - 필수입력사항 확인 -->
            
            <!-- 저장 클릭 시 - 저장중 -->
            <div id="savingNow" class="saveLayer" style="display: none;">
				<div class="loading move"></div>
                <div class="loadingTxt">
                    <span>저장중</span>
                    <span class="loadingDot01"></span>
                    <span class="loadingDot02"></span>
                    <span class="loadingDot03"></span>
                </div>
			</div>
            <!-- // 저장 클릭 시 - 저장중 -->
            
            <!-- 저장 클릭 시 - 저장완료 -->
            <div id="savingComplete" class="saveLayer" style="display: none;">
				<div class="loading complete"></div>
                <div class="loadingTxt complete">
                    <span>저장중</span>
                    <span class="loadingDot01"></span>
                    <span class="loadingDot02"></span>
                    <span class="loadingDot03"></span>
                    <span class="resultTxt">저장완료</span>
                </div>
			</div>
            <!-- // 저장 클릭 시 - 저장완료 -->
            
            <!-- 저장 클릭 시 - 저장실패 -->
            <div id="savingFail" class="saveLayer" style="display: none;">
				<div class="loading fail"></div>
                <div class="loadingTxt fail">
                    <span>저장중</span>
                    <span class="loadingDot01"></span>
                    <span class="loadingDot02"></span>
                    <span class="loadingDot03"></span>
                    <span class="resultTxt">저장실패</span>
                    <p>네트워크 연결상태를 확인해주세요.</p>
                </div>
			</div>
            <!-- // 저장 클릭 시 - 저장실패 -->
        </div>
        <!-- // DimPopUp -->
	</body>
</html>