<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-BEST</title>
		<link rel="shortcut icon" href="../../images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mdtimepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bbs.css" />
		<link rel="stylesheet" type="text/css" href="../../css/process.css" />
		<link rel="stylesheet" type="text/css" href="../../css/contract.css" />
		<link rel="stylesheet" type="text/css" href="../../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../../css/customer.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../js/swiper.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="../../js/menu.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/mdtimepicker.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>  
		$(document).ready(function(){            
			// 2019-03-15 달력형식 변경, 공통으로 사용
            $('.calendarSet button').duDatepicker({
                format: 'yyyy-mm-dd', // Determines the date format
                theme: 'yellow',        // Determines the color theme of the date picker
				readOnly: true,       // Determines if input element is readonly (key input is disabled)
				clearBtn: false,      // Determines if Clear button is displayed
				cancelBtn: true,     // Determines if Cancel button is displayed
				overlayClose: true    // Determines if clicking the overlay will close the date picker
			}).on('datechanged', function(event){
                $(this).prev().val(event.date);
            });

			// 2019-06-18 시간선택
            $('.clockSet button').mdtimepicker({
                timeFormat: 'hh:mm', // format of the time value (data-time attribute)
				format: 'hh:mm',    // format of the input value
				theme: 'yellow',        // theme of the timepicker
				readOnly: true,       // determines if input is readonly
				clearBtn: false,      // Determines if Clear button is displayed
				cancelBtn: true,     // Determines if Cancel button is displayed
				hourPadding: false    // determines if display value has zero padding for hour value less than 10 (i.e. 05:30 PM); 24-hour format has padding by default
			}).on('timechanged', function(event){
                $(this).prev().val(event.time);
            });
            
            // 헤더 컨텐츠 고정 값만큼 컨텐츠에 padding-top 설정, 목록은 모두 공통 <!--2019-03-15--->
            $(window).resize(function(){
                $(".postList").css({
                    "padding-top" : $(".headFixed").height()
                });
            }).resize();
            
            // 스크롤 영역 외 높이
            var nonSclHeight = $("#header").height() + $(".searchField").outerHeight(true) + $(".dtTopBtn").outerHeight(true) + $(".custDtlTbHead").outerHeight(true) + 20;
            
            // 테이블 스크롤 - 모바일이 아닐때는 스크롤 적용 안함
            if(window.matchMedia("(max-width:420px), (orientation : landscape) and (max-width:820px)").matches){
                // 2019-04-17 스크롤 plugin 삭제 $(".custDtlTbBody").mCustomScrollbar("destroy");
            }else{
                /* 2019-04-17 스크롤 plugin 삭제 $(".custDtlTbBody").css({
                    "height" : $(window).height() - nonSclHeight
                }).mCustomScrollbar({
                    axis:"yx",
                    theme:"dark",
                    contentTouchScroll:true
                }); */
				$(".custDtlTbBody").css({"height" : $(window).height() - nonSclHeight});
            }
            
            // mobile 한정 - 검색영역 확장 버튼
            $(".btnSchOpen").click(function(){
                if($(this).hasClass("active")){
                    $(this).removeClass("active");
                    $(this).parent(".searchField").removeClass("on");
                    $(".custDtlTbBody").css({
                        "height" : $(window).height() - ($("#header").height() + $(".searchField").outerHeight(true) + $(".dtTopBtn").outerHeight(true) + $(".custDtlTbHead").outerHeight(true) + 20)
                    });
                }else{
                    $(this).addClass("active");
                    $(this).parent(".searchField").addClass("on");
                    $(".custDtlTbBody").css({
                        "height" : $(window).height() - ($("#header").height() + $(".searchField").outerHeight(true) + $(".dtTopBtn").outerHeight(true) + $(".custDtlTbHead").outerHeight(true) + 20)
                    });
                }
            });
            
            // bottom PopUp
            function bottomPop(id, index) {
                $(".subDtlBox").css({
                    "transform" : "translateY(800px)"
                });
                $(id).css({
                    "transform" : "translateY(0)"
                });
                
                if(window.matchMedia("(max-width:420px), (orientation : landscape) and (max-width:820px)").matches){ // 모바일일때 dim show
                    $("body").append("<div class='subDtlBoxDim'></div>");
                }else{
                    $(".custDtlTbBody").css({ // 그 외 팝업 크기에 맞춰 테이블 높이 조정
                        "height" : ($(window).height() - ($(id).outerHeight(true) + nonSclHeight + 20))
                    });
                }
                
                if(index == 1){ // 예외처리
                    /* 2019-04-17 스크롤 plugin 삭제 $(id).find(".subDtlBoxBody").mCustomScrollbar({
                        axis:"yx",
                        theme:"dark",
                        contentTouchScroll:true
                    }); */
                }else{ // 팝업높이 보다 컨텐츠 내용이 길 경우 스크롤 생성
                    if($(id).find(".subDtlMain").height() > $(id).find(".subDtlBoxBody").height()){
                        /* 2019-04-17 스크롤 plugin 삭제 $(id).find(".subDtlBoxBody").mCustomScrollbar({
                            axis:"yx",
                            theme:"dark",
                            contentTouchScroll:true
                        }); */
                    }   
                }
            }
            
            // 결과, 계획보기
            $(".activeDefault").click(function(){
                bottomPop("#activeDefaultView", 1);
            });
            
            // 메모보기
            $(".activeMemo").click(function(){
                bottomPop("#activeMemoView");
            });
            
            // MegaD 보기
            $(".activeMegaD").click(function(){
                bottomPop("#activeMegaDView");
            });
            
            // 계획입력
            $(".planInsert").click(function(){
                bottomPop("#activePlanInsert");
            });
            
            // 결과입력
            $(".resultInsert").click(function(){
                bottomPop("#activeResultInsert");
            });
            
            // 메모입력
            $(".memoInsert").click(function(){
                bottomPop("#activeMemoInsert");
            });
            
            // 닫기
            $(".boxClose").click(function(){
                $(this).parent(".subDtlBox").css({
                    "transform" : "translateY(800px)"
                });
                $(".custDtlTbBody").css({
                    "height" : $(window).height() - nonSclHeight
                });
                $(".subDtlBoxDim").remove();
            });
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap" class="wrapper">
			<!-- GNB : 왼쪽 > 오른쪽 -->
			<button class="gnbClose">GNB 닫기</button>
			<div class="gnbArea slideDefault com-slide-left">
				<div class="gnbScroll">
				</div>
			</div>
			<div id="c-mask" class="c-mask"><!-- GNB Mask --></div>
			<!-- //GNB -->
			<!-- header -->
			<div id="header"> 
				<head>
					<div class="headTop">
						<span class="hBtnLeft">
							<!--<button class="gnbOpen">GNB 열기</button>-->
							<button class="goPrev" onclick="history.back()">뒤로가기</button>
						</span>
						<h1><img src="../../images/img_topLogo.svg" alt="GROUPE RENAULT" /></h1>
						<span class="hBtnRight">
							<a href="../main.html" class="goMain">메인으로 이동</a>
						</span>
					</div>
					<div class="headSub">
						<!-- <h2>1Depth title</h2> -->
						<h2 class="sCase"><span>고객 조회 &gt; </span>접촉이력 및 메모</h2> <!-- 2019-06-13 타이틀변경 -->
						<div class="right">
							<p class="userInfo"><strong>김르노</strong> 님</p>
							<span class="session cyanCase">
								세션만료 <strong>26분 30초<span><!-- time progress bar --></span></strong>
							</span>
						</div>
					</div>
				</head>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="content">
					<section>
						<div class="custDetail postList">
                            <!-- fixed -->
                            <div class="headFixed">
                                <!-- 검색 -->
                                <div class="searchField on">
                                    <ul class="sltCalBtn">
                                        <li>
                                            <span class="selectSet">
                                                <select>
                                                    <option>접촉구분</option>
                                                    <option>개인</option>
                                                    <option>법인</option>
                                                </select>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="selectSet">
                                                <select>
                                                    <option >접촉채널</option>
                                                    <option>개인</option>
                                                    <option>법인</option>
                                                </select>
                                            </span>
                                        </li>
                                        <li>
                                            <ul class="calGrp">
                                                <li>
                                                    <div class="calendarSet"><input type="tel" id="" name="" /><button>달력열기</button></div><!--2019-03-15--->
                                                </li>
                                                <li>
                                                    <div class="calendarSet"><input type="tel" id="" name="" /><button>달력열기</button></div><!--2019-03-15--->
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <button class="btnBY">조회</button>
                                </div>
                                <!-- // 검색 -->
                                <div class="dtTopBtn third">
                                    <!-- 2019-06-13 삭제 : 화면분리 <button class="btnCYN active01 planInsert">계획입력</button>
                                    <button class="btnCYN active02 resultInsert">결과입력</button> -->
                                    <button class="btnCYN active03 memoInsert">메모등록</button>
                                </div>
                            </div>
                            
                            <div class="postListBody">
                                <div class="custDtlTbScroll">
                                    <!-- table header -->
                                    <div class="custDtlTbHead tablet">
                                        <ul class="customerList tbHead">
                                            <li>
                                                <span class="numbering">No</span>
                                                <span class="actDate">접촉일자<button class=sort><i></i>정렬</button></span>
                                                <span class="actSubject">접촉구분</span>
                                                <span class="actType">활동구분</span>
                                                <span class="actMain">접촉제목</span>
                                                <span class="actChannel">접촉채널</span>
                                                <span class="actContact">담당자</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- // table header -->

                                    <!-- table list -->
                                    <div class="custDtlTbBody memo">
                                        <ul class="customerList tbBody">
                                            <li class="activeMemo"><!-- 활동 : 메모 -->
                                                <span class="numbering">1</span>
                                                <span class="actDate">2012-12-15</span>
                                                <span class="actSubject">내 접촉이력</span>
                                                <span class="actType">메모<span class="mTxt">/</span></span>
                                                <span class="actMain">CLIO 견적작성 희망사항 파악</span>
                                                <span class="actChannel"><span class="mTxt">활동(접촉)채널 : </span>메모</span>
                                                <span class="actContact"><span class="mTxt">담당자 : </span>황자연</span>
                                            </li>
                                            <li class="activeMegaD"><!-- 활동 : megaD -->
                                                <span class="numbering">2</span>
                                                <span class="actDate">2012-12-15</span>
                                                <span class="actSubject">MegaD</span>
                                                <span class="actType">-<span class="mTxt">/</span></span>
                                                <span class="actMain">[사업소콜-성수] 작업자 연결요청</span>
                                                <span class="actChannel"><span class="mTxt">활동(접촉)채널 : </span>엔젤인바운드</span>
                                                <span class="actContact"><span class="mTxt">담당자 : </span>홍길동</span>
                                            </li>
                                            <li class="activeMemo"><!-- 활동 : 메모 -->
                                                <span class="numbering">1</span>
                                                <span class="actDate">2012-12-15</span>
                                                <span class="actSubject">내 접촉이력</span>
                                                <span class="actType">메모<span class="mTxt">/</span></span>
                                                <span class="actMain">CLIO 견적작성 희망사항 파악</span>
                                                <span class="actChannel"><span class="mTxt">활동(접촉)채널 : </span>메모</span>
                                                <span class="actContact"><span class="mTxt">담당자 : </span>황자연</span>
                                            </li>
                                            <li class="activeMegaD"><!-- 활동 : megaD -->
                                                <span class="numbering">2</span>
                                                <span class="actDate">2012-12-15</span>
                                                <span class="actSubject">MegaD</span>
                                                <span class="actType">-<span class="mTxt">/</span></span>
                                                <span class="actMain">[사업소콜-성수] 작업자 연결요청</span>
                                                <span class="actChannel"><span class="mTxt">활동(접촉)채널 : </span>엔젤인바운드</span>
                                                <span class="actContact"><span class="mTxt">담당자 : </span>홍길동</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- // table list -->
                                </div>
                            </div>
                            <!-- MegaD 접촉이력(리스트 목록에서 선택 시) -->
                            <div id="activeMegaDView" class="subDtlBox">
                                <button class="boxClose">닫기</button>
                                <h2 class="sdBoxTit">접촉이력 및 메모</h2><!-- 2019-06-13 타이틀변경 -->
                                <div class="subDtlBoxBody">
                                    <div class="subDtlMain">
                                        <div class="sdMainHead">
                                            <h3 class="sdMainTit"><i class="iMegaDMemo"></i>MegaD 접촉이력</h3>
                                        </div>
                                        <div class="gridContainer tbType">
                                            <div class="gridSet grid3">
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>활동일자</dt>
                                                        <dd>2018-11-27</dd>
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>활동채널</dt>
                                                        <dd>엔젤인바운드</dd>
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>고객명</dt>
                                                        <dd>김아영</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>제목</dt>
                                                        <dd>
                                                            <span class="ddTxt">
                                                            [사업소콜-성수] 작업자 연결요청
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>설문</dt>
                                                        <dd>
                                                            <span class="ddTxt">
                                                                전화통화 완료
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>설문내용</dt>
                                                        <dd>
                                                            <span class="ddTxt">
                                                                설문(조사성공: 00점)<br />최종시도연락처: 01078784584
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>설문결과</dt>
                                                        <dd>
                                                            <span class="ddTxt">
                                                                계약번호 : 6001085858(magic : )
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // MegaD 접촉이력(리스트 목록에서 선택 시) -->
                            
                            <!-- 메모(리스트 목록에서 선택 시) -->
                            <div id="activeMemoView" class="subDtlBox">
                                <button class="boxClose">닫기</button>
                                <h2 class="sdBoxTit">접촉이력 및 메모</h2><!-- 2019-06-13 타이틀변경 -->
                                <div class="subDtlBoxBody">
                                    <div class="subDtlMain">
                                        <div class="sdMainHead">
                                            <h3 class="sdMainTit"><i class="iMemo"></i>메모</h3>
                                            <div class="sdBtnRight">
                                                <button class="btnLB">삭제</button>
                                                <button class="btnBY">저장</button>
                                            </div>
                                        </div>
                                        <div class="gridContainer listViewCase"> <!-- 2019-06-14 목록에서 선택 시 class 변경 -->
                                            <div class="gridSet grid2">
                                                <div class="gridItem">
                                                    <dl class="tbView"> <!-- 2019-06-14 목록에서 선택 시 class 변경 (이하 동일) -->
                                                        <dt>고객명</dt>
                                                        <dd>
                                                            <span class="ddTxt">
                                                                김아영
                                                            </span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>메모일자<sup>필수입력</sup></dt>
                                                        <dd class="inMust"> <!--2019-04-18 필수class추가-->
                                                            <div class="calClockSet">
                                                                <div class="calendarSet gray"><input type="tel" id="" name=""><button>달력열기</button></div>
                                                                <div class="clockSet"><input type="tel" id="" name="" placeholder="- - : - -"><button>시계열기</button></div>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>메모내용</dt>
                                                        <dd><textarea id="" name=""></textarea></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // 메모(리스트 목록에서 선택 시) -->
                            
                            <!-- 메모입력 -->
                            <div id="activeMemoInsert" class="subDtlBox">
                                <button class="boxClose">닫기</button>
                               <h2 class="sdBoxTit">접촉이력 및 메모</h2><!-- 2019-06-13 타이틀변경 -->
                                <div class="subDtlBoxBody">
                                    <div class="subDtlMain">
                                        <div class="sdMainHead">
                                            <h3 class="sdMainTit"><i class="iMemo"></i>메모입력</h3>
                                            <div class="sdBtnRight">
                                                <button class="btnBG reflesh">새로고침</button>
                                                <button class="btnBY">저장</button>
                                            </div>
                                        </div>
                                        <div class="gridContainer tbType">
                                            <div class="gridSet grid2">
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>고객명</dt>
                                                        <dd>
                                                            김아영
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>메모일자<sup>필수입력</sup></dt>
                                                        <dd class="inMust"> <!--2019-04-18 필수class추가-->
                                                            <div class="calClockSet">
                                                                <div class="calendarSet gray"><input type="tel" id="" name=""><button>달력열기</button></div>
                                                                <div class="clockSet"><input type="tel" id="" name="" placeholder="- - : - -"><button>시계열기</button></div>
                                                            </div>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="gridSet">
                                                <div class="gridItem">
                                                    <dl class="tbView">
                                                        <dt>메모내용</dt>
                                                        <dd><textarea id="" name=""></textarea></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- // 메모입력 -->
                        </div>  
					</section>
                    <button class="pageTop list">TOP</button>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //wrap -->
	</body>
</html>