/*===================================================================
* INFORMATION
* -------------------------------------------------------------------
* @Author : Cho, lexy (lexycho@gmail.com)
* @File Name: Common.css
* @Create Date: 2022-09-15
* @Last Update Date: N/A
* @History: N/A
* ====================================================================*/
/* ====================== */
/* UI Reset */
/* ====================== */
/* case */
/* ===== Default ===== */
hr, caption {display:none;}
dl,ul,ol,menu,li {list-style:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,label,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;box-sizing:border-box;}
body, * {font-family:'Spoqa Han Sans Neo', '맑은 고딕', sans-serif;font-size:14px;color:#090A0B;box-sizing:border-box;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;word-break:keep-all;-webkit-appearance:none;-webkit-border-radius:0;}
html, body {-webkit-margin-start:0;-webkit-padding-start:0px;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
/* body {min-width:1200px;} */
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";content:none;}
a {text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0.0);}
a img {border:none;}
address, caption, cite, code, dfn, em, th, var, i {font-style:normal;font-weight:normal;}
a, button, input, textarea, select {-webkit-tap-highlight-color:transparent;}
a, button, input:focus, select:focus, textarea:focus {outline:0 none;}
.skip-navigation a {display:block;height:0;width:0;padding:0;font-size:0;line-height:0;overflow:hidden;}
.skip-navigation a:hover,.skip-navigation a:active,.skip-navigation a:focus {position:fixed;top:0;left:0;width:100%;height:auto;padding:8px 0 12px;font-weight:bold;font-size:14px;color:#fff;line-height:1;text-align:center;background:black;}
/* ===== Interval ===== */
/* align */
.left {float:left !important;}
.right {float:right !important;}
.tL {text-align:left !important;}
.tR {text-align:right !important;}
.tC {text-align:center !important;}
/* space */
/* .pd0 {padding:0;}
.mg0 {margin:0;}
.pd1 {padding:14px;}
.ptb1 {padding:14px 0;}
.pt1 {padding-top:14px;}
.pt2 {padding-top:28px;}
.pt5px {padding-top:5px;}
.pr1 {padding-right:14px;}
.pb1 {padding-bottom:14px;}
.mt1 {margin-top:14px;}
.ml1 {margin-left:14px;}
.mt5px {margin-top:5px;}
.mb5px {margin-bottom:5px;}
.ml14 {margin-left:14px;}
.ml5 {margin-left:5px;} */
/* width */
/* .w30p {width:30% !important;}
.w90p {width:90% !important;}
.wHalf {width:50% !important;}
.wFull {width:100% !important;}
.wAuto {width:auto !important;}
.w80 {width:80px;}
.w100 {width:100px;}
.w150 {width:150px;}
.w200 {width:200px;}
.w214 {width:214px !important;} */
/* height */
/* .h114 {height:114px;}
.h20 {height:20rem;}
.h30 {height:30rem;}
.orangeTxt {color:#fb7b1f !important;}
.blueTxt {color:#0569f1 !important;} */
/* ===== Components ===== */
/* radio */
.radioSet {position:relative;display:inline-block;text-align:left;margin-right:5px;}
.radioSet input {position:absolute;opacity:0;left:0;top:0;width:100%;height:100%;border:none;background:transparent;z-index:10;}
.radioSet label {display:inline-block;}
.radioSet label i {position:relative;display:inline-block;margin:-3px 3px 0 0;width:20px;height:20px;vertical-align:middle;border:0;border-radius:100%;box-sizing:border-box;background:#eee;}
.radioSet input:checked + label i {background:#ffc80e;}
.radioSet input:checked + label i:before {content: '';position:absolute;top:5px;left:5px;width:10px;height:10px;border-radius:100%;background:#fff;}
.radioSet input:disabled + label i {background:#f8f8f8;}
.radioSet input:checked:disabled + label i {background:#f3e2ab;}
.radioSet input:checked:disabled + label i:before {background:#fff;}
.radioSet.noLabel {margin-right:0;}
/* checkBox */
.checkSet {position:relative;display:inline-block;text-align:left;margin-right:6px;}
.checkSet input {position:absolute;opacity:0;left:0;top:0;width:100%;height:100%;border:none;background:transparent;z-index:10;}
.checkSet label {color:#090A0B}
.checkSet label:before {content:'';position:relative;display:inline-block;margin:0 5px 0 0;width:16px;height:16px;border-radius:3px;vertical-align:top;border:1px solid #C4C6CD;background:#fff;}
.checkSet input:checked + label::before {border-color:#263A92;background:url("../images/ic_check_on.svg") no-repeat center;background-size:120%}
.checkSet input:disabled + label {opacity:0.5}
/* .checkSet input:disabled + label i {background:#f8f8f8;}
.checkSet input:checked:disabled + label i {background:#f3e2ab;}
.checkSet input:checked:disabled + label i:before {border-color:#fff;}
.checkSet.noLabel {margin-right:0;}
.checkSet.noLabel i {margin-right:0;} */
/* toggle Button */
/* .toggleSet {display:inline-block;position:relative;vertical-align:middle;}
.toggleSet input[type="checkbox"] {display:block;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
.toggleSet label {position:relative;display:block;width:44px;height:24px;border-radius:24px;border:1px solid #ffc80e;background:#ffc80e;}
.toggleSet label:after {position:absolute;right:20px;top:50%;content:"";display:block;width:22px;height:22px;margin-top:-11px;box-sizing:border-box;border-radius:50%;background:#fff;transition:all .3s ease;}
.toggleSet input[type="checkbox"]:checked + label:after {right:0;}
.toggleSet input[type="checkbox"]:disabled + label {border-color:#f3e2ab;background:#f3e2ab;} */
/* labelToggle Button */
/* .labelToggleSet {display:inline-block;position:relative;vertical-align:middle;}
.labelToggleSet input[type="checkbox"] {display:block;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;}
.labelToggleSet label {position:relative;display:block;width:74px;height:28px;border-radius:20px;border:1px solid #d1d1d3;background:#fff;}
.labelToggleSet label:after {position:absolute;right:20px;top:50%;content:"";display:block;width:14px;height:14px;right:52px;margin-top:-7px;box-sizing:border-box;border-radius:50%;background:#ddd;transition:all .3s ease;}
.labelToggleSet label span {display:block;padding:7.5px 7px;line-height:1;color:#333;font-size:0.92rem;text-align:center;}
.labelToggleSet label span:first-child {padding-left:24px;}
.labelToggleSet label span:last-child {display:none;padding-right:24px;}
.labelToggleSet input[type="checkbox"]:checked + label {background:#fff;}
.labelToggleSet input[type="checkbox"]:checked + label:after {right:6px;background:#f3e2ab;}
.labelToggleSet input[type="checkbox"]:checked + label span:first-child {display:none;}
.labelToggleSet input[type="checkbox"]:checked + label span:last-child {display:block;}
.labelToggleSet input[type="checkbox"]:disabled + label:after {background:#ddd;}
.labelToggleSet input[type="checkbox"]:checked:disabled + label:after {background:#f3e2ab;} */
/* input */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="search"],
textarea {padding:0 12px;/*width:100%;*/height:44px;vertical-align:middle;border:1px solid #C4C6CD;color:#090A0B;border-radius:6px;background:#fff;box-sizing:border-box;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:0 none;}
::-webkit-input-placeholder {text-indent:3px;color:#A3A5AE;text-align:left;} /* WebKit browsers */
:-moz-placeholder {text-indent:3px;color:#A3A5AE;opacity:1;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {text-indent:3px;color:#A3A5AE;opacity:1;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder {text-indent:3px;color:#A3A5AE !important;opacity:1;}/* Internet Explorer 10+ */
textarea {height:auto;padding:8px;resize:none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance:none;margin:0;}
input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
textarea:disabled {background:#f8f8f8;}
input[type="text"]:read-only,
input[type="tel"]:read-only,
input[type="email"]:read-only,
input[type="number"]:read-only,
input[type="date"]:read-only,
input[type="password"]:read-only,
input[type="search"]:read-only,
textarea:read-only {background:#f8f8f8;}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {border-color:#263A92;box-shadow:0 0 0 2px rgba(77, 93, 166, 0.2)}
input[type="text"]:read-only:focus,
input[type="tel"]:read-only:focus,
input[type="email"]:read-only:focus,
input[type="number"]:read-only:focus,
input[type="date"]:read-only:focus,
input[type="password"]:read-only:focus,
input[type="search"]:read-only:focus,
textarea:read-only:focus {border:1px solid #f8f8f8;}
/* calendar */
input.cal {width:170px !important;padding-left:40px;background:#f8f8f8 url("../images/ic_calendar.svg") no-repeat 9px center;}
input.cal:focus {background:#fff url("../images/ic_calendar.svg") no-repeat 9px center;}
input.multyCal {width:210px !important;padding-left:40px;background:#f8f8f8 url("../images/ic_calendar.svg") no-repeat 9px center;}
input.multyCal:focus {background:#fff url("../images/ic_calendar.svg") no-repeat 9px center;}
.calDupSet {clear:left;display:inline-block;vertical-align:middle;}
.calDupSet input {float:left;}
.calDupSet em {float:left;padding:0 7px;line-height:2.5;}
.datepickers-container {z-index:300;}
/* select */
.selectSet {position:relative;display:inline-block;height:44px;vertical-align:middle;border-radius:6px;background:#fff;}
.selectSet:after {position:absolute;right:14px;top:50%;content:'';width:0;height:0;margin-top:-5px;border:3px solid #333;border-top-color:transparent;border-left-color:transparent;z-index:1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);}
.selectSet select {position:relative;z-index:2;padding:0 30px 0 12px;width:100%;height:44px;color:#090A0B;box-sizing:border-box;border:1px solid #C4C6CD;border-radius:6px;background:transparent;}
.selectSet select:disabled {color:#aaa;background:#f8f8f8;}
.selectSet select::-ms-expand {display:none;}
.selectSet select .label {color:#aaa;}
.selectSet.lCase select {color:#aaa;}
/* multiselectSet */
.multiselectSet {position:relative;display:inline-block;vertical-align:top;}
.multiselectSet .selectSet {position:relative;display:block;}
.multiselectSet .selectSet select {width:100%;}
.multiselectSet .overSelect {position:absolute;left:0;right:0;top:0;bottom:0;z-index:5}
.multiselectSet .checkArea {position:absolute;top:40px;display:block;margin:-1px 0 0;padding:5px;border: 1px #dadada solid;background:#fff}
.multiselectSet .checkSet {margin:2px 0;}
/**/
input.listSearch {padding-left:40px;background:#fff url("../images/ic_search.svg") no-repeat 12px center;}
/* Required */
.inMust input,
.inMust select,
.inMust textarea {border:1px solid #ffbbbb !important;background-color:#fffaeb !important;} /*필수항목입력*/
.inMust.inError input,
.inMust.inError select,
.inMust.inError textarea,
.inError input,
.inError select,
.inError textarea {border:1px solid #e95d5d !important;background:#fcffc4 !important;} /*입력오류*/
.erMsg {display:block;padding:0 0 0 14px;text-indent:-11px;12pxcolor:#ff0000;text-align:left;}
.erMsg::before {content:'*';margin:0 5px 0 0;font-size:13px;line-height:0;vertical-align:middle;}
.erMsgTxt {display:block;12pxcolor:#ff0000;text-align:left;}
.infoMsg {display:block;padding:0 0 0 14px;text-indent:-11px;12pxcolor:#ffc80e;text-align:left;}
.infoMsg::before {content:'*';margin:0 5px 0 0;font-size:13px;line-height:0;vertical-align:middle;}
/* paginate */
.paginate {clear:left;display:inline-block;margin:0 auto;padding:14px 0;width:100%;text-align:center;}
.paginate:after {content:"";display:block;clear:both;}
.paginate > span {display:inline-block;vertical-align:middle;}
.paginate a, .paginate em {display:inline-block;float:left;margin:0 4px;width:32px;height:32px;line-height:2.2;color:#090A0B;font-weight:bold;border-radius:4px;box-sizing:border-box;}
.paginate a.on {color:#fff;background:#263A92;}
.paginate em {color:#A3A5AE;letter-spacing:2px;}
.paginate .first,
.paginate .last {margin:0;text-indent:-9999px;overflow:hidden;background:url("../images/ic_pagenation.svg") no-repeat center;background-color:transparent;}
.paginate .first {transform:rotate(180deg)}
.paginate .first.disabled,
.paginate .last.disabled {opacity:0.1;}
.listMore {position:absolute;left:0;bottom:0;width:100%;height:240px;text-align:center;background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 73.73%);}
.listMore button {position:absolute;bottom:0;left:50%;margin-left:-32px;font-weight:500;color:#263A92;background:none;border:none;}
.listMore button::after {content:'';display:inline-block;width:20px;height:20px;margin:-2px 0 0 6px;vertical-align:middle;background:url("../images/ic_more_b.png") no-repeat center;background-size:100%;}
/* .paginate .first {background-image:url("../images/ic_pagenation_prev02.svg")}
.paginate .prev {margin-right:14px;background-image:url("../images/ic_pagenation_prev.svg")}
.paginate .next {margin-left:14px;background-image:url("../images/ic_pagenation_next.svg")}
.paginate .last {background-position:bottom right;} */
/* .paginate .selectSet {float:right;margin-left:5px;height:26px;}
.paginate .selectSet select {height:26px;border-radius:5rem;} */
/* Drag and drop upload */
.dropzone {padding:2rem !important;text-align:center;box-sizing:border-box;border:2px dotted #4d91cd !important;}
/* file Upload */
/* .fileAddSet .fileFind {position:absolute;display:inline-block;vertical-align:middle;}
.fileAddSet .fileFind input {position:absolute;top:0;bottom:0;left:0;z-index:2;width:100%;cursor:pointer;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";-moz-opacity:0;}
.fileAddSet .fileFind label {display:inline-block;width:120px;height:120px;text-indent:-9999px;font-size:0;border:1px solid #51B4FF;overflow:hidden;background:#F6FBFF url("../images/ic_add_plus.svg") no-repeat center;}
.fileAddSet div {position:relative;padding:0 40px 0 128px;}
.fileAddSet div ul li {position:relative;float:left;margin-right:8px;width:120px;height:120px;overflow:hidden;background:#eee}
.fileAddSet div ul li img {position:absolute;left:50%;top:50%;max-width:100%;max-height:100%;transform:translate(-50%, -50%);}
.fileAddSet div ul li button {position:absolute;right:5px;top:5px;}
.fileAddSet div span {position:absolute;right:0;top:0;width:30px;}
.fileAddSet div span * {width:30px;height:60px;border:1px solid #DDDDDD;text-indent:-9999px;font-size:0;overflow:hidden;background:#fff url("../images/ic_arrow_right.svg") no-repeat center;}
.fileAddSet div span *:last-child {border-top:0;background-image:url("../images/ic_arrow_left.svg");}
.fileAddSet div.showCase {padding:0 40px 0 0;} */
/**/
/* .fileSet {padding:5px 0;}
.fileFind {position:relative;display:inline-block;vertical-align:middle;}
.fileFind input {position:absolute;top:0;bottom:0;left:0;z-index:2;width:100%;cursor:pointer;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";-moz-opacity:0;}
.fileFind label {color:#51B4FF;border:1px solid #51B4FF;background:#F6FBFF;}
.fileFind label:after {content:'';display:inline-block;position:absolute;right:3px;width:40px;height:30px;background:#F6FBFF url("../images/ic_add_plus.svg") no-repeat center;}
.fileFind input:disabled + label {color:#fff;background:#ddd;}
.fileFind label,
.fileSet .loadIng,
.fileSet .loadEnd,
.fileSet .loadFail {position:relative;display:inline-block;padding-left:14px;width:166px;height:2.5rem;text-align:left;line-height:2.4;box-sizing:border-box;font-weight:bold;vertical-align:middle;box-sizing:border-box;}
.fileSet .loadIng {color:#40a3a7;border:1px solid #b6d2d5;background:#eff8f9;}
.fileSet .loadIng:after {content:'';display:inline-block;position:absolute;right:3px;width:40px;height:30px;background:url('../images/i_fileUpload.gif')no-repeat;}
.fileSet .loadFail {width:166px;color:#f15d52;border:1px solid #eac5c5;background:#fdf7f7;}
.fileSet div {padding-top:10px;}
.fileSet .loadEnd {position:relative;margin-right:5px;padding:0 3rem 0 10px;min-width:166px;width:auto;color:#555;border:1px solid #FFC80E;background:#fff;}
.fileSet .loadEnd em {display:block;word-break:break-all;}
.fileSet .loadEnd button {position:absolute;right:3px;top:3px;display:inline-block;width:26px;height:26px;text-indent:9999px;overflow:hidden;border:none;background:#FFC80E;}
.fileSet .loadEnd button::before,
.fileSet .loadEnd button::after {content:'';position:absolute;left:45%;top:15%;display:inline-block;width:0;height:20px;transform:rotate(45deg);border-right:1px solid #fff;}
.fileSet .loadEnd button::after {transform:rotate(-45deg);} */
/* ===== Btn ===== */
/* .btnL,
.btnM,
.btnS {display:inline-block;color:#fff;vertical-align:middle;text-align:center;cursor:pointer;box-sizing:border-box;border:none;background:#ffc80e;}
.btnL {padding:0 12px;height:54px;font-size:18px;line-height:3;}
.btnM {min-width:100px;padding:0 12px;height:40px;line-height:2.8;}
.btnS {padding:0 6px;height:26px;font-size:12px;line-height:1.6;}
.btnL.line {color:#f9c000;border:1px solid #ffc80e;background:#fffbee;}
.btnL.white {width:auto !important;color:#f9c000;border:1px solid #ffc80e;background:#fff;}
.btnM.line,
.btnS.line {color:#f9c000;border:1px solid #ffc80e;background:#fff;}
[class*=btn].gray {color:#fff;border:1px solid #ddd;background:#999;}
[class*=btn].gray.line {color:#999;border:1px solid #ddd;background:#fff;}
.btnL[disabled],
.btnM[disabled],
.btnS[disabled] {cursor:default;color:#fff;background:#ccc;}
.btnSearch {display:inline-block;width:40px;height:40px;margin-left:5px;text-indent:-9999px;overflow:hidden;white-space:nowrap;font-size:0;border:0;vertical-align:middle;background:#FFC80E url("../images/ic_search.svg") no-repeat center;background-size:60% auto;}
.btnPrint {display:inline-block;width:54px !important;height:54px;text-indent:-9999px;overflow:hidden;white-space:nowrap;font-size:0;border:0;vertical-align:middle;border:1px solid #FFC80E;background:#fff url("../images/ic_print.svg") no-repeat center;background-size:60% auto;}
.btnList {display:inline-block;width:54px !important;height:54px;text-indent:-9999px;overflow:hidden;white-space:nowrap;font-size:0;border:0;vertical-align:middle;border:1px solid #FFC80E;background:#fff url("../images/ic_list.svg") no-repeat center;background-size:60% auto;}
.btnChart {display:inline-block;margin-left:10px;width:86px;padding:0 12px;height:30px;color:#f9c000;line-height:2.0;vertical-align:middle;text-align:left;cursor:pointer;box-sizing:border-box;border:1px solid #ffc80e;background:#fff url("../images/ic_chart.svg") no-repeat 88% center;background-size:14px auto;}
.btnArea {clear:left;display:inline-block;width:100%;padding:40px 0 0;text-align:center;}
.btnArea [class*=btn] {width:160px;margin:0 3px;}
.bpSet {clear:left;position:relative;}
.bpSet .btnArea {display:block;padding:0;}
.bpSet .btnArea .left {position:absolute;top:14px;left:0;z-index:2;}
.bpSet .btnArea .right {position:absolute;top:14px;right:0;z-index:2;}
.bpSet .paginate {position:relative;} */
/* ===== Text ===== */
.infoP {color:#888;padding:6px 0 0;}
/* ===== Icon ===== */
sup {display:inline-block;margin:-1px 0 0 4px;font-size:15px;color:#f53c6e;vertical-align:middle;}
.tech i, .skill i {display:inline-block;padding:6px 6px;margin-right:6px;line-height:1;font-weight:500;font-size:10px;}
.tech i {color:#090A0B;border:1px solid #C2C8E0;border-radius:20px;background:#fff;}
.skill {display:block;}
.skill i {color:#263A92;border-radius:4px;background:#F4F5FA;}
.skill em {margin-right:12px;font-weight:500;font-size:12px;color:#263A92;}
.tag {display:block;}
.tag i {display:inline-block;padding:7px 8px;margin-right:6px;line-height:1;font-weight:500;color:#263A92;font-size:12px;border-radius:4px;background:#F4F5FA;}
.tag i:last-child {margin-right:0;}
.tag em {margin-right:12px;font-weight:500;font-size:12px;color:#263A92;}
.type {display:inline-block;padding:5px 8px;margin-right:6px;line-height:1;font-weight:500;color:#fff;font-size:12px;border-radius:2px;background:#2BA4FA;}
.type.in {background:#0E9154;}
.sts {display:inline-block;padding:5px 8px;line-height:1;font-weight:500;color:#0C7DCC;font-size:12px;border-radius:2px;background:#EEF7FD;}
.sts::before {content:'';display:inline-block;width:4px;height:4px;margin:-1px 4px 0 0;vertical-align: middle;border-radius:10px;background:#0C7DCC;}
.sts.i {color:#C48F07;background:#FDF8EA;}
.sts.i::before {background:#C48F07;}
.sts.e {color:#0E9154;background:#EEFAF5;}
.sts.e::before {background:#0E9154;}
.sts.c {color:#A9122B;background:#FDF1F3;}
.sts.c::before {background:#A9122B;}
.sts.close {color:#8D8F95;background:#E6E6E6;}
.sts.close::before {background:#8D8F95;}
.member {display:inline-block;padding:5px 8px;line-height:1;font-weight:500;color:#0C7DCC;font-size:12px;border-radius:2px;background:#EEF7FD;}
.member.p {color:#C48F07;background:#FDF8EA;}
.pjNew {display:inline-block;padding:5px 8px;margin-right:6px;line-height:1;font-weight:500;color:#fff;font-size:12px;border-radius:34px;background:#FF6230;}
.icHeart {position:relative;display:inline-block;}
.icHeart input {position:absolute;opacity:0;left:0;top:0;width:100%;height:100%;border:none;background:transparent;z-index:10;}
.icHeart label {display:inline-block;width:20px;height:18px;text-indent:-9999px;overflow:hidden;background:url("../images/ic_heart.svg") no-repeat center;background-size:auto 100%}
.icHeart input:checked + label {background:url("../images/ic_heart_on.svg") no-repeat center;background-size:auto 100%}
@media (max-width:760px) {
  .tag i {padding:7px 6px;font-size:10px;}
  .type {font-size:10px;}
  .sts {font-size:10px;}
}
/* ===== ThumNail ===== */
.thumImg {position:relative;display:block;width:100%;}
.thumImg em {position:relative;display:inline-block;width:100%;padding-bottom:75%;border-radius:6px;border:1px solid #E1E2E5;overflow:hidden;background:url("../images/img_avatar_partner.png") no-repeat center;background-size:auto 100%}
.thumImg em img {position:absolute;left:50%;top:50%;width:100%;height:auto;max-width:100%;max-height:100%;transform:translate(-50%, -50%) scale(1);transition:all .3s ease;}
.thumImg .tech {position:absolute;left:12px;top:12px;z-index:2}
.thumRnImg {display:block;text-align:center;}
.thumRnImg em {position:relative;display:inline-block;width:128px;height:128px;margin:0 auto;border-radius:100%;border:1px solid #E1E2E5;overflow:hidden;background:url("../images/img_avatar_partner.png") no-repeat center;background-size:100%}
.thumRnImg em img {position:absolute;left:50%;top:50%;width:100%;height:auto;max-width:100%;max-height:100%;transform:translate(-50%, -50%) scale(1);transition:all .3s ease;}

/* ===== input form ===== */
/* input or select + button */
/* .ipBtn {position:relative;display:inline-block;}
.ipBtn:after {content:"";display:block;clear:both;}
.ipBtn button,
.ipBtn a {float:left;}
.ipBtn input {float:left;margin-right:12px;width:366px;}
.ipBtn .selectSet {display:block;} */
/* 인증 */
/* .ipSecurity {position:relative;display:block;}
.ipSecurity:after {content:"";display:block;clear:both;}
.ipSecurity button,
.ipSecurity a {float:left;}
.ipSecurity span {float:left;position:relative;display:inline-block;margin-right:12px;width:366px;}
.ipSecurity input {position:relative;padding-right:75px;}
.ipSecurity em {position:absolute;right:0;top:0;padding:0 14px;display:inline-block;height:40px;text-align:right;line-height:2.8;}
.ipSecurity em strong {color:#ffc80e;} */
/* 글자수 계산 */
/* .tCounter {display:block;position:relative;padding:0 3.4rem 0 0;}
.tCounter em {display:inline-block;position:absolute;right:0;bottom:2px;width:3.4rem;text-align:right;color:#999;} */
/* unit */
/* .unit {display:inline-block;position:relative;}
.unit input {padding-right:42px;text-align:right;}
.unit em {display:inline-block;position:absolute;right:14px;bottom:7px;width:2rem;text-align:right;color:#999;}
.dubUnit {clear:both;}
.dubUnit:after {content:"";display:block;clear:both;}
.dubUnit .unit {float:left;width:calc(50% - 3px);margin-right:3px;}
.dubUnit .unit:last-child {margin:0 0 0 3px} */
/* phoneNum */
/* .phoneNum {width:100%;*zoom:1;}
.phoneNum:after {content:"";display:block;clear:both;}
.phoneNum > * {float:left;}
.phoneNum .smselect,
.phoneNum .selectSet,
.phoneNum input {width:30%;background:#fff;}
.phoneNum .txt {width:5%;height: 24px;line-height:24px;text-align:center;} */
/* 검색 폼 */
/* .searchSet {display:inline-block;vertical-align:middle;}
.searchSet input {margin-right:3px;width:calc(100% - 3.2rem);}
.searchSet button {vertical-align:middle;} */
/* email */
/* .emailForm {max-width:30rem;}
.emailForm:after {content:"";display:block;clear:both;}
.emailForm input {float:left;width:167px !important;}
.emailForm em {float:left;display:inline-block;width:32px;height:24px;line-height:2.5;text-align:center;} */
/**/
/* .farmLocation .selectSet {float:left;margin-right:10px;width:178px !important;}
.farmLocation .selectSet:last-child {margin:0;width:360px !important;} */
/* ===== Tab ===== */
.tabNav {line-height:0;}
/* .tabNav ul {clear:left;display:inline-block;width:100%;}
.tabNav ul:after {content:"";display:block;clear:both;}
.tabNav ul li {float:left;display:inline-block;height:34px;box-sizing:border-box;} */
.tabNav ul {display:flex;}
.tabNav a,
.tabNav button {display:inline-block;padding:0;min-width:137px;height:34px;font-size:12px;line-height:1.3;border-radius:4px 4px 0 0;cursor:pointer;word-break:break-all;border:none;box-sizing:border-box;background:transparent;transition: .2s ease-in-out;}
.tabNav ul li a:hover,
.tabNav ul li button:hover {background:#E1E2E5;}
.tabNav ul li.on {position:relative;z-index:2;}
.tabNav ul li.on a,
.tabNav ul li.on button {color:#263A92;background:#fff;}
.tabLayout {clear:left;display:block;width:100%;box-sizing:border-box;border-radius:0 0 4px 4px;background:#fff;}
.tabLayout .tabData {display:none;}
.myPage .tabNav li {min-width:auto;width:calc(100% / 6);}
.myPage .tabNav a,
.myPage .tabNav button {min-width:auto;width:100%;}
@media (max-width:760px) {
  .tabNav {padding:0 24px;border:1px solid #E1E2E5;border-width:1px 0;background:#fff;overflow-y:hidden;overflow-x:auto;}
  .tabNav ul {flex-wrap:wrap;width:max-content;}
  .tabNav a,
  .tabNav button {padding:0 12px;min-width:auto;height:42px;border-bottom:3px solid #fff;}
  .tabNav ul li.on a,
  .tabNav ul li.on button {color:#263A92;border-bottom-color:#263A92;}
  .tabLayout {border-radius:0 0 0 0;}
  .myPage .tabNav li {min-width:auto;width:auto;}
  .myPage .tabNav a,
  .myPage .tabNav button {width:auto;}
}
/* ===== Grid ===== */
/* .gridSet {display:table;width:100%;box-sizing:border-box;}
.gridLine {display:table-row;}
.gridItem {display:table-cell;width:100%;vertical-align:middle;box-sizing:border-box;}
.gridSet.grid2 .gridItem {width:50%;vertical-align:top;}
.gridSet.grid3 .gridItem {width:33.3%;}
.gridSet.grid3 .gridItem:nth-child(2) {width:33.4%;}
.gridSet.grid3-1 .gridItem {width:40%;}
.gridSet.grid3-1 .gridItem.short {width:20%;}
.gridSet.grid3-1 .gridItem.long {width:60%;}
.gridSet.grid3-1 .colspan {max-width:1px;overflow:visible;}
.gridSet.grid4 .gridItem {width:25%;}
.gridSet.grid5 .gridItem {width:20%;} */
/* ===== Box ===== */
/* ===== Loading ===== */
/* .pageLoading {position:fixed;z-index:30000;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.2);}
@keyframes spinner {
	to {transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
	to {-webkit-transform: rotate(360deg);}
}
.spinner {position: absolute;width:80px;height:80px;top:50%;left:50%;margin:-40px 0 0 -40px;min-width: 80px;min-height: 80px;}
.spinner:before {content: 'Loading…';position: absolute;top: 50%;left: 50%;width: 80px;height: 80px;margin-top: -40px;margin-left: -40px;}
.spinner:not(:required):before {content: '';border-radius: 50%;border: 3px solid #fff;border-top-color: #05c3dd;animation: spinner .6s linear infinite;-webkit-animation: spinner .6s linear infinite;} */
