@import url("font.css");
@import url("common.css");
@import url("rating.css");
@import url("nav.css");
/*===================================================================
* INFORMATION
* -------------------------------------------------------------------
* @Author : Cho, lexy (lexycho@gmail.com)
* @File Name: layout.css
* @Create Date: 2022-09-15
* @Last Update Date: N/A
* @History: N/A
* ====================================================================*/
body {background:#F5F6F7}
/* ====================== */
/* Common Layout */
/* ====================== */
#wrap {position:relative;clear:left;text-align:center;display:flex;flex-direction:column;align-items:center;min-height:100vh;}
#header {position:fixed;top:0;left:0;right:0;z-index:20;padding:0 96px;height:80px;border-bottom:1px solid rgba(0,0,0,.1);background:#fff;}
#header .back {display:flex;justify-content:space-between;text-align:left;align-items:center;height:80px;}
#header h1 * {display:inline-block;width:167px;height:32px;text-indent:-9999px;font-size:0;overflow:hidden;background: url("../images/img_logo_blue.svg") no-repeat;background-size:cover;}
#header .globalNav {float:left;height:80px;padding:0 12px;border:1px solid rgba(0,0,0,.1);border-width:0 1px}
#header .globalNav * {font-size:16px;font-weight:500;color:#090A0B;}
#header .globalNav li {position:relative;float:left;padding:0 20px;line-height:4.8;}
#header .globalNav li * {opacity:.6;}
#header .globalNav li.on * {opacity:1;}
#header .globalNav button {border:none;background:transparent;}
#header .globalNav .btnGnbMoreSet {position:absolute;right:-12px;bottom:-179px;display:inline-block;width:530px;height:176px;opacity:1;border-radius:6px;background:#fff;}
#header .globalNav .btnGnbMoreSet a {float:left;display:inline-block;width:265px;height:88px;padding:6px 0 0 32px;opacity:1;border:1px solid #F1F2F3;border-width:0 1px 1px 0;}
#header .globalNav .btnGnbMoreSet a::before {content:'';display:inline-block;width:40px;height:40px;margin:-4px 16px 0 0;vertical-align:middle;background: url("../images/ic_gnb_more1.png") no-repeat center;background-size:100%}
#header .globalNav .btnGnbMoreSet a.btnGnbMore02 {border-right:0;}
#header .globalNav .btnGnbMoreSet a.btnGnbMore02::before {background-image:url("../images/ic_gnb_more2.png");}
#header .globalNav .btnGnbMoreSet a.btnGnbMore03 {border-bottom:0;}
#header .globalNav .btnGnbMoreSet a.btnGnbMore03::before {background-image:url("../images/ic_gnb_more3.png");}
#header .globalNav .btnGnbMoreSet a.btnGnbMore04 {border:0;}
#header .globalNav .btnGnbMoreSet a.btnGnbMore04::before {background-image:url("../images/ic_gnb_more4.png");}
#header .globalNav .btnGnbMoreSet a:hover {color:#263A92;background-color:#F4F5FA;}
#header .login {float:left;display:flex;padding:0 8px 0 16px;height:80px;align-items:center;}
#header .login * {display:inline-block;padding:0 8px;height:20px;font-weight:500;color:#263A92;}
#header .login *:first-child {border-right:1px solid #909AC7;}
#header .goRegister {float:left;display:inline-block;width:105px;height:44px;padding:0 12px;margin:18px 0;color:#fff;line-height:3;border-radius:3px;background:#263A92;}
#header .mobileNav {float:left;display:none;margin:18px 0 18px 18px;width:44px;height:44px;text-indent:-9999px;font-size:0;overflow:hidden;border:none;background:#fff url("../images/ic_mobileNav.svg") no-repeat;background-size:cover;}
#wrap.transCase {background:#fff}
#wrap.transCase #header {border-bottom:1px solid rgba(255,255,255,.4);background:transparent;}
#wrap.transCase #header h1 * {background: url("../images/img_logo_white.svg") no-repeat;background-size:cover;}
#wrap.transCase #header .globalNav {border:1px solid rgba(255,255,255,.4);border-width:0 1px}
#wrap.transCase #header .globalNav li * {color:#fff;text-shadow:2px 3px 6px rgba(16, 24, 40, 0.08);}
#container {position:relative;flex-grow:1;padding:112px 16px 96px;width:1152px;margin:0 auto;text-align:left;}
#container .subTit {display:flex;justify-content:space-between;padding:9px 0 12px;margin-bottom:32px;border-bottom:1px solid #E1E2E5}
#container .subTit h2 {position:relative;font-size:24px;font-family:'Roboto';color:#090A0B;}
#container .subTit h2::before {content:'';position:absolute;top:-9px;left:0;display:inline-block;width:24px;height:4px;background:#2BA4FA;transition: .2s ease-in-out;}
#container .subTit.hide {display:none;}
#container .subTit input.listSearch {width:542px;}
#container .subTit .btnFilter {display:none;width:76px;height:44px;padding-left:38px;color:#263A92;font-weight:500;text-align:left;border:1px solid #C2C8E0;border-radius:4px;background:#fff url("../images/ic_filter.png") no-repeat 12px center;background-size:20px;}
#container .subTit .right {position:relative;}
#container .subTit .searchViewSet {margin-top:-9px;}
#container .subTit .searchViewSet div {position:relative;padding:16px;width:450px;height:56px;border-radius:80px;border:1px solid #2BA4FA;background:#fff}
#container .subTit .searchViewSet span {font-size:16px;color:#A3A5AE;}
#container .subTit .searchViewSet div::after {position:absolute;right:10px;top:7px;content:'';display:inline-block;width:40px;height:40px;border-radius:30px;background:#2BA4FA url("../images/ic_search2.svg") no-repeat center;background-size:20px}
#container .content {position:relative;}
#footer {flex-shrink:0;width:100%;height:auto;min-height:200px;background:#0A0F26;}
#footer .copyBack * {line-height:1;font-size:16px;color:#A3A5AE;}
#footer .copyBack {padding:64px 16px;width:1152px;margin:0 auto;text-align:left;}
#footer .copyBack div {display:flex;justify-content:space-between;padding-bottom:32px}
#footer .copyBack div em {color:#fff;}
#footer .copyBack p span {display:inline-block;height:16px;padding-right:12px;margin-right:12px;border-right:1px solid #A3A5AE;}
.footerMathing {position:relative;height:494px;overflow:hidden}
.footerMathing .back {position:absolute;z-index:5;top:0;bottom:0;left:0;right:0;display:table;width:100%;height:100%;background:linear-gradient(180deg, rgba(10, 15, 38, 0.1) 24.63%, #0A0F26 93.87%);}
.footerMathing .back span {display:table-cell;text-align:center;vertical-align:middle;font-size:30px;color:#fff;}
.footerMathing .back strong {display:block;color:#fff;font-size:48px;padding-bottom:24px;}
.footerMathing .back a {display:inline-block;width:118px;height:44px;padding:0 20px;color:#263A92;line-height:3;font-weight:500;border-radius:4px;background:#fff;}
.footerMathing .back a::after {content:'';display:inline-block;width:20px;height:20px;margin:-2px 0 0 6px;vertical-align:middle;background:url("../images/ic_footer_r.png") no-repeat center;background-size:100%;}
.footerMathing video {position:relative;z-index:1;width:100%;margin-top:-13%;}
/* ====================== */
/* Main Layout */
/* ====================== */
#mainContainer {position:relative;flex-grow:1;padding:0 0 96px;width:100%;text-align:center;background:#cdd8e3;}

/* ====================== */
/* Sub Layout */
/* ====================== */
/* 공통 */
.mathigBanner {padding:0 0 32px;text-align:center;}
.mathigBanner div {padding:24px 0;border-radius:6px;background:#383877;}
.mathigBanner span {display:inline-block;width:300px;margin:0 auto;text-align:left;}
.mathigBanner * {color:#fff;font-size:20px;}
.mathigBanner strong {display:block;font-size:26px;}
.mathigBanner strong::after {content:'';display:inline-block;width:24px;height:24px;margin:-2px 0 0 6px;vertical-align:middle;background:url("../images/ic_mathing_r.png") no-repeat center;background-size:100%;}
.mathigBanner.mCase {display:none;padding:0 0 0;}
.mathigBanner.mCase div {padding:8px 0;border-radius:0;}
.mathigBanner.mCase * {font-size:14px;}
.mathigBanner.mCase strong {font-size:20px;}
.mathigBanner.mCase strong::after {width:20px;height:20px;}
/**/
.listCompay .thumRnImg {display:inline-block;height:20px;vertical-align:middle;margin: -2px 6px 0 0;}
.listCompay .thumRnImg em {width:20px;height:20px;}
.listClient .thumRnImg {display:inline-block;height:24px;vertical-align:middle;margin: -2px 6px 0 0;}
.listClient .thumRnImg em {width:24px;height:24px;background-image:url("../images/img_avatar_client.png")}
/**/
.thumList {position:relative;}
.thumList ul:after {content:"";display:block;clear:both;}
.thumList li {float:left;width:calc((100% - 48px)/4);padding:16px;margin:0 16px 16px 0;border-radius:8px;background:#fff;}
.thumList li:nth-child(4n) {margin-right:0;}
.thumList li a {display:block;}
.thumList li strong {display:block;padding:12px 0 4px;font-size:16px;color:#090A0B;}
.thumList li .skill, .thumList li .tag {padding-top:8px;}
.thumList li:hover {box-shadow:5px 9px 20px rgba(16, 24, 40, 0.08);}
.thumList li:hover .thumImg img {transform:translate(-50%, -50%) scale(1.2);}
/* 포트폴리오 */
.content.prfCase {display:flex;}
.content.prfCase side {flex-shrink:0;width:288px;padding:0 32px 0 0;}
.content.prfCase side .prfFilter {border-radius:12px;background:#fff;}
.content.prfCase article {flex-grow:1;}
.content.prfCase .thumList li {width:calc((100% - 32px)/3);}
.content.prfCase .thumList li:nth-child(4n) {margin-right:16px;}
.content.prfCase .thumList li:nth-child(3n) {margin-right:0;}
/* 파트너 */
.prtTop {display:flex;padding:0 0 48px;}
.prtLogo {flex-shrink:0;width:288px;padding:0 32px 0 0;}
.prtLogo>div {padding:16px 24px;border-radius:12px;background:#fff;}
.prtLogo>div strong {display:block;padding:8px 0 16px;text-align:center;font-size:16px;color:#090A0B;}
.prtImage {flex-grow:1;}
.prtImage img {width:100%;}
.prtBox {padding:30px 32px 32px;border-bottom:1px solid #F1F2F3;}
.prtBox:last-child {border-bottom:0;}
.prtBox h3 {display:flex;justify-content:space-between;padding-bottom:24px}
.prtBox h3 strong {color:#090A0B;}
.prtBox h3 button {color:#263A92;font-weight:500;cursor:pointer;border:none;background:none;}
.prtBox .skill i {font-size:14px;}
.prtBox .thumList {margin-bottom:-48px;}
.prtBox .thumList li {padding:0;margin-bottom:48px;}
.prtBox .thumList li:hover {box-shadow:none;}
.prtBox .thumList .listMore {bottom:48px;}
.prtHistoryList {position:relative}
.prtHistoryList li {padding:24px;margin-bottom:16px;border:1px solid #F1F2F3;border-radius:8px;}
.prtHistoryList li:last-child {margin-bottom:0;}
.prtHistoryList li div.prjInfoBack {display:flex;justify-content:space-between;}
.prtHistoryList li:hover {box-shadow:5px 9px 20px rgba(16, 24, 40, 0.08);}
.prtHistoryList li strong {display:block;color:#090A0B;font-weight:500;font-size:16px;}
.prtHistoryList li .prjInfo {display:flex;padding:12px 0;}
.prtHistoryList li .prjInfo * {padding-right:24px;}
.prtHistoryList li .prjInfo em {color:#2BA4FA;font-weight:500;}

.prjAfterback {display:flex;justify-content:space-between;margin-top:19px;padding:24px 0 0 0;border-top:1px solid  #F1F2F3;}
.prjAfterback>div.commentBack {width:55%;}
.prjAfterback>div.starBack {width:45%;margin-left:46px;}
/* .prtHistoryList li a {display:inline-block;width:133px;height:32px;padding:0 8px;font-size:12px;color:#FFFFFF;font-weight:500;line-height:2.6;border-radius:3px;background:#263A92} */
.likeThis {display:inline-block;height:32px;padding:0 8px;font-size:12px;color:#FFFFFF;font-weight:500;line-height:2.6;border-radius:3px;background:#263A92}
/* 프로젝트 */
.content.prjDetail {display:flex;}
.content.prjDetail side {flex-shrink:0;width:288px;padding:0 32px 0 0;}
.content.prjDetail side .prjFilter {border-radius:12px;background:#fff;}
.prjFilter dl {padding:18px 24px 20px;border-top:2px solid #F5F6F7;}
.prjFilter dt {height:36px;font-size:16px;color:#090A0B;font-weight:bold;}
.prjFilter li {position:relative;display:block;text-align:left;margin-bottom:12px;}
.prjFilter li.stayAll {padding-bottom:12px;border-bottom:1px solid #F1F2F3}
.prjFilter li:last-child {margin-bottom:0;}
.prjFilter li input {position:absolute;opacity:0;left:0;top:0;width:100%;height:100%;border:none;background:transparent;z-index:10;}
.prjFilter li label {font-size:16px;color:#090A0B}
.prjFilter li label:before {content:'';position:relative;display:inline-block;margin:1px 8px 0 0;width:20px;height:20px;border-radius:3px;vertical-align:top;border:1px solid #C4C6CD;background:#fff;}
.prjFilter li input:checked + label::before {border-color:#263A92;background:url("../images/ic_check_on.svg") no-repeat center;background-size:100%}
.prjFilter li.stayAll.half input:checked + label::before {background:url("../images/ic_check_half.svg") no-repeat center;background-size:100%}
.prjFilter .filterSave {display:block;padding:12px;}
.prjFilter .filterSave span {position:relative;display:block;text-align:left;}
.prjFilter .filterSave input {position:absolute;opacity:0;left:0;top:0;width:100%;height:100%;border:none;background:transparent;z-index:10;}
.prjFilter .filterSave label {display:block;padding:12px;font-size:16px;color:#090A0B;border:1px solid #F4F5FA;border-radius:4px;background:#F4F5FA;}
.prjFilter .filterSave label:before {content:'';position:relative;display:inline-block;margin:1px 8px 0 0;width:20px;height:20px;border-radius:3px;vertical-align:top;border:1px solid #C4C6CD;}
.prjFilter .filterSave input:checked + label {border-color:#263A92;}
.prjFilter .filterSave input:checked + label::before {border-color:#263A92;background:url("../images/ic_check_on.svg") no-repeat center;background-size:100%}
.content.prjDetail article {flex-grow:1;}
/* .prjList ul {display:flex;flex-wrap:wrap;} */
/* .prjList ul:after {content:"";display:block;clear:both;}
.prjList li {float:left;position:relative;padding:24px;width:calc((100% - 16px)/2);margin-bottom:20px;border-radius:8px;border:1px solid #E1E2E5;background:#fff;}
.prjList li:nth-child(2n) {float:right}
.prjList li .filterData {display:block;}
.prjList li strong {display:block;padding:12px 0 4px;font-size:16px;color:#090A0B;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.prjList li .price {display:block;padding-bottom:24px;}
.prjList li .more {display:flex;justify-content:space-between;align-items:center;padding-top:12px;margin-top:12px;border-top:1px solid #F1F2F3;}
.prjList li:hover {box-shadow: 5px 9px 20px rgba(16, 24, 40, 0.08);}
.prjList li .prjDday {display:flex;margin:12px 0 0;padding:6px 6px;justify-content:center;background:#F4F5FA;}
.prjList li .prjDday em {flex-grow:1;width:calc(100% / 3);text-align:center;font-size:14px;color:#292929;}
.prjList li .prjDday em:nth-child(2) {border-left:1px solid #EAECF2;border-right:1px solid #EAECF2;}
.prjList li .skill i {font-size:12px}
.prjList li .icHeart {position:absolute;top:24px;right:24px;}
.prjList.partnerCase li .price {padding-bottom:10px;} */
.prjList ul {display:flex;flex-wrap: wrap;}
.prjList ul:after {content:"";display:block;clear:both;}
.prjList li {position:relative;padding:24px;width:calc((100% - 16px)/2);margin-bottom:20px;border-radius:8px;border:1px solid #E1E2E5;background:#fff;}
/* .prjList li:nth-child(2n) {float:right} */
.prjList li:nth-child(2n) {margin-left:16px;}
.prjList li .filterData {display:block;}
.prjList li strong {display:block;padding:12px 0 4px;font-size:16px;color:#090A0B;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.prjList li .price {display:block;padding-bottom:24px;}
.prjList li .more {display:flex;justify-content:space-between;align-items:center;padding-top:12px;margin-top:12px;border-top:1px solid #F1F2F3;}
.prjList li:hover {box-shadow: 5px 9px 20px rgba(16, 24, 40, 0.08);}
.prjList li .prjDday {display:flex;margin:12px 0 0;padding:6px 6px;justify-content:center;background:#F4F5FA;}
.prjList li .prjDday em {flex-grow:1;width:calc(100% / 3);text-align:center;font-size:14px;color:#292929;}
.prjList li .prjDday em:nth-child(2) {border-left:1px solid #EAECF2;border-right:1px solid #EAECF2;}
.prjList li .skill i {font-size:12px}
.prjList li .icHeart {position:absolute;top:24px;right:24px;}
.prjList.partnerCase li .price {padding-bottom:10px;}
/* 이용후기 */
.reviewList ul {display:flex;flex-wrap:wrap;align-items:stretch;}
.reviewList li {padding:24px;width:calc((100% - 16px)/2);margin:0 16px 20px 0;border-radius:8px;border:1px solid #E1E2E5;border-top:4px solid #BCE0F9;background:#fff;}
.reviewList li:nth-child(2n) {margin-right:0;}
.reviewList li strong {display:block;padding:0 0 12px;font-size:18px;color:#090A0B;font-weight:500}
.gradeWrap {margin:16px 0 0 0;border-radius:8px;border:1px solid #C2C8E0;overflow:hidden;}
.gradeStarWrap {display:flex;justify-content:space-between;padding:0 20px;height:36px;align-items:center;}
.gradeBarWrap {display:flex;flex-wrap:wrap;padding:4px 8px;border-top:1px solid #E3E6F1;background:#F4F5FA;}
.reviewList .reviewPrj div {display:flex;flex-wrap:wrap;}
.reviewList .reviewPrj div>span {width:50%;height:32px;}
.reviewList .reviewPrj div>span:not(.listCompay) {padding:2px 0 0 30px;background:url("../images/ic_review_won.svg") no-repeat left top;background-size:24px}
.reviewList .reviewPrj div>span.kind {color:#263A92;background-image:url("../images/ic_review_kind.svg")}
.reviewList .reviewPrj div>span.manager {background-image:url("../images/ic_review_manager.svg")}
.reviewList .listCompay .thumRnImg {height:24px;}
.reviewList .listCompay .thumRnImg em {width:24px;height:24px;}
.reviewList .comment {width:calc(100% + 48px);margin:21px 0 0 -24px;padding:20px 24px;border:1px solid #F5F6F7;border-width:1px 0;}
.comment>div {position:relative;}
.comment p { display:-webkit-box;word-wrap: break-word;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow: ellipsis;overflow:hidden;}
.commentMore {display: block;position: absolute;bottom:-1px;right:0;text-align:right;width: 280px;background:linear-gradient(90deg, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 80%)}
.commentMore button {color:#2BA4FA;border:none;border-bottom:1px solid #2BA4FA;background:none;}
.comment .long p {display:-webkit-box;word-wrap:initial;-webkit-line-clamp:2;-webkit-box-orient:initial;text-overflow:initial;overflow:visible;}
.comment .long .commentMore {display:none;}
.comment .listClient {display:block;padding-bottom:12px;}
.comment .listClient .member {margin-left:8px;font-size:10px;}
.reviewList .likeThis {margin-top:16px;float:right;}
/* 마이페이지 기본 */
.content.myPage {display:flex;}
.content.myPage side {flex-shrink:0;width:288px;padding:0 32px 0 0;}
.content.myPage .mypageLeft {padding:18px 24px;text-align:center;border-radius:4px;background:#fff;}
.mypageLeft .thumRnImg {margin:0 auto;height:56px;}
.mypageLeft .thumRnImg em {width:56px;height:56px;}
.mypageLeft strong {display:block;padding:8px 0 10px;color:#1B2966;font-size:16px;color:#263A92;font-weight:500}
.mypageLeft .moreSum {display:none;position:absolute;right:0;top:50%;margin-top:-16px;width:32px;height:32px;border:none;text-indent:-999px;overflow:hidden;background:#fff url("../images/ic_mypage_historySum.svg") no-repeat center;background-size:24px;transition:.2s ease-in-out;}
.mypageLeft .moreSum.on {transform:rotate(180deg);}
.mypageLeft .historySum {position:relative;margin-top:12px;padding:6px 0 110px;border-top:1px solid #F5F6F7;}
.mypageLeft dl {display:flex;justify-content:space-between;padding:6px 0;}
.mypageLeft dl dt {text-align:left;}
.mypageLeft dl dd {font-weight:500;color:#090A0B;}
.mypageLeft .btn {position:absolute;left:0;right:0;bottom:0;}
.mypageLeft a {display:block;height:44px;color:#fff;line-height:2.8;font-weight:500;border-radius:4px;border:1px solid #263A92;background:#263A92;}
.mypageLeft a.btnChange {margin-top:12px;color:#263A92;background:#fff;}
/* 마이페이지  마이홈 */
.content.myPage article {flex-grow:1;}
.content.myPage .mypageMain h3 {padding:3px 0 3px 32px;font-size:16px;color:#090A0B;font-weight:500;background: url("../images/ic_mypage_search.svg") no-repeat left center;background-size:26px}
.content.myPage .mypageMain .topBack {padding:32px 32px 20px;border-bottom:1px solid #F1F2F3;}
.mmmSummery {border-radius:4px;background:#F5F6F7;}
.mmmSummery .stepCase {display:flex;justify-content:space-between;padding:24px 20px 16px;}
.mmmSummery .stepCase a {position:relative;display:inline-block;width:calc((100% - 125px) / 6);border-radius:100%;border:1px solid #fff;box-shadow: 1px 2px 5px rgba(16, 24, 40, 0.08);background:#DEEFFC;}
.mmmSummery .stepCase a::after {content: "";display: block;padding-bottom:100%;}
.mmmSummery .stepCase a::before {content:'';position:absolute;right:-22px;top:50%;margin-top:-8px;display:inline-block;width:17px;height:17px;background: url("../images/ic_mypage_arrow.svg") no-repeat center;background-size:8px auto;}
.mmmSummery .stepCase a:last-child::before {display:none;}
.mmmSummery .stepCase a span {position:absolute;display:inline-block;width:100%;height:100%;padding:10% 0 0 0;text-align:center;}
.mmmSummery .stepCase a span::before {content:'';display:inline-block;margin:0 auto;width:24px;height:24px;border-radius:50px;background:#fff url("../images/ic_mypage_register.svg") no-repeat center;background-size:20px}
.mmmSummery .stepCase a span em {display:block;padding-top:1%;font-weight:500;color:#090A0B;}
.mmmSummery .stepCase a span strong {display:block;font-size:20px;color:#0F173A;}
.mmmSummery .stepCase a.consulting span::before {background-image:url("../images/ic_mypage_consulting.svg")}
.mmmSummery .stepCase a.consulting {background-color:#BCE0F9;}
.mmmSummery .stepCase a.meeting span::before {background-image:url("../images/ic_mypage_meeting.svg")}
.mmmSummery .stepCase a.meeting {background-color:#8AC8F4;}
.mmmSummery .stepCase a.contract span::before {background-image:url("../images/ic_mypage_contract.svg")}
.mmmSummery .stepCase a.contract {background-color:#E3E6F1;}
.mmmSummery .stepCase a.progress span::before {background-image:url("../images/ic_mypage_progress.svg")}
.mmmSummery .stepCase a.progress {background-color:#C2C8E0;}
.mmmSummery .stepCase a.complete span::before {background-image:url("../images/ic_mypage_complete.svg")}
.mmmSummery .stepCase a.complete {background-color:#909AC7;}
.mmmSummery .stepCase a.developing span::before {background-image:url("../images/ic_mypage_developing.svg")}
.mmmSummery .stepCase a.developing {background-color:;}
.mmmSummery .stepCase a.apply span::before {background-image:url("../images/ic_mypage_apply.svg")}
.mmmSummery .stepCase a.apply {background-color:#DEEFFC;}
.mmmSummery .accrueCase {display:flex;justify-content:space-between;padding:16px 20px 24px;border-top:1px solid #fff;}
.mmmSummery .accrueCase span {position:relative;display:inline-block;width:calc((100% - 16px) / 3);padding:10px 16px;background:#fff;}
.mmmSummery .accrueCase span strong {display:block;font-size:16px;color:#263A92;}
.mmmSummery.prtCase .stepCase {padding:24px 24px 16px;}
.mmmSummery.prtCase .stepCase a {position:relative;display:inline-block;width:calc((100% - 132px) / 5);}
.mmmSummery.prtCase .stepCase a span {padding:15% 0 0 0;}
.mmmSummery.prtCase .stepCase a span em {padding-top:3%;}
.mmmSummery.prtCase .stepCase a::before {right:-26px;}
.mmmSummery.prtCase .accrueCase {padding:16px 24px 24px;}
.mmmlikeSearch {display:flex;justify-content:space-between;padding-top:16px;}
.mmmlikeSearch div {width:calc((100% - 24px)/2);padding:24px 20px;border-radius:4px;border:1px solid #F1F2F3;box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.08);}
.mmmlikeSearch div input {margin:12px 0;width:100%;}
.mmmlikeSearch p {padding-top:5px;}
.mmmBoard {display:flex;justify-content:space-between;padding:24px 32px;}
.content.myPage .mypageMain .mmmBoard h3 {background-image:url("../images/ic_mypage_board.svg")}
.mmmBoard div {width:calc((100% - 24px)/2);}
.mmmBoard li {position:relative;margin-top:11px;padding:0 0 0 23px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.mmmBoard li::before {content:'';position:absolute;top:8px;left:10px;display:inline-block;width:0;height:0;border:2px solid #626576;border-radius:100%;}
.mmmlikePrj {padding:20px 32px 32px;border-top:4px solid #F1F2F3;}
.mmmlikePrj .prjList {position:relative;padding-top:20px;}
.mmmlikePrj .listMore {position:relative;height:20px;}
/* 마이페이지 - 프로젝트 관리 */
.mPrjMgt {padding:24px 32px;}
.mPrjFiler {width:100%;overflow-x:auto;padding-bottom:24px;}
.mPrjFiler div {min-width:768px;display:flex;justify-content:space-between;}
.mPrjFiler div span {display:flex;justify-content:space-between;align-items:center;padding:0 8px 0 18px;height:30px;font-weight:500;font-size:12px;line-height:1;cursor:pointer;border-radius:30px;border:1px solid #E3E6F1}
.mPrjFiler div span em {display:inline-block;width:28px;height:16px;margin-left:4px;font-size:10px;font-weight:500;color:#0F173A;line-height:1.4;text-align:center;border-radius:30px;background:#E3E6F1;}
.mPrjFiler div span.on {color:#4D5DA6;border-color:#4D5DA6;background:#F4F5FA;}
.mPrjFiler div span.on em {color:#fff;background:#4D5DA6;}
.mPrjMgtArea>li {margin-bottom:16px;border-radius:8px;overflow:hidden;border:1px solid #E1E2E5}
.mPrjMgtArea>li .mPrjContents {display:none;}
.mPrjList {position:relative;display:flex;padding:16px 24px;}
.mPrjList span {flex-shrink:0;width:100px;}
.mPrjList strong {flex-shrink:1;}
.mPrjList strong em {display:block;}
.mPrjList button {position:absolute;right:24px;top:16px;padding:7px 8px;cursor:pointer;border-radius:3px;border:none;background:#F4F5FA;}
.mPrjList button * {font-size:12px;font-weight:500;color:#263A92;}
.mPrjList button i {display:none;}
.mPrjList button::after {content:'';display:inline-block;width:16px;height:16px;margin-left:4px;vertical-align:middle;background: url("../images/ic_mPrjArrow.png") no-repeat center;background-size:16px}
.mprjStep {position:relative;display:flex;justify-content:space-between;height:38px;border-bottom:1px solid #F1F2F3;}
.mprjStep span {position:relative;display:inline-block;width:calc((100% - 71px)/6);height:38px;text-align:center;line-height:3.2;font-size:12px;font-weight:500;}
.mprjStep span em {display:inline-block;width:45px;height:16px;margin:-2px 8px 0 0;font-size:10px;font-weight:500;color:#0F173A;text-align:center;vertical-align:middle;line-height:1.6;border-radius:10px;background:#E3E6F1;}
.mprjStep span::after {content:'';position:absolute;right:-2px;top:10px;display:inline-block;width:8px;height:18px;background: url("../images/ic_mPrjArrow2.svg") no-repeat center;background-size:8px auto;}
.mprjStep span.end::after {display:none;}
.mprjStep span.on {color:#090A0B;border-bottom:2px solid #263A92;}
.mprjStep span.on::after {background-image:url("../images/ic_mPrjArrow2_on.svg")}
.mprjStep span.on em {color:#fff;background:#263A92;}
.mprjStep strong {position:relative;display:inline-block;width:71px;height:38px;text-align:center;line-height:3.2;font-size:12px;font-weight:500;}
.mprjStep strong::before {content:'';position:absolute;left:0;top:8px;height:21px;border-left:1px solid #E1E2E5;}
.mprjStep strong.on {color:#A9122B;border-bottom:2px solid #A9122B;}
.mMprjStep {display:none;}
.mPrjMgtArea>li.on {border-color:#C2C8E0;}
.mPrjMgtArea>li.on .mPrjList {background:#F4F5FA;}
.mPrjMgtArea>li.on .mPrjList button {background-color:#fff;}
.mPrjMgtArea>li.on .mPrjList button em {display:none}
.mPrjMgtArea>li.on .mPrjList button i {display:inline-block;}
.mPrjMgtArea>li.on .mPrjList button::after {transform:rotate(180deg);}
.mPrjMgtArea>li.on .mPrjContents {display:block;}
.project_detail_info {padding:20px 20px 20px 28px;border-bottom:1px solid #F1F2F3;}
.project_detail_info li {margin-bottom:10px;position:relative;padding-left:12px;}
.project_detail_info li a {color:#2BA4FA;}
.project_detail_info li:last-child {margin-bottom:0;}
.project_detail_info li:before {content:'';position:absolute;left:0;top:8px;display:inline-block;width:3px;height:3px;margin:auto;border-radius:5px;background:#8c8c8c;}
.projectDetail .info-top {padding:24px 24px 0;}
.projectDetail .info-top .tit {display:flex;justify-content:space-between;padding-bottom:10px;align-items:center;}
.projectDetail .info-top .tit strong {font-size:16px;color:#090A0B;font-weight:500;}
.projectDetail .info-top .tit a {display:inline-block;height:32px;padding:0 8px;font-size:12px;color:#fff;line-height:2.8;font-weight:500;border-radius:4px;border:0;background:#263A92;}
.projectDetail .info-middle {padding:0 24px 24px;}
.projectDetail .info-middle ul {display:flex;justify-content:space-between;flex-wrap:wrap;align-items:stretch;}
.projectDetail .info-middle ul li {width:calc((100% - 6px)/4);padding:32px 20px;margin-bottom:2px;text-align:center;background:#EEF7FD;}
.projectDetail .info-middle ul.clientCase li:nth-child(n+5) {width:calc((100% - 4px)/3);}
.projectDetail .info-middle ul li strong {display:block;font-weight:500;color:#1B2966;font-size:16px;}
.projectDetail .info-middle .bgGray {margin-top:8px;padding:16px;background:#F5F6F7}
.projectDetail .info-middle .bgGray>div {display:flex;margin:0 0 12px;}
.projectDetail .info-middle .bgGray .prj-label {flex-shrink:0;width:118px;}
.projectDetail .info-middle .bgGray .prj-content2 *,
.projectDetail .info-middle .bgGray .prj-content * {color:#090A0B;font-weight:500;}
.projectDetail .info-middle .bgGray .prj-content pre {word-break:break-all;white-space:break-spaces;}
.my-prj-view-wrap {display:flex;justify-content:space-between;}
.my-prj-view-content {flex-grow:1;}
.my-prj-inner {display:flex;justify-content:space-between;height:100%;}
.my-prj-inner-left {flex-shrink:0;width:39%;padding:20px 24px;text-align:center;border-right:1px solid #F1F2F3;}
.my-prj-inner-left .thumRnImg em {width:64px;height:64px;}
.my-prj-inner-left .thumRnImg + strong {color:#1B2966;}
.my-prj-inner-left div {padding-top:5px;}
.my-prj-inner-left div a,
.my-prj-inner-left div span {position:relative;display:inline-block;width:100%;padding:8px 16px;margin-top:8px;text-align:left;border-radius:4px;background:#F4F5FA}
.my-prj-inner-left div strong {display:block;font-weight:500;color:#090A0B;}
.my-prj-inner-left div a::after {content:'';position:absolute;right:16px;top:20px;display:inline-block;width:16px;height:16px;background:url("../images/ic_mypage_arrow2.svg") no-repeat center;background-size:auto 100%}
.my-prj-inner-right {flex-grow:1;padding:18px 24px;}
.my-prj-inner-right dl {display:flex;padding:5px 0;}
.my-prj-inner-right dl dt {width:112px;}
.my-prj-inner-right dl dd {font-weight:500;color:#090A0B;}
.my-prj-inner-right strong {display:block;padding-top:12px;margin-top:12px;font-weight:normal;border-top:1px solid #F1F2F3;}
.my-prj-view-right {flex-shrink:0;width:218px;padding:20px;text-align:center;background:#F1F2F3}
.my-prj-view-right * {display:block;width:100%;height:44px;margin-bottom:8px;color:#fff;line-height:2.8;font-weight:500;border-radius:4px;border:1px solid #263A92;background:#263A92;}
.my-prj-view-right a.btnChange {margin-top:12px;color:#263A92;background:#fff;}
.managerSet {padding:10px;border-radius:8px;background:#fff;}
.managerSet .mngImg {position:relative;display:block;}
.managerSet .mngImg em {position:relative;display:inline-block;width:100%;padding-bottom:134.6%;border-radius:8px;overflow:hidden;background:url("../images/img_avatar_partner.png") no-repeat center;background-size:auto 100%}
.managerSet .mngImg em img {position:absolute;left:50%;top:50%;width:100%;height:auto;max-width:100%;max-height:100%;transform:translate(-50%, -50%) scale(1);transition:all .3s ease;}
.managerSet .mngInfo {display:block;text-align:left;}
.managerSet .mngInfo strong {display:block;padding:8px 0;color:#090A0B;}
.managerSet .mngInfo em, .managerSet .mngInfo .call {display:inline-block;padding:5px 6px;margin-right:4px;line-height:1;font-weight:500;color:#263A92;font-size:10px;border-radius:2px;background:#F4F5FA;}
.managerSet .mngInfo .call::before {content:'';display:inline-block;width:12px;height:12px;margin:-1px 4px 0 0;vertical-align: middle;background:url("../images/ic_manager_call.svg") no-repeat center;background-size:auto 100%}
.my-prj-consulting-wrap {padding:20px 24px;background:#F1F2F3;}
.my-prj-consulting-wrap .managerSet {display:flex;align-items: flex-start;align-content: flex-start;}
.my-prj-consulting-wrap .managerSet .mngImg {margin-right:16px;}
.my-prj-consulting-wrap .managerSet .mngImg em {width:209px;}
.my-prj-consulting-wrap .managerSet .mngInfo strong {font-size:18px;}
.my-prj-meeting-wrap {display:flex;justify-content:space-between;}
.my-prj-meeting-wrap .myProjectMeetList {flex-grow:1;}
.myProjectMeetList li {padding:15px 0;border-bottom:4px solid #F1F2F3}
.myProjectMeetList li:last-child {border-bottom:0;}
.myProjectMeetList li dl {display:flex;padding:5px 24px;}
.myProjectMeetList li dl dt {width:112px;}
.myProjectMeetList li dl dd {font-weight:500;color:#090A0B;}
.myProjectMeetList li span {display:block;padding:15px 0 0 0;margin-top:15px;border-top:1px solid #F1F2F3;}
.my-prj-meeting-wrap .projectMeetManager {flex-shrink:0;width:218px;padding:8px;text-align:center;background:#F1F2F3}
.my-prj-meeting-wrap .projectMeetManager .managerSet {padding:8px;}
.mPrjCancel {padding:24px 0;text-align:center;}
.mPrjCancel p {padding:132px 24px 0;line-height:1.8;background:url("../images/img_mypage_PrjCancel.png") no-repeat center top;background-size:120px}
.mPrjCancel a {display:inline-block;color:#0C7DCC;border-bottom:1px solid #0C7DCC;}
.mMprjStep {position:relative;display:none;padding:10px 24px;height:38px;font-weight:500;border-bottom:1px solid #F1F2F3;}
.mMprjStep.cancel {border-bottom:0;}
.mMprjStep em {display:inline-block;width:45px;height:16px;margin:-2px 8px 0 0;font-size:10px;font-weight:500;color:#0F173A;text-align:center;vertical-align:middle;line-height:1.6;border-radius:10px;background:#E3E6F1;}
.mMprjStep::after {content:'';position:absolute;right:24px;top:10px;display:inline-block;width:20px;height:20px;background: url("../images/ic_mypage_arrow3.svg") no-repeat center;background-size:20px auto;}
.viewByStep.on .mMprjStep {color:#090A0B;border-bottom:2px solid #1B2966}
.viewByStep.on .mMprjStep em {color:#fff;background:#263A92;}
.viewByStep.on .mMprjStep::after {transform: rotate(180deg);}
.viewByStep.on .tabContent {height:auto;border-bottom:1px solid #F1F2F3}
.viewByStep.on .mMprjStep.cancel {border-bottom:2px solid #A9122B}
.viewByStep.on .mMprjStep.cancel + .tabContent {border-bottom:0}
/* 마이페이지 - 프로젝트 제외한 공통 */
.mypageConFilterTop {display:flex;justify-content:space-between;padding:24px 32px;border-bottom:1px solid red;}
.mypageFilter {display:flex;}
.mypageFilter li {margin-right:12px;}
.mypageFilter li a {display:inline-block;padding:0 8px 0 8px;min-width:77px;height:30px;font-weight:500;font-size:12px;line-height:2.3;text-align:center;cursor:pointer;border-radius:30px;border:1px solid #E3E6F1}
.mypageFilter li.on a {color:#4D5DA6;border-color:#4D5DA6;background:#F4F5FA;}
.mypageConFilterTop .selectSet {height:32px;}
.mypageConFilterTop .selectSet select {height:32px;border-radius:4px;}
.mypageContents {padding:24px 32px 32px;}
/* 마이페이지 - 리뷰관리 */
.renewalCon .mypageConFilterTop {border:none;}
.renewalCon .mypageContents {padding-top:0;}
.mCReviewList li {margin-bottom:16px;border-radius:4px;border:1px solid #E1E2E5;}
.mCReviewList .reviewCardTop {position:relative;display:block;padding:16px 24px;}
.mCReviewList .completeDate {position:absolute;right:24px;top:16px;}
.mCReviewList .completeDate em {margin-left:4px;color:#263A92;font-weight:500;}
.mCReviewList .reviewCardTop strong {display:block;color:#090A0B;font-weight:500;font-size:16px;}
.mCReviewList .reviewCardTop strong em {display:block;padding:4px 0 0;}
.mCReviewList .reviewCardTop strong em i {display:none;}
.mCReviewList .reviewCardBottom {display:flex;justify-content:space-between;align-items:center;padding:12px 24px;border-top:1px solid #F1F2F3;}
.mCReviewList .reviewCardBottom .listCompay {margin-right:24px;}
.mCReviewList .reviewCardBottom .thumRnImg {height:24px;}
.mCReviewList .reviewCardBottom .thumRnImg em {height:24px;width:24px;}
.mCReviewList .reviewCardBottom .etc em {margin-right:24px;}
.mCReviewList .reviewCardBottom .etc em::before {content:'';display:inline-block;width:24px;height:24px;margin-right:4px;vertical-align:middle;background:url("../images/ic_review_manager.svg") no-repeat center;background-size:100%}
.mCReviewList .reviewCardBottom .etc em.mng::before {background-image:url("../images/ic_review_manager.svg")}
.mCReviewList .reviewCardBottom .etc em.open::before {background-image:url("../images/ic_review_open.svg")}
.mCReviewList .reviewCardBottom .etc em.escrow::before {background-image:url("../images/ic_review_escrow.svg")}
.mCReviewList .reviewCardBottom .etc em.period::before {background-image:url("../images/ic_review_period.svg")}
.mCReviewList .reviewCardBottom .btn * {float:left;display:inline-block;height:32px;padding:0 8px;margin-left:10px;color:#263A92;font-weight:500;font-size:12px;border-radius:3px;border:none;background:#E3E6F1}
.mCReviewList .reviewCardBottom .btn *:disabled {color:#626576;background:#F1F2F3}
/* 마이페이지 - 리뷰관리 */




.no-data-wrap {padding:127px 0 200px;}
.no-data-wrap .ico {padding:20px 0 20px;}
.no-data-wrap .ico span {display:flex;margin:0 auto;align-items:center;justify-content:center;width:100px;height:100px;padding:13px 0;border-radius:100%;background:#EAECF2;}
.no-data-wrap .ico span img {width:40px;height:40px;}
.no-data-wrap p {padding-bottom:14px;font-size:16px;font-weight:500;line-height:1.4;}
.no-data-wrap .desc {color:#858585 !important;font-size:12px !important;line-height:1.8;}
.no-data-wrap a {font-size:14px;margin:27px auto 0 auto !important;width:231px !important;height:38px !important;background:#00A3FF;}
.no-data-wrap a::after {content:'';display:block;width:5px;height:5px;margin-left:5px;border:1px solid #fff;border-left-color:transparent;border-bottom-color:transparent;transform: rotate(45deg);}
.no-data-wrap .keyNo {display:block;padding:20px 0 30px;font-size:18px;}
.no-data-wrap .keyNo strong {display:block;font-size:22px;}
.no-data-wrap .keyInfo {padding:26px 22px 22px;margin:0 auto;max-width:564px;color:#494949;font-size:16px;border-radius:10px;background:rgba(255,255,255,0.6);}
.no-data-wrap .keyInfo strong {display:block;padding-bottom:14px;font-size:18px;color:#494949;f}

.partnersConMsg .ico span  {width:100px;height:100px;background:#EAECF2;}





body {display:block;}
