.starRating_new {
  width: 96px;
  height: 15px;
  background-image: url(../images/starRatingGray.png);
  background-size: cover;
  margin-bottom: 3px;
}
.starRating_new .goldStar{
  width: 0%;
  height: 15px;
  overflow: hidden;
}
.starRating_new .goldStar>img{
  height: 15px;
  width: 96px;
  vertical-align: unset;
}
.starRating_new {
  width: 103px;
  height: 16px;
}
.starRating_new .goldStar{
  height: 16px;
}
.starRating_new .goldStar>img {
  height: 16px;
  width: 103px;
}
.starRating {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #262626;
}
.starRating>b{
  margin-left: 12px;
  margin-right: 4px;
  font-weight: 600;
}
.starRating>span {
  margin-left: 4px;
}
.starRating >svg+svg {
  margin-left: 4px;
}
.starRating >svg>path {
  fill:#E8E8E8;
}
.starRating[data-star="1"]>svg:first-child>path {fill: #FFC53A;}
.starRating[data-star="2"]>svg:nth-child(-n+2)>path {fill: #FFC53A;}
.starRating[data-star="3"]>svg:nth-child(-n+3)>path {fill: #FFC53A;}
.starRating[data-star="4"]>svg:nth-child(-n+4)>path {fill: #FFC53A;}
.starRating[data-star="5"]>svg:nth-child(-n+5)>path {fill: #FFC53A;}
.starRating_new .goldStar>img{height:15px;width:96px;vertical-align: unset;}

.starRating[data-star="0"] .starRating_new .goldStar {width: 0%;}
.starRating[data-star="0.0"] .starRating_new .goldStar {width: 0%;}
.starRating[data-star="0.1"] .starRating_new .goldStar {width: 2%;}
.starRating[data-star="0.2"] .starRating_new .goldStar {width: 4%;}
.starRating[data-star="0.3"] .starRating_new .goldStar {width: 6%;}
.starRating[data-star="0.4"] .starRating_new .goldStar {width: 8%;}
.starRating[data-star="0.5"] .starRating_new .goldStar {width: 10%;}
.starRating[data-star="0.6"] .starRating_new .goldStar {width: 12%;}
.starRating[data-star="0.7"] .starRating_new .goldStar {width: 14%;}
.starRating[data-star="0.8"] .starRating_new .goldStar {width: 16%;}
.starRating[data-star="0.9"] .starRating_new .goldStar {width: 18%;}
.starRating[data-star="1.0"] .starRating_new .goldStar {width: 20%;}
.starRating[data-star="1"] .starRating_new .goldStar {width: 20%;}

.starRating[data-star="1.1"] .starRating_new .goldStar {width: 22%;}
.starRating[data-star="1.2"] .starRating_new .goldStar {width: 24%;}
.starRating[data-star="1.3"] .starRating_new .goldStar {width: 26%;}
.starRating[data-star="1.4"] .starRating_new .goldStar {width: 28%;}
.starRating[data-star="1.5"] .starRating_new .goldStar {width: 30%;}
.starRating[data-star="1.6"] .starRating_new .goldStar {width: 32%;}
.starRating[data-star="1.7"] .starRating_new .goldStar {width: 34%;}
.starRating[data-star="1.8"] .starRating_new .goldStar {width: 36%;}
.starRating[data-star="1.9"] .starRating_new .goldStar {width: 38%;}
.starRating[data-star="2.0"] .starRating_new .goldStar {width: 40%;}
.starRating[data-star="2"] .starRating_new .goldStar {width: 40%;}

.starRating[data-star="2.1"] .starRating_new .goldStar {width: 42%;}
.starRating[data-star="2.2"] .starRating_new .goldStar {width: 44%;}
.starRating[data-star="2.3"] .starRating_new .goldStar {width: 46%;}
.starRating[data-star="2.4"] .starRating_new .goldStar {width: 48%;}
.starRating[data-star="2.5"] .starRating_new .goldStar {width: 50%;}
.starRating[data-star="2.6"] .starRating_new .goldStar {width: 52%;}
.starRating[data-star="2.7"] .starRating_new .goldStar {width: 54%;}
.starRating[data-star="2.8"] .starRating_new .goldStar {width: 56%;}
.starRating[data-star="2.9"] .starRating_new .goldStar {width: 58%;}
.starRating[data-star="3.0"] .starRating_new .goldStar {width: 60%;}
.starRating[data-star="3"] .starRating_new .goldStar {width: 60%;}

.starRating[data-star="3.1"] .starRating_new .goldStar {width: 62%;}
.starRating[data-star="3.2"] .starRating_new .goldStar {width: 64%;}
.starRating[data-star="3.3"] .starRating_new .goldStar {width: 66%;}
.starRating[data-star="3.4"] .starRating_new .goldStar {width: 68%;}
.starRating[data-star="3.5"] .starRating_new .goldStar {width: 70%;}
.starRating[data-star="3.6"] .starRating_new .goldStar {width: 72%;}
.starRating[data-star="3.7"] .starRating_new .goldStar {width: 74%;}
.starRating[data-star="3.8"] .starRating_new .goldStar {width: 76%;}
.starRating[data-star="3.9"] .starRating_new .goldStar {width: 78%;}
.starRating[data-star="4.0"] .starRating_new .goldStar {width: 80%;}
.starRating[data-star="4"] .starRating_new .goldStar {width: 80%;}

.starRating[data-star="4.1"] .starRating_new .goldStar {width: 82%;}
.starRating[data-star="4.2"] .starRating_new .goldStar {width: 84%;}
.starRating[data-star="4.3"] .starRating_new .goldStar {width: 86%;}
.starRating[data-star="4.4"] .starRating_new .goldStar {width: 88%;}
.starRating[data-star="4.5"] .starRating_new .goldStar {width: 90%;}
.starRating[data-star="4.6"] .starRating_new .goldStar {width: 92%;}
.starRating[data-star="4.7"] .starRating_new .goldStar {width: 94%;}
.starRating[data-star="4.8"] .starRating_new .goldStar {width: 96%;}
.starRating[data-star="4.9"] .starRating_new .goldStar {width: 98%;}
.starRating[data-star="5.0"] .starRating_new .goldStar {width: 100%;}
.starRating[data-star="5"] .starRating_new .goldStar {width: 100%;}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 238px;*/
  width:50%;
  flex-shrink: 0;
  padding:4px 12px;
  /* margin-right: 38px; */
}
.bar>span {width:64px;font-size:12px;flex-shrink:0;}
.bar>b {width:26px;flex-shrink:0;font-size:12px;font-weight:normal;text-align:right;}
.bar:nth-child(3){margin-right:0px;}
.barRating{
  width: 100%;
  height: 5px;
  border-radius: 100px;
  background-color: #E8E8E8;
}
.barRating>div {
  height: 100%;
  border-radius: 100px;
  background-color: #FFC53A;
  width: 0%;
}
.barRating[data-point="0"]>div {width: 0%;}
.barRating[data-point="0.0"]>div {width: 0%;}
.barRating[data-point="0.1"]>div {width: 2%;}
.barRating[data-point="0.2"]>div {width: 4%;}
.barRating[data-point="0.3"]>div {width: 6%;}
.barRating[data-point="0.4"]>div {width: 8%;}
.barRating[data-point="0.5"]>div {width: 10%;}
.barRating[data-point="0.6"]>div {width: 12%;}
.barRating[data-point="0.7"]>div {width: 14%;}
.barRating[data-point="0.8"]>div {width: 16%;}
.barRating[data-point="0.9"]>div {width: 18%;}
.barRating[data-point="1.0"]>div {width: 20%;}
.barRating[data-point="1"]>div {width: 20%;}

.barRating[data-point="1.1"]>div {width: 22%;}
.barRating[data-point="1.2"]>div {width: 24%;}
.barRating[data-point="1.3"]>div {width: 26%;}
.barRating[data-point="1.4"]>div {width: 28%;}
.barRating[data-point="1.5"]>div {width: 30%;}
.barRating[data-point="1.6"]>div {width: 32%;}
.barRating[data-point="1.7"]>div {width: 34%;}
.barRating[data-point="1.8"]>div {width: 36%;}
.barRating[data-point="1.9"]>div {width: 38%;}
.barRating[data-point="2.0"]>div {width: 40%;}
.barRating[data-point="2"]>div {width: 40%;}

.barRating[data-point="2.1"]>div {width: 42%;}
.barRating[data-point="2.2"]>div {width: 44%;}
.barRating[data-point="2.3"]>div {width: 46%;}
.barRating[data-point="2.4"]>div {width: 48%;}
.barRating[data-point="2.5"]>div {width: 50%;}
.barRating[data-point="2.6"]>div {width: 52%;}
.barRating[data-point="2.7"]>div {width: 54%;}
.barRating[data-point="2.8"]>div {width: 56%;}
.barRating[data-point="2.9"]>div {width: 58%;}
.barRating[data-point="3.0"]>div {width: 60%;}
.barRating[data-point="3"]>div {width: 60%;}

.barRating[data-point="3.1"]>div {width: 62%;}
.barRating[data-point="3.2"]>div {width: 64%;}
.barRating[data-point="3.3"]>div {width: 66%;}
.barRating[data-point="3.4"]>div {width: 68%;}
.barRating[data-point="3.5"]>div {width: 70%;}
.barRating[data-point="3.6"]>div {width: 72%;}
.barRating[data-point="3.7"]>div {width: 74%;}
.barRating[data-point="3.8"]>div {width: 76%;}
.barRating[data-point="3.9"]>div {width: 78%;}
.barRating[data-point="4.0"]>div {width: 80%;}
.barRating[data-point="4"]>div {width: 80%;}

.barRating[data-point="4.1"]>div {width: 82%;}
.barRating[data-point="4.2"]>div {width: 84%;}
.barRating[data-point="4.3"]>div {width: 86%;}
.barRating[data-point="4.4"]>div {width: 88%;}
.barRating[data-point="4.5"]>div {width: 90%;}
.barRating[data-point="4.6"]>div {width: 92%;}
.barRating[data-point="4.7"]>div {width: 94%;}
.barRating[data-point="4.8"]>div {width: 96%;}
.barRating[data-point="4.9"]>div {width: 98%;}
.barRating[data-point="5.0"]>div {width: 100%;}
.barRating[data-point="5"]>div {width: 100%;}
