
/*===================================================================
* INFORMATION
* -------------------------------------------------------------------
* @Author : Cho, lexy (lexycho@gmail.com)
* @File Name: layout.css
* @Create Date: 2022-09-15
* @Last Update Date: N/A
* @History: N/A
* ====================================================================*/



@media (max-width:1340px) {
	#header {padding:0 0;}
	#header .back {width:1152px;padding:0 16px;margin:0 auto;}
}
@media (max-width:1168px) {
	#header .back {width:100%;}
	#container {width:100%;}
	#footer .copyBack {width:100%;margin:0 auto;}
}
@media (max-width:1150px) {
	/* 마이페이지 */
	.content.myPage side {width:28%;}
	.content.myPage article {width:72%;}
}
@media (max-width:1080px) {
	#header .globalNav {display:none;}
	#header .mobileNav {display:inline-block;}
	.footerMathing {height:auto;}
	/* 마이페이지 */
	.historySum * {font-size:12px;}
  .mmmSummery .stepCase a span::before {width:20px;height:20px;background-size:85%;}
  .mmmSummery .stepCase a span strong {font-size:16px;}
}
/* @media (max-width:1070px) {
	.mPrjFiler {display:none;}
} */
@media (max-width:1000px) {
	.mprjStep span em {display:none;}
	/* .my-prj-view-wrap  {display:none;} */
}
@media (max-width:999px) {
	/**/
  .mmmSummery .stepCase a {border:0;box-shadow:none;border-radius:0;background:none !important;}
  .mmmSummery .stepCase a::after {display:none;}
  .mmmSummery .stepCase a::before {margin-top:-28px;}
  .mmmSummery .stepCase a span {position:relative;}
  .mmmSummery .stepCase a span::before {width:40px;height:40px;border:1px solid #DEEFFC;background-size:66%;}
	/**/
	.my-prj-view-wrap {display:block;}
	.my-prj-view-right {width:100%;}
	.my-prj-view-right * {float:left;width:calc((100% - 20px)/2);margin:0 20px 10px 0;}
	.my-prj-view-right *:nth-child(2n) {margin-right:0;}
	.my-prj-view-right::after {content:"";display:block;clear:both;}
}
@media (max-width:940px) {
	#footer .copyBack * {font-size:14px;}
	#footer .copyBack {padding:45px 16px;}
	#footer .copyBack div {display:block;width:100%;padding-bottom:16px;}
	#footer .copyBack div span {display:block;width:100%;padding-bottom:8px;}
	#footer .copyBack p span {height:14px;}
	#footer .copyBack p span:nth-child(2) {border:none;}
	#footer .copyBack p em {display:block;width:100%;padding-top:10px;}
}
@media (max-width:760px) {
	#header {padding:0 24px;height:48px;}
	#header .back {height:48px;padding:0 0;}
	#header h1 * {width:107px;height:20px}
	#header .login {padding:0 8px 0 16px;height:48px;}
	#header .globalNav {display:none;}
	#header .goRegister {display:none;}
	#header .mobileNav {width:32px;height:32px;margin:8px 0 0 4px}
	#container {padding:48px 0 0;}
	#container .subTit {display:block;padding:0;margin-bottom:0;border-bottom:0;}
	#container .subTit h2 {padding:12px 24px 12px 36px;font-size:14px;background:#fff;}
	#container .subTit h2::before {top:19px;left:18px;display:inline-block;width:16px;height:4px;transform: rotate(90deg);}
	#container .right {width:100%;padding:12px 24px;}
	#container .subTit input.listSearch {width:100%;}
	#container .subTit .btnFilter {display:inline-block;}
	#container .subTit .widthFilter {display:flex;justify-content:space-between;}
	#container .subTit .widthFilter input.listSearch {width:calc(100% - 84px);}
	#container .mathigBanner {display:none;}
	#container .mathigBanner.mCase {display:block;}
	.footerMathing {height:320px;}
	.footerMathing video {margin:0 0 0 -80px;height:320px;width:auto;}
	.footerMathing .back span {font-size:20px;}
	.footerMathing .back strong {font-size:30px;}
	/* 공통 */
	/**/
	.thumList {padding:0 24px;}
	.thumList li {float:none;width:100%;padding:16px;margin:0 0 16px 0;}
	.thumList.prjCase li {width:100%;padding:0;background:none;}
	.thumList.prjCase li:nth-child(4n) {margin-right:0;}
	/* 파트너 */
	.content.prtDetail {display:inline-block;width:100%;}
	.content.prtDetail::after {content:'';position:absolute;top:0;left:0;right:0;z-index:-1;height:96px;display:block;background:blue;}
	.prtTop {display:inline-block;width:100%;padding:48px 24px 24px;}
	.prtLogo {width:100%;padding:0 0 24px;}
	.prtLogo>div {width:256px;margin:0 auto;}
	.prtBox {padding:16px 24px 20px;}
	.prtBox h3 {padding-bottom:20px}
	.prtBox .thumList {padding:0 0;margin-bottom:0;}
	.prtBox .thumList li {padding:0;margin-bottom:24px;}
	.prtBox .thumList li:last-child {margin-bottom:0;}
	.prtBox .thumList .listMore {bottom:0;}
	.prtHistoryList li {display:inline-block;width:100%;padding:16px;}
	.prtHistoryList li strong {font-size:14px;}
	.prtHistoryList li .prjInfo {display:block;padding:10px 0;}
	.prtHistoryList li .prjInfo * {font-size:12px;}
	.prtHistoryList li .prjInfo em {display:block;padding-bottom:2px;}
	.prtHistoryList li a {margin-top:16px;}
	/* 프로젝트 */
	.content.prjDetail {display:inline-block;width:100%;}
	.content.prjDetail side {display:none;}
	.prjList li {float:none;padding:24px;width:100%;margin-bottom:4px;border-radius:0;border:0;}
	.prjList li:nth-child(2n) {float:none}
	.prjList li strong {font-size:14px;text-overflow:inherit;white-space:normal;overflow:visible;word-break:break-all;}
	.prjList li .price {padding-bottom:20px;}
	/* 이용후기 */
	.reviewList ul {display:block;}
	.reviewList li {padding:24px;width:100%;margin:0 0 4px 0;border:none;}
	.reviewList li:nth-child(2n) {margin-right:0;}
	.reviewList li:after {content:"";display:block;clear:both;}
	.reviewList .bar {width:100%;}
	/* 마이페이지 기본 */
	.content.myPage {display:inline-block;width:100%;}
	.content.myPage::after {content:'';position:absolute;top:0;left:0;right:0;z-index:-1;height:96px;display:block;background:blue;}
	.content.myPage side {display:inline-block;width:100%;padding:48px 24px 24px;}
  .content.myPage .mypageLeft {padding:18px 20px;}
	.content.myPage article {width:100%;}
  .mypageLeft .proflieSum {display:flex;text-align:left;position:relative;}
  .mypageLeft .thumRnImg {margin-right:16px;}
  .mypageLeft strong {padding:0 0 2px;}
  .mypageLeft .moreSum {display:inline-block;}
  .mypageLeft .historySum {padding:0;border-top:0;}
	.mypageLeft .historySum * {font-size:14px;}
  .mypageLeft .btn {display:flex;justify-content:space-between;position:relative;}
  .mypageLeft .btn a {width:calc((100% - 6px)/2);margin:0;height:32px;font-size:12px;line-height:2.5;}
  .mypageLeft .historySum div {display:none;margin-top:16px;padding-top:10px;border-top:1px solid #F5F6F7;}
  .mypageLeft .historySum div dl:last-child {padding-bottom:0;}
	/* 마이페이지  마이홈 */
	.content.myPage .tabNav {position:sticky;top:48px;z-index:5;}
  .content.myPage .mypageMain .topBack {padding:0;}
  .mmmSummery .stepCase {padding:24px 12px 16px;}
  .mmmSummery .stepCase a::before {width:14px;height:14px;background-size:6px auto;}
  .mmmSummery .stepCase a span em {color:#626576}
  .mmmSummery .stepCase a span strong {font-size:16px;color:#2BA4FA;}
  .mmmSummery .accrueCase {padding:0 0 12px;}
  .mmmSummery .accrueCase span {width: calc((100% - 2px) / 3);padding:10px 12px;font-size:12px;}
  .mmmSummery .accrueCase span strong {font-size:14px;}
  .mmmlikeSearch {display:block;}
  .mmmlikeSearch div {width:100%;}
  .mmmlikeSearch div:last-child {margin-top:16px;}
  .mmmBoard {display:block;padding:0 0;}
  .mmmBoard div {width:100%;padding:24px 24px;border-bottom:1px solid #F1F2F3;}
  .mmmBoard div:last-child {border-bottom:0;}
  .mmmlikePrj {padding:20px 24px 32px;border-top: 4px solid #F1F2F3;}
  .mmmlikePrj li {margin-bottom:24px;border:1px solid #E1E2E5;border-radius:4px;}
	/* 마이페이지 - 프로젝트 관리 */
	.mPrjMgt {padding:16px 0 0;}
	.mPrjFiler {padding:0 24px 10px;}
	.mprjStep {display:none;}
	.mMprjStep {display:flex;}
	.tabContent {height:0;overflow:hidden;}
	.mPrjMgtArea {padding:6px 24px 0;}
	.mPrjList {display:block;padding:16px 16px;}
	.mPrjList strong {display:block;padding-top:8px;}
	.mPrjList strong em {padding:10px 0 0 ;}
	.mPrjList button {top:auto;bottom:16px;right:16px;}
	.project_detail_info {padding:16px 10px 16px 16px;}
	.projectDetail .info-top {padding:16px;}
	.projectDetail .info-top .info-middle ul li {width:calc((100% - 2px)/2);padding:20px 8px;}
	.projectDetail .info-top .info-middle ul.clientCase li:nth-child(n+5) {width:calc((100% - 2px)/2);}
	.projectDetail .info-top .info-middle ul.clientCase li:nth-child(3) {width:100%;}
	.projectDetail .info-top .info-middle ul li strong {font-size:14px;}
	.projectDetail .info-top .bgGray>div {display:block;}
	.projectDetail .info-top .bgGray .prj-label {padding-bottom:3px;}
	.my-prj-consulting-wrap .managerSet {display:block;}
	.my-prj-consulting-wrap .managerSet .mngImg {margin-right:0;}
	.my-prj-consulting-wrap .managerSet .mngImg em {width:100%;}
	.my-prj-meeting-wrap {display:block;}
	.my-prj-view-right * {float:none;width:100%;margin:0 0 10px 0;}
	.my-prj-inner {display:block;}
	.my-prj-inner-left {width:100%;}
	.my-prj-meeting-wrap .projectMeetManager {width:100%;}
}
@media (max-width:400px) {
	#container .subTit {display:inline-block;width:100%;}
}
