@charset "utf-8";

img {max-width:100%;}

.fileViewTit {position:fixed;height:3.4rem;top:0;left:0;right:0;line-height:3.5;text-align:center;color:#ffcc33;background:#53565b;}
.fileViewTit a {position:absolute;right:0.7rem;top:0.6rem;padding:0.5rem 1.4rem;line-height:1;color:#ffcc33;border:1px solid #ffcc33;background:none;}

/* 이미지,PDF 보기 */
.fileViewCase {position:relative;height:100%;background:#333;}
.fileView {position:relative;height:100%;padding:1rem;text-align:center;box-sizing:border-box;}
.fileView .swiper-container {width:100%;height:100%;padding:3rem 0 6rem;box-sizing:border-box;}
.fileView .preBottomBtn {position:fixed;z-index:5;left:0;bottom:0;width:100%;height:5rem;padding:0.5rem 0;text-align:center;box-sizing:border-box;background:#333;}
.fileView .preBottomBtn .swiper-pagination {width:100%;height:2rem;}
.fileView .preBottomBtn .swiper-pagination-bullet {margin:0 5px;width:20px;height:20px;text-align:center;line-height:20px;font-size:12px;color:#fff;border:1px solid #fff;opacity:.5;background:rgba(0,0,0,0.2);}
.fileView .preBottomBtn .swiper-pagination-bullet-active {color:#fcca33;border-color:#fcca33;opacity:1;}
.fileView .preBottomBtn [class*=swiper-button] {width:1.8rem;height:4rem;margin-top:-2rem;border-radius:3px;background:#fcca33;text-indent:-9999px;}
.fileView .preBottomBtn [class*=swiper-button]:after {content:"";display:block;position:absolute;left:50%;top:50%;width:0;height:0;margin:-8px 0 0 -4px;}
.fileView .preBottomBtn .swiper-button-prev:after {border-right:8px solid #000;border-top:8px solid transparent;border-bottom:8px solid transparent;}
.fileView .preBottomBtn .swiper-button-next:after {border-left:8px solid #000;border-top:8px solid transparent;border-bottom:8px solid transparent;}
.fileView .preBottomBtn .swTt {display:inline-block;width:100%;height:2rem;color:#fff;}

/* 서식 미리보기 */
.formatPreview {padding:55px 0 15px;}
.formatPreview .stepLayout {margin:0 auto;width:920px;}
.formatPreview .formatTab {position:fixed;z-index:10;top:0;left:0;right:0;width:100%;height:54px;border-bottom:3px solid #ddd;background:#fff;}
.formatPreview .formatTab span {position:relative;float:left;display:inline-block;margin:0 10px 0 0;}
.formatPreview .formatTab span em {position:relative;display:inline-block;padding:0 10px;height:50px;color:#999;font-size:17px;text-align:center;font-weight:bold;line-height:50px;box-sizing:border-box;border-bottom:3px solid #fff;}
.formatPreview .formatTab span.on em {height:53px;color:#000;border-bottom:5px solid #ffcc33;background:#fff;}
.formatPreview .formatTab span.long em {line-height:normal;}
.formatPreview .formatTab a {float:right;display:inline-block;padding:10px 10px 0 0;font-size:18px;font-weight:bold;color:#000;}

/* 발송하기 */
.sendFormView .kindBtn {position:fixed;left:0;bottom:0;width:100%;height:5.5rem;padding:1.3rem;text-align:center;box-sizing:border-box;background:#f9f9f9;}
.sendFormView .kindBtn div {display:table;width:100%;}
.sendFormView .kindBtn div span {display:table-cell;width:25%;padding:0 0.5rem;}
.sendFormView .kindBtn div span button {width:100%;height:3.5rem;font-weight:bold;border:none;background:#ffcc33;}
.sendFormView .kindBtn div span button:before {content:'';display:inline-block;margin:0 1rem 0 0;width:1.4rem;height:1.4rem;vertical-align:middle;background-size:100% auto !important;}
.sendFormView .kindBtn div span button.goSendTalk:before {background:url("../images/btn_estimate_send01.svg") no-repeat center;}
.sendFormView .kindBtn div span button.goSendSMS:before {background:url("../images/btn_estimate_send02.svg") no-repeat center;}
.sendFormView .kindBtn div span button.goSendMail:before {background:url("../images/btn_estimate_send03.svg") no-repeat center;}
.sendFormView .kindBtn div span button.goSendFax:before {background:url("../images/btn_estimate_send04.svg") no-repeat center;}
/* 서식 발송팝업 */
.sendEndAlert {padding:0;width:310px;margin:-90px 0 0 -155px;text-align:center;border:none;overflow:hidden;}
.sendEndAlert p {padding:1rem 0;color:#666;font-size:0.9rem;}
.sendEndAlert div {padding:1.7rem 0 1.2rem;border-radius:5px 5px 0 0;border-bottom:1px solid #eee;background:#f8f8f8;}
.sendEndAlert div:before {content:'';display:inline-block;width:2.3rem;height:2.3rem;border-radius:100%;background:#ffcc33 url("../images/i_send_white.svg") no-repeat center;background-size:50% auto;}
.sendEndAlert div p {padding:0.5rem 0 0;color:#222;font-size:1.2rem;}
/**/
.sendFormPop {width:310px;margin:-127px 0 0 -155px;}
.sendFormPop .phoneNum, 
.sendFormPop .emailForm {margin:0.7rem 0;padding:1rem;background:#f8f8f8;}
.sendFormPop .name {width:100%;margin-bottom:1rem;line-height:2.2;}
.sendFormPop .name input {float:right;width:calc(100% - 5rem);}
.sendFormPop .cntTxt {padding:0.5rem 0 0;border-top:1px dashed #ddd;}
.sendFormPop .cntTxt .radioSet {margin:0 5px;vertical-align:middle;}
.sendFormPop.smsCase {width:360px !important;height:700px !important;margin:-350px 0 0 -180px;}
.sendFormPop.smsCase .smsScroll {height:428px;padding:5px;border:1px solid #ccc;text-align:left;overflow:hidden}
.sendFormPop.smsCase .smsScroll pre {height:410px;word-break:break-all;overflow:auto;}
.sendFormPop.smsCase .smsScroll pre::-webkit-scrollbar {width:3px;height:3px;background:#fff;} 
.sendFormPop.smsCase .smsScroll pre::-webkit-scrollbar-thumb {background:#a9a9a9;}

/* 모바일 세로모드, 가로모드 */
@media all and (max-width:420px), (orientation : landscape) and (max-width:667px) {
	.sendFormView .kindBtn {padding:1rem 0.5rem;height:4.5rem;}
	.sendFormView .kindBtn div span {padding:0 0.3rem;}
	.sendFormView .kindBtn div span button {height:2.5rem;}
	.sendFormView .kindBtn div span button:before {display:none}
	.sendFormPop.smsCase {top:1rem;right:1rem;bottom:1rem;left:1rem;width:auto !important;height:auto !important;margin:0 0 0 0 !important;}
	.sendFormPop.smsCase .smsScroll {height:calc(100vh - 21.5rem);}
	.sendFormPop.smsCase .smsScroll pre {height:calc(100vh - 22.2rem);}
}