<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>AndU</title><!-- 2021-02-09 텍스트 변경 -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>
		$(document).ready(function(){
			/**/
			$('#deleteBtn').click(function(){
				$('.popDim').show();
				$('.alertPop').show();
			});
			$('.pBtn button, .pclose').click(function(){
				$('.popDim, .alertDim').hide();
				$('.alertPop, .basicPop').hide();
			});
			/*
			$('.tls tbody tr').dblclick(function(){
				location.href = 'push_list_view.html';
			});*/
			$('.btnResend').click(function() {
				confirm('재발송 하시겠습니까?');
			}); // 재발송
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header_management.html"></div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb" data-include="../include/snb_management.html"></div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="pageTit">
					<h2>APP 정보관리</h2>
					<div class="pagePos"><span>Home</span><span>APP 관리</span><strong>APP 정보관리</strong></div>
				</div>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div>
						<div class="boardTop">
							<em>전체 10,000건</em>
							<span class="right">
								<span class="searchBasic">
									<span class="searchSet">
										<input type="text" placeholder="서비스명">
										<input type="submit" value="검색" class="btnSearch">
										<button class="btnReset">초기화</button>
									</span>
								</span>
								<button class="btnM">엑셀 다운로드</button>
							</span>
						</div>
						<div class="tls">
							<table>
								<colgroup>
									<col width="10"/>
									<col width="50"/>
									<col width="220"/>
									<col width="180"/>
									<col width="180"/>
									<col width="100"/>
									<col width="100"/>
									<col width="100"/>
									<col width="100"/>
								</colgroup>
								<thead class="dupth">
									<tr>
										<th rowspan="2">
											<span class="checkSet noLabel">
												<input type="checkbox" id="chkall" />
												<label for="chkall"><i></i></label>
											</span>
										</th>
										<th rowspan="2">No</th>
										<th rowspan="2">서비스</th>
										<th colspan="2">배포버전</th>
										<th rowspan="2">개발담당자</th>
										<th rowspan="2">배포 여부</th>
										<th rowspan="2">마지막 배포일자</th>
										<th rowspan="2">수정일자</th>
									</tr>
									<tr>
										<th>iOS</th>
										<th>Android</th>
									</tr>
								</thead>
								<tbody>
									<!--Loop-->
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk8" />
												<label for="chk8"><i></i></label>
											</span>
										</td>
										<td>3</td>
										<td><a href="app_info_view.html">Visitor</a></td>
										<td>1.0.0</td>
										<td>1.0.0</td>
										<td>홍길동</td>
										<td>Y</td>
										<td>2020-04-25 00:00</td>
										<td>2020-04-25</td>
									</tr>
									<!--//Loop-->
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk7" />
												<label for="chk7"><i></i></label>
											</span>
										</td>
										<td>2</td>
										<td><a href="app_info_view.html">Ting</a></td>
										<td>1.0.0</td>
										<td>1.0.0</td>
										<td>홍길동</td>
										<td>Y</td>
										<td>2020-04-25 00:00</td>
										<td>2020-04-25</td>
									</tr>
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk7" />
												<label for="chk7"><i></i></label>
											</span>
										</td>
										<td>1</td>
										<td><a href="app_info_view.html">Scanit!</a></td>
										<td></td>
										<td></td>
										<td>홍길동</td>
										<td>N</td>
										<td></td>
										<td>2020-01-25</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!---->
						<div class="bpSet">
							<div class="btnArea">
								<span class="left">
									<button class="btnM" id="deleteBtn">선택삭제</button>
								</span>
								<span class="right">
									<a href="app_info_write.html" class="btnM">신규등록</a>
								</span>
							</div>
							<div class="paginate">
								<span>
									<a class="first">이전</a>
									<a class="on">1</a>
									<a>2</a>
									<a>3</a>
									<a>4</a>
									<a>5</a>
									<a class="next">다음</a>
								</span>
								<span class="selectSet">
									<select>
										<option>10개</option>
										<option>20개</option>
										<option>50개</option>
										<option>100개</option>
									</select>
								</span>
							</div>
						</div>
						<!--//-->
					</div>
					<!-- //page -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
		<!-- Popup -->
		<div class="popDim" style="display:none;">
			<div class="alertPop" style="display:none;">
				<div class="pBack">
					<!---->
					<p>입력한 정보가 삭제됩니다.<br/>삭제하시겠습니까?</p>
					<!--//-->
				</div>
				<div class="pBtn">
					<button class="btnM white">취소</button>
					<button class="btnM blue">확인</button>
				</div>
			</div>
		</div>
		<!-- //Popup -->
    </body>
</html>
