<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>AndU</title><!-- 2021-02-09 텍스트 변경 -->
		<link rel="stylesheet" type="text/css" href="../../js/tree/themes/default/style.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../../js/tree/jstree.min.js"></script>
		<script type="text/javascript" src="../../js/tree/basicTree.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>
		$(document).ready(function(){
			$('.treeBox .allOpen').click(function () {
				$(this).hide();
				$('.treeBox .allClose').show();
			});
			$('.treeBox .allClose').click(function () {
				$(this).hide();
				$('.treeBox .allOpen').show();
			}); // jstree 그룹 열기닫기 토글
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header_management.html"></div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb" data-include="../include/snb_management.html"></div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="pageTit">
					<h2>조직도관리</h2>
					<div class="pagePos"><span>Home</span><span>경영지원</span><strong>조직도관리</strong></div>
				</div>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="organizationLayout">
						<!-- 조직도 -->
						<div class="treeBox left">
							<div class="top">
								<button onclick="chartAllOpen();" class="btnM allOpen">전체 그룹 열기</button>
								<button onclick="chartAllClose();" class="btnM allClose" style="display:none;">전체 그룹 닫기</button>
								<!-- <button class="btnM right">엑셀업로드</button> -->
							</div>
							<div class="jstreeBack">
								<div id="jstree" style="100%"></div>
							</div>
							<div class="bottom">
								<button onclick="groupAdd()" class="btnM">그룹 추가</button>
								<button onclick="groupDelete();" class="btnM">그룹 삭제</button>
								<button onclick="groupRename();" class="btnM">폴더명 변경</button>
								<!-- <button class="btnM right">샘플 엑셀다운로드</button> -->
							</div>
						</div>
						<!-- //조직도 -->
						<!-- 사용자 정보 -->
						<div class="treeUserList right">
							<!---->
							<h3 class="firstH3">구성원 (2명)</h3>
							<!---->
							<div class="tls">
								<table>
									<colgroup>
										<col width="50"/>
										<col width="200"/>
										<col width="100"/>
										<col width="100"/>
										<col />
									</colgroup>
									<thead>
										<tr>
											<th>사번</th>
											<th>이메일</th>
											<th>이름</th>
											<th>직급</th>
											<th>직책</th>
											<th>입사일자</th>
										</tr>
									</thead>
									<tbody>
										<!--Loop-->
										<tr>
											<td>190101</td>
											<td class="tL">spencer.kim@think-tree.co.kr</td>
											<td>홍길동</td>
											<td>차장</td>
											<td>사원</td>
											<td>2020-02-11</td>
										</tr>
										<!--//Loop-->
										<tr>
											<td>190102</td>
											<td class="tL">spencer.kim@think-tree.co.kr</td>
											<td>홍길동2</td>
											<td>사원</td>
											<td>사원</td>
											<td>2020-02-11</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!---->
							<div class="paginate">
								<span>
									<a class="first">이전</a>
										<a class="on">1</a>
										<a>2</a>
										<a>3</a>
										<a>4</a>
										<a>5</a>
									<a class="next">다음</a>
								</span>
								<span class="selectSet">
									<select>
										<option>10개</option>
										<option>20개</option>
										<option>50개</option>
										<option>100개</option>
									</select>
								</span>
							</div>
							<!--//-->
						</div>
						<!-- //사용자 정보 -->
					</div>
					<!-- //page -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
		</div>
    </body>
</html>
