<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>AndU</title><!-- 2021-02-09 텍스트 변경 -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>
		$(document).ready(function(){
			/**/
			$('#deleteBtn').click(function(){
				$('.popDim').show();
				$('.alertPop').show();
			});
			$('.pBtn button, .pclose').click(function(){
				$('.popDim, .alertDim').hide();
				$('.alertPop, .basicPop').hide();
			});
			/**/
			$('.tls tbody tr').dblclick(function(){
				location.href = 'board_education_manual_view.html';
			});
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header_management.html"></div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb" data-include="../include/snb_management.html"></div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="pageTit">
					<h2>업무지침서</h2>
					<div class="pagePos"><span>Home</span><span>경영지원</span><span>교육 관리</span><strong>업무지침서</strong></div>
				</div>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div>
						<div class="tls">
							<table>
								<colgroup>
									<col width="10"/>
									<col />
									<col width="170"/>
								</colgroup>
								<thead>
									<tr>
										<th>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chkall" />
												<label for="chkall"><i></i></label>
											</span>
										</th>
										<th>제목</th>
										<th>등록일자</th>
									</tr>
								</thead>
								<tbody>
									<!--Loop-->
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk1" />
												<label for="chk1"><i></i></label>
											</span>
										</td>
										<td class="tL">소프트웨어 비즈니스란?</td>
										<td>2020-01-02 15:16:55</td>
									</tr>
									<!--//Loop-->
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk2" />
												<label for="chk2"><i></i></label>
											</span>
										</td>
										<td class="tL">업무지침서_기획파트</td>
										<td>2020-01-02 15:16:55</td>
									</tr>
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk3" />
												<label for="chk3"><i></i></label>
											</span>
										</td>
										<td class="tL">업무지침서_디자인파트</td>
										<td>2020-01-02 15:16:55</td>
									</tr>
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk4" />
												<label for="chk4"><i></i></label>
											</span>
										</td>
										<td class="tL">업무지침서_퍼블리싱파트</td>
										<td>2020-01-02 15:16:55</td>
									</tr>
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk5" />
												<label for="chk5"><i></i></label>
											</span>
										</td>
										<td class="tL">업무지침서_개발파트</td>
										<td>2020-01-02 15:16:55</td>
									</tr>
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk6" />
												<label for="chk6"><i></i></label>
											</span>
										</td>
										<td class="tL">업무지침서_테스트파트</td>
										<td>2020-01-02 15:16:55</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!---->
						<div class="bpSet">
							<div class="btnArea">
								<span class="left">
									<button class="btnM" id="deleteBtn">선택삭제</button>
								</span>
								<span class="right">
									<a href="board_education_manual_write.html" class="btnM">새글등록</a>
								</span>
							</div>
							<div class="paginate">
								<span>
									<a class="first">이전</a>
									<a class="on">1</a>
									<a>2</a>
									<a>3</a>
									<a>4</a>
									<a>5</a>
									<a class="next">다음</a>
								</span>
								<span class="selectSet">
									<select>
										<option>10개</option>
										<option>20개</option>
										<option>50개</option>
										<option>100개</option>
									</select>
								</span>
							</div>
						</div>
						<!--//-->
					</div>
					<!-- //page -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
		<!-- Popup -->
		<div class="popDim" style="display:none;">
			<div class="alertPop" style="display:none;">
				<div class="pBack">
					<!---->
					<p>입력한 정보가 삭제됩니다.<br/>삭제하시겠습니까?</p>
					<!--//-->
				</div>
				<div class="pBtn">
					<button class="btnM white">취소</button>
					<button class="btnM blue">확인</button>
				</div>
			</div>
		</div>
		<!-- //Popup -->
    </body>
</html>
