<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>AndU</title><!-- 2021-02-09 텍스트 변경 -->
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../../js/editor/ckeditor.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/editor/sample.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>
		$(document).ready(function(){
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header_management.html"></div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb" data-include="../include/snb_management.html"></div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="pageTit">
					<h2>신규사원 OJT</h2>
					<div class="pagePos"><span>Home</span><span>경영지원</span><span>교육 관리</span><strong>신규사원 OJT</strong></div>
				</div>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div>
						<!---->
						<div class="tws">
							<table>
								<colgroup>
									<col width="100"/>
									<col width="300" />
									<col width="100"/>
									<col width="300" />
									<col width="100"/>
									<col width="300" />
								</colgroup>
								<tbody>
									<tr>
										<th>제목</th>
										<td colspan="5"><input type="text" /></td>
									</tr>
									<tr>
										<td colspan="6">
											<div id="editor">
												<p></p>
											</div>
											<script>
												initSample();
											</script>
										</td>
									</tr>
									<tr>
										<th>첨부파일</th>
										<td colspan="5">
											<script src="../../js/dropzone.js"></script>
											<link rel="stylesheet" href="../../css/dropzone.css" />
											<form action="/upload-target" class="dropzone"></form>
											<p class="mt5px">첨부파일은 PDF에 한해 등록해주시기 바랍니다</p>
										</td>
									</tr>
									<tr>
										<th>교육이미지</th>
										<td colspan="5">
											<form action="/upload-target" class="dropzone"></form>
											<p class="mt5px">첨부파일은 이미지(jpg,png)에 한해 등록해주시기 바랍니다</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!---->
						<div class="btnArea tC">
							<a href="board_education_ojt_view.html" class="btnM">수정</a>
							<a href="board_education_ojt_view.html" class="btnM">저장</a>
							<a href="board_education_ojt.html" class="btnM">취소</a>
							<a href="board_education_ojt.html" class="btnM">삭제</a>
						</div>
						<!--//-->
					</div>
					<!-- //page -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
		</div>
    </body>
</html>
