<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>AndU</title><!-- 2021-02-09 텍스트 변경 -->
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>
		$(document).ready(function(){
			/* 파일업로드 */
			$('.fileSet input[type=file]').change(function() {
				var fileValue = $(this).val().split("\\");
				var fileName = fileValue[fileValue.length-1];
				$('.fileSet .loadEnd em').text(fileName);
				$('.fileSet .fileFind').hide();
				$('.fileSet .loadIng').show();
				setTimeout(function() {
					$('.fileSet .loadIng').hide();
					$('.fileSet .loadFail').show();
				}, 3000);
				setTimeout(function() {
					$('.fileSet .loadFail').hide();
					$('.fileSet .loadEnd').show();
				}, 6000);
			});
			$('.fileSet .loadEnd button').click(function() {
				$('.fileSet .fileFind').show();
				$('.fileSet .loadIng, .fileSet .loadEnd, .fileSet .loadFail').hide();
			});
			/* 파일업로드 */
			$('.projectGuideSet .white').click(function(){
				$('.popDim').show();
				$('.designPop').show();
			});
			$('.alertPop button, .basicPop button').click(function(){
				$('.popDim, .alertDim').hide();
				$('.alertPop, .basicPop').hide();
			});
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header_management.html"></div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb" data-include="../include/snb_management.html"></div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="pageTit">
					<h2>프로젝트 관리</h2>
					<div class="pagePos"><span>Home</span><span>관리자</span><strong>프로젝트 관리</strong></div>
				</div>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div>
						<!---->
						<div class="boardTop">
							<em>전체 10,000건</em>
							<span class="right">
								<span class="searchBasic">
									<span class="selectSet">
										<select>
											<option>전체</option>
											<option>활성화</option>
											<option>비활성화</option>
										</select>
									</span>
									<span class="selectSet">
										<select>
											<option>전체</option>
											<option>진행중</option>
											<option>완료</option>
										</select>
									</span>
									<input type="text" placeholder="프로젝트 입력" />
									<input type="submit" value="검색" class="btnSearch" />
									<button class="btnReset">초기화</button>
								</span>
								<button class="btnM">엑셀다운로드</button>
							</span>
						</div>
						<!---->
						<div class="tls">
							<table>
								<colgroup>
									<col width="50">
									<col width="50">
									<col width="22%">
									<col width="260">
									<col width="150">
									<col width="150">
									<col width="90">
									<col width="160">
									<col width="80">
									<!-- <col width="90"> 2020-04-13 삭제
									<col width="90"> -->
								</colgroup>
								<thead>
									<tr>
										<th>No.</th>
										<th>활성화</th>
										<th>프로젝트번호</th>
										<th>프로젝트명</th>
										<th>발주처</th>
										<th>고객사</th>
										<th>PM (참여자)</th>
										<th>계약기간</th>
										<th>생성일</th>
										<!-- <th>관리</th> -->
									</tr>
								</thead>
								<tbody>
									<!--Loop-->
									<tr>
										<td>5</td>
										<td>O</td>
										<td class="tL">TT201001_Swork-e-commerce&Renewal(01)_MIX</td>
										<td class="tL"><a href="project_view.html">Container</a></td>
										<td>발주처명</td>
										<td>고객사명</td>
										<td>홍길동 (6)</td>
										<td>2020-01-01 ~ 2020-06-30</td>
										<td>2020-01-01</td>
									</tr>
									<!--//Loop-->
									<tr>
										<td>4</td>
										<td>O</td>
										<td class="tL">TT200906_eSign-신차중고차고도화(01)_MIX</td>
										<td class="tL"><a href="project_view.html">eSign-신차중고차고도화</a></td>
										<td>알씨아이파이낸셜서비스코리아㈜</td>
										<td>알씨아이파이낸셜서비스코리아㈜</td>
										<td>김철수 (2)</td>
										<td>2020-01-01 ~ 2020-06-30</td>
										<td>2020-01-01</td>
									</tr>
									<tr>
										<td>3</td>
										<td>O</td>
										<td class="tL">TT200833_기업정보사이드(01)_TSI</td>
										<td class="tL"><a href="project_view.html">企業情報登録サイト（調査員用、被調査先用）開発委託</a></td>
										<td>TDB</td>
										<td>TDB</td>
										<td>홍길동 (2)</td>
										<td>2020-01-01 ~ 2020-06-30</td>
										<td>2020-01-01</td>
									</tr>
									<tr>
										<td>2</td>
										<td>X</td>
										<td class="tL">TT191121_scanit(TT)(04)_TSI</td>
										<td class="tL"><a href="project_view.html">Commuting</a></td>
										<td>발주처명</td>
										<td>고객사명</td>
										<td>홍길동 (2)</td>
										<td>2020-01-01 ~ 2020-06-30</td>
										<td>2020-01-01</td>
									</tr>
									<tr>
										<td>1</td>
										<td>X</td>
										<td class="tL">[완료] TT191121_scanit(TT)(04)_TSI</td>
										<td class="tL"><a href="project_view.html">PSC</a></td>
										<td>발주처명</td>
										<td>고객사명</td>
										<td>홍길동 (2)</td>
										<td>2020-01-01 ~ 2020-06-30</td>
										<td>2020-01-01</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!---->
						<div class="bpSet">
							<div class="btnArea">
								<span class="right">
									<a href="project_write.html" class="btnM">프로젝트 추가</a>
								</span>
							</div>
							<div class="paginate">
								<span>
									<a class="first">이전</a>
										<a class="on">1</a>
										<a>2</a>
										<a>3</a>
										<a>4</a>
										<a>5</a>
									<a class="next">다음</a>
								</span>
								<span class="selectSet">
									<select>
										<option>10개</option>
										<option>20개</option>
										<option>50개</option>
										<option>100개</option>
									</select>
								</span>
							</div>
						</div>
						<!--//-->

					</div>
					<!-- //page -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
		<!-- Popup -->
		<div class="popDim" style="display:none;">
			<div class="basicPop designPop" style="display:none;">
				<button class="pclose">닫기</button>
				<div class="tt">
					<h1>프로젝트 디자인관리</h1>
				</div>
				<div class="pBack">
					<!---->
					<div class="tws">
						<table>
							<colgroup>
								<col width="100"/>
								<col />
							</colgroup>
							<tbody>
								<tr>
									<th>메뉴명</th>
									<td colspan="5"><input type="text" /></td>
								</tr>
								<tr>
									<th>첨부파일</th>
									<td colspan="5">
										<script src="../../js/dropzone.js"></script>
										<link rel="stylesheet" href="../../css/dropzone.css" />
										<form action="/upload-target" class="dropzone"></form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--//-->
				</div>
				<div class="pBtn">
					<button class="btnM white">저장</button>
					<button class="btnM blue">확인</button>
				</div>
			</div>
		</div>
		<!-- //Popup -->
    </body>
</html>
