<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>AndU</title><!-- 2021-02-09 텍스트 변경 -->
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>  
		$(document).ready(function(){
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header_management.html"></div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb" data-include="../include/snb_management.html"></div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="pageTit">
					<h2>코드관리</h2>
					<div class="pagePos"><span>Home</span><span>관리자</span><strong>코드관리</strong></div>
				</div>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div>
						<!---->
						<div class="tws">
							<table>
								<colgroup>
									<col width="150" />
									<col />
									<col width="150" />
									<col />
								</colgroup>
								<tbody>
									<tr>
										<th>코드 번호</th>
										<td><input type="text" /></td>
										<th>코드 명</th>
										<td><input type="text" /></td>
									</tr>
									<tr>
										<th>코드 설명</th>
										<td colspan="3"><input type="text" /></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!---->
						<div class="btnArea">
							<button class="btnM right">상세 추가</button>
						</div> 
						<div class="tls">
							<table>
								<colgroup>
									<col width="100" />
									<col width="200" />
									<col />
									<col width="100" />
									<col width="80" />
									<col width="100" />
									<col width="90" />
								</colgroup>
								<thead>
									<tr>
										<th>코드 상세 번호</th>
										<th>코드 상세명</th>
										<th>코드 상세 설명</th>
										<th>우선순위</th>
										<th>사용여부</th>
										<th>하위코드번호</th>
										<th>관리</th>
								</thead>
								<tbody>
									<!-- Loop -->
									<tr>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td>
											<span class="selectSet">
												<select> 
													<option value="Y">Y</option>
													<option value="N">N</option>
												</select>
											</span>
										</td>
										<td><input type="text" /></td>
										<td><button class="btnS white">삭제</button></td>
									</tr>
									<!-- //Loop -->
									<tr>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td>
											<span class="selectSet">
												<select> 
													<option value="Y">Y</option>
													<option value="N">N</option>
												</select>
											</span>
										</td>
										<td><input type="text" /></td>
										<td><button class="btnS white">삭제</button></td>
									</tr>
									<tr>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td>
											<span class="selectSet">
												<select> 
													<option value="Y">Y</option>
													<option value="N">N</option>
												</select>
											</span>
										</td>
										<td><input type="text" /></td>
										<td><button class="btnS white">삭제</button></td>
									</tr>
									<tr>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td>
											<span class="selectSet">
												<select> 
													<option value="Y">Y</option>
													<option value="N">N</option>
												</select>
											</span>
										</td>
										<td><input type="text" /></td>
										<td><button class="btnS white">삭제</button></td>
									</tr>
									<tr>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td><input type="text" /></td>
										<td>
											<span class="selectSet">
												<select> 
													<option value="Y">Y</option>
													<option value="N">N</option>
												</select>
											</span>
										</td>
										<td><input type="text" /></td>
										<td><button class="btnS white">삭제</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!---->
						<div class="btnArea tC">
							<a href="system_code.html" class="btnM">저장</a>
							<a href="system_code.html" class="btnM">목록</a>
							<a href="system_code.html" class="btnM">삭제</a>
						</div> 
						<!--//-->

					</div>
					<!-- //page -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
		</div>
    </body>
</html>
