<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>AndU</title><!-- 2021-02-09 텍스트 변경 -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../../css/jquery.minicolors.css"><!-- 2020-04-22 추가 -->
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconFont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/jquery.minicolors.js"></script><!-- 2020-04-22 추가 -->
		<script>
		$(document).ready(function(){
			/**/
			$('#deleteBtn').click(function(){
				$('.popDim').show();
				$('.alertPop').show();
			});
			$('.pBtn button, .pclose').click(function(){
				$('.popDim, .alertDim').hide();
				$('.alertPop, .basicPop').hide();
			});
			/**/
			$('.tls tbody tr').dblclick(function(){
				location.href = 'task_visitor_view.html';
			});
			$('#meetingRoomBtn').click(function(){
				$('.popDim').show();
				$('.meetingRoomPop').show();
			});

			/* 2020-04-22 colorPicker 적용 */
			$('.colorPicker').minicolors({
				animationSpeed: 50,
				animationEasing:'swing',
				changeDelay: 0,
				position:'top left'
			});
			/**/
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" data-include="../include/header_management.html"></div>
			<!-- //header -->
			<hr/>
			<!-- Sub Menu -->
			<div id="snb" data-include="../include/snb_management.html"></div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="pageTit">
					<h2>회의실 관리</h2>
					<div class="pagePos"><span>Home</span><span>경영지원</span><span>회의 관리</span><strong>회의실 관리</strong></div>
				</div>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="visitorLayout">
						<!---->
						<div class="boardTop">
							<span class="right">
								<span class="searchBasic">
									<span class="selectSet">
										<select>
											<option>구분</option>
											<option>회의실명</option>
											<option>층수</option>
											<option>수용가능 인원</option>
											<option>시설</option>
										</select>
									</span>
									<input type="text" placeholder="키워드 입력" />
									<input type="submit" value="검색" class="btnSearch" />
									<button class="btnReset">초기화</button>
								</span>
								<button class="btnM">엑셀다운로드</button>
							</span>
						</div>
						<!---->
						<div class="tls">
							<table>
								<colgroup>
									<col width="10"/>
									<col width="200"/>
									<col width="120"/>
									<col width="120"/>
									<col />
									<col width="200"/>
									<col width="120"/>
								</colgroup>
								<thead>
									<tr>
										<th>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chkall" />
												<label for="chkall"><i></i></label>
											</span>
										</th>
										<th>회의실 명</th>
										<th>층수</th>
										<th>수용가능 인원</th>
										<th>시설</th>
										<th>관리 담당자</th>
										<th>사용여부</th>
									</tr>
								</thead>
								<tbody>
									<!--Loop-->
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk4" />
												<label for="chk4"><i></i></label>
											</span>
										</td>
										<td class="tL"><span class="roomColor" style="background:#00b0f0;">Ocean</span>Ocean</td>
										<td>지상 1층</td>
										<td>20명</td>
										<td class="tL">초고휘도 프로젝터, 대형 전동스크린, 무선 마이크, 초고속 5G WIFI 무선랜</td>
										<td>조명진 [퍼블리싱팀]</td>
										<td>Y</td>
									</tr>
									<!--//Loop-->
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk3" />
												<label for="chk3"><i></i></label>
											</span>
										</td>
										<td class="tL"><span class="roomColor" style="background:#45b474;">Mountain</span>Mountain</td>
										<td></td>
										<td>20명</td>
										<td class="tL">초고휘도 프로젝터, 대형 전동스크린, 무선 마이크, 초고속 5G WIFI 무선랜</td>
										<td>조명진 [퍼블리싱팀]</td>
										<td>Y</td>
									</tr>
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk2" />
												<label for="chk2"><i></i></label>
											</span>
										</td>
										<td class="tL"><span class="roomColor" style="background:#f79646;">Sunshine</span>Sunshine</td>
										<td></td>
										<td>20명</td>
										<td class="tL">초고휘도 프로젝터, 대형 전동스크린, 무선 마이크, 초고속 5G WIFI 무선랜</td>
										<td>조명진 [퍼블리싱팀]</td>
										<td>Y</td>
									</tr>
									<tr>
										<td>
											<span class="checkSet noLabel">
												<input type="checkbox" id="chk1" />
												<label for="chk1"><i></i></label>
											</span>
										</td>
										<td class="tL"><span class="roomColor" style="background:#0070c0;">Windy</span>Windy</td>
										<td></td>
										<td>10명</td>
										<td class="tL">초고휘도 프로젝터, 대형 전동스크린, 무선 마이크, 초고속 5G WIFI 무선랜</td>
										<td>조명진 [퍼블리싱팀]</td>
										<td>Y</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!---->
						<div class="bpSet">
							<div class="btnArea">
								<span class="left">
									<button class="btnM" id="deleteBtn">선택삭제</button>
								</span>
								<span class="right">
									<button class="btnM" id="meetingRoomBtn">신규등록</button>
								</span>
							</div>
							<div class="paginate">
								<span>
									<a class="first">이전</a>
									<a class="on">1</a>
									<a>2</a>
									<a>3</a>
									<a>4</a>
									<a>5</a>
									<a class="next">다음</a>
								</span>
								<span class="selectSet">
									<select>
										<option>10개</option>
										<option>20개</option>
										<option>50개</option>
										<option>100개</option>
									</select>
								</span>
							</div>
						</div>
						<!--//-->
					</div>
					<!-- //page -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
		<!-- Popup -->
		<div class="popDim" style="display:none;">
			<div class="alertPop" style="display:none;">
				<div class="pBack">
					<!---->
					<p>입력한 정보가 삭제됩니다.<br/>삭제하시겠습니까?</p>
					<!--//-->
				</div>
				<div class="pBtn">
					<button class="btnM white">취소</button>
					<button class="btnM blue">확인</button>
				</div>
			</div>
			<div class="basicPop meetingRoomPop" style="display:none;">
				<div class="tt">
					<h1>회의실 관리</h1>
				</div>
				<div class="pBack">
					<!---->
					<div class="tws">
						<table>
							<colgroup>
								<col width="104px" />
								<col width="*" />
							</colgroup>
							<tbody>
								<tr>
									<th>회의실 명</th>
									<td><input type="text" class="wFull" placeholder="회의실 명을 입력해 주세요 (최대 50글자)"/></td>
								</tr>
								<tr>
									<th>담당자</th>
									<td>
										<span class="selectSet">
											<select>
												<option>지상</option>
												<option>지하</option>
											</select>
										</span>
										<input type="text"/> 층 (숫자만 입력)
									</td>
								</tr>
								<tr>
									<th>수용가능 인원</th>
									<td><input type="text"/> 명 (숫자만 입력)</td>
								</tr>
								<tr>
									<th>시설</th>
									<td colspan="3">
										<!-- 2020-04-22 수정  -->
										<span class="checkSet noLabel">
											<input type="checkbox" id="f1" name="facility"/>
											<label for="f1"><i></i>마이크</label>
										</span>
										<span class="checkSet noLabel">
											<input type="checkbox" id="f2" name="facility"/>
											<label for="f2"><i></i>스크린</label>
										</span>
										<span class="checkSet noLabel">
											<input type="checkbox" id="f3" name="facility"/>
											<label for="f3"><i></i>빔</label>
										</span>
										<span class="checkSet noLabel">
											<input type="checkbox" id="f4" name="facility"/>
											<label for="f4"><i></i>칠판</label>
										</span>
										<span class="checkSet noLabel">
											<input type="checkbox" id="f5" name="facility"/>
											<label for="f5"><i></i>TV</label>
										</span>
										<span class="checkSet noLabel">
											<input type="checkbox" id="f6" name="facility"/>
											<label for="f6"><i></i>멀티탭</label>
										</span>
										<span class="checkSet noLabel">
											<input type="checkbox" id="f7" name="facility"/>
											<label for="f7"><i></i>HDMI</label>
										</span>
										<span class="checkSet noLabel">
											<input type="checkbox" id="f8" name="facility"/>
											<label for="f8"><i></i>RGB</label>
										</span>
										<!-- //2020-04-22 수정  -->
									</td>
								</tr>
								<tr>
									<th>관리 담당자</th>
									<td>
										<span class="selectSet">
											<select>
												<option>선택하세요</option>
												<option>조명진</option>
											</select>
										</span>
										<input type="text" placeholder="회의부서명" readonly/>
									</td>
								</tr>
								<tr>
									<th>대표색상</th>
									<td>
										<input type="text" class="colorPicker" placeholder="#00b0f0"/><!-- 2020-04-22 수정  -->
									</td>
								</tr>
								<tr>
									<th>사용여부</th>
									<td>
										<span class="labelToggleSet">
										    <input type="checkbox" id="push" checked />
										    <label for="push"><span>미사용</span><span>사용</span></label>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--//-->
				</div>
				<div class="pBtn">
					<button class="btnM white">취소</button>
					<button class="btnM blue">확인</button>
				</div>
			</div>
		</div>
		<!-- //Popup -->
    </body>
</html>
