<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
			$(document).ready(function(){
				$('.btnLogout').click(function(){
					$(location).attr('href','login.html');
				});
			});
		</script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- Sub Menu -->
			<div id="snb">
				<aside>
					<div class="back c-menu c-menu--slide-left">
						<div data-include="include/snb.html"></div>
					</div>
					<div class="c-mask"></div><!-- /c-mask -->
				</aside>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- header -->
			<div id="header">
				<header>
					 <span class="left">
						<button class="c-button btnHamburger">햄버거</button>
					 </span>
					 <h2>모니터링</h2>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="monitoringLayout">
						<!-- <div class="grayBox">
							<div class="grayContent">
								<strong><span>씽크트리<!-- 2020-10-29 텍스트 변경 --> 운송플랫폼을 이용하는</span> 두가지 방법</strong>
								<div>
									<ul>
										<li>
											<strong>1</strong>
											<p>
												이미 체결한 운송계약에 의한 오더(배차)를
												<span class="nextLine">접수하고 싶으시다면,</span>
											</p>
											<button class="btnS lineOrange" onclick="location.href='contract_order.html'">계약 오더 바로가기</button>
											<span class="txtSmall">정기운송이 궁금하시다면 고객센터로 연락주세요.<br/>(고객센터: 1644-1644)</span>
										</li>
										<li>
											<strong>2</strong>
											<p>
												정기 운송계약은 없지만 오더(배차)를
												<span class="nextLine">접수하고 싶으시다면,</span>
											</p>
											<button class="btnS lineBlue" onclick="location.href='call_order.html'">콜 오더 바로가기</button>
										</li>
									</ul>
								</div>
							</div>
							<div class="grayContent grayContent2">
								<strong>나의 정산 현황</strong>
								<div>
									<div class="billList">
										<span class="bill">미발행 계산서 <span>3</span>건 / <span>2,000,000</span>원</span>
										<span class="bill">발행된 계산서 <span>4</span>건 / <span>2,000,000</span>원</span>
									</div>
									<div class="billCalSet">
										<span class="left">2019.12.01 ~ 2019.12.19</span>
										<span class="right">
											<span class="radioChoose">
												<label for="lb2"><input type="radio" id="lb2" name="radio1" value="지지난달" /><span>지지난달</span></label>
												<label for="lb3"><input type="radio" id="lb3" name="radio1" value="지난달" /><span>지난달</span></label>
												<label for="lb4"><input type="radio" id="lb4" name="radio1" value="이번달" checked/><span>이번달</span></label>
											</span>
											<span class="selectSet" style="display:none;">
												<select>
													<option selected>이번달</option>
													<option>지난달</option>
													<option>지지난달</option>
												</select>
											</span>
										</span>
									</div>
								</div>
							</div>
						</div> -->
						<div>
							<div class="pCase" data-include="monitoring_pc.html"></div>
							<div class="mCase" data-include="monitoring_m.html"></div>
						</div>

					</div>
					<!-- //page Layout -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
