<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
			$(document).ready(function (){
				$(".tabBox li button").click(function () {
					$(".tabBox li").removeClass("on");
					$(this).parent("li").addClass("on");
				});
			});
		</script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- Sub Menu -->
			<div id="snb">
				<aside>
					<div class="back c-menu c-menu--slide-left">
						<div data-include="include/snb.html"></div>
					</div>
					<div class="c-mask"></div><!-- /c-mask -->
				</aside>
			</div>
			<!-- //Sub Menu -->
			<hr/>
			<!-- header -->
			<div id="header" class="mypageCase">
				<header>
					 <span class="left">
						 <button class="c-button btnHamburger">햄버거</button>
					 </span>
					 <h2>MY</h2>
					 <span class="right">
						<button class="btnRing" onclick="location.href='notice.html'">알림<span>2</span></button>
					 </span>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="mypageMLayout">
						<div class="pd2">
							<!-- 2020-06-25 오더현황 삭제 -->
							<div class="mypageList">
								<ul>
									<li><a href="mypage.html">회원정보</a></li>
									<li><a href="user_approval.html">사용자 승인</a></li>
									<li><a href="notice.html">푸시알림</a></li>
									<li><a href="system_notice.html">공지사항</a></li>
									<li><a href="setting.html">환경설정</a></li>
								</ul>
							</div>
							<div class="bottomSet">
								<button class="btnM" onclick="location.href='system_notice.html'">시스템 공지<span class="numMark">N</span></button><!-- 2020-07-27 new마크 추가 -->
								<button class="btnM" onclick="location.href='login.html'">로그아웃</button>
							</div>
						</div>
					</div>
					<!-- //page Layout -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
