<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>토탈시스템</title>
    <link rel="stylesheet" href="../css/common.css">
    <!-- <link rel="stylesheet" href="../css/login.css"> -->
    <link rel="stylesheet" href="../css/billboard.css">
    <link rel="stylesheet" href="../css/newLayout.css">
    <link rel="stylesheet" href="../css/popup.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../js/billboard.js"></script>
    <script src="../js/billboard.pkgd.js"></script>
		<script src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="../js/jquery-3.5.1.js"></script>
    <style>
        .bb-chart-radars .bb-levels text{
            display: none;
        }
        .bb-chart-radar > polygon{
            fill: transparent !important;
        }
    </style>
  </head>
  <body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header" class="subCase">
				<header>
					<button class="btnPrev" onclick="history.back()">이전 화면으로 이동</button>
					<h1>FAQ</h1>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<!-- tab -->
				<div class="faqFilter">
					<div>
						<span><button class="on">전체</button></span>
						<span><button>키워드1</button></span>
						<span><button>키워드2</button></span>
						<span><button>키워드3</button></span>
						<span><button>키워드4</button></span>
						<span><button>키워드5</button></span>
					</div>
				</div>
				<!--// tab -->
				<div class="faqList">
					<ul>
						<!-- Loop -->
						<li>
							<a href="faq_view.html">
								<strong>[키워드1] 현금 영수증은 어떻게 받나요?</strong>
							</a>
						</li>
						<!-- //Loop -->
						<li>
							<a href="faq_view.html">
								<strong>[키워드1] 회원탈퇴 방법</strong>
							</a>
						</li>
						<li>
							<a href="faq_view.html">
								<strong>[키워드3] 디바이스 오류</strong>
							</a>
						</li>
						<li>
							<a href="faq_view.html">
								<strong>[키워드1] 고객센터 상담시간</strong>
							</a>
						</li>
						<li>
							<a href="faq_view.html">
								<strong>[키워드1] 비밀번호 변경은 어떻게 하나요? 비밀번호 변경은 어떻게 하나요?</strong>
							</a>
						</li>
					</ul>
				</div>
			</section>
			</div>
			<!-- //container -->
			<div class="pageTop"><button>상단으로</button></div>
		</div>
		<!-- //Wrap -->
		<script>
			$(window).scroll(function (event) {
        if($(this).scrollTop() > 0){
          $(".pageTop").fadeIn();
					$('#header').addClass('on');
        }else{
          $(".pageTop").fadeOut();
					$('#header').removeClass('on');
        }
			});
			/***/
			$(document).ready(function(){
			  // 공지사항 & 이벤트 Tab
        $(".lineTabNav button").click(function () {
					$(".lineTabNav span").removeClass("on");
					$(this).parent("span").addClass("on");
          var activeTab = $(this).attr("data-name");
          $('.noticeBack article').hide();
          $('.noticeList' + activeTab).show();
					if (activeTab == 2){
						$('.lineTabNav .selectSet').show();
					} else {
						$('.lineTabNav .selectSet').hide();
					}
        });
			   // 페이지 제일 위로 이동
		    $(".pageTop").click(function(){
		        $("html, body").animate({
		            scrollTop : 0
		        }, 300);
		    });
			});
		</script>
  </body>
</html>
