<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-BEST</title>
		<link rel="shortcut icon" href="../images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/bbs.css" />
		<link rel="stylesheet" type="text/css" href="../css/process.css" />
		<link rel="stylesheet" type="text/css" href="../css/contract.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<!-- <script type="text/javascript" src="js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script> -->
		<script type="text/javascript" src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="../js/menu.js"></script>
		<!-- <script type="text/javascript" src="js/duDatepicker.js"></script> -->
		<script type="text/javascript" src="../js/common.js"></script>
		<script>  
		$(document).ready(function(){
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap" class="wrapper">
			<!-- GNB : 서브 생략 -->
			<!-- header -->
			<div id="header"> 
				<head>
					<div class="headTop">
						<span class="hBtnLeft">
							<button class="goPrev" onclick="history.back()">뒤로가기</button>
						</span>
						<h1><img src="../images/img_topLogo.svg" alt="GROUPE RENAULT" /></h1>
						<span class="hBtnRight">
							<a href="main.html" class="goMain">메인으로 이동</a>
						</span>
					</div>
					<div class="headSub">
						<h2 class="sCase"><span>마이페이지 &gt; </span>패스워드 변경</h2>
						<div class="right">
							<p class="userInfo"><strong>김르노</strong> 님</p>
							<span class="session cyanCase">
								세션만료 <strong>26분 30초<span><!-- time progress bar --></span></strong>
							</span>
						</div>
					</div>
				</head>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="content">
					<section>
						<!-- myPage -->
						<div class="mypageLayout">
							<ul class="myPw">
								<li>
									<dl>
										<dt>기존 패스워드</dt>
										<dd><input type="password" /></dd>
										<!-- <dd class="error">※ 기존 패스워드와 일치하지 않습니다.</dd> -->
									</dl>
								</li>
								<li>
									<dl>
										<dt>신규 패스워드</dt>
										<dd><input type="password" /></dd>
										<dd class="error">※ 영/숫자/특수기호를 포함하여 8~16자 이내로 입력해 주세요.</dd>
									</dl>
								</li>
								<li>
									<dl>
										<dt>신규 패스워드 확인</dt>
										<dd><input type="password" /></dd>
										<!-- <dd class="error">※ 신규 패스워드와 동일한 패스워드를 입력해 주세요.</dd> -->
									</dl>
								</li>
								<li class="last">
									<div>
										<a href="" class="btnLG">취소</a> <!--2019-04-19-->
										<a href="" class="btnBG">확인</a>
									</div>
								</li>
							</ul>
						</div>
						<!-- //myPage -->
					</section>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //wrap -->
	</body>
</html>