<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/layout.css" />
		<!-- <link rel="stylesheet" type="text/css" href="../css/nav.css"> -->
		<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script> -->
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>
			$('.callOrder .tls tbody tr td').click(function(){
				location.href = 'order_view.html';
			});
			$('.callOrder .tls tbody tr#goBlue td').click(function(){
				location.href = 'order_view2.html';
			});
			$('.callOrder .tls tbody tr#notSubmitGo td').click(function(){
				location.href = 'order_write2.html';
			});
			$('.callOrder .tls tbody tr.theConGo td').click(function(){
				location.href = 'order_view3.html';
			}); //2020-07-16 계약오더인데 콜오더로 접수한 건에 대한 오더 상세화면으로 이동
			$('.statusSet.confirm').click(function(){
				$('.popDim').show();
				$('.orderPop').show();
			});
		</script>
	</head>
	<body>
		<div class="grayBox searchArea">
			<fieldset>
				<button class="btnM lineRed">선택삭제</button>
				<button class="btnM lineOrange">엑셀 다운로드</button>
				<span class="right">
					<dl class="inputBox">
						<dt>오더상태</dt>
						<dd>
							<span class="selectSet">
								<select>
									<option selected>전체</option>
									<option>작성중</option>
									<option>계약오더 등록</option>
									<option>콜오더 제출</option>
									<option>콜오더 취소</option>
									<option>배차확정</option>
								</select>
							</span>
						</dd>
					</dl>
					<dl class="inputBox">
						<dt>운송유형</dt>
						<dd>
							<span class="selectSet">
								<select>
									<option selected>전체</option>
									<option>수입</option>
									<option>수출</option>
								</select>
							</span>
						</dd>
					</dl>
					<span class="inputKeyword">
						<input type="text" placeholder="작업지로 검색">
						<input type="submit" class="btnM black" value="조회">
					</span>
				</span>
			</fieldset>
		</div>
		<div class="pd2">
			<div class="tls">
				<table>
					<colgroup>
						<col width="80" />
						<col width="200" />
						<col width="140" />
						<col width="60" />
						<col width="120" />
						<col width="100" />
						<col width="100" />
						<col width="150" />
						<col width="100" />
						<col width="100" />
						<col width="100" />
						<col width="100" />
					</colgroup>
					<thead>
						<tr>
							<th>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chkAll" />
									<label for="chkAll"><i></i></label>
								</span>
							</th>
							<th>오더일시</th>
							<th>오더번호</th>
							<th colspan="2">오더상태</th>
							<th>운송유형</th>
							<th>형태</th>
							<th>운송비용</th>
							<th>출발지</th>
							<th>작업지</th>
							<th>도착지</th>
						</tr>
					</thead>
					<tbody>
						<!--Loop-->
						<tr id="notSubmitGo">
							<td>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chk1" />
									<label for="chk1"><i></i></label>
								</span>
							</td>
							<td>
								<span class="dateFormat"><em>2019-12-01</em><i>오전 11:30:00</i></span><!-- 2020-06-16 컴포넌트 수정 -->
							</td>
							<td>-</td>
							<td>-</td>
							<td><span class="statusSet request">작성중</span></td>
							<td class="ftRed">수입</td>
							<td>왕복</td>
							<td class="tR">9,999,999</td>
							<td>XX CY</td>
							<td>경남부산</td>
							<td>경남부산</td>
						</tr>
						<!--//Loop-->
						<tr>
							<td>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chk8" />
									<label for="chk8"><i></i></label>
								</span>
							</td>
							<td>
								<span class="dateFormat"><em>2019-12-01</em><i>오전 11:30:00</i></span><!-- 2020-06-16 컴포넌트 수정 -->
							</td>
							<td>C999999</td>
							<td>0/1</td>
							<td><span class="statusSet regist">계약오더 등록</span></td>
							<td class="ftRed">수입</td>
							<td>편도</td>
							<td class="tR">9,999,999</td>
							<td>XX CY</td>
							<td>경남부산</td>
							<td>경남부산</td>
						</tr>
						<tr>
							<td>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chk8" />
									<label for="chk8"><i></i></label>
								</span>
							</td>
							<td>
								<span class="dateFormat"><em>2019-12-01</em><i>오전 11:30:00</i></span><!-- 2020-06-16 컴포넌트 수정 -->
							</td>
							<td>P999999</td>
							<td>0/2</td>
							<td><span class="statusSet regist">계약오더 등록</span></td>
							<td class="ftRed">수입</td>
							<td>환적</td>
							<td class="tR">9,999,999</td>
							<td>XX CY</td>
							<td></td>
							<td>경남부산</td>
						</tr>
						<tr>
							<td>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chk2" />
									<label for="chk2"><i></i></label>
								</span>
							</td>
							<td>
								<span class="dateFormat"><em>2019-12-01</em><i>오전 11:30:00</i></span><!-- 2020-06-16 컴포넌트 수정 -->
							</td>
							<td>C999999</td>
							<td>0/3</td>
							<td><span class="statusSet regist">계약오더 등록</span></td>
							<td class="ftRed">수입</td>
							<td>환적</td>
							<td class="tR">9,999,999</td>
							<td>XX CY</td>
							<td></td>
							<td>경남부산</td>
						</tr>
						<tr id="goBlue"><!-- 2020-07-16 수출케이스로 변경 -->
							<td>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chk3" />
									<label for="chk3"><i></i></label>
								</span>
							</td>
							<td><span class="dateFormat"><em>2019-12-01</em><i>오전 11:30:00</i></span><!-- 2020-06-16 컴포넌트 수정 --></td>
							<td>C999999</td>
							<td>3/3</td>
							<td><span class="statusSet regist">계약오더 등록</span></td>
							<td class="ftBlue">수출</td><!-- 2020-07-16 수출케이스로 변경 -->
							<td>왕복</td>
							<td class="tR">9,999,999</td>
							<td>XX CY</td>
							<td>경남부산</td>
							<td>경남부산</td>
						</tr>
						<tr class="theConGo"><!-- 2020-07-16 계약오더인데 콜오더로 접수한 건 -->
							<td>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chk6" /><!-- 2020-07-16 disabled 상태 삭제 -->
									<label for="chk6"><i></i></label>
								</span>
							</td>
							<td>
								<span class="dateFormat"><em>2019-12-01</em><i>오전 11:30:00</i></span><!-- 2020-06-16 컴포넌트 수정 -->
							</td>
							<td><span class="calCaption tHE">tHE</span>C999999</td>
							<td>3/3</td>
							<td><span class="statusSet">배차확정</span></td>
							<td class="ftRed">수입</td><!-- 2020-07-16 수입케이스로 변경 -->
							<td>왕복</td>
							<td class="tR">9,999,999</td>
							<td>XX CY</td>
							<td>경남부산</td>
							<td>경남부산</td>
						</tr>
						<tr class="theConGo"><!-- 2020-07-16 계약오더인데 콜오더로 접수한 건 -->
							<td>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chk7" />
									<label for="chk7"><i></i></label>
								</span>
							</td>
							<td>
								<span class="dateFormat"><em>2019-12-01</em><i>오전 11:30:00</i></span><!-- 2020-06-16 컴포넌트 수정 -->
							</td>
							<td><span class="calCaption tHE">tHE</span>C999999</td>
							<td>3/3</td>
							<td><span class="statusSet cancel">콜오더 취소</span></td>
							<td class="ftRed">수입</td>
							<td>왕복</td>
							<td class="tR">9,999,999</td>
							<td>XX CY</td>
							<td>경남부산</td>
							<td>경남부산</td>
						</tr>
						<tr class="theConGo"><!-- 2020-07-16 계약오더인데 콜오더로 접수한 건 -->
							<td>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chk8" />
									<label for="chk8"><i></i></label>
								</span>
							</td>
							<td>
								<span class="dateFormat"><em>2019-12-01</em><i>오전 11:30:00</i></span><!-- 2020-06-16 컴포넌트 수정 -->
							</td>
							<td><span class="calCaption tHE">tHE</span>C999999</td>
							<td>3/3</td>
							<td><span class="statusSet receive">콜오더 제출</span></td>
							<td class="ftRed">수입</td>
							<td>왕복</td>
							<td class="tR">9,999,999</td>
							<td>XX CY</td>
							<td>경남부산</td>
							<td>경남부산</td>
						</tr>
						<tr>
							<td>
								<span class="checkSet noLabel">
									<input type="checkbox" id="chk8" />
									<label for="chk8"><i></i></label>
								</span>
							</td>
							<td>
								<span class="dateFormat"><em>2019-12-01</em><i>오전 11:30:00</i></span><!-- 2020-06-16 컴포넌트 수정 -->
							</td>
							<td>C999999</td>
							<td>3/3</td>
							<td><span class="statusSet regist">계약오더 등록</span></td>
							<td class="ftRed">수입</td>
							<td>왕복</td>
							<td class="tR">9,999,999</td>
							<td>XX CY</td>
							<td>경남부산</td>
							<td>경남부산</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- popup -->
		<div class="popDim" style="display:none;">
			<!-- 오더정보 -->
			<div class="basicPop orderPop" id="samplePop10" style="display:none">
				<button class="pclose">닫기</button>
				<div class="tt">
					<h1>오더 번호: A00001</h1>
				</div>
				<div class="pBack">
					<div class="tab02">
						<!-- tab -->
						<div class="tabBack">
							<div class="tabNav">
								<nav>
									<ul>
										<li class="on"><button data-name="1">오더~배차현황<span>완료</span></button></li>
										<li><button data-name="2">배차 ~ 운송현황<span>완료</span></button></li>
										<li><button data-name="3">차량정보</button></li>
										<li><button data-name="4">고객정보</button></li>
									</ul>
								</nav>
							</div>
						</div>
						<!--// tab -->
						<div class="tabLayout">
							<p class="orderKind">
								<span class="orderType">계약오더</span>
								<span class="transType red">수입</span>
							</p>
							<div class="tabData tData1" style="display:block;">
								<div class="orderInfoList">
									<ul class="thead">
										<li>
											<div>진행 현황</div>
											<span>비고(증빙자료)</span>
										</li>
									</ul>
									<ul class="tbody">
										<li>
											<span class="status">오더</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">오더접수(제출)</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">ㄴ 오더취소</td>
																<td class="date"></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">배차</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">배차접수(오더확정)</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">배차요청</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">ㄴ배차지연</td>
																<td class="date"></td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">ㄴ배차거절</td>
																<td class="date"></td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">ㄴ배차취소(차주)</td>
																<td class="date"></td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">ㄴ배차취소(고객)</td>
																<td class="date"></td>
															</tr>
															<tr class="on">
																<td class="p"><span></span></td>
																<td class="txt">ㄴ배차취소(고객)</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="tabData tData2">
								<!-- 계약오더 case-->
								<div class="orderInfoList contractOrderCase">
									<ul class="thead">
										<li>
											<div>진행 현황</div>
											<span>비고(증빙자료)</span>
										</li>
									</ul>
									<ul class="tbody">
										<li>
											<span class="status">운송시작(출발지)</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">출발지로 이동</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">반출신고</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td>푸시?</td>
															</tr>
															<tr>
																<td><strong>반출신고 완료</strong></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">출발지</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">출발지 도착</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">적재컨테이너 상차</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td><span class="thum"><em><img src="../images/sample1.png" alt="예시 이미지"/></em></span></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">이동(작업지)</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">작업지로 이동</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">작업지</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">작업지로 이동</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr class="on">
																<td class="p"><span></span></td>
																<td class="txt">적재컨테이너 하역</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr>
																<td class="p"><span></span></td>
																<td class="txt">반입신고</td>
																<td class="date"></td>
															</tr>
															<tr>
																<td class="p"><span></span></td>
																<td class="txt">빈 컨테이너 픽업</td>
																<td class="date"></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td><span class="thum"><em><img src="../images/sample2.png" alt="예시 이미지"/></em></span></td>
															</tr>
															<tr>
																<td><span class="taking"><strong>인계확인</strong></span></td>
															</tr>
															<tr>
																<td>반입신고 미완료</td>
															</tr>
															<tr>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">이동(반납지)</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr>
																<td class="p"><span></span></td>
																<td class="txt">반납지로 이동</td>
																<td class="date"></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">도착지</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr>
																<td class="p"><span></span></td>
																<td class="txt">반납지 도착</td>
																<td class="date"></td>
															</tr>
															<tr>
																<td class="p"><span></span></td>
																<td class="txt">빈 컨테이너 반납</td>
																<td class="date"></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!-- //계약오더 case -->
								<!-- 콜오더 case -->
								<div class="orderInfoList callOrderCase" style="display:none;">
									<ul class="thead">
										<li>
											<div>진행 현황</div>
											<span>비고(증빙자료)</span>
										</li>
									</ul>
									<ul class="tbody">
										<li>
											<span class="status">운송시작(출발지)</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">출발지로 이동</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">반출신고</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td>푸시?</td>
															</tr>
															<tr>
																<td><strong>반출신고 완료</strong></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">출발지</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">출발지 도착</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">적재컨테이너 상차</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td><span class="thum"><em><img src="../images/sample1.png" alt="예시 이미지"/></em></span></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">이동(작업지)</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">작업지로 이동</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">작업지</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr class="past">
																<td class="p"><span></span></td>
																<td class="txt">작업지로 이동</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr class="on">
																<td class="p"><span></span></td>
																<td class="txt">상차/실링</td>
																<td class="date">2019-11-29  00:00:00</td>
															</tr>
															<tr>
																<td class="p"><span></span></td>
																<td class="txt">반입신고</td>
																<td class="date"></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td><span class="thum"><em><img src="../images/sample2.png" alt="예시 이미지"/></em></span></td>
															</tr>
															<tr>
																<td><span class="taking"><strong>인계확인</strong></span></td>
															</tr>
															<tr>
																<td>반입신고 미완료</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">이동(반납지)</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr>
																<td class="p"><span></span></td>
																<td class="txt">하차지 이동</td>
																<td class="date"></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li>
											<span class="status">도착지</span>
											<div class="dlistBack">
												<div class="status2">
													<table>
														<tbody>
															<tr>
																<td class="p"><span></span></td>
																<td class="txt">하차지 도착</td>
																<td class="date"></td>
															</tr>
															<tr>
																<td class="p"><span></span></td>
																<td class="txt">적재 컨테이너 하차</td>
																<td class="date"></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="etc">
													<table>
														<tbody>
															<tr>
																<td></td>
															</tr>
															<tr>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!-- //콜오더 case -->
							</div>
							<div class="tabData tData3">Tab Menu 3 Data</div>
							<div class="tabData tData4">Tab Menu 4 Data</div>
						</div>
					</div>
				</div>
			</div>
			<!--//오더정보-->
		</div>
		<!-- //popup -->
    </body>
</html>
