<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../css/push.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/pushmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap" class="joinCase">
			<!-- header -->
			<div id="header">
				<header>
					 <span class="left">
						<h1>씽크트리<!-- 2020-10-29 텍스트 변경 --></h1>
					 </span>
					 <h2>비밀번호 설정</h2><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="joinLayout pwLayout">
						<div class="whiteBox">
							<div class="joinDetail">
								<strong class="pwChange">휴면계정(180일 경과)입니다.<br/>신규 비밀번호를 설정해 주세요.</strong><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
								<ul class="infoArea">
									<li>
										<dl class="inputBox">
											<dt>신규 비밀번호</dt><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
											<dd><input type="password" placeholder="영,숫자 포함하여 8자리 이상"/></dd>
										</dl>
									</li>
									<li>
										<dl class="inputBox">
											<dt>신규 비밀번호(확인)</dt><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
											<dd><input type="password" placeholder="영,숫자 포함하여 8자리 이상"/></dd>
										</dl>
										<p class="errorMsg">현재 비밀번호를 변경해 주세요 (180일 이상 사용 경과)<br/>개인정보 보호를 위해 패스워드를 변경해주세요.</p><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
									</li>
								</ul>
								<!-- btn Area -->
								<div class="btnSet">
									<button class="btnL gray" onclick="location.href='login.html'">취소</button>
									<button class="btnL red" onclick="location.href='company_setting.html'">확인</button>
								</div>
							</div>
						</div>
					</div>
					<!-- //page Layout -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
