<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../css/push.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/pushmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
			$(document).ready(function(){
				$('.step2Data .blue').click(function(){
					$('.step2Data').hide();
					$('.step12Data').hide();
					$('.step3Data').show();
					$('.stepBack h3').text('비밀번호 재설정 완료');//2020-07-08 비밀번호로 텍스트 변경
					$('.stepBack .step').hide();
					$('.stepBack .step.case3').show();
				});
				$('.btnPassNumGo').click(function(){
					$(this).hide();
					$('.btnPassNumGo2').show();
					$('.back.noTt').show();
					$('.back.noTt button').click(function(){
						$('.phonePass .p2').show();
						$('.back.noTt button').click(function(){
							$('.phonePass .redLine').show();
						});
						$('.back.noTt button').click(function(){
							$('.step1Data').hide();
							$('.step2Data').show();
							$('.stepBack h3').text('비밀번호 재설정');//2020-07-08 비밀번호로 텍스트 변경
							$('.stepBack .step').hide();
							$('.stepBack .step.case2').show();
						});
					});
				});
			});
		</script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap" class="joinCase">
			<!-- header -->
			<div id="header">
				<header>
					 <span class="left">
						<h1>씽크트리<!-- 2020-10-29 텍스트 변경 --></h1>
					 </span>
					 <h2>비밀번호 찾기</h2><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<!-- Page Layout -->
					<div class="joinLayout">
						<div class="stepBack">
							<h3>휴대전화 인증</h3>
							<div class="step step3 case1">
								<span class="now"><em>step1</em></span>
								<span><em>step2</em></span>
								<span><em>step3</em></span>
							</div>
							<div class="step step3 case2" style="display:none;">
								<span class="fin"><em>step1</em></span>
								<span class="now"><em>step2</em></span>
								<span><em>step3</em></span>
							</div>
							<div class="step step3 case3" style="display:none;">
								<span class="fin"><em>step1</em></span>
								<span class="fin"><em>step2</em></span>
								<span class="now"><em>step3</em></span>
							</div>
						</div>
						<div class="whiteBox">
							<!-- step 1 -->
							<div class="step1Data">
								<div class="joinDetail infoWrite">
									<ul class="infoArea">
										<li>
											<dl class="inputBox">
												<dt>아이디(이메일)</dt>
												<dd><input type="password" placeholder="아이디를 입력해주세요"/></dd>
											</dl>
										</li>
										<li>
											<dl class="inputBox">
												<dt>성명</dt>
												<dd><input type="password" placeholder="성명을 입력해주세요"/></dd>
											</dl>
										</li>
									</ul>
								</div>
								<div class="line">
									<div class="joinDetail phonePass">
										<div class="back">
											<dl class="inputBox">
												<dt>휴대전화</dt>
												<dd><input type="tel" placeholder="‘ - ’ 없이 숫자로 입력"/></dd>
											</dl>
											<button class="btnM black btnPassNumGo">휴대전화 인증</button><!-- 2020-06-16 버튼색 변경 -->
											<button class="btnM gray btnPassNumGo2" style="display:none;">재발송</button>
										</div>
										<div class="back noTt" style="display:none;">
											<dl class="inputBox">
												<dt>인증번호</dt>
												<dd><input type="tel" placeholder="6자리"/></dd>
												<dd>2:59</dd>
											</dl>
											<button class="btnM green">확인</button>
										</div>
										<p class="errorMsg" style="/*display:none;*/">입력하신 계정 정보가 올바르지 않습니다. 다시 한 번 확인해주세요</p><!-- 2020-06-16 텍스트 내용 변경 -->
										<!-- btn Area -->
										<div class="btnSet tC">
											<button class="btnM whiteBlue" onclick="location.href='login.html'">취소</button>
											<!-- 2020-06-16 버튼색 변경 -->
										</div>
									</div>
								</div>
							</div>
							<!-- //step 1 -->
							<!-- step 2 -->
							<div class="step2Data" style="display:none;">
								<div class="joinDetail infoWrite">
									<ul class="infoArea">
										<li>
											<dl class="inputBox">
												<dt>신규 비밀번호</dt><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
												<dd><input type="password" placeholder="영,숫자 포함하여 8자리 이상"/></dd>
											</dl>
										</li>
										<li>
											<dl class="inputBox">
												<dt>신규 비밀번호(확인)</dt><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
												<dd><input type="password" placeholder="영,숫자 포함하여 8자리 이상"/></dd>
											</dl>
											<p class="errorMsg">비밀번호는 영, 숫자 포함하여 8자리 이상으로 설정하셔야 합니다.</p><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
											<p class="errorMsg">동일한 비밀번호를 입력해주세요.</p><!-- 2020-06-16 에러메시지 추가 --><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
										</li>
									</ul>
									<!-- btn Area -->
									<!-- 2020-06-16 disabled case 추가 -->
									<div class="btnSet">
										<button class="btnL whiteBlue">취소</button>
										<button class="btnL blue" disabled>확인</button>
									</div>
									<!-- //2020-06-16 disabled case 추가 -->
									<div class="btnSet">
										<button class="btnL whiteBlue">취소</button>
										<button class="btnL blue" >확인</button>
									</div>
								</div>
							</div>
							<!-- //step 2 -->
							<!-- step 3 -->
							<div class="step3Data" style="display:none;">
								<div class="joinDetail">
									<div class="joinEnd">
										<p>신규 비밀번호가 설정 되었습니다.<br/>다시 로그인 해주세요.</p><!-- 2020-07-28 패스워드 -> 비밀번호로 텍스트 변경 -->
									</div>
									<!-- btn Area -->
									<div class="btnSet tC">
										<a href="login.html" class="btnL blue">로그인 하러가기</a>
									</div>
								</div>
							</div>
							<!-- //step 3 -->
						</div>
					</div>
					<!-- //page Layout -->
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
