<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="../css/push.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/pushmenu.js"></script>
		<script type="text/javascript" src="../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<div class="pageLoading"><div class="spinner"></div></div> <!-- 페이지로딩 -->

		<!-- Wrap -->
		<div id="wrap">
			<!-- Sub Menu -->
			<div id="snb">
				<aside>
					<div class="back">
						<div data-include="include/snb.html"></div>
					</div>
				</aside>
			</div>
			<!-- //Sub Menu -->
			<!-- mobile Menu -->
			<div id="headerM">
				<div data-include="include/headM.html"></div>
			</div>
			<!-- //mobile Menu -->
			<!-- mobile push -->
			<div id="push">
				<aside>
					<div class="panelBack c-menu--slide-right" data-include="push.html"></div>
					<div class="c-mask"></div><!-- /c-mask -->
				</aside>
			</div>
			<!-- //mobile push -->
			<hr/>
			<div id="containerBack">
				<!-- header -->
				<div id="header">
					<header>
						 <span class="left">
							<a class="btnList" href="">목록</a>
							<strong class="switchTit">물류플랫폼<!-- 2020-10-29 텍스트 변경 --> 물량 캘린더</strong>
						 </span>
						 <h2>
							 <div class="calNavigation">
 								<strong>2020-04</strong>
 								<button class="btnCalNavi before">이전</button>
 								<button class="btnCalNavi after">다음</button>
 							</div>
						 </h2>
						 <span class="right">
							<a class="" href="">배차예약</a>
							<button class="btnM btnListSwitch">캘린더 전환</button>
						 </span>
					</header>
				</div>
				<!-- //header -->
				<hr/>
				<!-- container -->
				<div id="container">
				<section>
					<div class="content">
					<article>
						<!-- Page Layout -->
						<div class=""></div>
						<!-- //page Layout -->
					</article>
					</div>
				</section>
				</div>
				<!-- //container -->
			</div>
		</div>
		<!-- //Wrap -->
    </body>
</html>
