/* ---------------------- @File Name: layout.css ---------------------- */
#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &.mainCase {
        #header {
            background: rgba(255,255,255,.7);
        }
        &.widthP {
            #header {
                background: $whiteColor;
            }
        }
    }
    @include mq(mobile){
        &.mSubCase {
            #header {
                header.pcHeader {
                    display: none;
                }
                header.mSubHeader {
                    display: flex;
                }
            }
            #container {
                padding-bottom: 0;
            }
            #footer {
                display: none;
            }
            #tabBar {
                display: none;
            }
            &.my {
                #container {
                    padding-bottom: 60px;
                }
                #tabBar {
                    display: block;
                }
            }
        }
        &.mainCase {
            #header {
                background: $whiteColor;
            }
        }
    }
}
.userInfo {
    display: inline-flex;
    align-items: center;
    .profileImg {
        margin-right: 10px;
        width: 38px;
        height: 38px;
        border: 0;
    }
    em {
        color: #222222;
        &::after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            margin: 0 4px;
            vertical-align: middle;
            border-radius: 100%;
            border: 1px solid #222222;
        }
    }
    i, a {
        display: inline-block;
        color: $pointColor;
        border-bottom: 1px solid $pointColor;
        
    }
}
#header {
    position: fixed;
    z-index: 12;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 68px;
    // background: rgba(255,255,255,.7);
    background: #fff;
    border-bottom: 1px solid #EEEEEE;
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &.mSubHeader {
            position: relative;
            display: none;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 18px;
                font-weight: 600;
            }
            .btnMPrev {
                position: absolute;
                left: 10px;
                top: 9px;
            }
            background: $whiteColor;
        }
    }
    h1 {
        position: absolute;
        left: 0;
        top: 9px;
        display: inline-block;
        width: 274px;
        height: 50px;
        a {
            @extend %txtHidden;
            display: inline-block;
            width: 100%;
            height: 100%;
            background: url('../../src/assets/images/img_logo.png') no-repeat center;
            background-size: 100% auto;
        }
    }
    ul {
        display: inline-flex;
        gap: 57px;
        a {
            font-size: 16px;
        }
    }
    .myBtn {
        position: absolute;
        right: 150px;
        display: inline-flex;
        align-items: center;
    }
    .pcMy {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        .loginBefore {
            display: inline-flex;
            gap: 32px;
            span {
                position: relative;
                &::before {
                    @include beforeLine(16px, #dddddd);
                    margin: 0 16px 0 -16px;
                }
            }
            &::after {
                @include beforeLine(16px, #dddddd);
                margin: 0 16px 0 -16px;
            }
        }
        .loginAfter {
            display: inline-flex;
            align-items: center;
            gap: 20px;
            min-width: 281px;
            .bCReseller {
                @extend %txtBtn;
                width: 82px;
                height: 32px;
                padding: 0;
                border-radius: 40px;
                color: $pointColor;
                border-color: $pointColor;
                background-color: transparent;
            }
            &::after {
                @include beforeLine(16px, #dddddd);
                margin: 0 16px 0 -4px;
            }
        }
    }
    .topNotiy {
        display: inline-flex;
        gap: 12px;
        .bNoty.m {
            display: none;
        }
        @include mq(mobile){
            .bNoty.m {
                display: inline-flex;
            }
            .bNoty.p {
                display: none;
            }
        }
            
    }
    .mainCase {
        background: rgba(255,255,255,.7);
    }
    @include mq(mobile){
        height: 50px;
        h1 {
            left: -23px;
            width: 178px;
            height: 32px;
        }
        ul {
            display: none;
        }
        .myBtn {
            right: 15px;
        }
        .pcMy {
            .loginBefore {
                display: none !important;
            }
            .loginAfter {
                min-width: auto;
                .bCReseller {
                    margin-right: 16px;
                    width: 74px;
                    height: 28px;
                    font-size: 13px;
                }
                &::after {
                    display: none;
                }
                .userInfo {
                    display: none;
                }
            }
        }
    }
}
#container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    section {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding-top: 68px;
        min-height: calc(100vh - 293px);
        &.mainCase {
            padding-top: 0;
        }
    }
    h2 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 80px 0 30px;
        font-size: 24px;
        color: #000000;
    }
    @include mq(mobile){
        padding: 50px 0 60px;
        section {
            padding-top: 0;
        }
        .btnTop {
            right: 12px;
            bottom: 75px;
            
        }
    }
}
#footer {
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #F8F9FA;
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .goFBtn {
        width: 100%;
        height: 60px;
        text-align: center;
        border-bottom: 1px solid #EEEEEE;
        .back {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            @extend %maxWidth;
            height: 60px;
        }
        a {
            font-size: 15px;
            font-weight: 500;
        }
    }
    address {
        width: 100%;
        padding: 30px 0;
        text-align: center;
        .back {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 6px;
            @extend %maxWidth;
            text-align: left;
        }
        .flogo {
            font-size: 16px;
            font-weight: 600;
        }
        strong {
            display: inline-flex;
            font-size: 20px;
            font-weight: 600;
            color: $pointColor;
            &::before {
                @include beforeItem(24px,24px);
                background: url('../../src/assets/images/ic_call.svg') no-repeat center;
                background-size: 17px;
            }
        }
        .fInfo {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            padding-top: 10px;
            text-align: left;
            span {
                margin-right: 8px;
                color: #666666;
            }
        }
    }
    @include mq(mobile){
        address {
            padding: 30px 0 80px;
        }
    }
}
#tabBar {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    ul {
        display: flex;
        height: 60px;
        border-top: 1px solid $iBColor;
        background: #F8F9FA;
        li {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: stretch;
            padding: 8px;
            * {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                font-size: 10px;
                font-weight: 400;
                color: #444444;
                border: none;
                background: none;
            }
            @for $i from 1 to 6 {
                &:nth-child( #{$i} ) {
                    * {
                        &::before {
                            @include beforeItem(28px, 28px);
                            background: url('../../src/assets/images/ic_m_nav0'+ #{$i} +'.svg') no-repeat center;
                        }
                    }
                }
                &:nth-child( #{$i} ).on {
                    * {
                        color: $pointColor;
                        font-weight: 500;
                        &::before {
                            background: url('../../src/assets/images/ic_m_nav0'+ #{$i} +'_on.svg') no-repeat center;
                        }
                    }
                }
            }
        }
    }
    @include mq(mobile){
        display: block;
    }
}
/* ===== Data Layout ===== */
.editorArea {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 1000px;
    font-size: 20px;
    color: #000000;
    background: #ECEDEF;
}
.listTit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0 22px;
    border-bottom: 2px solid $pointColor;
    h3 {
        font-size: 24px;
        color: #000000;
    }
    &.sm {
        padding:0 0 15px;
        h3 {
            font-size: 16px;
            font-weight: 500;
        }
    }
    @include mq(mobile){
        padding:0 0 14px;
        h3 {
            font-size: 18px;
        }
        &.sm {
            padding:0 0 20px;
            h3 {
                font-size: 18px;
            }
        }
    }
}
.btnArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    * {
        max-width: 157px;
    }
    &.tr {
        justify-content: flex-end;
    }
    @include mq(mobile){
        * {
            max-width: 100%;
        }
    }
}
.tws {
    position: relative;
    dl {
        display: flex;
        padding:0 0 0 19px;
        text-align: left;
        dt {
            flex-shrink: 0;
            width: 167px;
            padding: 10px 0;
            font-size: 12px;
            color: #666666;
        }
        dd {
            flex-grow: 1;
        }
        & ~ dl {
            padding-top: 10px;
        }
        &.radioRow {
            padding-top: 30px;
            dd {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            & + dl {
                padding-top: 30px;
            }
        }
    }
    .division {
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid $iBColor;
    }
    input[type='text'] {
        max-width: 212px;
    }
    .pwSet {
        width: 212px;
    }
    .unit {
        input {
            max-width: 140px;
        }
    }
    @include mq(mobile){
        dl {
            flex-direction: column;
            padding: 0;
            gap: 10px;
            dt {
                width: 100%;
                padding: 0;
                font-size: 14px;
            }
            & ~ dl {
                padding-top: 24px;
            }
            &.radioRow {
                padding-top: 24px;
                dd {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                & + dl {
                    padding-top: 24px;
                }
            }
        }
        .division {
            padding-top: 30px;
            margin-top: 30px;
            border-top: 1px solid $iBColor;
        }
        input[type='text'], input[type='password']  {
            max-width: 100%;
        }
        .pwSet {
            width: 100%;
        }
        .unit {
            input {
                max-width: 140px;
            }
        }
    }
}
.grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .detail {
        flex-grow: 1;
    }
    .aside {
        flex-shrink: 0;
        width: 290px;
    }
    @include mq(mobile){
        flex-direction: column;
        gap: 10px;
        .aside {
            width: 100%;
        }
    }
}
.productList {
    padding: 60px 0 80px;
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 41px;
        li {
            max-width: 200px;
            text-align: left;
            .pImg {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                aspect-ratio: 1 / 1;
                border-radius: 2px;
                margin-bottom: 14px;
                img {
                    height:100%;width:100%;object-fit:cover;
                }
            }
            .brand {
                display: block;
                font-size: 12px;
                color: #444444;
                line-height: 1;
                padding-top: 6px;
                &::before {
                    content: '[';
                }
                &::after {
                    content: ']';
                }
                &.sm {
                    padding: 0 0 8px;
                    &::before, 
                    &::after {
                        display: none;
                    }
                }
            }
            strong {
                display: block;
                font-weight: 400;
                color: #000;
                line-height: 1.5;
            }
            .price {
                display: flex;
                justify-content: space-between;
                padding-top: 11px;
                span {
                    font-size: 18px;
                    font-weight: 600;
                    color: #000;
                }
                em {
                    font-size: 20px;
                    color: #F12424;
                }
            }
            .seller {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-top: 21px;
                .sPrice {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 34px;
                    padding: 0 8px;
                    font-size: 13px;
                    border-radius: 4px;
                    background: #F6F4F7;
                    span {
                        font-size: 13px;
                        font-weight: 500;
                        color: $pointColor;
                        span {
                            &::before {
                                @include beforeLine(11px, #dddddd);
                                margin: 0 6px 0 4px;
                            }
                        }
                    }
                }
                .sStart {
                    border-radius: 4px;
                    background: #F6F4F7;
                    overflow: hidden;
                    dl {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 34px;
                        padding: 8px 8px;
                        dt {
                            font-size: 12px;
                            color: #555555;
                        }
                        dd {
                            font-size: 12px;
                        }
                        &:last-child {
                            height: 32px;
                            background: #F2F3F4;
                        }
                    }
                }
            }
        }
    }
    @include mq(mobile){
        padding: 0 0 40px;
        ul {
            grid-template-columns: 1fr 1fr;
            gap: 11px;
            row-gap: 30px;
            li {
                .pImg {
                    margin-bottom: 12px;
                }
                .price {
                    padding-top: 6px;
                    span {
                        font-size: 15px;
                    }
                    em {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
.pSet {
    width: 201px;
    text-align: left;
    .pImg {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        border-radius: 2px;
        margin-bottom: 14px;
        img {
            height:100%;width:100%;object-fit:cover;
        }
    }
    .brand {
        display: block;
        font-size: 12px;
        color: #444444;
        line-height: 1;
        padding-top: 6px;
        &::before {
            content: '[';
        }
        &::after {
            content: ']';
        }
        &.sm {
            padding: 0 0 8px;
            &::before, 
            &::after {
                display: none;
            }
        }
    }
    strong {
        display: block;
        font-weight: 400;
        color: #000;
    }
    .price {
        display: flex;
        justify-content: space-between;
        padding-top: 11px;
        span {
            font-size: 18px;
            font-weight: 600;
            color: #000;
        }
        em {
            font-size: 20px;
            color: #F12424;
        }
    }
}
.noList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
    height: 344px;
    font-size: 16px;
    color: #666666;
    border-radius: 0 !important;
    border: none !important;
    &::before {
        @include beforeItem(80px, 80px);
        background: url('../../src/assets/images/ic_noList.svg') no-repeat center;
    }
    &.search {
        &::before {
            background: url('../../src/assets/images/ic_noSearch.svg') no-repeat center;
        }
    }
    &.notiy {
        height: 246px;
        align-items: center !important;
        border-bottom: 0 !important;
        &::before {
            background: url('../../src/assets/images/ic_noList_notiy.svg') no-repeat center;
        }
    }
    &.cart {
        height: 317px;
        &::before {
            display: none;
        }
        border-bottom: 1px solid #ddd !important;
    }
}
.qnaList {
    padding-bottom: 40px;
    .thead {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 50px;
        border-bottom: 2px solid $pointColor;
        strong {
            color: #666666;
            flex-grow: 1;
            text-align: center;
            font-weight: 400;
        }
        div {
            flex-shrink: 0;
            width: 288px;
            display: inline-flex;
            gap: 6px;
            span {
                flex: 1 0 82px;
                text-align: center;
                color: #666666;
                &.name {
                    flex: 1 0 112px;
                }
            }
        }
    }
    .tbody {
        display: flex;
        flex-direction: column;
        padding-bottom: 14px;
        dl {
            dt {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                height: 50px;
                border-bottom: 1px solid #EEEEEE;
                strong {
                    color: #000;
                    flex-grow: 1;
                    font-weight: 500;
                }
                div {
                    flex-shrink: 0;
                    width: 288px;
                    display: inline-flex;
                    gap: 6px;
                    span {
                        flex: 1 0 82px;
                        text-align: center;
                        color: #000;
                        &.name {
                            flex: 1 0 112px;
                            @extend %ellipsis;
                        }
                        &.aEnd {
                            color: $pointColor;
                        }
                    }
                }
            }
            dd {
                padding: 14px 20px 20px;
                background: #F8F9FA;
                .img {
                    padding-bottom: 14px;
                    ol {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                    li {
                        flex-shrink: 0;
                        width: 80px;
                        aspect-ratio: 1 / 1;
                        border-radius: 2px;
                        overflow: hidden;
                        img {
                            display:block;height:100%;width:100%;object-fit:cover;
                        }
                    }
                }
                .qtxt {
                    padding-bottom: 17px;
                    line-height: 1.6;
                    color: #666666;
                }
                .atxt {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px 20px 14px;
                    margin-top: 3px;
                    min-height: 107px;
                    background: $whiteColor;
                    div {
                        line-height: 1.6;
                        color: #666666;   
                    }
                    span {
                        display: flex;
                        justify-content: flex-end;
                        color: #999999;
                    }
                }
                .modify {
                    padding-top: 14px;
                    text-align: right;
                    button {
                        font-size: 13px;
                        color: #666666;
                        border: none;
                        background: transparent;
                    }
                    span {
                        &::after {
                            @include beforeLine(12px, #EEEEEE);
                            margin: 0 14px;
                        }
                    }
                }
            }
        }
    }
    .btnArea {
        padding: 0 0 40px;
    }
    @include mq(mobile){
        .thead {
            display: none;
        }
        .tbody {
            padding-bottom: 20px;
            dl {
                dt {
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 16px 20px;
                    height: auto;
                    gap: 6px;
                    strong {
                        font-size: 16px;
                    }
                    div {
                        width: 100%;
                        display: inline;
                        span {
                            text-align: left;
                            color: #666666;
                            &::before {
                                @include beforeLine(14px, #EEEEEE);
                                margin: 0 10px;
                            }
                            &.name {
                                overflow: visible;
                            }
                            &:first-child {
                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                dd {
                    padding: 20px 20px 20px;
                    .img {
                        padding-bottom: 20px;
                        li {
                            // width: 92px;
                            width: calc( (100% - 20px) / 3);
                        }
                    }
                    .qtxt {
                        font-size: 15px;
                    }
                    .atxt {
                        padding: 16px 16px 14px;
                        margin-top: 3px;
                        div {
                            line-height: 1.6;
                            color: #666666;   
                        }
                        span {
                            display: flex;
                            justify-content: flex-end;
                            color: #999999;
                        }
                    }
                    .modify {
                        padding-top: 20px;
                    }
                }
            }
        }
        .btnArea {
            padding: 0 0 30px;
            * {
                max-width: 140px;
            }
        }
    }
}
.reviewList {
    li {
        padding: 40px 0;
        .writeUser {
            display: flex;
            align-items: center;
            gap: 9px;
            .profileImg {
                width: 58px;
                height: 58px;
            }
        }
        .writeUser {
            padding-bottom: 30px;
        }
        .img {
            margin-bottom: 20px;
            ol {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
            }
            li {
                flex-shrink: 0;
                width: 172px;
                aspect-ratio: 1 / 1;
                border-radius: 8px;
                overflow: hidden;
                padding: 0;
                img {
                    display:block;height:100%;width:100%;object-fit:cover;
                }
            }
        }
        .txt {
            font-size: 16px;
            color: #000;
            line-height: 1.6;
            text-align: left;
            word-break: break-all;
        }
        & ~ li {
            border-top: 1px solid #DDDDDD;
        }
    }
    @include mq(mobile){
        li {
            padding: 30px 0;
            .writeUser {
                gap: 12px;
                .profileImg {
                    width: 52px;
                    height: 52px;
                }
            }
            .writeUser {
                padding-bottom: 20px;
            }
            .img {
                overflow: hidden;
                overflow-x: scroll;
                ol {
                    flex-wrap: nowrap;
                }
                li {
                    width: 105px;
                }
            }
            .txt {
                font-size: 15px;
            }
        }
    }
}
.widthLookBack {
   @extend %maxWidth;
   padding: 0 0 80px;
   .listTit {
        justify-content: flex-start;
        border-bottom: 0;
        padding: 53px 20px 40px;
        gap: 8px;
        .bMR {
            color: #888;
        }
   }
    .wLPSwiper {
        .swiper  {
            padding: 0 20px;
        }
        .swiper-slide  {
            width: 201px;
        }
        .swiper-button-prev:after,
        .swiper-button-next:after {
            display: none;
        }
        .swiper-button-prev, 
        .swiper-button-next {
            width: 32px;
            height: 32px;
            margin-top: -59px;
            border-radius: 100%;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        }
        .swiper-button-prev {
            background: #fff url('../../src/assets/images/ic_pagenation_prev.svg') no-repeat center;
            left: 4px;
        }
        .swiper-button-next {
            background: #fff url('../../src/assets/images/ic_pagenation_next.svg') no-repeat center;
            right: 4px;
        }
        .swiper-button-prev.swiper-button-disabled, 
        .swiper-button-next.swiper-button-disabled {
            opacity: 0;
        }
    }
    @include mq(mobile){
        padding: 0 0 40px;
        .listTit {
             border-bottom: 0;
             padding: 36px 20px 20px;
        }
        .wLPSwiper {
            .swiper-slide  {
                width: 162px;
            }
        }
    }
}
