<div class="allEstLayout">
	<section>
		<div class="basicInfo">
			<dl>
				<dt>기준일자</dt>
				<dd>2019-02-22</dd>
			</dl>
			<dl>
				<dt>계약번호</dt>
				<dd>0123456789</dd>
			</dl>
			<dl>
				<dt>계약구분</dt>
				<dd>전자계약서</dd>
			</dl>
		</div>
		<div class="summary">
			<dl>
				<dt>기본정보 <strong>25,531,110</strong></dt>
				<dd>
					<span>모  델 : SM7–L47</span>
					<span>연  식 : 19MY</span>
					<div>
						<span>차  종 : LPe New 장애인용 Premium Collection</span>
						<span>외장색 : 화이트 펄 (177,735)</span>
						<span>내장색 : 프레스티지(가솔린)/프리미엄(2.0 LPe) 블랙 가죽시트</span>
					</div>
				</dd>
			</dl>
		</div>
		<div class="detailInfo">
			<!---->
			<div class="gridSet grid2">
				<div class="gridItem">
					<dl>
						<dt>선택사양 <strong>2,122,365</strong></dt>
						<dd>
							<ul>
								<li>
									<span>바이-제논 어댑티드 헤드 램프 바이-제논 어댑티드 헤드 램프</span>
									<strong>1,024,590</strong>
								</li>
								<li>
									<span>파노라마 선루프</span>
									<strong>1,097,775</strong>
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>용품사양 <strong>1,682,100</strong></dt>
						<dd>
							<ul>
								<li>
									<span>스마트 커넥티드</span>
									<strong>0</strong>
								</li>
								<li>
									<span>360 스카이뷰_스마트커넥트몰</span>
									<strong>1,100,000</strong>
								</li>
								<li>
									<span>블랙박스 아이나비_QXD1000</span>
									<strong>398,000</strong>
								</li>
								<li>
									<span>하이패스</span>
									<strong>99,000</strong>
								</li>
								<li>
									<span>아크릴 바이저</span>
									<strong>52,800</strong>
								</li>
								<li>
									<span>스포츠 페달</span>
									<strong>32,300</strong>
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>해피케어 <strong>690,000</strong></dt>
						<dd>
							<ul>
								<li>
									<span>해피케어상품</span>
									<strong>690,000</strong>
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>탁송료 <strong>303,000</strong></dt>
						<dd>
							<ul>
								<li>
									<span>탁송료</span>
									<strong>303,000</strong>
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>매출할인 <strong class="sale">-2,483,000</strong></dt>
						<dd>
							<ul>
								<li>
									<span>조기출고(20만원)</span>
									<strong>200,000</strong>
								</li>
								<li>
									<span>Good-Buy(개소세 80만원)</span>
									<strong>800,000</strong>
								</li>
								<li>
									<span>전시차 입고 할인(50만원)</span>
									<strong>500,000</strong>
								</li>
								<li>
									<span>외국인 특별할인(20만원)</span>
									<strong>200,000</strong>
								</li>
								<li>
									<span>선포인트 서비스</span>
									<strong>300,000</strong>
								</li>
							</ul>
						</dd>
					</dl>
				</div>
				<div class="gridItem">
					<dl>
						<dt>카드포인트 <strong>250,000</strong></dt>
						<dd>
							<ul>
								<li>
									<span>카드적립금액</span>
									<strong>250,000</strong>
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>등록비용 <strong>1,880,880</strong></dt>
						<dd>
							<ul>
								<li>
									<span>등록제비용</span>
									<strong>69,000</strong>
									<div>(자가용)</div>
								</li>
								<li>
									<span>취득세</span>
									<strong>1,811,880</strong>
									<div>도시철도(할인) 10%</div>
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>지불정보</dt>
						<dd>
							<ul>
								<li>
									<span>계약금</span>
									<strong>100,000</strong>
								</li>
								<li>
									<span>선수인도금</span>
									<strong>28,252,875</strong>
									<div>선포인트2 (120,000)</div>
								</li>
								<li>
									<span>할부원금</span>
									<strong>0</strong>
								</li>
								<li>
									<span>잔가금</span>
									<strong>0</strong>
								</li>
								<li>
									<span>보증금</span>
									<strong>0</strong>
								</li>
								<li>
									<span>르노캐피탈밸류박스</span>
									<strong>0</strong>
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>고객정보</dt>
						<dd>
							<ul>
								<li>
									<span>주민번호</span>
									<strong>701010-*******</strong>
								</li>
								<li>
									<span>인도정보</span>
									<strong>타지점(강남대로대리점)</strong>
								</li>
							</ul>
						</dd>
					</dl>
				</div>
			</div>
			<!---->
		</div>
		<div class="totalPrice">
			<p><span>출고 전 입금금액</span><span><strong>30,233,755</strong> 원</span></p>
		</div>
	</section>
</div>