<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-BEST</title>
		<link rel="shortcut icon" href="../../images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bbs.css" />
		<link rel="stylesheet" type="text/css" href="../../css/process.css" />
		<link rel="stylesheet" type="text/css" href="../../css/contract.css" />
		<link rel="stylesheet" type="text/css" href="../../css/responsive.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../js/swiper.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script type="text/javascript" src="../../js/menu.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>  
		$(document).ready(function(){
            
		});
		</script>
	</head>
	<body><!-- 2019-03-21 estColor class 삭제 -->
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- wrap -->
		<div id="wrap" class="wrapper">
			<!-- GNB : 왼쪽 > 오른쪽 -->
			<button class="gnbClose">GNB 닫기</button>
			<div class="gnbArea slideDefault com-slide-left">
				<div class="gnbScroll">
				</div>
			</div>
			<div id="c-mask" class="c-mask"><!-- GNB Mask --></div>
			<!-- //GNB -->
			<!-- header -->
			<div id="header"> 
				<head>
					<div class="headTop">
						<span class="hBtnLeft">
							<button class="goPrev" onclick="history.back()">뒤로가기</button>
						</span>
						<h1><img src="../../images/img_topLogo.svg" alt="GROUPE RENAULT" /></h1>
						<span class="hBtnRight newStep">
							<!--<a href="main.html" class="goMain process">메인으로 이동</a>-->
						</span>
					</div>
					<div class="headSub">
						<!-- <h2>1Depth title</h2> -->
						<h2 class="sCase"><span>계출현황 &gt; </span>입금정보</h2>
						<div class="right">
							<p class="userInfo"><strong>김르노</strong> 님</p>
							<span class="session cyanCase">
								세션만료 <strong>26분 30초<span><!-- time progress bar --></span></strong>
							</span>
						</div>
					</div>
				</head>
			</div>
			<!-- //header -->
			<!-- container -->
			<div id="container">
				<div class="content">
					<section>
                        <div class="estColor online"><!-- 2019-03-21 지류/전자 구분 html(div) 추가, 지류일 경우 online class 삭제 -->
                            <div class="estimateDetail">                                
                                <div class="estimateDtlbody">
                                    <!-- 입금정보 -->
                                    <dl class="estimateDtlBox type2">
                                        <dt class="estDtlTit">
                                            입금정보
                                        </dt>
                                        <dd class="estDtlMain">
                                            <div class="gridContainer">
                                                <div class="gridSet">
                                                    <div class="gridItem">
                                                        <table class="grayList">
                                                            <colgroup>
                                                                <col style="width: 20%;">
                                                                <col style="width: 20%;">
                                                                <col style="width: 20%;">
                                                                <col style="width: 20%;">
                                                                <col style="width: 20%;">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th>입금일자</th>
                                                                    <th>입금금액</th>
                                                                    <th>입출금구분</th>
                                                                    <th>입금자명</th>
                                                                    <th>입금재화</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>2011-09-26</td>
                                                                    <td class="tRight">250,000</td>
                                                                    <td>입금</td>
                                                                    <td>홍길동</td>
                                                                    <td>가상계좌</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2011-09-26</td>
                                                                    <td class="tRight">1,230,000</td>
                                                                    <td>입금</td>
                                                                    <td>홍길동</td>
                                                                    <td>가상계좌</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2011-09-26</td>
                                                                    <td class="tRight">250,000</td>
                                                                    <td>입금</td>
                                                                    <td>홍길동</td>
                                                                    <td>가상계좌</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2011-09-26</td>
                                                                    <td class="tRight">250,000</td>
                                                                    <td>입금</td>
                                                                    <td>홍길동</td>
                                                                    <td>가상계좌</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="gridSet">
                                                    <div class="gridItem">
                                                        <dl class="totalLine cyn mt7">
                                                            <dt>선수금액</dt>
                                                            <dd><input type="tel" id="advancePayment" class="tRight" value="22,500,000" readonly></dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                                <div class="gridSet">
                                                    <div class="gridItem">
                                                        <dl class="totalLine cyn">
                                                            <dt>선수율</dt>
                                                            <dd>
                                                                <div class="insideTxt">
                                                                    <input type="tel" id="advanceRate" class="tRight" value="5.2" readonly />
                                                                    <span class="txt">%</span>
                                                                </div>
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                                <div class="gridSet">
                                                    <div class="gridItem">
                                                        <dl class="totalLine red">
                                                            <dt>입금총액</dt>
                                                            <dd><input type="tel" id="depositTotal" class="tRight" value="22,500,000" readonly></dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <!-- // 입금정보 -->

                                    <!-- 취득세 -->
                                    <dl class="estimateDtlBox type2">
                                        <dt class="estDtlTit">
                                            취득세
                                        </dt>
                                        <dd class="estDtlMain">
                                            <div class="gridContainer">
                                                <div class="gridSet">
                                                    <div class="gridItem">
                                                        <ul class="listView inline">
                                                            <li>
                                                                <span class="tit">납부방식</span>
                                                                <span class="txt">지점</span>
                                                            </li>
                                                            <li>
                                                                <span class="tit">사유</span>
                                                                <span class="txt">부산</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <!-- // 취득세 -->

                                    <!-- 공채 -->
                                    <dl class="estimateDtlBox type2">
                                        <dt class="estDtlTit">
                                            공채
                                        </dt>
                                        <dd class="estDtlMain">
                                            <div class="gridContainer">
                                                <div class="gridSet grid2">
                                                    <div class="gridItem">
                                                        <ul class="listView inline">
                                                            <li>
                                                                <span class="tit">지역</span>
                                                                <span class="txt">지역개발</span>
                                                            </li>
                                                            <li>
                                                                <span class="tit">할인율</span>
                                                                <span class="txt">15%</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="gridItem">
                                                        <ul class="listView inline">
                                                            <li>
                                                                <span class="tit">매입여부</span>
                                                                <span class="txt"></span>
                                                            </li>
                                                            <li>
                                                                <span class="tit">금액</span>
                                                                <span class="txt tRight">82,750</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <!-- // 공채 -->

                                    <!-- 어음정보 -->
                                    <dl class="estimateDtlBox type2">
                                        <dt class="estDtlTit">
                                            어음정보
                                        </dt>
                                        <dd class="estDtlMain">
                                            <div class="gridContainer">
                                                <div class="gridSet">
                                                    <div class="gridItem">
                                                        <table class="grayList">
                                                            <colgroup>
                                                                <col style="width: 30%;">
                                                                <col style="width: 23%;">
                                                                <col style="width: 23%;">
                                                                <col style="width: 24%;">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th>어음번호</th>
                                                                    <th>발행일자</th>
                                                                    <th>만기일자</th>
                                                                    <th>약정금액</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>0000000000000000</td>
                                                                    <td>2011-09-26</td>
                                                                    <td>2011-09-26</td>
                                                                    <td class="tRight">120,250,000</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>0000000000000000</td>
                                                                    <td>2011-09-26</td>
                                                                    <td>2011-09-26</td>
                                                                    <td class="tRight">250,000</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <!-- // 어음정보 -->

                                    <!-- 개별소비세 연장 소급 -->
                                    <dl class="estimateDtlBox type2">
                                        <dt class="estDtlTit">
                                            개별소비세 연장 소급
                                        </dt>
                                        <dd class="estDtlMain">
                                            <div class="gridContainer">
                                                <div class="gridSet">
                                                    <div class="gridItem">
                                                        <table class="grayList">
                                                            <colgroup>
                                                                <col style="width: 20%;">
                                                                <col style="width: 33%;">
                                                                <col style="width: 23%;">
                                                                <col style="width: 24%;">
                                                            </colgroup>
                                                            <thead>
                                                                <tr>
                                                                    <th>예금주</th>
                                                                    <th>입금계좌</th>
                                                                    <th>입금일자</th>
                                                                    <th>금액</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>홍길동</td>
                                                                    <td>농협 1223-59-8517-454</td>
                                                                    <td>2011-09-26</td>
                                                                    <td class="tRight">2,250,000</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>홍길동</td>
                                                                    <td>농협 1223-59-8517-454</td>
                                                                    <td>2011-09-26</td>
                                                                    <td class="tRight">2,250,000</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <!-- // 개별소비세 연장 소급 -->
                                </div>
                            </div>
                        </div><!-- 2019-03-21 html(div) 추가 -->
					</section>
                    <button class="pageTop list">TOP</button>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //wrap -->
	</body>
</html>