<!--------------------- 비교견적 --------------------->
<div class="installmentLayout">
	<section>
		<div class="iBasicSet">
			<div class="igridSet ttCase">
				<div class="igridTt"></div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">견적1</div>
						<div class="priceCell">견적2</div>
						<div class="priceCell">견적3</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet firstLine">
				<div class="igridTt">1. 할부상품</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet"> <!-- 2019-04-17 strong 삭제 / js는 common.js에서 공통삭제 -->
										<select>
											<option>선택해주세요</option>
										</select>
									</span>
									<span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet"> <!-- 2019-04-17 strong 삭제 / js는 common.js에서 공통삭제 -->
										<select>
											<option>선택해주세요</option>
										</select>
									</span>
									<span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet"> <!-- 2019-04-17 strong 삭제 / js는 common.js에서 공통삭제 -->
										<select>
											<option>선택해주세요</option>
										</select>
									</span>
									<span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">2. 할부기간</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet"> <!-- 2019-04-17 strong 삭제 / js는 common.js에서 공통삭제 -->
										<select>
											<option>12</option>
										</select>
									</span>
									<span>개월</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet"> <!-- 2019-04-17 strong 삭제 / js는 common.js에서 공통삭제 -->
										<select>
											<option>12</option>
										</select>
									</span>
									<span>개월</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet"> <!-- 2019-04-17 strong 삭제 / js는 common.js에서 공통삭제 -->
										<select>
											<option>12</option>
										</select>
									</span>
									<span>개월</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">3. 계약금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">4. 선수인도금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!---->
		<div class="iResult"><button>입력결과보기</button></div>
		<!---->
		<div class="iBasicSet">
			<div class="igridSet firstLine">
				<div class="igridTt">할부원금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">유예금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">할부기간</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>개월</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>개월</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">고객금리</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">월할부금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!---->
		<div class="iRollSet">
			<dl>
				<dt>
					<strong class="tt">공채(할인기준)</strong>
					<span class="selectSet"> <!-- 2019-04-17 strong 삭제 / js는 common.js에서 공통삭제 -->
						<select>
							<option disabled>선택해주세요</option>
						</select>
					</span>
					<span class="dt"><strong>233,899</strong> 원</span>
				</dt>
				<dd>
					<strong>등록세</strong>
					<div class="price">
						<input type="text" /><span>원</span>
					</div>
				</dd>
				<dd>
					<strong>취득세</strong>
					<div class="price">
						<input type="text" /><span>원</span>
					</div>
				</dd>
			</dl>
		</div>
		<!---->
	</section>
</div>