<!--------------------- 상황견적 --------------------->
<div class="installmentLayout">
	<section>
		<div class="iBasicSet">
			<div class="igridSet ttCase">
				<div class="igridTt"></div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">견적1</div>
						<div class="priceCell">견적2 <span>할부원금 200만원 상향</span></div>
						<div class="priceCell">견적3 <span>할부원금 400만원 상향</span></div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet firstLine">
				<div class="igridTt">차량가</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">계약금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">선수인도금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">할부상품</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">밸류박스 선택</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">할부원금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">유예금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">할부기간</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>개월</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>개월</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">고객금리</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">월할부금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
		</div>
	</section>
</div>