<!--------------------- 리스 비교견적 --------------------->
<div class="installmentLayout">
	<section>
		<div class="iBasicSet">
			<div class="igridSet ttCase">
				<div class="igridTt"></div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">견적1</div>
						<div class="priceCell">견적2</div>
						<div class="priceCell">견적3</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet firstLine">
				<div class="igridTt">1. 리스방식</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet">
										<select>
											<option>선택해주세요</option>
										</select>
									</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet">
										<select>
											<option>선택해주세요</option>
										</select>
									</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet">
										<select>
											<option>선택해주세요</option>
										</select>
									</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">2. 리스기간</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet">
										<select>
											<option>12</option>
										</select>
									</span>
									<span>개월</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet">
										<select>
											<option>12</option>
										</select>
									</span>
									<span>개월</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<span class="selectSet">
										<select>
											<option>12</option>
										</select>
									</span>
									<span>개월</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">3. 보증금율</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>%</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>%</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>%</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">4. 잔가율</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>%</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>%</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>%</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">5. 자동차세포함</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price checkCase">
									<span class="checkSet"><input type="checkbox" id="pc01" name="" /><label for="pc01"><i></i></label></span>
									<input type="text" /><span>%</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price checkCase">
									<span class="checkSet"><input type="checkbox" id="pc02" name="" /><label for="pc02"><i></i></label></span>
									<input type="text" /><span>%</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price checkCase">
									<span class="checkSet"><input type="checkbox" id="pc03" name="" /><label for="pc03"><i></i></label></span>
									<input type="text" /><span>%</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">6. 보험료포함</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price checkCase">
									<span class="checkSet"><input type="checkbox" id="pc04" name="" /><label for="pc04"><i></i></label></span>
									<input type="text" /><span>원/년</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price checkCase">
									<span class="checkSet"><input type="checkbox" id="pc05" name="" /><label for="pc05"><i></i></label></span>
									<input type="text" /><span>원/년</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price checkCase">
									<span class="checkSet"><input type="checkbox" id="pc06" name="" /><label for="pc06"><i></i></label></span>
									<input type="text" /><span>원/년</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">7. 환경개선금부담</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack longHeight">
								<div class="price checkCase">
									<span class="checkSet"><input type="checkbox" id="pc07" name="" /><label for="pc07"><i></i></label></span>
									<span class="selectSet">
										<select>
											<option>12</option>
										</select>
									</span>
								</div>
								<div class="price">
									<input type="text" /><span>원/년</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack longHeight">
								<div class="price checkCase">
									<span class="checkSet"><input type="checkbox" id="pc08" name="" /><label for="pc08"><i></i></label></span>
									<span class="selectSet">
										<select>
											<option>12</option>
										</select>
									</span>
								</div>
								<div class="price">
									<input type="text" /><span>원/년</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack longHeight">
								<div class="price checkCase">
									<span class="checkSet"><input type="checkbox" id="pc09" name="" /><label for="pc09"><i></i></label></span>
									<span class="selectSet">
										<select>
											<option>12</option>
										</select>
									</span>
								</div>
								<div class="price">
									<input type="text" /><span>원/년</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">8. 계약금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">9. 등록비용부담</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack etcInput">
								<span class="selectSet">
									<select>
										<option>선택하세요</option>
									</select>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">10. 공채포함(할인)</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack etcInput">
								<span class="selectSet">
									<select>
										<option>선택하세요</option>
									</select>
								</span>
								<span class="ml1">지역</span>
								<span class="selectSet">
									<select>
										<option>대구</option>
										<option>대전</option>
									</select>
								</span>
								<em></em>원
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">11. 등록세/취득세</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack etcInput">
								등록세:<em>100,000,000</em>원
								<span class="ml1">취득세:<em>100,000,000</em>원</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">12. 기타부대비용</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack etcInput">
								<input type="text" class="tRight" value="100,000,000" disabled />
								<span class="ml1">부대비용합계</span>
								<input type="text" class="tRight" value="100,000,000" disabled />
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!---->
		<div class="iResult"><button>입력결과보기</button></div>
		<!---->
		<div class="iBasicSet">
			<div class="igridSet firstLine">
				<div class="igridTt">판매가격</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">등록비용계</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">취득원가</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">보증금</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt">잔가</div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt"><strong>월리스료</strong></div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt"><strong>세금 및 기타비용</strong></div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div class="igridSet">
				<div class="igridTt"><strong>매월납입액</strong></div>
				<div class="igridData">
					<div class="priceTable">
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
						<div class="priceCell">
							<span class="priceBack">
								<div class="price">
									<input type="text" disabled /><span>원</span>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!---->
	</section>
</div>