@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @Author : Cho, lexy (lexycho00@gmail.com)
* @File Name: Common.css
* @Version: 1.0
* @Create Date: 2024-04-01
* @Update Date: N/A
* @History: N/A
* ================================================================================= */
/* ====================== */
/* UI library */
/* ====================== */
/* ===== Webfont ===== */
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: url('../font/Pretendard-Bold.eot'), url('../font/Pretendard-Bold.woff2') format('font-woff2'), url('../font/Pretendard-Bold.woff') format('woff'), url('../font/Pretendard-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: url('../font/Pretendard-Medium.eot'), url('../font/Pretendard-Medium.woff2') format('font-woff2'), url('../font/Pretendard-Medium.woff') format('woff'), url('../font/Pretendard-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url('../font/Pretendard-Regular.eot'), url('../font/Pretendard-Regular.woff2') format('font-woff2'), url('../font/Pretendard-Regular.woff') format('woff'), url('../font/Pretendard-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
  src: url('../font/Pretendard-Light.eot'), url('../font/Pretendard-Light.woff2') format('font-woff2'), url('../font/Pretendard-Light.woff') format('woff'), url('../font/Pretendard-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'DMSerifText';
	font-weight: 400;
	font-display: swap;
	src: url('../font/DMSerifText-Regular.eot'), url('../font/DMSerifText-Regular.woff2') format('font-woff2'), url('../font/DMSerifText-Regular.woff') format('woff'), url('../font/DMSerifText-Regular.ttf') format('truetype');
}
