
			<header>
				<h1>
					<a href="../main.html">ANDU</a><!-- 2021-02-09 텍스트 변경 -->
					<span class="selectSet">
						<select id="partGo">
							<option>서비스 선택</option>
							<option value="6">HOMEPAGE/ 홈페이지</option>
							<option value="4">PLAN/ 기획</option>
							<option value="2" selected>D·PUB/ 퍼블리싱</option>
							<option value="5">PROJECT/ 프로젝트</option>
							<!-- <option>DEV/ 개발</option>
							<option>TEST/ 테스트</option> -->
							<!-- <option value="1">TING/ 커뮤니티</option> -->
							<option value="3">MANAGER/ 시스템관리</option>
							<option value="7">VIDEO/ 화상회의</option>
						</select>
					</span>
				</h1>
				<nav>
					<ul>
						<li class="ggnb1"><a href="guide_policy.html">마크업 가이드</a></li>
						<li class="ggnb2"><a href="library_component_layout.html">라이브러리</a></li>
						<li class="ggnb3"><a href="wa_basic.html">접근성 지침 <span>(준비중)</span></a></li>
						<li class="ggnb4"><a href="management_basic.html">가이드 관리</a></li>
					</ul>
				</nav>
				<div>
					<!-- <span class="selectSet">
						<select id="projectGo">
							<option>프로젝트 바로가기</option>
							<option value="1">Ting</option>
							<option value="2">TDB</option>
							<option value="3">thecontainer</option>
						</select>
					</span> -->
					<span>
						<button onclick="location.href='../mypage.html'">마이페이지</button>
						<a href="https://mail.think-tree.com/" target="_blank" class="btnMail">메일</a>
						<button class="btnLogout">로그아웃</button>
						<script>
							$('.btnLogout').click(function(){
								$('.alertDim').show();
								$('.logoutPop').show();
							});
						</script>
					</span>
				</div>
			</header>
