
			<section>
				<!-- 마크업 가이드 -->
				<div class="back smn1">
					<ul>
						<li class="smn11"><span><a href="/psTotalTemplet/template/guide_policy.html">기본정책</a></span></li>
						<li class="smn12"><span><a href="/psTotalTemplet/template/guide_folderlist.html">폴더구조</a></span></li>
						<li class="smn13"><span><a href="/psTotalTemplet/template/guide_filenaming.html">파일네임잉</a></span></li>
						<li class="smn14"><span><a href="/psTotalTemplet/template/guide_markup_html.html">작성가이드</a></span>
							<ol>
								<li><a href="/psTotalTemplet/template/guide_markup_html.html">html</a></li>
								<li><a href="/psTotalTemplet/template/guide_markup_css.html">css</a></li>
								<li><a href="/psTotalTemplet/template/guide_markup_mobile.html">mobile</a></li>
							</ol>
						</li>
					</ul>
				</div>
				<!-- //마크업 가이드 -->
				<!-- 라이브러리 -->
				<div class="back smn2">
					<ul>
						<li class="smn21"><span><a>Component</a></span>
							<ol>
								<li><a href="/psTotalTemplet/template/library_component_layout.html">layout</a></li>
								<li><a href="/psTotalTemplet/template/library_component_button.html">button</a></li>
								<li><a href="/psTotalTemplet/template/library_component_box.html">box</a></li>
								<li><a href="/psTotalTemplet/template/library_component_input.html">input</a></li>
								<li><a href="/psTotalTemplet/template/library_component_icon.html">icon</a></li>
								<li><a href="/psTotalTemplet/template/library_component_loading.html">loading</a></li>
							</ol>
							<ol>
								<li><a href="/psTotalTemplet/template/library_component_menu.html">menu</a></li>
								<li><a href="/psTotalTemplet/template/library_component_list.html">list</a></li>
								<li><a href="/psTotalTemplet/template/library_component_popup.html">popup</a></li>
								<li><a href="/psTotalTemplet/template/library_component_gride.html">gride</a></li>
								<li><a href="/psTotalTemplet/template/library_component_form.html">form</a></li>
								<li><a href="/psTotalTemplet/template/library_component_comment.html">comment Box</a></li>
								<!-- <li><a href="/psTotalTemplet/template/library_component_editor.html">editor</a></li> -->
								<li><a href="/psTotalTemplet/template/library_component_chart.html">chart</a></li>
							</ol>
						</li>
						<li class="smn22"><span><a>Document</a></span>
							<ol>
								<li><a href="/psTotalTemplet/template/library_document_login.html">login</a></li>
								<li><a href="/psTotalTemplet/template/library_document_error.html">error</a></li>
								<li><a href="/psTotalTemplet/template/library_document_join.html">join</a></li>
								<li><a href="/psTotalTemplet/template/library_document_calendar.html">Calendar</a></li>
							</ol>
						</li>
						<li><span><a>Template</a></span>
							<ol>
								<li><a href="/psTotalTemplet/!back/admin_back/templet/elements_box.html" target="_black">admin</a></li>
							</ol>
						</li>
					</ul>
				</div>
				<!-- //라이브러리 -->
				<!-- 접근성 지침 -->
				<div class="back smn3">
					<ul>
						<li><span><a href="">KWCAG 2.0 주요내용</a></span></li>
						<li><span><a href="">KWCAG 2.0 검사 항목</a></span></li>
						<li><span><a href="">마크업 관련 체크리스트</a></span></li>
						<li><span><a href="">모바일 접근성</a></span></li>
					</ul>
				</div>
				<!-- //접근성 지침 -->
				<!-- 관리자 -->
				<div class="back smn4">
					<ul>
						<li class="smn41"><span><a href="manager_basic.html">사용자관리</a></span></li>
						<!-- <li><span><a href="manager_empower.html">권한관리</a></span></li> -->
						<li class="smn42"><span><a href="manager_project.html">프로젝트관리</a></span></li>
						<li class="smn43"><span><a href="manager_board.html">게시판관리</a></span></li>
						<li class="smn44"><span><a href="manager_guide.html">가이드 컨텐츠관리</a></span>
							<ol>
								<li><a href="manager_guide.html">컨텐츠 관리</a></li>
								<li><a href="manager_guide_detail.html">리소스 관리</a></li>
								<!-- <li><a href="manager_guide_library.html">라이브러리</a></li>
								<li><a href="manager_guide_wa.html">접근성 지침</a></li> -->
							</ol>
						</li>
						<li class="smn45"><span><a href="manager_login.html">로그이력</a></span></li>
						<li class="smn46"><span><a href="manager_code.html">코드관리</a></span></li>
					</ul>
				</div>
				<!-- //관리자 -->
				<!-- 내정보수정 -->
				<div class="back smn5">
					내정보수정
				</div>
				<!-- //내정보수정 -->
			</section>