
			<section>
				<div class="back smnP1">
					<ul>
						<li><span><a href="plan_proposal.html">사업계획수립</a></span>
							<ol>
								<li><a href="plan_proposal.html">제안요청서</a></li>
								<li><a href="plan_proposal_construct.html">구축제안서</a></li>
							</ol>
						</li>
						<li><span><a href="plan_project_1.html">프로젝트관리</a></span>
							<ol>
								<li><a href="plan_project_1.html">회의록</a></li>
								<li><a href="plan_project_2.html">착수보고</a></li>
								<li><a href="plan_project_3.html">중간보고</a></li>
								<li><a href="plan_project_4.html">결과보고</a></li>
							</ol>
						</li>
						<li><span><a href="plan_analysis_1.html">요구사항분석</a></span>
							<ol>
								<li><a href="plan_analysis_1.html">업무흐름도</a></li>
								<li><a href="plan_analysis_2.html">스토리보드</a></li>
								<li><a href="plan_analysis_3.html">화면설명서</a></li>
								<li><a href="plan_analysis_4.html">와이어프레임</a></li>
							</ol>
						</li>
					</ul>
				</div>
				<div class="back smnP2">
					<ul>
						<li><span><a href="managing_new_1.html">신규 프로젝트</a></span>
							<ol>
								<li><a href="managing_new_1.html">사업 제안 시</a></li>
								<li><a href="managing_new_2.html">업무 정의, 요구사항 분석</a></li>
								<li><a href="managing_new_3.html">구축 중</a></li>
								<li><a href="managing_new_4.html">구축 후 검토</a></li>
							</ol>
						</li>
						<li><span><a href="managing_advance_1.html">고도화 프로젝트</a></span>
							<ol>
								<li><a href="managing_advance_1.html">업무 정의, 요구사항 분석</a></li>
								<li><a href="managing_advance_2.html">구축 중</a></li>
								<li><a href="managing_advance_3.html">구축 후 검토</a></li>
							</ol>
						</li>
						<li><span><a href="managing_mro_1.html">운영 유지보수</a></span>
							<ol>
								<li><a href="managing_mro_1.html">업무 정의, 요구사항 분석</a></li>
								<li><a href="managing_mro_2.html">구축 중</a></li>
								<li><a href="managing_mro_3.html">구축 중 검토</a></li>
							</ol>
						</li>
						<li><span><a href="managing_task_1.html">정부 공기업 과제</a></span>
							<ol>
								<li><a href="managing_task_1.html">과제 제안</a></li>
								<li><a href="managing_task_2.html">요구사항 분석 및 시나리오</a></li>
								<li><a href="managing_task_3.html">작성 후 검토</a></li>
							</ol>
						</li>
					</ul>
				</div>
				<div class="back smnP3">
					<ul>
						<li><span><a href="output_format_2020.html">산출물 포맷</a></span>
							<ol>
								<li><a href="output_format_2019.html">2019</a></li>
								<li><a href="output_format_2020.html">2020</a></li>
							</ol>
						</li>
					</ul>
				</div>
			</section>
