<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
			$(document).ready(function() {
			});
		</script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- mainWrap -->
			<div id="mainWrap">
				<div class="formBack">
					<div class="whiteBox">
						<p><strong>김철수 차주님!</strong>접속할 운송사를 선택해주세요</p>
						<div>
							<a href="reservation.html"><span>컨테이너로드㈜</span></a>
							<a href="reservation.html"><span>달려24시㈜</span></a>
							<a href="reservation2.html"><span>컨테이너맨㈜(SAAS)</span></a>
						</div>
						<a href="login.html" class="btnS whiteBlack">로그아웃</a>
					</div>
				</div>
				<div class="bottomLogo">씽크트리<!-- 2020-10-29 텍스트 변경 --></div>
			</div>
			<!-- //mainWrap -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
