<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script> -->
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script>
			$('.push li .openDetail').click(function(){
				$('#detail .taxBill').hide();
				$('#detail .tls span:last-child, #detail .todayCase').show();
			});
		</script>
	</head>
	<body>
		<div class="push">
			<ul>
				<li>
					<div class="pushBox openDetail">
						<a href="reservation_detail.html">
							<span class="disCode">배차코드 200100001</span>
							<p>
								홍길동 고객님! 오늘 (2020-01-22) [수입/왕복] 운송이 예정되어 있습니다. 픽업지로 이동하실 때 시간을 입력해주세요. 픽업지 도착시간은 2020-01-22 05:00 입니다
								<span>2020-01-22 00:00:00</span>
							</p>
						</a>
					</div>
				</li>
				<li>
					<div class="pushBox openDetail">
						<a href="reservation_detail.html">
							<span class="disCode">배차코드 200100001</span>
							<p>
								[하차지: 부산신항]에 도착하셨나요? 하차지 도착시간은 2020-01-23 13:00 입니다
								<span>2020-01-22 00:00:00</span>
							</p>
						</a>
					</div>
				</li>
				<li>
					<div class="pushBox openDetail">
						<a href="reservation_detail2.html">
							<span class="disCode">오더번호 200100001</span>
							<p>
								[수입/왕복] 560,000원, (Open Top / 40ft High Cube / 30ton) 3대<br/>
								2020-01-22 / 05:00 / 부산항<br/>
								2020-01-22 / 09:00 / 충북안산<br/>
								2020-01-23 / 15:00 / 부산항<br/><br/>

								추천 배차를 확인하시려면, <br/>
								* 물류플랫폼<!-- 2020-10-29 텍스트 변경 --> 앱 > 로그인 > 추천배차목록<br/><br/>

								홍길동 고객님! 씽크트리<!-- 2020-10-29 텍스트 변경 -->과 함께 해주셔서 감사합니다. 출발지 도착시간은 2020-02-01 15:00(소요시간: 5시간 05분, 505km)입니다. 출발하셨나요?
								<span>2020-01-22 00:00:00</span>
							</p>
						</a>
					</div>
				</li>
				<li>
					<div class="pushBox openDetail">
						<a href="system_notice.html">
							<em>[이벤트 안내] T-Station 타이어 교환 이벤트 </em>
							<p>
								2020-01-22 ~ 2020-03-31<br/>전국 티스테이션 매장에서 동시 이벤트를 진행하고 있습니다.
								<span>2020-01-22 00:00:00</span>
							</p>
						</a>
					</div>
				</li>
			</ul>
		</div>
    </body>
</html>
