<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>thecontainer</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="../js/navmenu.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
	</head>
	<body>
		<!-- Wrap -->
		<div id="wrap">
			<!-- panelBack -->
			<div id="panelBack">
				<div class="mypage">
					<div class="panelTit">
						<span class="left"><button class="btnBack" onclick="location.href='mypage.html'">이전</button></span>
						<span class="profile"><span class="btnProfile">프로필</span><strong>010-1234-4567</strong></span>
					</div>
					<div class="panelArea">
						<!-- 마이페이지 상세화면 -->
						<h3>설정 및 버전정보</h3>
						<div class="panelContents">
							<div class="setting">
								<div class="settingList">
									<ul>
										<li>PUSH 알림
											<span class="right">
												<span class="toggleSet">
													<input type="checkbox" id="push2" />
													<label for="push2"><span>ON</span></label>
												</span>
											</span>
										</li>
										<li>위치접근 허용
											<span class="right">
												<span class="toggleSet">
													<input type="checkbox" id="push22" />
													<label for="push22"><span>ON</span></label>
												</span>
											</span>
										</li>
									</ul>
								</div>
								<div class="version">
									<dl>
										<dt>App 버전</dt>
										<dd>1.06 <span class="right">2020-01-02 15:25:55</span></dd>
									</dl>
								</div>
							</div>
						</div>
						<!-- //마이페이지 상세화면 -->
					</div>
				</div>
			</div>
			<!-- //panelBack -->
		</div>
		<!-- //Wrap -->
    </body>
</html>
