<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>ThinkTree Visitor</title>
		<link rel="shortcut icon" href="../images/i_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../../css/duDatepicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../../css/responsive.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.1.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="../../js/navmenu.js"></script>
		<script type="text/javascript" src="../../js/duDatepicker.js"></script>
		<script type="text/javascript" src="../../js/jquery.toast.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script>
		$(document).ready(function(){
			/**/
			$('.entypo-popup').click(function(){
				$('.mainGo').toggle();
			});
			$('.btnQRNum').click(function(){
				$('.popDim, .alertDim').show();
				$('.qrNumPop').show();
			});
			$('.alertPop button, .basicPop button, .miniPop button').click(function(){
				$('.popDim, .alertDim').hide();
				$('.alertPop, .basicPop, .miniPop').hide();
			});
			/**/
		});
		</script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- Wrap -->
		<div id="wrap">
			<!-- header -->
			<div id="header">
				<header>
					<button class="btnPrev" onclick="history.back()">이전</button>
					<h1>Office Visitor Service</h1>
				</header>
			</div>
			<!-- //header -->
			<hr/>
			<!-- container -->
			<div id="container">
			<section>
				<div class="content">
				<article>
					<div class="deskVisitorLayout">
						<div class="qrCodeArea">
							<div>
								<span onclick="if(!alert('퇴실을 확인입니다.')){location.href='desk_visitor.html';return false;}">
								</span>
								<img src="../../images/qrcode.png" alt="" />
								<p>QR코드를 사각형 안에 비춰주세요 <button class="btnQRNum">QR코드 고유번호로 인증</button></p>
							</div>
						</div>
					</div>
				</article>
				</div>
			</section>
			</div>
			<!-- //container -->
		</div>
		<!-- //Wrap -->
		<!-- Popup -->
		<div class="popDim" style="display:none;">
			<div class="miniPop qrNumPop" style="display:none;">
				<div class="tt">
					<h1>고유번호 인증</h1>
				</div>
				<div class="pBack">
					<!---->
					<input type="password"/>
					<p>QR코드와 함께 전달된 고유번호를 입력해주세요.<br/>고유번호를 분실하였을 경우, 신규접수로 진행해 주시기 바랍니다.</p>
					<!--//-->
				</div>
				<div class="pBtn">
					<button class="btnM white">취소</button>
					<button class="btnM blue" onclick="if(!confirm('사전등록여부 확인입니다.')){location.href='desk_visitor_case1_view2.html';return false;}else{location.href='desk_visitor_case1_view1.html';return false;}">인증하기</button>
				</div>
			</div>
		</div>
		<!-- //Popup -->
	</body>
</html>
